In [78]:
import json
import os
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
#Set two decimal points for display
pd.options.display.float_format = "{:.2f}".format

In [2]:
data_dir="C:/Users/tsb7592/Box/Baby Toolbox Operations/Domain Teams/Language/Tobii Pilot"

In [3]:
all3= pd.read_csv('C:/Users/tsb7592/Box/Baby Toolbox Operations/Domain Teams/Language/Tobii Pilot/LWL & EF Tobii Data Export/Baby Toolbox_Data_Export_06_02_2021.tsv', sep='\t')

In [4]:
ada = pd.read_csv('C:/Users/tsb7592/Box/Baby Toolbox Operations/Domain Teams/Language/Tobii Pilot/LWL & EF Tobii Data Export/Ada LWL Only/Baby Toolbox_Data_Export_Ada_LWLonly.tsv', sep='\t')

In [5]:
data_dir2='C:/Users/tsb7592/Box/Baby Toolbox Operations/Domain Teams/Language/Tobii Pilot/LWL & EF Tobii Data Export/Second Attempts LWL Only'

In [6]:
os.chdir(data_dir2)

In [7]:
ada2= pd.read_csv('Baby Toolbox_Data_Export_Ada LWL Take 2.tsv', sep='\t')

In [8]:
claire2= pd.read_csv('Baby Toolbox_Data_Export_Claire LWL Take 2.tsv', sep='\t')

In [9]:
claire2.head()

,ExportDate,StudioVersionRec,StudioProjectName,StudioTestName,ParticipantName,RecordingName,RecordingDate,RecordingDuration,RecordingResolution,PresentationSequence,...,DistanceLeft,DistanceRight,PupilLeft,PupilRight,ValidityLeft,ValidityRight,IRMarkerCount,IRMarkerID,PupilGlassesRight,Unnamed: 173
0,6/30/2021,3.4.8,Baby Toolbox,LWL website,ClaireJune2,Rec 10,6/23/2021,303996,1920 x 1080,NaN,...,462.43,462.43,-1.00,-1.00,0.0,0.0,NaN,NaN,NaN,NaN
1,6/30/2021,3.4.8,Baby Toolbox,LWL website,ClaireJune2,Rec 10,6/23/2021,303996,1920 x 1080,NaN,...,462.35,462.35,-1.00,-1.00,0.0,0.0,NaN,NaN,NaN,NaN
2,6/30/2021,3.4.8,Baby Toolbox,LWL website,ClaireJune2,Rec 10,6/23/2021,303996,1920 x 1080,NaN,...,462.33,462.33,3.36,3.06,0.0,0.0,NaN,NaN,NaN,NaN
3,6/30/2021,3.4.8,Baby Toolbox,LWL website,ClaireJune2,Rec 10,6/23/2021,303996,1920 x 1080,NaN,...,462.14,462.14,-1.00,-1.00,0.0,0.0,NaN,NaN,NaN,NaN
4,6/30/2021,3.4.8,Baby Toolbox,LWL website,ClaireJune2,Rec 10,6/23/2021,303996,1920 x 1080,NaN,...,462.07,462.07,-1.00,-1.00,0.0,0.0,NaN,NaN,NaN,NaN

In [10]:
doc=[]
doc.append(ada)
doc.append(ada2)
doc.append(claire2)
doc.append(all3)
tdf = pd.concat(doc)

In [11]:
tdf.shape

(411928, 381)

In [12]:
keep = [col for col in tdf.columns if 'AOI' in col]
keep = [col for col in keep if 'Calib' not in col]

In [13]:
k24 = keep[4:76]

In [14]:
names={'P03':'Ada2', 'ClaireJune2':'ClaireJune2', 'ClaireP1':'ClaireP1', 'BrianP2':'BrianP2', 'SKJ_P2':'SKJ_P2','Adatake2':'Ada'}
tdf['ParticipantName']=tdf['ParticipantName'].map(names)

In [15]:
tdf['ParticipantName'].value_counts()

ClaireP1       107784
BrianP2        101390
SKJ_P2          96213
Ada2            36389
ClaireJune2     36145
Ada             34007
Name: ParticipantName, dtype: int64

# Read json file

In [16]:
import json
import os
import pandas as pd

In [17]:
#claire
data_dir="C:/Users/tsb7592/Box/Baby Toolbox Operations/Domain Teams/Language/Tobii Pilot/Tobii Verbose Files/Claire"
os.chdir(data_dir)
df=pd.read_json('949BCA6A-D3D6-426C-9A94-E806F84E4E72@845BDD10-B9AF-4592-AA4E-0CCE76A0E8CD@00024@2021-05-11-22.11.48.356@LookListening@Claire@VerboseGazeData.json')

In [18]:
data_dir="C:/Users/tsb7592/Downloads"
os.chdir(data_dir)

In [19]:
#second attempt only
cdf=pd.read_json('2021-06-23-22.58.27.217@LookListening@Claire@VerboseGazeData.json')

In [20]:
cols=['itemID','eventName','gazeLocationName', 'gazeLocationOnScreen', 'arHitTestLookAtPointPositionX', 'arHitTestLookAtPointPositionY',"lookAtPointX", "lookAtPointY",]

# Clean the data for machine learning

In [21]:
cols=['itemID','eventName', 'gazeLocationName','gazeLocationOnScreen',
      'arHitTestLookAtPointPositionX', 'arHitTestLookAtPointPositionY',
 'lookAtPointX', 'lookAtPointY','NewLocation','NewOnScreen']

In [142]:
def combine_tsv_json(tdf, df, person, k24):
    useX = "lookAtPointX"
    useY = "lookAtPointY"
    useX1 = "arHitTestLookAtPointPositionX"
    useY1 = "arHitTestLookAtPointPositionY"
        
    ct = tdf[tdf['ParticipantName']==person][k24]
    begin =list(df[df['eventName'].str.contains('presentedLiveItem')].index)
    end = list(df[df['eventName'].str.contains('completedLiveItem')].index)

    rv = []
    for i in range(24):
        lcol,rcol,wcol = k24[3*i:3*i+3]
        sub = ct[ct[wcol].notnull()]
    
        idx =[]
        mni =df.iloc[begin[i]:end[i]][[useX, useY,useX1, useY1]]
        mni =mni[mni[useX].notnull()]

        My_list = [*range(mni.shape[0])]
        ratio = round(sub.shape[0]/mni.shape[0], 2) - 0.03
        idx = [int(round(element * ratio)) for element in My_list]
        sub = sub.iloc[idx].reset_index()
        sub = sub[[lcol,rcol,wcol]]
        js =  mni.reset_index()
        sub.columns = ['Left','Right','Wholescreen']
        result = pd.concat([sub, js[[useX, useY, useX1, useY1]] ], axis =1)
        result['item'] = i
        rv.append(result)
    
    data = pd.concat(rv)
    
    #Create a Y variable base on Left, right, onscreen, offscreen
    data.loc[(data['Left'] == 1), 'Y'] = 'Left'
    data.loc[(data['Right'] == 1), 'Y'] = 'Right'
    data.loc[((data['Left'] == 0) & (data['Right'] ==0)& (data['Wholescreen'] ==0)), 'Y'] = 'OffAway'
    data.loc[((data['Left'] == 0) & (data['Right'] ==0)& (data['Wholescreen'] ==1)), 'Y'] = 'OnAway'
    
    return data[['Y', useX, useY, useX1, useY1]]

In [143]:
c1  = combine_tsv_json(tdf, df, 'ClaireP1', k24)
c2  = combine_tsv_json(tdf, cdf, 'ClaireJune2', k24)

In [132]:
c1a  = combine_tsv_json(tdf, df, 'ClaireP1', k24, 'arHitTestLookAtPointPosition')
c2a  = combine_tsv_json(tdf, cdf, 'ClaireJune2', k24, 'arHitTestLookAtPointPosition')

In [85]:
c1.Y.value_counts()

Left       5776
Right      4186
OffAway    1103
OnAway      413
Name: Y, dtype: int64

In [164]:
# example of multi-class classification task
from numpy import where
from collections import Counter
from sklearn.datasets import make_blobs
from matplotlib import pyplot

from sklearn import datasets
from sklearn.multiclass import OneVsRestClassifier
from sklearn.svm import LinearSVC
from sklearn.svm import SVC
from sklearn import metrics
from sklearn.model_selection import train_test_split
#Import Random Forest Model
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
#Import knearest neighbors Classifier model
from sklearn.neighbors import KNeighborsClassifier




def own_test(df):
    X = df.iloc[:,1:]
    y = df['Y']
    x_train, x_test, y_train, y_test = train_test_split(X, y, random_state = True, test_size = 0.25) 
    #Create a Gaussian Classifier
    print('RandomForest')
    clf=RandomForestClassifier(n_estimators=100)

    #Train the model using the training sets y_pred
    y_pred =clf.fit(x_train, y_train).predict(x_test)
    rv = pd.DataFrame(metrics.classification_report(y_test, y_pred, digits=3,output_dict=True)).T

    rv['support'] = rv.support.apply(int)
    display(rv.style.background_gradient(cmap='coolwarm',
                             subset=pd.IndexSlice['Left':'accuracy','f1-score']))
    #svc
    print('SupportVector')
    clf = SVC(probability=False, kernel="rbf", C=2.8, gamma=0.0073)  # cache_size=200,
    y_pred = clf.fit(x_train, y_train).predict(x_test)

    rv = pd.DataFrame(metrics.classification_report(y_test, y_pred, digits=3,output_dict=True)).T

    rv['support'] = rv.support.apply(int)
    display(rv.style.background_gradient(cmap='coolwarm',
                             subset=pd.IndexSlice['Left':'accuracy','f1-score']))
    
    #Create a Gaussian Classifier
    print('NaiveBayes')
    gnb = GaussianNB()
    #Predict the response for test dataset
    y_pred = gnb.fit(x_train, y_train).predict(x_test)
    
    rv = pd.DataFrame(metrics.classification_report(y_test, y_pred, digits=3,output_dict=True)).T

    rv['support'] = rv.support.apply(int)
    display(rv.style.background_gradient(cmap='coolwarm',
                             subset=pd.IndexSlice['Left':'accuracy','f1-score']))
    
    print('knn')
    #Create KNN Classifier
    knn = KNeighborsClassifier(n_neighbors=5)

    #Train the model using the training sets
    y_pred = knn.fit(x_train, y_train).predict(x_test)
    rv = pd.DataFrame(metrics.classification_report(y_test, y_pred, digits=3,output_dict=True)).T

    rv['support'] = rv.support.apply(int)
    display(rv.style.background_gradient(cmap='coolwarm',
                             subset=pd.IndexSlice['Left':'accuracy','f1-score']))

In [162]:
def twoset_test(df1, df2):
    x_train= df1.iloc[:,1:]
    y_train = df1['Y']
    x_test= df2.iloc[:,1:]
    y_test = df2['Y']

    clf = SVC(probability=False, kernel="rbf", C=2.8, gamma=0.0073)  # cache_size=200,
    y_pred = clf.fit(x_train, y_train).predict(x_test)

    rv = pd.DataFrame(metrics.classification_report(y_test, y_pred, digits=3,output_dict=True)).T
    
    rv['support'] = rv.support.apply(int)
    display(rv.style.background_gradient(cmap='coolwarm',
                             subset=pd.IndexSlice['Left':'accuracy','f1-score']))

In [165]:
#Claire first attempt
rv =own_test(c1)

RandomForest

SupportVector

NaiveBayes

knn

In [153]:
#Cross Validation for Claire using first attempt as train, second attempt as test
twoset_test(c1,c2)

In [99]:
#Sheila
data_dir="C:/Users/tsb7592/Box/Baby Toolbox Operations/Domain Teams/Language/Tobii Pilot/Tobii Verbose Files/Sheila"
os.chdir(data_dir)
sdf=pd.read_json('B8C654C6-5EAA-452E-8A80-B0281F7533C8@845BDD10-B9AF-4592-AA4E-0CCE76A0E8CD@00030@2021-05-12-00.31.22.201@LookListening@SKJ@VerboseGazeData.json')

In [147]:
s1  = combine_tsv_json(tdf, sdf, 'SKJ_P2', k24)

In [166]:
#cross validation for Sheila
own_test(s1)

RandomForest

SupportVector

NaiveBayes

knn

In [149]:
#Ada
data_dir="C:/Users/tsb7592/Downloads"
os.chdir(data_dir)
adf=pd.read_json('Ada@VerboseGazeData.json')
adf2=pd.read_json('2021-06-24-12.42.35.513@LookListening@Ada@VerboseGazeData 2.json')
a1  = combine_tsv_json(tdf, adf, 'Ada', k24)
a2  = combine_tsv_json(tdf, adf2, 'Ada2', k24)

In [167]:
#cross validation for Ada
own_test(a1)

RandomForest

SupportVector

NaiveBayes

knn

In [154]:
#Cross Validation for Ada using first attempt as train, second attempt as test
twoset_test(a1, a2)

In [104]:
#Brian
data_dir="C:/Users/tsb7592/Box/Baby Toolbox Operations/Domain Teams/Language/Tobii Pilot/Tobii Verbose Files/Brian"
os.chdir(data_dir)
bdf=pd.read_json('A87CEC62-214F-4B81-A3CB-45B1DA445644@845BDD10-B9AF-4592-AA4E-0CCE76A0E8CD@00026@2021-05-12-00.13.17.121@LookListening@Brian@VerboseGazeData.json')

In [155]:
b1  = combine_tsv_json(tdf, bdf, 'BrianP2', k24)

In [168]:
#Cross Validation for Brian
own_test(b1)

RandomForest

SupportVector

NaiveBayes

knn