In [1]:
#Data saved in csv/excel
import glob, os
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

data_dir="R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc"
os.chdir(data_dir)

In [14]:
#Set two decimal points for display
pd.options.display.float_format = "{:.2f}".format

# Basic Descriptives 1

In [23]:
# the files should begin with 2021-11-1 or they should begin with 2021-12
afiles = glob.glob('R:\\MSS\\Research\\Projects\\Baby_Toolbox\\Validation_Data\\misc\\*Assessment Data.csv')

doc =[]
for file in afiles:
    if 'Narrow Structure' in file:
        pass
    elif '2021-11-1' in file or '2021-12' in file :
        data = pd.read_csv(file)
        print(file)
        doc.append(data)


# get all reg files 
rdoc =[]
rfiles = glob.glob('R:\\MSS\\Research\\Projects\\Baby_Toolbox\\Validation_Data\\misc\\*Registration Data.csv')
for file in rfiles:
    if 'Narrow Structure' in file:
        pass
    elif '2021-11-1' in file or '2021-12' in file :
        data = pd.read_csv(file)
        print(file)
        rdoc.append(data)
            
adf = pd.concat(doc)
rdf = pd.concat(rdoc)

R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 09.39.05 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-02 18.16.12 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 10.21.05 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-10 15.22.31 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-04 12.09.08 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 14.04.33 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 10.57.43 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-01 14.05.05 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 16.58.51 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 17.15.37 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 13.57.51 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 11.41.39 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 17.10.29 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-04 17.15.11 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 10.50.59 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-02 10.10.30 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 17.33.44 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 10.36.57 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 09.46.56 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 10.49.41 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 14.18.51 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-03 10.13.22 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 10.25.39 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 13.06.07 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 14.36.11 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-02 14.06.01 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 14.37.16 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 10.15.55 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 14.42.57 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 10.58.02 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-04 14.56.33 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 15.17.57 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 14.11.22 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-10 12.10.52 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 11.47.06 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 13.01.41 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 09.01.44 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-07 09.44.15 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 14.18.15 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-07 12.02.06 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-07 15.26.20 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-04 12.08.57 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 14.18.46 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 13.56.59 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 11.39.40 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-01 15.00.53 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-10 15.16.40 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 13.38.57 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 09.40.09 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-01 13.26.35 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 14.19.25 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 14.08.02 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 10.48.06 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 10.28.40 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 11.17.35 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 17.09.38 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-10 17.50.35 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-10 17.49.48 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 14.31.03 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 13.01.48 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 15.18.20 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-04 17.15.21 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 12.01.09 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 13.59.31 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 09.59.57 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 11.49.16 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-01 14.47.43 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 14.15.30 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-07 15.28.50 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 15.57.15 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 18.03.08 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 09.53.28 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 11.55.14 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 17.52.21 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 17.50.57 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 14.11.18 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 09.43.52 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 10.48.54 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 17.17.19 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 14.47.57 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 16.57.53 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 14.35.41 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 11.18.03 Assessment Data.csv

R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-01 14.06.30 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 12.00.51 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 18.14.30 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-02 18.16.33 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 14.06.18 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 10.13.29 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-03 17.19.43 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-04 15.14.03 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 11.38.05 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 12.22.59 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 10.15.34 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-10 14.53.04 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 09.59.46 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-04 10.17.46 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-04 10.36.34 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 14.46.00 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 14.17.36 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 12.17.54 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 08.29.07 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 17.45.29 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 11.39.24 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 10.47.31 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-03 10.15.10 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-04 11.22.28 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 12.29.49 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 17.40.42 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-02 14.06.32 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 17.17.28 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 10.06.19 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 11.44.51 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 17.02.31 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-19 11.33.13 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 14.20.17 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 13.37.23 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 11.52.37 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 15.45.39 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-10 09.45.45 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-03 17.19.17 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 14.35.51 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 14.07.38 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-19 11.03.56 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 13.59.49 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-10 14.52.12 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 09.51.48 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-01 14.56.57 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 12.13.03 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-10 09.35.56 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 15.14.12 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 13.38.05 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 09.53.57 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-02 18.19.38 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 17.33.03 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-04 11.26.09 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 11.55.21 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 10.20.43 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 16.17.00 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-14 11.32.05 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 10.51.15 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 09.22.24 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 13.02.38 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-07 13.39.16 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 11.02.16 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-19 18.04.29 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 14.46.02 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 16.48.12 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 17.05.13 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 17.01.38 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 14.15.58 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-04 11.29.38 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 11.41.44 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-14 11.20.27 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 13.43.30 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 13.39.56 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-03 10.13.48 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 10.28.15 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-01 14.47.50 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 10.58.09 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 17.40.02 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 10.52.41 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 14.18.32 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 14.26.33 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 11.08.40 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 12.28.25 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-19 18.04.02 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 14.08.42 Assessment Data.csv

R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 10.00.06 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 11.52.45 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-01 13.27.29 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 14.08.22 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-03 10.40.02 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 14.42.13 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 12.15.15 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-10 11.38.21 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 10.15.31 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 14.18.10 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 16.34.00 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-02 10.23.33 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-01 09.05.23 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 11.31.01 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 11.55.37 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 15.34.07 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 10.16.56 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 18.26.01 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 16.47.42 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 13.37.39 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 10.19.45 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 17.41.42 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 10.01.47 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-07 09.24.52 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 16.38.09 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 14.18.30 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 15.13.36 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-02 13.33.48 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 10.47.07 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-02 17.37.01 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 15.45.23 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 15.16.18 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-19 11.04.23 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 17.16.45 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-02 13.34.02 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-07 13.42.26 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 13.38.34 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 17.44.24 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 11.46.57 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 14.15.51 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 14.11.22 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-10 10.47.00 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-10 12.10.39 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 16.58.33 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 14.10.53 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 10.58.02 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 14.18.32 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-19 11.33.13 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 10.28.40 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 14.47.57 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-04 17.15.21 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 16.47.42 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 17.40.02 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-04 12.08.57 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-10 14.52.12 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-02 13.33.48 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 14.42.13 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 11.18.03 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 10.47.31 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 14.20.17 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-04 10.36.34 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-14 11.20.27 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 14.17.36 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 17.17.28 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 15.57.15 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 10.50.59 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 14.08.02 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 14.18.10 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-19 18.04.29 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 08.29.07 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 11.39.40 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-10 09.35.56 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 14.15.51 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-10 11.38.21 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-10 17.50.35 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 13.37.23 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 17.40.42 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 17.16.45 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 11.17.35 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-02 13.34.02 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-02 10.10.30 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-07 13.39.16 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 17.50.57 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 09.01.44 Registration Data.csv

R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 10.51.15 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-02 14.06.01 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-03 17.19.43 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 10.25.39 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-10 10.47.00 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-07 15.28.50 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 17.15.37 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 14.19.25 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 14.35.41 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-07 15.26.20 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-02 14.06.32 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 14.11.22 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-10 17.49.48 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 13.01.41 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 12.01.09 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 11.41.44 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-10 14.53.04 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 10.48.54 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-07 12.02.06 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 13.59.49 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-01 15.00.53 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 10.28.15 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 09.59.46 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 14.18.15 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 15.45.23 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-07 09.44.15 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-04 12.09.08 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 11.49.16 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 09.40.09 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 17.10.29 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 15.17.57 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-19 11.03.56 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 09.22.24 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 17.52.21 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 18.26.01 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 13.06.07 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 14.15.58 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 14.08.42 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 15.18.20 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 17.02.31 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-04 10.17.46 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 12.17.54 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 17.09.38 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-01 14.56.57 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 11.55.14 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-01 13.26.35 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 16.34.00 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-03 10.13.22 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 09.46.56 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 09.53.28 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 11.52.45 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 12.29.49 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 14.42.57 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-04 17.15.11 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 12.00.51 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-14 11.32.05 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 14.10.53 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 10.47.07 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-02 18.16.12 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 17.45.29 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 15.45.39 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 10.13.29 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 13.38.57 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 10.57.43 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 10.15.34 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 14.46.02 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 14.15.30 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-03 10.13.48 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 13.43.30 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-04 14.56.33 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 11.39.24 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 16.48.12 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-10 15.16.40 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-04 11.26.09 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 14.18.51 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 11.52.37 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-10 12.10.52 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-10 09.45.45 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 14.31.03 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 17.05.13 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 17.17.19 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 09.53.57 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 11.44.51 Registration Data.csv

R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 10.20.43 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 15.16.18 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 18.03.08 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 10.58.09 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-01 14.06.30 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 15.34.07 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 10.49.41 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-02 18.16.33 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-03 10.40.02 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-07 13.42.26 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 10.15.55 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 13.59.31 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-02 18.19.38 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 10.00.06 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 13.38.34 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 14.07.38 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 16.57.53 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-01 14.47.50 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-04 11.29.38 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 17.01.38 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-10 15.22.31 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-04 11.22.28 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-01 13.27.29 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 14.08.22 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 14.37.16 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 10.19.45 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 13.39.56 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 15.13.36 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 11.31.01 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 10.15.31 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 10.01.47 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 10.48.06 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 12.13.03 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 11.08.40 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 14.11.18 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 10.16.56 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 11.38.05 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 11.41.39 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 17.33.44 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-02 17.37.01 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 14.06.18 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 13.01.48 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 14.11.22 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 15.14.12 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 13.37.39 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 11.02.16 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 14.18.30 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-07 09.24.52 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 17.44.24 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 16.17.00 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-19 11.04.23 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 11.55.37 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 17.33.03 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 14.35.51 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 12.15.15 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 10.52.41 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 16.38.09 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 18.14.30 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-10 12.10.39 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 14.26.33 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-01 14.05.05 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 10.06.19 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 09.51.48 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 17.41.42 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-03 17.19.17 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 13.38.05 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-01 14.47.43 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-01 09.05.23 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 16.58.33 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 11.55.21 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 14.04.33 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 14.18.46 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 11.46.57 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-02 10.23.33 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 10.36.57 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 13.56.59 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 10.21.05 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-03 10.15.10 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 13.57.51 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 14.36.11 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-19 18.04.02 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 09.43.52 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 16.58.51 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 12.28.25 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-04 15.14.03 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 14.46.00 Registration Data.csv

R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 09.59.57 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 11.47.06 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 13.02.38 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 12.22.59 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 09.39.05 Registration Data.csv

In [24]:
rdf.shape

(261, 14)

In [25]:
rdf=rdf.reset_index()

In [45]:
rdf=rdf.drop_duplicates()

In [27]:
rdf =rdf.drop(columns=['index'])

# Basic Descriptives 2

In [53]:
## Task 2 Filter out any ID that contains prac or qa or media
rdf =rdf[~rdf['PIN'].str.contains("Practice|Media|QA")]

In [50]:
rdf.at[186,'PIN']='mn018p'

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name,Year,Month,Age_month,Age_group
55,Mn015p,70508CF6-2178-46E9-9F9A-2A7E7FB8A07F,Mn015c,37:1,18.00,16.00,NaN,NaN,NaN,1.00,1.00,1,1.00,Assessment 1,37.00,1.00,445.00,NaN
170,Mn015p,70508CF6-2178-46E9-9F9A-2A7E7FB8A07F,Mn015c,NaN,18.00,16.00,NaN,NaN,NaN,1.00,1.00,1,1.00,Assessment 2,NaN,NaN,NaN,NaN

In [54]:
subset = rdf.groupby("PIN").filter(lambda x: len(x) > 1)
subset

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name,Year,Month,Age_month,Age_group
16,WI008P,10B77F95-1027-483B-9126-666988F60440,Liam,23:8,NaN,25.00,NaN,NaN,NaN,2.00,1.00,1,1.00,Assessment 1,23.00,8.00,284.00,NaN
20,Mn012c,53A3EB94-4ACF-41E6-A744-01E877B21025,Mn012p,2:3,NaN,22.00,NaN,NaN,NaN,1.00,NaN,1,1.00,Assessment 1,2.00,3.00,27.00,"(24.0, 27.0]"
26,WI013C,F6DB0E9E-9CDF-4144-917F-A34E300BDDF9,Elodie,2:0,1.00,21.00,NaN,NaN,NaN,2.00,1.00,1,1.00,Assessment 1,2.00,0.00,24.00,"(21.0, 24.0]"
27,WI013C,F6DB0E9E-9CDF-4144-917F-A34E300BDDF9,Elodie,NaN,1.00,21.00,NaN,NaN,NaN,2.00,1.00,1,1.00,Assessment 2,NaN,NaN,NaN,NaN
55,Mn015p,70508CF6-2178-46E9-9F9A-2A7E7FB8A07F,Mn015c,37:1,18.00,16.00,NaN,NaN,NaN,1.00,1.00,1,1.00,Assessment 1,37.00,1.00,445.00,NaN
56,WI020C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Remy,3:5,NaN,16.00,NaN,NaN,NaN,1.00,NaN,1,1.00,Assessment 1,3.00,5.00,41.00,"(35.0, 43.0]"
89,TX007C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Carter,NaN,NaN,21.00,NaN,NaN,NaN,1.00,NaN,2,NaN,Assessment 1,NaN,NaN,NaN,NaN
90,TX007C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Carter,2:4,NaN,21.00,NaN,NaN,NaN,1.00,NaN,2,NaN,Assessment 2,2.00,4.00,28.00,"(27.0, 30.0]"
92,WI031C,10B77F95-1027-483B-9126-666988F60440,Kyla,NaN,NaN,20.00,NaN,NaN,NaN,2.00,1.00,1,1.00,Assessment 1,NaN,NaN,NaN,NaN
93,WI031C,10B77F95-1027-483B-9126-666988F60440,Kyla,38:1,NaN,20.00,NaN,NaN,NaN,2.00,1.00,1,1.00,Assessment 2,38.00,1.00,457.00,NaN
101,WI023P,10B77F95-1027-483B-9126-666988F60440,Marshall,NaN,NaN,21.00,NaN,NaN,NaN,2.00,1.00,1,1.00,Assessment 1,NaN,NaN,NaN,NaN
102,WI023P,10B77F95-1027-483B-9126-666988F60440,Marshall,34:6,NaN,21.00,NaN,NaN,NaN,2.00,1.00,1,1.00,Assessment 2,34.00,6.00,414.00,NaN
110,Mn012c,13781795-A391-4367-BA54-1152B446E0D8,Mn012p,32:10,NaN,NaN,NaN,NaN,NaN,2.00,NaN,1,1.00,Assessment 1,32.00,10.00,394.00,NaN
111,TX005C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Legacy,NaN,NaN,21.00,NaN,NaN,NaN,2.00,NaN,2,NaN,Assessment 1,NaN,NaN,NaN,NaN
112,TX005C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Legacy,2:5,NaN,21.00,NaN,NaN,NaN,2.00,NaN,2,NaN,Assessment 2,2.00,5.00,29.00,"(27.0, 30.0]"
115,WI003C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Isla,NaN,NaN,NaN,NaN,NaN,NaN,2.00,NaN,1,1.00,Assessment 1,NaN,NaN,NaN,NaN
116,WI003C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Isla,1:0,NaN,NaN,NaN,NaN,NaN,2.00,NaN,1,1.00,Assessment 2,1.00,0.00,12.00,"(10.0, 12.0]"
119,WI008P,059282F7-D6F7-4A39-8DF8-429BD89241D1,Greyson,2:3,1.00,21.00,NaN,NaN,NaN,1.00,1.00,1,1.00,Assessment 2,2.00,3.00,27.00,"(24.0, 27.0]"
122,WI026P,10B77F95-1027-483B-9126-666988F60440,Wyatt,34:3,NaN,18.00,NaN,NaN,NaN,2.00,2.00,1,1.00,Assessment 2,34.00,3.00,411.00,NaN
128,WI020C,10B77F95-1027-483B-9126-666988F60440,Remy,27:10,NaN,16.00,NaN,NaN,NaN,1.00,2.00,1,1.00,Assessment 1,27.00,10.00,334.00,NaN
138,WI005C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Myla,NaN,16.00,NaN,NaN,NaN,NaN,2.00,1.00,0,NaN,Assessment 1,NaN,NaN,NaN,NaN
157,WI033C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Blaire,NaN,NaN,20.00,NaN,NaN,NaN,2.00,NaN,1,1.00,Assessment 1,NaN,NaN,NaN,NaN
158,WI033C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Blaire,1:7,NaN,20.00,NaN,NaN,NaN,2.00,NaN,1,1.00,Assessment 2,1.00,7.00,19.00,"(18.0, 21.0]"
161,TX011P,059282F7-D6F7-4A39-8DF8-429BD89241D1,Olivia,1:8,1.00,21.00,NaN,NaN,NaN,2.00,1.00,1,1.00,Assessment 1,1.00,8.00,20.00,"(18.0, 21.0]"
164,TX011C,F6DB0E9E-9CDF-4144-917F-A34E300BDDF9,Olivia,1:8,1.00,21.00,NaN,NaN,NaN,2.00,1.00,1,1.00,Assessment 1,1.00,8.00,20.00,"(18.0, 21.0]"
167,TX001 C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Jonah,NaN,NaN,18.00,NaN,NaN,NaN,1.00,NaN,1,2.00,Assessment 1,NaN,NaN,NaN,NaN
168,TX001 C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Jonah,2:8,NaN,18.00,NaN,NaN,NaN,1.00,NaN,1,2.00,Assessment 2,2.00,8.00,32.00,"(30.0, 35.0]"
170,Mn015p,70508CF6-2178-46E9-9F9A-2A7E7FB8A07F,Mn015c,NaN,18.00,16.00,NaN,NaN,NaN,1.00,1.00,1,1.00,Assessment 2,NaN,NaN,NaN,NaN
179,WI033C,10B77F95-1027-483B-9126-666988F60440,Blaire,34:4,20.00,NaN,NaN,NaN,NaN,2.00,1.00,1,1.00,Assessment 1,34.00,4.00,412.00,NaN
196,WI026P,10B77F95-1027-483B-9126-666988F60440,Wyatt,34:3,NaN,18.00,NaN,NaN,NaN,2.00,2.00,1,1.00,Assessment 1,34.00,3.00,411.00,NaN
207,TX025C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Imani,1:4,21.00,NaN,NaN,NaN,NaN,2.00,NaN,2,NaN,Assessment 1,1.00,4.00,16.00,"(15.0, 18.0]"
208,TX025C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Imani,NaN,21.00,NaN,NaN,NaN,NaN,2.00,NaN,2,NaN,Assessment 2,NaN,NaN,NaN,NaN
237,TX011C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Semilore Atanda,NaN,NaN,22.00,NaN,NaN,NaN,1.00,NaN,2,NaN,Assessment 1,NaN,NaN,NaN,NaN
238,TX011C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Semilore Atanda,3:4,NaN,22.00,NaN,NaN,NaN,1.00,NaN,2,NaN,Assessment 2,3.00,4.00,40.00,"(35.0, 43.0]"
246,WI005C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Myla,2:4,16.00,NaN,NaN,NaN,NaN,2.00,1.00,0,NaN,Assessment 2,2.00,4.00,28.00,"(27.0, 30.0]"
254,WI031C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Kyla,NaN,NaN,20.00,NaN,NaN,NaN,2.00,NaN,1,1.00,Assessment 1,NaN,NaN,NaN,NaN
255,WI031C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Kyla,1:1,NaN,20.00,NaN,NaN,NaN,2.00,NaN,1,1.00,Assessment 2,1.00,1.00,13.00,"(12.0, 15.0]"
256,TX011P,10B77F95-1027-483B-9126-666988F60440,Semilore Atanda,NaN,NaN,22.00,NaN,NaN,NaN,2.00,1.00,2,NaN,Assessment 1,NaN,NaN,NaN,NaN
257,TX011P,10B77F95-1027-483B-9126-666988F60440,Semilore Atanda,37:10,NaN,22.00,NaN,NaN,NaN,2.00,1.00,2,NaN,Assessment 2,37.00,10.00,454.00,NaN
259,TX009C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Emilia,NaN,NaN,16.00,NaN,NaN,NaN,2.00,NaN,64,2.00,Assessment 1,NaN,NaN,NaN,NaN
260,TX009C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Emilia,1:6,NaN,16.00,NaN,NaN,NaN,2.00,NaN,64,2.00,Assessment 2,1.00,6.00,18.00,"(15.0, 18.0]"

In [55]:
for pin in subset.PIN.unique():
    display(subset[subset['PIN']==pin])

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name,Year,Month,Age_month,Age_group
16,WI008P,10B77F95-1027-483B-9126-666988F60440,Liam,23:8,NaN,25.00,NaN,NaN,NaN,2.00,1.00,1,1.00,Assessment 1,23.00,8.00,284.00,NaN
119,WI008P,059282F7-D6F7-4A39-8DF8-429BD89241D1,Greyson,2:3,1.00,21.00,NaN,NaN,NaN,1.00,1.00,1,1.00,Assessment 2,2.00,3.00,27.00,"(24.0, 27.0]"

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name,Year,Month,Age_month,Age_group
20,Mn012c,53A3EB94-4ACF-41E6-A744-01E877B21025,Mn012p,2:3,NaN,22.00,NaN,NaN,NaN,1.00,NaN,1,1.00,Assessment 1,2.00,3.00,27.00,"(24.0, 27.0]"
110,Mn012c,13781795-A391-4367-BA54-1152B446E0D8,Mn012p,32:10,NaN,NaN,NaN,NaN,NaN,2.00,NaN,1,1.00,Assessment 1,32.00,10.00,394.00,NaN

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name,Year,Month,Age_month,Age_group
26,WI013C,F6DB0E9E-9CDF-4144-917F-A34E300BDDF9,Elodie,2:0,1.00,21.00,NaN,NaN,NaN,2.00,1.00,1,1.00,Assessment 1,2.00,0.00,24.00,"(21.0, 24.0]"
27,WI013C,F6DB0E9E-9CDF-4144-917F-A34E300BDDF9,Elodie,NaN,1.00,21.00,NaN,NaN,NaN,2.00,1.00,1,1.00,Assessment 2,NaN,NaN,NaN,NaN

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name,Year,Month,Age_month,Age_group
55,Mn015p,70508CF6-2178-46E9-9F9A-2A7E7FB8A07F,Mn015c,37:1,18.00,16.00,NaN,NaN,NaN,1.00,1.00,1,1.00,Assessment 1,37.00,1.00,445.00,NaN
170,Mn015p,70508CF6-2178-46E9-9F9A-2A7E7FB8A07F,Mn015c,NaN,18.00,16.00,NaN,NaN,NaN,1.00,1.00,1,1.00,Assessment 2,NaN,NaN,NaN,NaN

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name,Year,Month,Age_month,Age_group
56,WI020C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Remy,3:5,NaN,16.00,NaN,NaN,NaN,1.00,NaN,1,1.00,Assessment 1,3.00,5.00,41.00,"(35.0, 43.0]"
128,WI020C,10B77F95-1027-483B-9126-666988F60440,Remy,27:10,NaN,16.00,NaN,NaN,NaN,1.00,2.00,1,1.00,Assessment 1,27.00,10.00,334.00,NaN

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name,Year,Month,Age_month,Age_group
89,TX007C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Carter,NaN,NaN,21.00,NaN,NaN,NaN,1.00,NaN,2,NaN,Assessment 1,NaN,NaN,NaN,NaN
90,TX007C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Carter,2:4,NaN,21.00,NaN,NaN,NaN,1.00,NaN,2,NaN,Assessment 2,2.00,4.00,28.00,"(27.0, 30.0]"

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name,Year,Month,Age_month,Age_group
92,WI031C,10B77F95-1027-483B-9126-666988F60440,Kyla,NaN,NaN,20.00,NaN,NaN,NaN,2.00,1.00,1,1.00,Assessment 1,NaN,NaN,NaN,NaN
93,WI031C,10B77F95-1027-483B-9126-666988F60440,Kyla,38:1,NaN,20.00,NaN,NaN,NaN,2.00,1.00,1,1.00,Assessment 2,38.00,1.00,457.00,NaN
254,WI031C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Kyla,NaN,NaN,20.00,NaN,NaN,NaN,2.00,NaN,1,1.00,Assessment 1,NaN,NaN,NaN,NaN
255,WI031C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Kyla,1:1,NaN,20.00,NaN,NaN,NaN,2.00,NaN,1,1.00,Assessment 2,1.00,1.00,13.00,"(12.0, 15.0]"

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name,Year,Month,Age_month,Age_group
101,WI023P,10B77F95-1027-483B-9126-666988F60440,Marshall,NaN,NaN,21.00,NaN,NaN,NaN,2.00,1.00,1,1.00,Assessment 1,NaN,NaN,NaN,NaN
102,WI023P,10B77F95-1027-483B-9126-666988F60440,Marshall,34:6,NaN,21.00,NaN,NaN,NaN,2.00,1.00,1,1.00,Assessment 2,34.00,6.00,414.00,NaN

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name,Year,Month,Age_month,Age_group
111,TX005C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Legacy,NaN,NaN,21.00,NaN,NaN,NaN,2.00,NaN,2,NaN,Assessment 1,NaN,NaN,NaN,NaN
112,TX005C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Legacy,2:5,NaN,21.00,NaN,NaN,NaN,2.00,NaN,2,NaN,Assessment 2,2.00,5.00,29.00,"(27.0, 30.0]"

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name,Year,Month,Age_month,Age_group
115,WI003C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Isla,NaN,NaN,NaN,NaN,NaN,NaN,2.00,NaN,1,1.00,Assessment 1,NaN,NaN,NaN,NaN
116,WI003C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Isla,1:0,NaN,NaN,NaN,NaN,NaN,2.00,NaN,1,1.00,Assessment 2,1.00,0.00,12.00,"(10.0, 12.0]"

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name,Year,Month,Age_month,Age_group
122,WI026P,10B77F95-1027-483B-9126-666988F60440,Wyatt,34:3,NaN,18.00,NaN,NaN,NaN,2.00,2.00,1,1.00,Assessment 2,34.00,3.00,411.00,NaN
196,WI026P,10B77F95-1027-483B-9126-666988F60440,Wyatt,34:3,NaN,18.00,NaN,NaN,NaN,2.00,2.00,1,1.00,Assessment 1,34.00,3.00,411.00,NaN

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name,Year,Month,Age_month,Age_group
138,WI005C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Myla,NaN,16.00,NaN,NaN,NaN,NaN,2.00,1.00,0,NaN,Assessment 1,NaN,NaN,NaN,NaN
246,WI005C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Myla,2:4,16.00,NaN,NaN,NaN,NaN,2.00,1.00,0,NaN,Assessment 2,2.00,4.00,28.00,"(27.0, 30.0]"

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name,Year,Month,Age_month,Age_group
157,WI033C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Blaire,NaN,NaN,20.00,NaN,NaN,NaN,2.00,NaN,1,1.00,Assessment 1,NaN,NaN,NaN,NaN
158,WI033C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Blaire,1:7,NaN,20.00,NaN,NaN,NaN,2.00,NaN,1,1.00,Assessment 2,1.00,7.00,19.00,"(18.0, 21.0]"
179,WI033C,10B77F95-1027-483B-9126-666988F60440,Blaire,34:4,20.00,NaN,NaN,NaN,NaN,2.00,1.00,1,1.00,Assessment 1,34.00,4.00,412.00,NaN

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name,Year,Month,Age_month,Age_group
161,TX011P,059282F7-D6F7-4A39-8DF8-429BD89241D1,Olivia,1:8,1.00,21.00,NaN,NaN,NaN,2.00,1.00,1,1.00,Assessment 1,1.00,8.00,20.00,"(18.0, 21.0]"
256,TX011P,10B77F95-1027-483B-9126-666988F60440,Semilore Atanda,NaN,NaN,22.00,NaN,NaN,NaN,2.00,1.00,2,NaN,Assessment 1,NaN,NaN,NaN,NaN
257,TX011P,10B77F95-1027-483B-9126-666988F60440,Semilore Atanda,37:10,NaN,22.00,NaN,NaN,NaN,2.00,1.00,2,NaN,Assessment 2,37.00,10.00,454.00,NaN

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name,Year,Month,Age_month,Age_group
164,TX011C,F6DB0E9E-9CDF-4144-917F-A34E300BDDF9,Olivia,1:8,1.00,21.00,NaN,NaN,NaN,2.00,1.00,1,1.00,Assessment 1,1.00,8.00,20.00,"(18.0, 21.0]"
237,TX011C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Semilore Atanda,NaN,NaN,22.00,NaN,NaN,NaN,1.00,NaN,2,NaN,Assessment 1,NaN,NaN,NaN,NaN
238,TX011C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Semilore Atanda,3:4,NaN,22.00,NaN,NaN,NaN,1.00,NaN,2,NaN,Assessment 2,3.00,4.00,40.00,"(35.0, 43.0]"

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name,Year,Month,Age_month,Age_group
167,TX001 C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Jonah,NaN,NaN,18.00,NaN,NaN,NaN,1.00,NaN,1,2.00,Assessment 1,NaN,NaN,NaN,NaN
168,TX001 C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Jonah,2:8,NaN,18.00,NaN,NaN,NaN,1.00,NaN,1,2.00,Assessment 2,2.00,8.00,32.00,"(30.0, 35.0]"

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name,Year,Month,Age_month,Age_group
207,TX025C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Imani,1:4,21.00,NaN,NaN,NaN,NaN,2.00,NaN,2,NaN,Assessment 1,1.00,4.00,16.00,"(15.0, 18.0]"
208,TX025C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Imani,NaN,21.00,NaN,NaN,NaN,NaN,2.00,NaN,2,NaN,Assessment 2,NaN,NaN,NaN,NaN

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name,Year,Month,Age_month,Age_group
259,TX009C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Emilia,NaN,NaN,16.00,NaN,NaN,NaN,2.00,NaN,64,2.00,Assessment 1,NaN,NaN,NaN,NaN
260,TX009C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Emilia,1:6,NaN,16.00,NaN,NaN,NaN,2.00,NaN,64,2.00,Assessment 2,1.00,6.00,18.00,"(15.0, 18.0]"

In [56]:
dropindex = [119,110,27,170,128,89,92,93,254,101,111,115,196,138,157,179,161,256,237,238,167,208,259]

In [57]:
subset.PIN.nunique()

18

In [58]:
len(subset.drop(dropindex))

18

In [59]:
rdf= rdf.drop(dropindex)

In [60]:
#sanity check
rdf.groupby("PIN").filter(lambda x: len(x) > 1)

Empty DataFrame
Columns: [PIN, DeviceID, Name, Age, Education, MothersEducation, FathersEducation, GuardiansEducation, StartingLevelOverride, Gender, Handedness, Race, Ethnicity, Assessment Name, Year, Month, Age_month, Age_group]
Index: []

# Basic Descriptives 3

In [61]:
rdf[['Year','Month']] = rdf.Age.str.split(":",expand=True)

In [62]:
rdf['Month'] =pd.to_numeric(rdf['Month'])
rdf['Year'] =pd.to_numeric(rdf['Year'])

In [63]:
#recode the age into months format
rdf['Age_month'] = rdf['Year']*12 + rdf['Month']

In [64]:
rdf= rdf.drop_duplicates()

In [65]:
rdf.head()

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name,Year,Month,Age_month,Age_group
0,Mo011p,53A3EB94-4ACF-41E6-A744-01E877B21025,Mo011c,33:1,21.00,20.00,NaN,NaN,NaN,1.00,1.00,1,1.00,Assessment 1,33,1,397,NaN
1,WI021P,059282F7-D6F7-4A39-8DF8-429BD89241D1,Abram,0:10,1.00,16.00,NaN,NaN,NaN,1.00,1.00,1,1.00,Assessment 1,0,10,10,"(8.0, 10.0]"
5,Mo017p,70508CF6-2178-46E9-9F9A-2A7E7FB8A07F,Mo017c,38:5,NaN,NaN,NaN,NaN,NaN,2.00,NaN,1,1.00,Assessment 1,38,5,461,NaN
6,TX024P,10B77F95-1027-483B-9126-666988F60440,Nevaeh,22:9,NaN,16.00,NaN,NaN,NaN,2.00,NaN,2,NaN,Assessment 1,22,9,273,NaN
7,Mo010p,70508CF6-2178-46E9-9F9A-2A7E7FB8A07F,Mo010c,41:1,NaN,NaN,NaN,NaN,NaN,2.00,NaN,1,1.00,Assessment 1,41,1,493,NaN

# Basic Descriptives 4

In [74]:
## Task 2 Filter out any ID that contains prac or qa or media
adf =adf[~adf['PIN'].str.contains("Practice|Media|QA")]

In [75]:
adf= adf.drop_duplicates()

In [76]:
adf.shape

(43387, 23)

In [77]:
#Recode age group
rdf['Age_group'] = pd.cut(rdf['Age_month'] , [0,1,2,3,4,5,6,8,10,12,15,18,21,24,27,30,35,43])

In [86]:
df.columns

Index(['PIN', 'DeviceID', 'Assessment Name', 'InstOrdr', 'InstSctn', 'ItmOrdr',
       'Inst', 'Locale', 'ItemID', 'Response', 'Score', 'Theta', 'TScore',
       'SE', 'DataType', 'Position', 'ResponseTime', 'DateCreated',
       'InstStarted', 'InstEnded', 'App Version', 'iPad Version',
       'Firmware Version', 'Age_month', 'Age_group'],
      dtype='object')

# Basic Descriptives 5

In [87]:
# Concatenate registration and assessment data files in the /misc folder
df = pd.merge(adf, rdf[['PIN','Assessment Name', 'Age_month','Age_group']], on=['PIN','Assessment Name'], how ='left')

In [88]:
keep =['PIN', 'DeviceID', 'Assessment Name', 
       'Inst', 'ItemID', 'Response', 'Score',  'Position', 'ResponseTime', 'DateCreated',
       'InstStarted', 'InstEnded', 'Age_month', 'Age_group']

In [89]:
df=df[keep]

In [90]:
df.shape

(43387, 14)

# Basic Descriptives 6

In [91]:
df.PIN.nunique()

208

In [92]:
df.head()

,PIN,DeviceID,Assessment Name,Inst,ItemID,Response,Score,Position,ResponseTime,DateCreated,InstStarted,InstEnded,Age_month,Age_group
0,TX009C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,Mullen_Rec_Title,1,NaN,1,NaN,2021-12-05 08:30:42,2021-12-05 08:30:41,2021-12-05 08:33:49,18.00,"(15, 18]"
1,TX009C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,Mullen_Rec_Instructions,1,NaN,2,NaN,2021-12-05 08:30:43,2021-12-05 08:30:41,2021-12-05 08:33:49,18.00,"(15, 18]"
2,TX009C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,RL13,2,0.00,3,NaN,2021-12-05 08:32:53,2021-12-05 08:30:41,2021-12-05 08:33:49,18.00,"(15, 18]"
3,TX009C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,RL10,1,1.00,4,NaN,2021-12-05 08:32:59,2021-12-05 08:30:41,2021-12-05 08:33:49,18.00,"(15, 18]"
4,TX009C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,RL15,2,0.00,5,NaN,2021-12-05 08:33:18,2021-12-05 08:30:41,2021-12-05 08:33:49,18.00,"(15, 18]"

In [82]:
t1=df.groupby(['PIN','Assessment Name']).agg({'Inst': "nunique"})

In [83]:
# one column for each of the ~35 Inst [instrument names])
t2=df.groupby(['PIN','Assessment Name'])['Inst'].apply(list)
task4 = pd.merge(t1,t2, on=['PIN','Assessment Name'])

In [84]:
task4.columns=['unique_inst_count', 'Inst']

In [85]:
df.to_csv('C:/U# Basic Descriptives 4sers/tsb7592/Downloads/combined_data.csv', index=False)

In [3]:
import pandas as pd
df=pd.read_csv('C:/Users/tsb7592/Downloads/combined_data.csv')

In [40]:
import ast
def count_freq(row):
    dc ={}
    for i in row:
        if i not in dc:
            dc[i] = 0
        else:
            dc[i]+=1
   # convertedDict = ast.literal_eval(dc)

    return dc

In [41]:
task4['freq'] =task4['Inst'].apply(count_freq)

In [42]:
task4.tail()

                        unique_inst_count  \
PIN    Assessment Name
WI032C Assessment 1                    14
WI032P Assessment 1                     4
WI033C Assessment 1                     6
       Assessment 2                    17
WI24C  Assessment 1                    17

                                                                     Inst  \
PIN    Assessment Name
WI032C Assessment 1     [Mullen Receptive, Mullen Receptive, Mullen Re...
WI032P Assessment 1     [Infant Behavior Questionnaire - Revised - Ver...
WI033C Assessment 1     [Early Childhood Behavior Questionnaire - Very...
       Assessment 2     [Mullen Receptive, Mullen Receptive, Mullen Re...
WI24C  Assessment 1     [Mullen Receptive, Mullen Receptive, Mullen Re...

                                                                     freq
PIN    Assessment Name
WI032C Assessment 1     {'Mullen Receptive': 4, 'Mullen Expressive Pro...
WI032P Assessment 1     {'Infant Behavior Questionnaire - Revised - Ve...
WI033C Assessment 1     {'Early Childhood Behavior Questionnaire - Ver...
       Assessment 2     {'Mullen Receptive': 7, 'Mullen Expressive Pro...
WI24C  Assessment 1     {'Mullen Receptive': 6, 'Mullen Expressive Pro...

In [4]:
task4= pd.read_csv('C:/Users/tsb7592/Downloads/task4.csv')

In [43]:
for index, row in task4.iterrows():
    dictionary = row['freq']
    for key, v in dictionary.items():
        task4.loc[index,key] = v

In [44]:
task4.head()

,,unique_inst_count,Inst,freq,Mullen Receptive,Mullen Expressive Prompted,Verbal Counting,Object Counting,Give_N,Memory Task Learning,Visual Delayed Response,...,PROMIS EC Parent-Report SF v1.0 - Social Relationships - Peer Relationships 4a,CDI: Expressive,Looking While Listening,Infant Behavior Questionnaire - Revised - Very Short Form,Early Childhood Behavior Questionnaire - Very Short Form,Executive Function,Numerical Change Detection,Spatial Change Detection,CDI: Receptive,Shape Matching Manipulatives
PIN,Assessment Name,,,,,,,,,,,,,,,,,,,,,
Appletonc1,Assessment 1,23,"[Mullen Receptive, Mullen Receptive, Mullen Re...","{'Mullen Receptive': 2, 'Mullen Expressive Pro...",2.0,3.0,2.0,5.0,13.0,21.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Appletonq,Assessment 1,5,[Children's Behavior Questionnaire - Very Shor...,{'Children's Behavior Questionnaire - Very Sho...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
M018c,Assessment 3,23,"[Mullen Receptive, Mullen Receptive, Mullen Re...","{'Mullen Receptive': 4, 'Mullen Expressive Pro...",4.0,3.0,2.0,5.0,13.0,21.0,12.0,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MN001c,Assessment 1,6,"[Mullen Receptive, Mullen Receptive, Mullen Re...","{'Mullen Receptive': 6, 'Mullen Expressive Pro...",6.0,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MN001p,Assessment 2,1,[Infant Behavior Questionnaire - Revised - Ver...,{'Infant Behavior Questionnaire - Revised - Ve...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,38.0,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
task4.drop(columns=['Inst','freq']).to_csv('C:/Users/tsb7592/Downloads/task4.csv')

# Task 5-6

In [9]:
df =df[df['Score']!='SKIP']

In [10]:
df['Score'] =pd.to_numeric(df['Score'])

In [76]:
#Overall xocre by instrument by PIN
#5.Sum the scores by instrument by PIN, and summarize overall and by age group (for Inst that produce scores)
task5 =df.groupby(['PIN','Assessment Name','Inst'])['Score'].sum().unstack()

In [90]:
task5.shape

(109, 36)

In [88]:
tage = pd.merge(task5, df[['PIN','Assessment Name','Age_group']], on=['PIN','Assessment Name'], how='left')
tage = tage.drop_duplicates()

In [99]:
inst = tage.columns[2:38].to_list()

In [113]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('C:/Users/tsb7592/Downloads/task5.xlsx', engine='xlsxwriter')

#b. Summarize (inc. medians) by measure, overall and by age group
task5.describe().to_excel(writer, sheet_name='Summarize_by_inst')

for mea in inst:
    sname =mea.replace(':', '')[:30]
    tage.groupby('Age_group')[mea].describe().to_excel(writer, sheet_name=sname)

# Close the Pandas Excel writer and output the Excel file.
writer.save()

In [35]:
#Table measure counts by PIN (one column for PIN, age group
df.groupby('Age_group').agg({"PIN": "nunique"})

           PIN
Age_group
(10, 12]     1
(12, 15]     5
(15, 18]     3
(18, 21]     9
(21, 24]     2
(24, 27]     7
(27, 30]     4
(3, 4]       5
(30, 35]     7
(35, 43]    10
(4, 5]       4
(5, 6]       3
(6, 8]       7
(8, 10]      5

# 6.       Measure durations

In [30]:
#Convert to datetime
df['InstStarted']= pd.to_datetime(df['InstStarted'])
df['InstEnded']= pd.to_datetime(df['InstEnded'])
df['DateCreated']= pd.to_datetime(df['DateCreated'])

In [118]:
#groupby PIN, Inst to calculate the time spent in each inst by each participant
mni =df.groupby(['PIN','Age_group','Inst'])['InstStarted','InstEnded'].first().reset_index()

<ipython-input-118-f6dea217a5f5>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  mni =df.groupby(['PIN','Age_group','Inst'])['InstStarted','InstEnded'].first().reset_index()

In [119]:
#a. Calculate end time minus start time by measure by PIN
mni['Time']=mni['InstEnded']-mni['InstStarted']

In [120]:
mni['Time'].dt.total_seconds()

0       871.0
1       172.0
2         6.0
3       548.0
4       177.0
        ...
1046    552.0
1047    856.0
1048    192.0
1049    232.0
1050     18.0
Name: Time, Length: 1051, dtype: float64

In [121]:
mni['Minute']=round(mni['Time'].dt.total_seconds()/60,2)

In [122]:
mni.head()

,PIN,Age_group,Inst,InstStarted,InstEnded,Time,Minute
0,Appletonc1,"(35, 43]",Get Up and Go,2021-11-10 13:10:48,2021-11-10 13:25:19,0 days 00:14:31,14.52
1,Appletonc1,"(35, 43]",Give_N,2021-11-10 12:24:24,2021-11-10 12:27:16,0 days 00:02:52,2.87
2,Appletonc1,"(35, 43]",Global Self-Regulation,2021-11-10 14:08:41,2021-11-10 14:08:47,0 days 00:00:06,0.10
3,Appletonc1,"(35, 43]",Make Yours Look Like Mine,2021-11-10 13:57:48,2021-11-10 14:06:56,0 days 00:09:08,9.13
4,Appletonc1,"(35, 43]",Memory Task Learning,2021-11-10 12:27:17,2021-11-10 12:30:14,0 days 00:02:57,2.95

In [125]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('C:/Users/tsb7592/Downloads/task6.xlsx', engine='xlsxwriter')

#b. Summarize (inc. medians) by measure, overall and by age group
mni.groupby(['Inst','Age_group'])['Minute'].describe().to_excel(writer, sheet_name='Summarize_by_inst_age')

mni.groupby(['Inst'])['Minute'].describe().to_excel(writer, sheet_name='Overall_time_by_inst')

#c. Add up the durations within a PIN and summarize total time per PIN (even though they will have a different number of measures) – overall and by age group
mni.groupby(['PIN','Age_group'])['Minute'].sum().to_excel(writer, sheet_name='Overall_duration')

# Close the Pandas Excel writer and output the Excel file.
writer.save()

                                   count      mean       std   min     25%  \
Inst                    Age_group
CDI: Expressive         (12, 15]     2.0  1.930000  1.131371  1.13  1.5300
                        (18, 21]     2.0  2.945000  1.449569  1.92  2.4325
                        (21, 24]     1.0  5.870000       NaN  5.87  5.8700
                        (24, 27]     3.0  2.410000  1.435723  1.38  1.5900
                        (30, 35]     1.0  1.600000       NaN  1.60  1.6000
...                                  ...       ...       ...   ...     ...
Visual Delayed Response (35, 43]     7.0  4.891429  0.289565  4.32  4.8100
Who Has More            (24, 27]     5.0  3.956000  0.442866  3.47  3.6500
                        (27, 30]     4.0  5.625000  5.029947  1.38  3.3600
                        (30, 35]     6.0  3.450000  1.961663  1.43  2.3175
                        (35, 43]     8.0  4.105000  0.688020  3.60  3.7175

                                     50%     75%    max
Inst                    Age_group
CDI: Expressive         (12, 15]   1.930  2.3300   2.73
                        (18, 21]   2.945  3.4575   3.97
                        (21, 24]   5.870  5.8700   5.87
                        (24, 27]   1.800  2.9250   4.05
                        (30, 35]   1.600  1.6000   1.60
...                                  ...     ...    ...
Visual Delayed Response (35, 43]   4.950  5.1100   5.13
Who Has More            (24, 27]   3.880  4.2000   4.58
                        (27, 30]   4.100  6.3650  12.92
                        (30, 35]   2.885  4.0600   6.92
                        (35, 43]   3.860  4.2125   5.70

[274 rows x 8 columns]

,count,mean,std,min,25%,50%,75%,max
Inst,,,,,,,,
CDI: Expressive,14.0,2.740000,1.675199,1.13,1.4350,2.010,3.8525,5.95
CDI: Receptive,9.0,2.371111,0.862111,1.45,1.7800,2.120,2.6500,4.27
Caregiver Checklist,17.0,4.291765,4.668156,0.78,1.6300,3.420,4.6300,20.93
Children's Behavior Questionnaire - Very Short Form,3.0,14.306667,13.549503,5.63,6.5000,7.370,18.6450,29.92
Early Childhood Behavior Questionnaire - Very Short Form,9.0,19.970000,16.679541,6.22,10.4300,11.070,24.5700,58.93
Executive Function,25.0,3.361200,3.376925,0.75,1.2500,1.500,3.2000,9.75
Get Up and Go,56.0,10.070179,3.804546,4.55,7.3150,9.555,11.6700,19.27
Give_N,23.0,2.078696,0.791083,0.47,1.6750,2.020,2.5250,3.72
Global Self-Regulation,47.0,0.090851,0.043531,0.05,0.0700,0.080,0.1000,0.28
Infant Behavior Questionnaire - Revised - Very Short Form,6.0,17.061667,21.368719,5.12,6.1700,7.855,13.9350,59.97
Looking While Listening,37.0,3.024054,2.471924,0.53,1.4500,2.230,4.0300,12.60
Make Yours Look Like Mine,36.0,5.400000,3.714410,0.52,1.8375,5.320,9.0550,14.80
Memory Task Learning,23.0,2.314348,0.720970,0.62,2.1150,2.300,2.4150,4.93
Memory Task Test,22.0,1.983636,0.499967,0.15,1.8400,2.055,2.3075,2.55
Mullen Expressive Observational,56.0,1.350536,3.216873,0.17,0.4150,0.590,1.6575,24.18
Mullen Expressive Prompted,57.0,2.689123,3.591928,0.82,1.5200,2.020,2.8200,28.18
Mullen Receptive,57.0,5.188772,3.381318,1.23,3.0300,4.480,6.7000,16.23
NIH Baby Toolbox Picture Vocabulary Test,21.0,1.561905,1.058483,0.85,1.0300,1.220,1.6500,5.85
NIH Baby Toolbox Picture Vocabulary Test Practice,23.0,2.538696,2.487392,0.63,1.5400,1.780,2.2650,12.03
Number Recognition + Subitizing,22.0,1.770909,0.820005,0.50,1.5000,1.860,2.0725,4.23
Numerical Change Detection,25.0,3.886400,2.653483,0.63,2.1500,3.220,5.0700,10.93
Object Counting,23.0,2.287391,0.949072,0.75,1.7150,2.020,2.5900,5.13
PROMIS EC Parent-Report SF v1.0 - Social Relationships - Child-Caregiver Interactions 5a,17.0,1.064118,0.778693,0.30,0.4800,0.870,1.3700,3.27
PROMIS EC Parent-Report SF v1.0 - Social Relationships - Peer Relationships 4a,12.0,0.349167,0.114531,0.18,0.2800,0.350,0.3800,0.55
Playing with Bubbles,48.0,1.730833,0.996916,0.77,1.2275,1.325,1.7950,5.62
REMA Arithmetic,8.0,1.433750,0.490537,0.97,1.0650,1.300,1.6475,2.35
Reach To Eat,56.0,9.048393,5.323062,1.50,5.5700,8.675,11.0750,35.33
Shape Matching,22.0,4.135455,2.504745,1.00,2.5700,3.600,5.5475,10.07
Shape Matching Manipulatives,16.0,2.699375,1.313847,1.38,1.9275,2.275,3.0000,5.82
Sit and Stand,56.0,8.463036,4.156106,1.57,6.5500,7.665,10.1275,31.20
Social Observation,48.0,17.689167,2.878219,12.58,16.2650,17.160,18.5100,29.38
Spatial Change Detection,25.0,2.282400,1.453995,0.67,1.2300,1.700,3.2000,6.32
Toy Out of Reach,48.0,4.505833,2.731476,1.68,3.4800,3.835,4.4000,16.73
Verbal Counting,38.0,0.811316,0.472785,0.13,0.4850,0.775,1.0575,2.05
Visual Delayed Response,22.0,4.686818,1.007748,0.32,4.7550,4.905,5.0300,5.52
Who Has More,23.0,4.166087,2.247026,1.38,3.5350,3.880,4.2250,12.92

In [124]:
#c. Add up the durations within a PIN and summarize total time per PIN (even though they will have a different number of measures) – overall and by age group
mni.groupby(['PIN','Age_group'])['Time'].sum()

PIN         Age_group
Appletonc1  (35, 43]    0 days 01:51:07
M018c       (27, 30]    0 days 02:01:55
MN001c      (3, 4]      0 days 00:36:47
MN003c      (3, 4]      0 days 00:31:01
Mn002c      (27, 30]    0 days 01:47:11
                              ...
WI031C      (12, 15]    0 days 01:12:49
WI032C      (6, 8]      0 days 00:50:38
WI032P      (6, 8]      0 days 00:23:37
WI033C      (18, 21]    0 days 01:21:38
WI24C       (12, 15]    0 days 01:29:53
Name: Time, Length: 72, dtype: timedelta64[ns]

# 7.   Measure-specific analyses are coming (likely after 12/10/2021 – when data collection ends)