In [1]:
#Data saved in csv/excel
import glob, os
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [23]:
reg = pd.read_csv('C:/Users/tsb7592/Downloads/registration_data_distinct.csv',index_col=0)

In [24]:
reg.shape

(3260, 13)

In [34]:
reg.columns =['PIN', 'RegistrationID', 'DeviceID', 'Age','Education', 'MothersEducation',
       'FathersEducation', 'GuardiansEducation','ExaminerName', 'Gender', 'Handedness',
       'Race','Ethnicity']

In [35]:
reg.head()

,PIN,RegistrationID,DeviceID,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,ExaminerName,Gender,Handedness,Race,Ethnicity
1,MAP10001,C2D64D16-D416-4676-A23E-C200CCC15F21,49CF3CA6-E25F-4420-8E33-7099FFA052DE,10.0,8.0,22.0,NaN,NaN,Vonnie g,2.0,1.0,1,1.0
2,MAP12001,F9AEC1E1-45B4-4562-AF6F-9A3A65AB977E,49CF3CA6-E25F-4420-8E33-7099FFA052DE,12.0,9.0,16.0,NaN,NaN,Emma N,2.0,2.0,1,1.0
3,MAP13001,3A926646-D6B9-4372-8A60-D61CF1F1FA21,49CF3CA6-E25F-4420-8E33-7099FFA052DE,13.0,10.0,16.0,NaN,NaN,Emma N,2.0,1.0,1,-1.0
4,MAP70001,6CE75D60-4FDA-40CF-B9EE-3018E8D772FD,49CF3CA6-E25F-4420-8E33-7099FFA052DE,72.0,16.0,NaN,NaN,NaN,Vonnie g,2.0,1.0,1,1.0
5,MAP70002,E1A207F1-977F-47A6-8198-FB9FC493D0E7,49CF3CA6-E25F-4420-8E33-7099FFA052DE,74.0,16.0,NaN,NaN,NaN,Vonnie g,2.0,1.0,1,1.0

In [29]:
df = pd.read_csv('C:/Users/tsb7592/Downloads/OR_norm.csv', index_col=0)

In [30]:
df.shape

(1103366, 11)

In [5]:
#Importing the FormWords
xls =  pd.read_excel('C:/Users/tsb7592/Box/Norming Psychometrics/Data Dictionaries/R/OR/OR Forms for Norming 07.08.2020_WithWords.xlsx',sheet_name = "Formatted_Forms")

In [6]:
xls

          Form   ItemID      Vocabulary
0    Routing_4  LARE005               C
1    Routing_4  LARE008               N
2    Routing_4  LARE021              on
3    Routing_4  LARE028             did
4    Routing_4  LARE034             box
..         ...      ...             ...
650    Form 42  LARE263  fringillaceous
651    Form 42  LARE266  brobdingnagian
652    Form 42  LARE272  ranunculaceous
653    Form 42  LARE273  saxifragaceous
654    Form 42  LARE276  verisimilitude

[655 rows x 3 columns]

In [7]:
#Change the column tpye from obeject to numeric
data =df[(df.Key == 'Score')] #| (df.Key =='Response') | (df.Key == 'Position')]
data['Value'] =pd.to_numeric(data['Value'])

In [8]:
data=data.drop_duplicates()

In [9]:
data.shape

(84459, 11)

In [10]:
data =data[data['ItemID'].str.contains("LARE")]

In [11]:
data =data[['ItemID','InstrumentTitle', 'Key', 'Value']]

In [42]:
rv =pd.merge(data, xls, on='ItemID')

In [43]:
rv.shape

(206512, 6)

In [14]:
rv.head()

,ItemID,InstrumentTitle,Key,Value,Form,Vocabulary
0,LARE135,NIH Toolbox Oral Reading Recognition Test Norm...,Score,1,Routing_10-SC,viscous
1,LARE135,NIH Toolbox Oral Reading Recognition Test Norm...,Score,1,Routing_BachPlus,viscous
2,LARE135,NIH Toolbox Oral Reading Recognition Test Norm...,Score,0,Routing_10-SC,viscous
3,LARE135,NIH Toolbox Oral Reading Recognition Test Norm...,Score,0,Routing_BachPlus,viscous
4,LARE135,NIH Toolbox Oral Reading Recognition Test Norm...,Score,0,Routing_10-SC,viscous

In [15]:
rv.groupby(['Form','ItemID','Vocabulary'])['Value'].mean().reset_index()

                 Form   ItemID      Vocabulary     Value
0             Form 10  LARE026             all  0.488889
1             Form 10  LARE030             art  0.477064
2             Form 10  LARE033             sir  0.713483
3             Form 10  LARE036             fly  0.605634
4             Form 10  LARE044            this  0.456790
..                ...      ...             ...       ...
650  Routing_BachPlus  LARE177       credulous  0.827548
651  Routing_BachPlus  LARE198      nonchalant  0.786879
652  Routing_BachPlus  LARE205      circuitous  0.329227
653  Routing_BachPlus  LARE251   recrudescence  0.294447
654  Routing_BachPlus  LARE264  reconnaissance  0.522727

[655 rows x 4 columns]

In [16]:
rv.groupby(['Form','ItemID','Vocabulary'])['Value'].mean().reset_index()

                 Form   ItemID      Vocabulary     Value
0             Form 10  LARE026             all  0.488889
1             Form 10  LARE030             art  0.477064
2             Form 10  LARE033             sir  0.713483
3             Form 10  LARE036             fly  0.605634
4             Form 10  LARE044            this  0.456790
..                ...      ...             ...       ...
650  Routing_BachPlus  LARE177       credulous  0.827548
651  Routing_BachPlus  LARE198      nonchalant  0.786879
652  Routing_BachPlus  LARE205      circuitous  0.329227
653  Routing_BachPlus  LARE251   recrudescence  0.294447
654  Routing_BachPlus  LARE264  reconnaissance  0.522727

[655 rows x 4 columns]

In [17]:
rv =rv.drop_duplicates()
rv.shape

(3464, 6)

In [18]:
rv.head()

,ItemID,InstrumentTitle,Key,Value,Form,Vocabulary
0,LARE135,NIH Toolbox Oral Reading Recognition Test Norm...,Score,1,Routing_10-SC,viscous
1,LARE135,NIH Toolbox Oral Reading Recognition Test Norm...,Score,1,Routing_BachPlus,viscous
2,LARE135,NIH Toolbox Oral Reading Recognition Test Norm...,Score,0,Routing_10-SC,viscous
3,LARE135,NIH Toolbox Oral Reading Recognition Test Norm...,Score,0,Routing_BachPlus,viscous
6,LARE135,NIH Toolbox Oral Reading Recognition Test Norm...,Score,0,Routing_10-SC,viscous

In [45]:
avg = rv.groupby(['Form','ItemID','Vocabulary'])['Value'].mean().reset_index()
avg

                 Form   ItemID      Vocabulary     Value
0             Form 10  LARE026             all  0.488889
1             Form 10  LARE030             art  0.477064
2             Form 10  LARE033             sir  0.713483
3             Form 10  LARE036             fly  0.605634
4             Form 10  LARE044            this  0.456790
..                ...      ...             ...       ...
650  Routing_BachPlus  LARE177       credulous  0.827548
651  Routing_BachPlus  LARE198      nonchalant  0.786879
652  Routing_BachPlus  LARE205      circuitous  0.329227
653  Routing_BachPlus  LARE251   recrudescence  0.294447
654  Routing_BachPlus  LARE264  reconnaissance  0.522727

[655 rows x 4 columns]

In [54]:
s = pd.Series([3, 1, 5, 2,0])
s['MF_X'][1:]=s.rolling(3).median()[2:]

In [56]:
s

0                                               3
1                                               1
2                                               5
3                                               2
4                                               0
MF_X    2    3.0
3    2.0
4    2.0
dtype: float64
dtype: object

In [46]:
sm =rv.groupby(['Form','ItemID','Vocabulary'])['InstrumentTitle'].count().reset_index()
sm

                 Form   ItemID      Vocabulary  InstrumentTitle
0             Form 10  LARE026             all               90
1             Form 10  LARE030             art              109
2             Form 10  LARE033             sir              178
3             Form 10  LARE036             fly               71
4             Form 10  LARE044            this               81
..                ...      ...             ...              ...
650  Routing_BachPlus  LARE177       credulous              893
651  Routing_BachPlus  LARE198      nonchalant             2698
652  Routing_BachPlus  LARE205      circuitous              893
653  Routing_BachPlus  LARE251   recrudescence             2683
654  Routing_BachPlus  LARE264  reconnaissance             2684

[655 rows x 4 columns]

In [47]:
dd =pd.merge(avg, sm, on=['Form','ItemID', 'Vocabulary'])

In [48]:
dd.columns=['Form', 'ItemID', 'Vocabulary', 'Proportion_Correct', 'N']

In [49]:
dd.to_csv('C:/Users/tsb7592/Downloads/OR_routingform1.csv', index=False)