In [1]:
#Data saved in csv/excel
import glob, os
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [51]:
df = pd.read_csv('C:/Users/tsb7592/OneDrive - Northwestern University/Documents/sum_by_region.csv', index_col=0)

In [52]:
df.head()

,P0010001,P0010002,P0010003,P0010004,P0010005,P0010006,P0010007,P0010008,P0010009,P0010010,...,P0040064,P0040065,P0040066,P0040067,P0040068,P0040069,P0040070,P0040071,P0040072,P0040073
REGION,,,,,,,,,,,,,,,,,,,,,
1,57609148,52940664,37111396,6628896,292587,4177286,24136,4706363,4668484,4376995,...,37,1027,576,339,31,30,24,27,149,149
2,68985454,64276073,51353019,7228615,559397,2405457,42741,2686844,4709381,4453530,...,22,1003,605,279,29,39,20,31,153,153
3,126266107,112400612,73886732,23582989,1145140,4818076,115582,8852093,13865495,13247383,...,33,2377,1221,819,94,103,47,93,284,284
4,78588572,67982989,41926126,3663700,1730011,8485230,507507,11670415,10605583,9812431,...,32,1978,1173,527,84,93,79,22,222,222

# Fully-Adjusted norms (adults only)

In [53]:
df['OtherSingleRace']=df['P0040003']-df['P0040005']-df['P0040006']-df['P0040008']

In [54]:
#P0040011  P4-11: Population of two or more races
df['Multi']=df['P0040011']-df['P0040013']-df['P0040015']-df['P0040019']
df['Multi']

REGION
1     940307
2    1179465
3    2166743
4    1570264
Name: Multi, dtype: int64

In [55]:
perc = ['P0040002','P0040005','P0040006','P0040008','OtherSingleRace','P0040013','P0040015','P0040019','Multi']

In [56]:
li = []
for col in perc:
    li.append(df[col])

In [162]:
ad = pd.concat(li, axis =1)

In [163]:
ad.columns =['Hispanic', 'White', 'Black', 'Asian',
       'OtherSingleRace', 'White/Black', 'White/Asian', 'Black/Asian', 'Multi']

In [164]:
ad["sum"] = ad.sum(axis=1)

In [165]:
ad.loc['Total',:]= ad.sum(axis=0)

In [166]:
ad

,Hispanic,White,Black,Asian,OtherSingleRace,White/Black,White/Asian,Black/Asian,Multi,sum
REGION,,,,,,,,,,
1,6312903.0,29644537.0,4822350.0,3313046.0,1805948.0,216745.0,196652.0,24365.0,940307.0,47276853.0
2,3941368.0,40350047.0,5248913.0,1836239.0,2135484.0,283188.0,194311.0,13500.0,1179465.0,55182515.0
3,16552267.0,56049578.0,17484044.0,3720652.0,4097773.0,511482.0,374643.0,51816.0,2166743.0,101008998.0
4,16516254.0,31074411.0,2710773.0,6843803.0,3882891.0,271445.0,595506.0,41365.0,1570264.0,63506712.0
Total,43322792.0,157118573.0,30266080.0,15713740.0,11922096.0,1282860.0,1361112.0,131046.0,5856779.0,266975078.0

In [171]:
ad=ad.div(ad.loc['Total','sum'])

In [172]:
ad

,Hispanic,White,Black,Asian,OtherSingleRace,White/Black,White/Asian,Black/Asian,Multi,sum
REGION,,,,,,,,,,
1,0.023646,0.111039,0.018063,0.012410,0.006764,0.000812,0.000737,0.000091,0.003522,0.177083
2,0.014763,0.151138,0.019661,0.006878,0.007999,0.001061,0.000728,0.000051,0.004418,0.206695
3,0.061999,0.209943,0.065489,0.013936,0.015349,0.001916,0.001403,0.000194,0.008116,0.378346
4,0.061864,0.116394,0.010154,0.025635,0.014544,0.001017,0.002231,0.000155,0.005882,0.237875
Total,0.162273,0.588514,0.113367,0.058858,0.044656,0.004805,0.005098,0.000491,0.021938,1.000000

# Age-based norms(separate weights for kids and adults given self- vs. parent-education)

In [67]:
perc18 = ['P0020002','P0020005','P0020006','P0020008','AllSingleRace','P0020013','P0020015','P0020019','AllMulti']

In [68]:
df['AllSingleRace']=df['P0020003']-df['P0020005']-df['P0020006']-df['P0020008']

In [69]:
#P0040011  P4-11: Population of two or more races
df['AllMulti']=df['P0020011']-df['P0020013']-df['P0020015']-df['P0020019']
df['AllMulti']

REGION
1    1267149
2    1646414
3    2940600
4    2167008
Name: AllMulti, dtype: int64

In [70]:
kids =[ 'Hispanic', 'White', 'Black', 'Asian',
       'OtherSingleRace', 'White/Black', 'White/Asian', 'Black/Asian', 'Multi']

In [173]:
kcol = []
for i in kids:
    i += '_kids'
    kcol.append(i)

In [174]:
for i in range(len(perc)):
    df[kcol[i]] = df[perc18[i]]-df[perc[i] ]

In [175]:
kd=df[kcol]

In [176]:
kd["sum"] = kd.sum(axis=1)

In [177]:
kd.loc['Total',:]= kd.sum(axis=0)

In [179]:
kd=kd.div(kd.loc['Total','sum'])

In [180]:
kd

,Hispanic_kids,White_kids,Black_kids,Asian_kids,OtherSingleRace_kids,White/Black_kids,White/Asian_kids,Black/Asian_kids,Multi_kids,sum
REGION,,,,,,,,,,
1,0.031811,0.078290,0.017759,0.010642,0.011587,0.002781,0.002332,0.000174,0.004189,0.159564
2,0.026113,0.124739,0.023873,0.007042,0.016551,0.005323,0.002554,0.000150,0.005985,0.212330
3,0.091569,0.158208,0.072665,0.013294,0.027770,0.008212,0.004100,0.000469,0.009918,0.386203
4,0.090914,0.081953,0.009696,0.019070,0.023434,0.002897,0.005890,0.000401,0.007648,0.241903
Total,0.240406,0.443190,0.123992,0.050049,0.079341,0.019212,0.014876,0.001194,0.027740,1.000000

In [97]:
sex =pd.read_csv('C:/Users/tsb7592/Downloads/ACSST1Y2019.S0101_2021-09-16T160659/ACSST1Y2019.S0101_data_with_overlays_2021-07-23T174043.csv', skiprows=1)

In [98]:
sex.head()

,id,Geographic Area Name,Estimate!!Total!!Total population,Margin of Error!!Total!!Total population,Estimate!!Total!!Total population!!AGE!!Under 5 years,Margin of Error!!Total!!Total population!!AGE!!Under 5 years,Estimate!!Total!!Total population!!AGE!!5 to 9 years,Margin of Error!!Total!!Total population!!AGE!!5 to 9 years,Estimate!!Total!!Total population!!AGE!!10 to 14 years,Margin of Error!!Total!!Total population!!AGE!!10 to 14 years,...,Estimate!!Percent Female!!Total population!!SUMMARY INDICATORS!!Age dependency ratio,Margin of Error!!Percent Female!!Total population!!SUMMARY INDICATORS!!Age dependency ratio,Estimate!!Percent Female!!Total population!!SUMMARY INDICATORS!!Old-age dependency ratio,Margin of Error!!Percent Female!!Total population!!SUMMARY INDICATORS!!Old-age dependency ratio,Estimate!!Percent Female!!Total population!!SUMMARY INDICATORS!!Child dependency ratio,Margin of Error!!Percent Female!!Total population!!SUMMARY INDICATORS!!Child dependency ratio,Estimate!!Percent Female!!Total population!!PERCENT ALLOCATED!!Sex,Margin of Error!!Percent Female!!Total population!!PERCENT ALLOCATED!!Sex,Estimate!!Percent Female!!Total population!!PERCENT ALLOCATED!!Age,Margin of Error!!Percent Female!!Total population!!PERCENT ALLOCATED!!Age
0,0100000US,United States,328239523,*****,19404835,22314,19690437,69224,21423479,69779,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)

In [99]:
male=['Estimate!!Male!!Total population!!SELECTED AGE CATEGORIES!!Under 18 years','Estimate!!Male!!Total population!!SELECTED AGE CATEGORIES!!18 years and over']
female=['Estimate!!Female!!Total population!!SELECTED AGE CATEGORIES!!Under 18 years','Estimate!!Female!!Total population!!SELECTED AGE CATEGORIES!!18 years and over']

In [100]:
mdf = sex[male]
mdf.columns=['kids', 'adults']
mdf

       kids     adults
0  37321627  124267346

In [101]:
fdf = sex[female]
fdf.columns=['kids', 'adults']
fdf

       kids     adults
0  35646158  131004392

In [102]:
gender = mdf.append(fdf)

In [103]:
gender

       kids     adults
0  37321627  124267346
0  35646158  131004392

In [104]:
gender.kids =gender.kids/gender.kids.sum()

In [105]:
gender.adults =gender.adults/gender.adults.sum()

In [106]:
gender.index=['male','female']

In [107]:
gender

            kids    adults
male    0.511481  0.486804
female  0.488519  0.513196

In [108]:
edu =pd.read_csv('C:/Users/tsb7592/Downloads/ACSST1Y2019.S1501_2021-09-16T160729/ACSST1Y2019.S1501_data_with_overlays_2021-07-27T205148.csv', skiprows=1)

In [109]:
edu =edu.iloc[:,:27]
edu

,id,Geographic Area Name,Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 18 to 24 years,Margin of Error!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 18 to 24 years,Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 18 to 24 years!!Less than high school graduate,Margin of Error!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 18 to 24 years!!Less than high school graduate,Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 18 to 24 years!!High school graduate (includes equivalency),Margin of Error!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 18 to 24 years!!High school graduate (includes equivalency),Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 18 to 24 years!!Some college or associate's degree,Margin of Error!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 18 to 24 years!!Some college or associate's degree,...,"Margin of Error!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!9th to 12th grade, no diploma",Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!High school graduate (includes equivalency),Margin of Error!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!High school graduate (includes equivalency),"Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Some college, no degree","Margin of Error!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Some college, no degree",Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Associate's degree,Margin of Error!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Associate's degree,Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Bachelor's degree,Margin of Error!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Bachelor's degree,Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Graduate or professional degree
0,0100000US,United States,30373170,42282,3662080,41512,9921331,56156,13168280,67371,...,83892,60482353,181247,44914086,111140,19381937,84109,45730479,155188,28771172

In [110]:
keep =[]
for col in edu.columns:
    if 'Estimate' in col:
        keep.append(col)

In [111]:
edu= edu[keep]

In [112]:
edu

,Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 18 to 24 years,Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 18 to 24 years!!Less than high school graduate,Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 18 to 24 years!!High school graduate (includes equivalency),Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 18 to 24 years!!Some college or associate's degree,Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 18 to 24 years!!Bachelor's degree or higher,Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over,Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Less than 9th grade,"Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!9th to 12th grade, no diploma",Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!High school graduate (includes equivalency),"Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Some college, no degree",Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Associate's degree,Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Bachelor's degree,Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Graduate or professional degree
0,30373170,3662080,9921331,13168280,3621479,224898568,10874685,14743856,60482353,44914086,19381937,45730479,28771172

In [113]:
edu[keep[1:5]].sum(axis=1)

0    30373170
dtype: int64

In [114]:
edu[keep[6:]].sum(axis=1)

0    224898568
dtype: int64

In [115]:
len(keep)

13

In [116]:
keep

['Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 18 to 24 years',
 'Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 18 to 24 years!!Less than high school graduate',
 'Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 18 to 24 years!!High school graduate (includes equivalency)',
 "Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 18 to 24 years!!Some college or associate's degree",
 "Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 18 to 24 years!!Bachelor's degree or higher",
 'Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over',
 'Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Less than 9th grade',
 'Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!9th to 12th grade, no diploma',
 'Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!High school graduate (includes equivalency)',
 'Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Some college, no degree',
 "Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Associate's degree",
 "Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Bachelor's degree",
 'Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Graduate or professional degree']

In [117]:
dc ={'lessthanHS': ['Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 18 to 24 years!!Less than high school graduate',
 'Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Less than 9th grade'],

'someHS':['Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!9th to 12th grade, no diploma'],

"HS":['Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 18 to 24 years!!High school graduate (includes equivalency)',
    'Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!High school graduate (includes equivalency)'],

'somecollege': ["Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 18 to 24 years!!Some college or associate's degree",
              'Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Some college, no degree'],

'twoyr':["Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Associate's degree"],
'fouryr':["Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 18 to 24 years!!Bachelor's degree or higher",
              "Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Bachelor's degree"],

'advanced': ['Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Graduate or professional degree']}

In [118]:
total = (edu[keep[0]]+edu[keep[5]])[0]
total

255271738

In [119]:
for key in dc:
    edu[key] = edu[dc[key]].sum(axis=1)[0]
    edu[key]= edu[key]/total

In [120]:
edu[['lessthanHS', 'someHS', 'HS', 'somecollege', 'twoyr', 'fouryr', 'advanced']]
#.sum(axis =1)[0]

   lessthanHS    someHS        HS  somecollege     twoyr    fouryr  advanced
0    0.056946  0.057757  0.275799     0.227532  0.075927  0.193331  0.112708

In [145]:
df['adults']=df['P0030001']#/df['P0030001'].sum()

In [146]:
df['kids']=df['P0010001']-df['P0030001']

In [147]:
region= df[['adults', 'kids']]

In [148]:
#region.loc['Total',:]= region.sum(axis=0)

In [150]:
region['kids']=region['kids']/region['kids'].sum()

In [151]:
region['adults']=df['P0030001']/df['P0030001'].sum()

In [152]:
region

          adults      kids
REGION
1       0.177666  0.160183
2       0.207135  0.211657
3       0.378970  0.387954
4       0.236229  0.240205

In [153]:
pe = pd.read_excel('C:/Users/tsb7592/Downloads/tabf2-all.xls',skiprows=6)

In [154]:
pe.loc[15][:]

Unnamed: 0                     .With own children, any age
Unnamed: 1                                           47357
Less than 9th grade                                   1703
Some high school                                      2627
High school graduate                                 11422
Some college                                         13091
Bachelor's degree or higher                          18515
Name: 15, dtype: object

In [155]:
import numpy as np
pre= pd.DataFrame(np.array([1703/47357,  2627/47357,11422/47357, 13091/47357, 18515/47357]).reshape(-1,5))
pre.columns =['lessthanHS', 'someHS', 'HS', 'somecollege',  'fouryr']

In [156]:
pre

   lessthanHS    someHS        HS  somecollege    fouryr
0    0.035961  0.055472  0.241189     0.276432  0.390966

In [184]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('C:/Users/tsb7592/Downloads/census_percentage.xlsx', engine='xlsxwriter')

# Write each dataframe to a different worksheet.
ad.to_excel(writer, sheet_name='adults')
kd.to_excel(writer, sheet_name='kids')  
region.to_excel(writer, sheet_name='total_by_region')
gender.to_excel(writer, sheet_name='sex_assigned_at_birth')
edu[['lessthanHS', 'someHS', 'HS', 'somecollege', 'twoyr', 'fouryr', 'advanced']].to_excel(writer, sheet_name='self_edu', index=False)
pre.to_excel(writer, sheet_name='parental_edu', index=False)
# Close the Pandas Excel writer and output the Excel file.
writer.save()

In [182]:
ad.iloc[:,:9]

,Hispanic,White,Black,Asian,OtherSingleRace,White/Black,White/Asian,Black/Asian,Multi
REGION,,,,,,,,,
1,0.023646,0.111039,0.018063,0.012410,0.006764,0.000812,0.000737,0.000091,0.003522
2,0.014763,0.151138,0.019661,0.006878,0.007999,0.001061,0.000728,0.000051,0.004418
3,0.061999,0.209943,0.065489,0.013936,0.015349,0.001916,0.001403,0.000194,0.008116
4,0.061864,0.116394,0.010154,0.025635,0.014544,0.001017,0.002231,0.000155,0.005882
Total,0.162273,0.588514,0.113367,0.058858,0.044656,0.004805,0.005098,0.000491,0.021938