In [1]:
#Data saved in csv/excel
import glob, os
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [23]:
reg = pd.read_csv('C:/Users/tsb7592/Downloads/registration_data_distinct.csv',index_col=0)

In [24]:
reg.shape

(3260, 13)

In [34]:
reg.columns =['PIN', 'RegistrationID', 'DeviceID', 'Age','Education', 'MothersEducation',
       'FathersEducation', 'GuardiansEducation','ExaminerName', 'Gender', 'Handedness',
       'Race','Ethnicity']

In [36]:
#reg.to_csv('C:/Users/tsb7592/Downloads/registration_data_distinct.csv')

In [81]:
orn = pd.read_csv('C:/Users/tsb7592/Downloads/OR_norm.csv', index_col=0)

In [98]:
orn =orn.drop_duplicates()
orn.shape

(1081858, 11)

In [39]:
#Importing the FormWords
xls =  pd.read_excel('C:/Users/tsb7592/Box/Norming Psychometrics/Data Dictionaries/R/OR/OR Forms for Norming 07.08.2020_WithWords.xlsx',sheet_name = "Formatted_Forms")

In [40]:
xls

          Form   ItemID      Vocabulary
0    Routing_4  LARE005               C
1    Routing_4  LARE008               N
2    Routing_4  LARE021              on
3    Routing_4  LARE028             did
4    Routing_4  LARE034             box
..         ...      ...             ...
650    Form 42  LARE263  fringillaceous
651    Form 42  LARE266  brobdingnagian
652    Form 42  LARE272  ranunculaceous
653    Form 42  LARE273  saxifragaceous
654    Form 42  LARE276  verisimilitude

[655 rows x 3 columns]

In [163]:
#Change the column tpye from obeject to numeric
#Select the 3 needed key values
data =orn[(orn.Key == 'Score')| (orn.Key =='Response') | (orn.Key == 'Position')]
data['Value'] =pd.to_numeric(data['Value'])

In [164]:
data

,PIN,RegistrationID,DeviceID,ResponseID,ItemID,AssessmentName,InstrumentTitle,TestName,InstrumentID,Key,Value
3168,MAP10001,C2D64D16-D416-4676-A23E-C200CCC15F21,49CF3CA6-E25F-4420-8E33-7099FFA052DE,4BB5F2C8-B87A-44DF-9F3C-39690D067DD6,OR_Title,Assessment 1,NIH Toolbox Oral Reading Recognition Instructi...,OR_norm,EF1F7A5F-2844-446B-AA8C-5B69569D35AC,Response,1
3170,MAP10001,C2D64D16-D416-4676-A23E-C200CCC15F21,49CF3CA6-E25F-4420-8E33-7099FFA052DE,4BB5F2C8-B87A-44DF-9F3C-39690D067DD6,OR_Title,Assessment 1,NIH Toolbox Oral Reading Recognition Instructi...,OR_norm,EF1F7A5F-2844-446B-AA8C-5B69569D35AC,Position,1
3178,MAP10001,C2D64D16-D416-4676-A23E-C200CCC15F21,49CF3CA6-E25F-4420-8E33-7099FFA052DE,A18FEED4-70FC-43B7-AF3E-DA2D5AEB2B7B,OR_Instruction,Assessment 1,NIH Toolbox Oral Reading Recognition Instructi...,OR_norm,EF1F7A5F-2844-446B-AA8C-5B69569D35AC,Response,1
3180,MAP10001,C2D64D16-D416-4676-A23E-C200CCC15F21,49CF3CA6-E25F-4420-8E33-7099FFA052DE,A18FEED4-70FC-43B7-AF3E-DA2D5AEB2B7B,OR_Instruction,Assessment 1,NIH Toolbox Oral Reading Recognition Instructi...,OR_norm,EF1F7A5F-2844-446B-AA8C-5B69569D35AC,Position,2
3188,MAP10001,C2D64D16-D416-4676-A23E-C200CCC15F21,49CF3CA6-E25F-4420-8E33-7099FFA052DE,CE2D4F9D-DC9C-4701-9564-38D5F11550FA,LARE135,Assessment 1,NIH Toolbox Oral Reading Recognition Test Norm...,OR_norm,3EF3780D-5464-430F-BD86-BDAFBC7A0F0F,Response,1
...,...,...,...,...,...,...,...,...,...,...,...
24812011,MSL15016,496005C2-9734-4595-9EE0-D621E4F39FD6,DDC1B727-13A3-4C52-8E5F-AD9E80B28A37,15167AFD-D3C4-4070-8F6C-6348858A56A3,LARE165,Assessment 1,NIH Toolbox Oral Reading Recognition Test Norm...,OR_norm,36015383-BA69-4249-A1D4-03BE94303952,Score,1
24812013,MSL15016,496005C2-9734-4595-9EE0-D621E4F39FD6,DDC1B727-13A3-4C52-8E5F-AD9E80B28A37,15167AFD-D3C4-4070-8F6C-6348858A56A3,LARE165,Assessment 1,NIH Toolbox Oral Reading Recognition Test Norm...,OR_norm,36015383-BA69-4249-A1D4-03BE94303952,Position,24
24812022,MSL15016,496005C2-9734-4595-9EE0-D621E4F39FD6,DDC1B727-13A3-4C52-8E5F-AD9E80B28A37,6547E12E-B43C-472D-BEA4-7C06090F9C50,LARE254,Assessment 1,NIH Toolbox Oral Reading Recognition Test Norm...,OR_norm,36015383-BA69-4249-A1D4-03BE94303952,Response,1
24812023,MSL15016,496005C2-9734-4595-9EE0-D621E4F39FD6,DDC1B727-13A3-4C52-8E5F-AD9E80B28A37,6547E12E-B43C-472D-BEA4-7C06090F9C50,LARE254,Assessment 1,NIH Toolbox Oral Reading Recognition Test Norm...,OR_norm,36015383-BA69-4249-A1D4-03BE94303952,Score,1
24812025,MSL15016,496005C2-9734-4595-9EE0-D621E4F39FD6,DDC1B727-13A3-4C52-8E5F-AD9E80B28A37,6547E12E-B43C-472D-BEA4-7C06090F9C50,LARE254,Assessment 1,NIH Toolbox Oral Reading Recognition Test Norm...,OR_norm,36015383-BA69-4249-A1D4-03BE94303952,Position,25

In [165]:
data = data.pivot_table(index=['RegistrationID','PIN','ItemID','DeviceID'], columns='Key', values='Value').reset_index()

In [166]:
data=data.drop_duplicates()

In [167]:
data.head()

Key,RegistrationID,PIN,ItemID,DeviceID,Position,Response,Score
0,000AB98A-683B-4BAF-B95A-50F7DB253184,SDA40009,LARE070,2A74DD06-DE18-4CF3-8568-86E6822D8A06,18.0,1.0,1.0
1,000AB98A-683B-4BAF-B95A-50F7DB253184,SDA40009,LARE080,2A74DD06-DE18-4CF3-8568-86E6822D8A06,6.0,1.0,1.0
2,000AB98A-683B-4BAF-B95A-50F7DB253184,SDA40009,LARE089,2A74DD06-DE18-4CF3-8568-86E6822D8A06,13.0,2.0,0.0
3,000AB98A-683B-4BAF-B95A-50F7DB253184,SDA40009,LARE090,2A74DD06-DE18-4CF3-8568-86E6822D8A06,12.0,1.0,1.0
4,000AB98A-683B-4BAF-B95A-50F7DB253184,SDA40009,LARE092,2A74DD06-DE18-4CF3-8568-86E6822D8A06,4.0,1.0,1.0

In [168]:
data =data[data['ItemID'].str.contains("LARE")]

In [169]:
data.shape

(84459, 7)

In [170]:
rv =pd.merge(data, xls, on='ItemID')

In [171]:
rv =rv.drop_duplicates()
rv.shape

(206512, 9)

In [172]:
rv.head()

,RegistrationID,PIN,ItemID,DeviceID,Position,Response,Score,Form,Vocabulary
0,000AB98A-683B-4BAF-B95A-50F7DB253184,SDA40009,LARE070,2A74DD06-DE18-4CF3-8568-86E6822D8A06,18.0,1.0,1.0,Form 25,beau
1,000AB98A-683B-4BAF-B95A-50F7DB253184,SDA40009,LARE070,2A74DD06-DE18-4CF3-8568-86E6822D8A06,18.0,1.0,1.0,Form 29,beau
2,000AB98A-683B-4BAF-B95A-50F7DB253184,SDA40009,LARE070,2A74DD06-DE18-4CF3-8568-86E6822D8A06,18.0,1.0,1.0,Form 30,beau
3,000AB98A-683B-4BAF-B95A-50F7DB253184,SDA40009,LARE070,2A74DD06-DE18-4CF3-8568-86E6822D8A06,18.0,1.0,1.0,Form 32,beau
4,0019836B-DF41-4AD6-9911-03A553B5CD7F,SBM40006,LARE070,6771869B-34B5-4934-8295-6F2F454C47FF,18.0,1.0,1.0,Form 25,beau

In [189]:
df =pd.merge(rv, reg, on=['RegistrationID', 'PIN','DeviceID'], how='left')

In [190]:
df.drop_duplicates()
df.shape

(206512, 19)

In [191]:
df.RegistrationID.nunique()

3412

In [192]:
reg.RegistrationID.nunique()

3260

In [193]:
df.head()

,RegistrationID,PIN,ItemID,DeviceID,Position,Response,Score,Form,Vocabulary,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,ExaminerName,Gender,Handedness,Race,Ethnicity
0,000AB98A-683B-4BAF-B95A-50F7DB253184,SDA40009,LARE070,2A74DD06-DE18-4CF3-8568-86E6822D8A06,18.0,1.0,1.0,Form 25,beau,49.0,16.0,NaN,NaN,NaN,Meredith S,1.0,2.0,1.0,1.0
1,000AB98A-683B-4BAF-B95A-50F7DB253184,SDA40009,LARE070,2A74DD06-DE18-4CF3-8568-86E6822D8A06,18.0,1.0,1.0,Form 29,beau,49.0,16.0,NaN,NaN,NaN,Meredith S,1.0,2.0,1.0,1.0
2,000AB98A-683B-4BAF-B95A-50F7DB253184,SDA40009,LARE070,2A74DD06-DE18-4CF3-8568-86E6822D8A06,18.0,1.0,1.0,Form 30,beau,49.0,16.0,NaN,NaN,NaN,Meredith S,1.0,2.0,1.0,1.0
3,000AB98A-683B-4BAF-B95A-50F7DB253184,SDA40009,LARE070,2A74DD06-DE18-4CF3-8568-86E6822D8A06,18.0,1.0,1.0,Form 32,beau,49.0,16.0,NaN,NaN,NaN,Meredith S,1.0,2.0,1.0,1.0
4,0019836B-DF41-4AD6-9911-03A553B5CD7F,SBM40006,LARE070,6771869B-34B5-4934-8295-6F2F454C47FF,18.0,1.0,1.0,Form 25,beau,46.0,16.0,NaN,NaN,NaN,James B,1.0,2.0,1.0,1.0

In [194]:
dd =df.groupby(['Form','ItemID','Vocabulary'])['Score'].mean().reset_index()
dd

                 Form   ItemID      Vocabulary     Score
0             Form 10  LARE026             all  0.488889
1             Form 10  LARE030             art  0.477064
2             Form 10  LARE033             sir  0.713483
3             Form 10  LARE036             fly  0.605634
4             Form 10  LARE044            this  0.456790
..                ...      ...             ...       ...
650  Routing_BachPlus  LARE177       credulous  0.827548
651  Routing_BachPlus  LARE198      nonchalant  0.786879
652  Routing_BachPlus  LARE205      circuitous  0.329227
653  Routing_BachPlus  LARE251   recrudescence  0.294447
654  Routing_BachPlus  LARE264  reconnaissance  0.522727

[655 rows x 4 columns]

In [195]:
ct=df.groupby(['Form','ItemID','Vocabulary'])['Position'].count().reset_index()
ct

                 Form   ItemID      Vocabulary  Position
0             Form 10  LARE026             all        90
1             Form 10  LARE030             art       109
2             Form 10  LARE033             sir       178
3             Form 10  LARE036             fly        71
4             Form 10  LARE044            this        81
..                ...      ...             ...       ...
650  Routing_BachPlus  LARE177       credulous       893
651  Routing_BachPlus  LARE198      nonchalant      2698
652  Routing_BachPlus  LARE205      circuitous       893
653  Routing_BachPlus  LARE251   recrudescence      2683
654  Routing_BachPlus  LARE264  reconnaissance      2684

[655 rows x 4 columns]

In [196]:
st=df.groupby(['Form','ItemID','Vocabulary'])['Age'].std().reset_index()
st

                 Form   ItemID      Vocabulary        Age
0             Form 10  LARE026             all   0.974319
1             Form 10  LARE030             art   1.157198
2             Form 10  LARE033             sir   5.719281
3             Form 10  LARE036             fly   1.263614
4             Form 10  LARE044            this   1.017552
..                ...      ...             ...        ...
650  Routing_BachPlus  LARE177       credulous  20.346020
651  Routing_BachPlus  LARE198      nonchalant  22.428079
652  Routing_BachPlus  LARE205      circuitous  20.346020
653  Routing_BachPlus  LARE251   recrudescence  22.410159
654  Routing_BachPlus  LARE264  reconnaissance  22.409367

[655 rows x 4 columns]

In [197]:
age =df.groupby(['Form','ItemID','Vocabulary'])['Age'].mean().reset_index()
age

                 Form   ItemID      Vocabulary        Age
0             Form 10  LARE026             all   5.776316
1             Form 10  LARE030             art   6.315217
2             Form 10  LARE033             sir   8.576923
3             Form 10  LARE036             fly   6.262295
4             Form 10  LARE044            this   5.633803
..                ...      ...             ...        ...
650  Routing_BachPlus  LARE177       credulous  47.654135
651  Routing_BachPlus  LARE198      nonchalant  31.274200
652  Routing_BachPlus  LARE205      circuitous  47.654135
653  Routing_BachPlus  LARE251   recrudescence  31.431020
654  Routing_BachPlus  LARE264  reconnaissance  31.422482

[655 rows x 4 columns]

In [198]:
result =pd.merge(dd, ct, on=['Form','ItemID','Vocabulary'])
result =pd.merge(result, age, on=['Form','ItemID','Vocabulary'])
result =pd.merge(result, st, on=['Form','ItemID','Vocabulary'])

In [199]:
result.columns=['Form', 'ItemID', 'Vocabulary', 'Proportion_Correct', 'N','MeanAge','SDAge']

In [200]:
result

,Form,ItemID,Vocabulary,Proportion_Correct,N,MeanAge,SDAge
0,Form 10,LARE026,all,0.488889,90,5.776316,0.974319
1,Form 10,LARE030,art,0.477064,109,6.315217,1.157198
2,Form 10,LARE033,sir,0.713483,178,8.576923,5.719281
3,Form 10,LARE036,fly,0.605634,71,6.262295,1.263614
4,Form 10,LARE044,this,0.456790,81,5.633803,1.017552
...,...,...,...,...,...,...,...
650,Routing_BachPlus,LARE177,credulous,0.827548,893,47.654135,20.346020
651,Routing_BachPlus,LARE198,nonchalant,0.786879,2698,31.274200,22.428079
652,Routing_BachPlus,LARE205,circuitous,0.329227,893,47.654135,20.346020
653,Routing_BachPlus,LARE251,recrudescence,0.294447,2683,31.431020,22.410159
654,Routing_BachPlus,LARE264,reconnaissance,0.522727,2684,31.422482,22.409367

In [187]:
result.to_csv('C:/Users/tsb7592/Downloads/OR_routingform_withage.csv', index=False)