## PV Norm

In [1]:
#Data saved in csv/excel
import glob, os
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
reg = pd.read_csv('C:/Users/tsb7592/Downloads/registration_data_distinct.csv',index_col=0)

In [3]:
reg.shape

(3260, 13)

In [6]:
pv = pd.read_csv('C:/Users/tsb7592/Downloads/PV_norm.csv', index_col=0)

# OR Norm & Original Norm

In [10]:
pv =pv[pv['ItemID'].str.contains('LAVOC')]

In [11]:
pv.shape

(1093812, 11)

In [12]:
pv.ItemID.value_counts()

LAVOC473    31752
LAVOC355    31740
LAVOC580    31740
LAVOC220    31740
LAVOC403    31740
            ...
LAVOC098       48
LAVOC102       48
LAVOC024       48
LAVOC009       48
LAVOC054       48
Name: ItemID, Length: 373, dtype: int64

In [13]:
#Importing the FormWords
xls =  pd.read_excel('C:/Users/tsb7592/Downloads/OR Forms for Norming 07.08.2020_WithWords.xlsx', sheet_name = "Formatted_Forms")

In [14]:
#Select the 3 needed key values
ps =pv[(pv.Key == 'Score')]
ps['Value'] =pd.to_numeric(ps['Value'])

In [15]:
ps.Key.value_counts()

Score    91151
Name: Key, dtype: int64

In [16]:
ps = ps[['PIN','ItemID','Key','Value']].drop_duplicates()

In [18]:
ps =ps.pivot_table(index = 'PIN', columns='ItemID',values='Value').reset_index()

In [19]:
ps

ItemID,PIN,LAVOC001,LAVOC006,LAVOC008,LAVOC009,LAVOC011,LAVOC013,LAVOC014,LAVOC015,LAVOC016,...,LAVOC600,LAVOC601,LAVOC602,LAVOC603,LAVOC604,LAVOC608,LAVOC610,LAVOC615,LAVOC616,LAVOC620
0,009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN
1,12345678,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN
2,5NA6010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN
3,AL Train,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,NaN
4,ATLCERT11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3404,msl50005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3405,sna40104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3406,test444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN
3407,wPX22103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,1.0,NaN,NaN,NaN,1.0
3408,wpx22106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,1.0,NaN,NaN,0.0,NaN

In [20]:
PV_wide =pd.merge(ps, reg[['PIN','Age']], on=['PIN'])

In [21]:
PV_wide['Source'] ='V3_norm'

In [24]:
pcol =['PIN','Age','Source',
 'LAVOC001',
 'LAVOC006',
 'LAVOC008',
 'LAVOC009',
 'LAVOC011',
 'LAVOC013',
 'LAVOC014',
 'LAVOC015',
 'LAVOC016',
 'LAVOC017',
 'LAVOC018',
 'LAVOC019',
 'LAVOC022',
 'LAVOC023',
 'LAVOC024',
 'LAVOC026',
 'LAVOC027',
 'LAVOC028',
 'LAVOC029',
 'LAVOC032',
 'LAVOC034',
 'LAVOC038',
 'LAVOC039',
 'LAVOC040',
 'LAVOC041',
 'LAVOC042',
 'LAVOC044',
 'LAVOC047',
 'LAVOC048',
 'LAVOC049',
 'LAVOC052',
 'LAVOC053',
 'LAVOC054',
 'LAVOC055',
 'LAVOC057',
 'LAVOC059',
 'LAVOC062',
 'LAVOC063',
 'LAVOC065',
 'LAVOC066',
 'LAVOC068',
 'LAVOC071',
 'LAVOC072',
 'LAVOC073',
 'LAVOC075',
 'LAVOC078',
 'LAVOC079',
 'LAVOC080',
 'LAVOC081',
 'LAVOC082',
 'LAVOC083',
 'LAVOC084',
 'LAVOC086',
 'LAVOC088',
 'LAVOC090',
 'LAVOC091',
 'LAVOC092',
 'LAVOC093',
 'LAVOC095',
 'LAVOC096',
 'LAVOC098',
 'LAVOC100',
 'LAVOC101',
 'LAVOC102',
 'LAVOC103',
 'LAVOC105',
 'LAVOC110',
 'LAVOC112',
 'LAVOC113',
 'LAVOC116',
 'LAVOC117',
 'LAVOC118',
 'LAVOC119',
 'LAVOC120',
 'LAVOC123',
 'LAVOC126',
 'LAVOC127',
 'LAVOC128',
 'LAVOC129',
 'LAVOC130',
 'LAVOC131',
 'LAVOC132',
 'LAVOC134',
 'LAVOC135',
 'LAVOC136',
 'LAVOC137',
 'LAVOC140',
 'LAVOC142',
 'LAVOC143',
 'LAVOC145',
 'LAVOC148',
 'LAVOC150',
 'LAVOC152',
 'LAVOC155',
 'LAVOC157',
 'LAVOC158',
 'LAVOC160',
 'LAVOC161',
 'LAVOC162',
 'LAVOC164',
 'LAVOC165',
 'LAVOC166',
 'LAVOC167',
 'LAVOC168',
 'LAVOC169',
 'LAVOC170',
 'LAVOC171',
 'LAVOC172',
 'LAVOC173',
 'LAVOC175',
 'LAVOC176',
 'LAVOC177',
 'LAVOC180',
 'LAVOC181',
 'LAVOC182',
 'LAVOC183',
 'LAVOC184',
 'LAVOC187',
 'LAVOC188',
 'LAVOC189',
 'LAVOC190',
 'LAVOC191',
 'LAVOC193',
 'LAVOC194',
 'LAVOC196',
 'LAVOC197',
 'LAVOC199',
 'LAVOC201',
 'LAVOC203',
 'LAVOC204',
 'LAVOC205',
 'LAVOC206',
 'LAVOC207',
 'LAVOC210',
 'LAVOC214',
 'LAVOC215',
 'LAVOC216',
 'LAVOC217',
 'LAVOC219',
 'LAVOC220',
 'LAVOC221',
 'LAVOC222',
 'LAVOC224',
 'LAVOC225',
 'LAVOC226',
 'LAVOC227',
 'LAVOC229',
 'LAVOC230',
 'LAVOC231',
 'LAVOC232',
 'LAVOC233',
 'LAVOC234',
 'LAVOC235',
 'LAVOC236',
 'LAVOC237',
 'LAVOC238',
 'LAVOC239',
 'LAVOC240',
 'LAVOC241',
 'LAVOC242',
 'LAVOC244',
 'LAVOC245',
 'LAVOC246',
 'LAVOC249',
 'LAVOC250',
 'LAVOC251',
 'LAVOC253',
 'LAVOC255',
 'LAVOC257',
 'LAVOC259',
 'LAVOC260',
 'LAVOC261',
 'LAVOC263',
 'LAVOC265',
 'LAVOC268',
 'LAVOC269',
 'LAVOC270',
 'LAVOC271',
 'LAVOC276',
 'LAVOC277',
 'LAVOC278',
 'LAVOC279',
 'LAVOC282',
 'LAVOC286',
 'LAVOC287',
 'LAVOC292',
 'LAVOC295',
 'LAVOC297',
 'LAVOC300',
 'LAVOC302',
 'LAVOC303',
 'LAVOC306',
 'LAVOC307',
 'LAVOC308',
 'LAVOC310',
 'LAVOC311',
 'LAVOC314',
 'LAVOC315',
 'LAVOC316',
 'LAVOC317',
 'LAVOC318',
 'LAVOC319',
 'LAVOC320',
 'LAVOC322',
 'LAVOC323',
 'LAVOC325',
 'LAVOC328',
 'LAVOC329',
 'LAVOC330',
 'LAVOC331',
 'LAVOC332',
 'LAVOC333',
 'LAVOC335',
 'LAVOC337',
 'LAVOC339',
 'LAVOC341',
 'LAVOC342',
 'LAVOC343',
 'LAVOC345',
 'LAVOC346',
 'LAVOC348',
 'LAVOC350',
 'LAVOC353',
 'LAVOC355',
 'LAVOC359',
 'LAVOC360',
 'LAVOC361',
 'LAVOC362',
 'LAVOC363',
 'LAVOC364',
 'LAVOC365',
 'LAVOC366',
 'LAVOC367',
 'LAVOC368',
 'LAVOC369',
 'LAVOC370',
 'LAVOC371',
 'LAVOC372',
 'LAVOC374',
 'LAVOC377',
 'LAVOC378',
 'LAVOC380',
 'LAVOC381',
 'LAVOC382',
 'LAVOC384',
 'LAVOC385',
 'LAVOC386',
 'LAVOC387',
 'LAVOC389',
 'LAVOC394',
 'LAVOC399',
 'LAVOC400',
 'LAVOC403',
 'LAVOC404',
 'LAVOC405',
 'LAVOC406',
 'LAVOC408',
 'LAVOC409',
 'LAVOC412',
 'LAVOC414',
 'LAVOC416',
 'LAVOC418',
 'LAVOC419',
 'LAVOC422',
 'LAVOC424',
 'LAVOC427',
 'LAVOC428',
 'LAVOC430',
 'LAVOC437',
 'LAVOC442',
 'LAVOC443',
 'LAVOC446',
 'LAVOC447',
 'LAVOC448',
 'LAVOC449',
 'LAVOC452',
 'LAVOC455',
 'LAVOC456',
 'LAVOC460',
 'LAVOC462',
 'LAVOC463',
 'LAVOC464',
 'LAVOC465',
 'LAVOC467',
 'LAVOC469',
 'LAVOC471',
 'LAVOC472',
 'LAVOC473',
 'LAVOC474',
 'LAVOC475',
 'LAVOC476',
 'LAVOC478',
 'LAVOC479',
 'LAVOC480',
 'LAVOC481',
 'LAVOC484',
 'LAVOC486',
 'LAVOC491',
 'LAVOC492',
 'LAVOC493',
 'LAVOC495',
 'LAVOC501',
 'LAVOC502',
 'LAVOC504',
 'LAVOC505',
 'LAVOC506',
 'LAVOC507',
 'LAVOC508',
 'LAVOC509',
 'LAVOC510',
 'LAVOC511',
 'LAVOC512',
 'LAVOC513',
 'LAVOC515',
 'LAVOC517',
 'LAVOC518',
 'LAVOC519',
 'LAVOC520',
 'LAVOC521',
 'LAVOC522',
 'LAVOC523',
 'LAVOC524',
 'LAVOC526',
 'LAVOC528',
 'LAVOC530',
 'LAVOC531',
 'LAVOC532',
 'LAVOC534',
 'LAVOC537',
 'LAVOC538',
 'LAVOC539',
 'LAVOC541',
 'LAVOC544',
 'LAVOC545',
 'LAVOC549',
 'LAVOC550',
 'LAVOC551',
 'LAVOC553',
 'LAVOC555',
 'LAVOC556',
 'LAVOC557',
 'LAVOC558',
 'LAVOC560',
 'LAVOC562',
 'LAVOC563',
 'LAVOC564',
 'LAVOC565',
 'LAVOC567',
 'LAVOC568',
 'LAVOC569',
 'LAVOC572',
 'LAVOC573',
 'LAVOC574',
 'LAVOC575',
 'LAVOC576',
 'LAVOC578',
 'LAVOC580',
 'LAVOC581',
 'LAVOC586',
 'LAVOC587',
 'LAVOC589',
 'LAVOC590',
 'LAVOC599',
 'LAVOC600',
 'LAVOC601',
 'LAVOC602',
 'LAVOC603',
 'LAVOC604',
 'LAVOC608',
 'LAVOC610',
 'LAVOC615',
 'LAVOC616',
 'LAVOC620']

In [25]:
PV_wide=PV_wide[pcol]

In [26]:
PV_wide.shape

(3239, 376)

In [27]:
or_norm = pd.read_csv('C:/Users/tsb7592/Downloads/NIHTB_OriginalNorming_CognitionItems.csv')

In [28]:
or1=or_norm[or_norm.assmnt ==1]

In [29]:
or1 = or1.rename({'login': 'PIN', 'age': 'Age'}, axis=1)

In [30]:
or1.head()

,PIN,proxlogin,assmnt,year,StudyDay,site,stdyarm,ethncty,hispanic_rc,Age,...,OSDRow5,OSDRow6,OSDRow7,OSDRow8,RAVLTT1,RAVLTT1_Child,RAVLTT2,RAVLTT2_Child,RAVLTT3,RAVLTT3_Child
0,10000,54385,1,2011.0,0.0,Site 1,Group A,Not Hispanic or Latino,0,10.0,...,NaN,NaN,NaN,NaN,NaN,28720.0,NaN,27191.0,NaN,27583.0
1,10002,74642,1,2011.0,0.0,Site 1,Group A,Hispanic or Latino,1,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10004,,1,2011.0,0.0,Site 1,Group A,Hispanic or Latino,1,70.0,...,NaN,NaN,NaN,NaN,515.0,NaN,25137.0,NaN,28466.0,NaN
3,10007,57916,1,2011.0,0.0,Site 1,Group B,Hispanic or Latino,1,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10009,70054,1,2011.0,0.0,Site 1,Group C,Hispanic or Latino,1,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
or1['Source'] ='V1_norm'

In [38]:
ll=['PIN','Age','Source']
for col in or1.columns:
    if col.startswith('LAVOC' ):
        ll.append(col)

In [39]:
or1 =or1[ll]

In [111]:
or1.shape

(4859, 406)

In [41]:
final.head()

,PIN,Age,Source,LAVOC001,LAVOC006,LAVOC008,LAVOC009,LAVOC011,LAVOC013,LAVOC014,...,LAVOC179,LAVOC185,LAVOC288,LAVOC421,LAVOC438,LAVOC451,LAVOC514,LAVOC585,LAVOC591,LAVOC592
0,009,21.0,V3_norm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,12345678,43.0,V3_norm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5NA6010,64.0,V3_norm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AL Train,33.0,V3_norm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ATLCERT11,38.0,V3_norm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
set(ll) - set(pcol)

{'LAVOC002',
 'LAVOC003',
 'LAVOC004',
 'LAVOC005',
 'LAVOC010',
 'LAVOC021',
 'LAVOC037',
 'LAVOC046',
 'LAVOC051',
 'LAVOC058',
 'LAVOC061',
 'LAVOC064',
 'LAVOC067',
 'LAVOC077',
 'LAVOC087',
 'LAVOC097',
 'LAVOC114',
 'LAVOC121',
 'LAVOC163',
 'LAVOC179',
 'LAVOC185',
 'LAVOC288',
 'LAVOC421',
 'LAVOC438',
 'LAVOC451',
 'LAVOC514',
 'LAVOC585',
 'LAVOC591',
 'LAVOC592',
 'LAVOC_Screen'}

# EF2 Item scores

In [96]:
EF = pd.read_csv('C:/Users/tsb7592/Downloads/EF2 Item Scores ALL 010320.csv')

In [101]:
EF.shape

(101270, 33)

In [102]:
EF= EF[EF['Assessment Name']=='Assessment 1']

In [103]:
keep = ['FINAL PIN', 'AgeYrs','ItemID','Score']

In [104]:
##Select FINAL PIN, AgeYrs, and all variables starting with “LAVOC”.
EF =EF[keep]

In [105]:
#all variables starting with “LAVOC”.
EF = EF.loc[EF['ItemID'].str.startswith('LAVOC')]

In [106]:
EF = EF.rename({'FINAL PIN': 'PIN', 'AgeYrs': 'Age'}, axis=1)

In [107]:
EF =EF.pivot_table(index = ['PIN','Age'], columns='ItemID',values='Score').reset_index()

In [116]:
EF['Source']='EF2'

In [118]:
final = PV_wide.append(or1)
final = final.append(EF)

final.head()

,PIN,Age,Source,LAVOC001,LAVOC006,LAVOC008,LAVOC009,LAVOC011,LAVOC013,LAVOC014,...,LAVOC179,LAVOC185,LAVOC288,LAVOC421,LAVOC438,LAVOC451,LAVOC514,LAVOC585,LAVOC591,LAVOC592
0,009,21.0,V3_norm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,12345678,43.0,V3_norm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5NA6010,64.0,V3_norm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AL Train,33.0,V3_norm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ATLCERT11,38.0,V3_norm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [119]:
final.tail()

,PIN,Age,Source,LAVOC001,LAVOC006,LAVOC008,LAVOC009,LAVOC011,LAVOC013,LAVOC014,...,LAVOC179,LAVOC185,LAVOC288,LAVOC421,LAVOC438,LAVOC451,LAVOC514,LAVOC585,LAVOC591,LAVOC592
351,996743947-2,7.0,EF2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
352,Joseph,18.0,EF2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
353,Josiah,18.0,EF2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354,Ron,69.0,EF2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
355,Sydny M,24.0,EF2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [120]:
counter =final.groupby('Source')[pcol[3:]].count().unstack().reset_index()
counter.columns=['ItemID', 'Source', 'count']

In [121]:
counter =counter.pivot_table(index=['ItemID'], columns='Source', values='count').reset_index()

In [122]:
counter.head()

Source    ItemID  EF2  V1_norm  V3_norm
0       LAVOC001    5       30       20
1       LAVOC006    5       26       17
2       LAVOC008    8       20       24
3       LAVOC009    6       55        2
4       LAVOC011    4       21       19

In [124]:
counter.to_csv('C:/Users/tsb7592/Downloads/pv_counter.csv', index=False)

In [126]:
final.to_csv('C:/Users/tsb7592/Downloads/PV_wide.csv', index=False)