In [1]:
#Data saved in csv/excel
import glob, os
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
#Set two decimal points for display
pd.options.display.float_format = "{:.2f}".format

# Get the NIHTB Mater data

In [3]:
import pyarrow.parquet as pq

df = pq.read_table(source='R:/MSS/Research/NIHTB v3.0 Norming/SG Data/Cleaned_Data/2022_04_08/2022-04-08_B_NIHTB_Master.parquet.gzip').to_pandas()
df.shape

(8173451, 17)

In [4]:
df.head()

,FinalPIN,PIN,RegistrationID,InstrumentTitle,Key,Value,DeviceID,ResponseID,ItemID,AssessmentName,TestName,InstrumentID,TestDate,Retest,Retest_order,retest,age_months_at_test
0,SAT15011,SAT15011,F6E3CFC8-2735-477D-A35D-E59BF6E29C7E,NIH Toolbox Picture Vocabulary Test Practice N...,Response,1,A1B82B19-F148-48A3-ADD7-42283A34CFE2,F32807EA-E6F9-43F1-8677-BE3830A6822D,VOCAB_INTRO,Assessment 1,PV_norm,D61BC463-0CC7-4678-B088-6AE10B747C41,2021-06-14,no,FALSE,None,186.02
1,SAT15011,SAT15011,F6E3CFC8-2735-477D-A35D-E59BF6E29C7E,NIH Toolbox Picture Vocabulary Test Practice N...,DateCreated,2021-06-14 12:35:25,A1B82B19-F148-48A3-ADD7-42283A34CFE2,F32807EA-E6F9-43F1-8677-BE3830A6822D,VOCAB_INTRO,Assessment 1,PV_norm,D61BC463-0CC7-4678-B088-6AE10B747C41,2021-06-14,no,FALSE,None,186.02
2,SAT15011,SAT15011,F6E3CFC8-2735-477D-A35D-E59BF6E29C7E,NIH Toolbox Picture Vocabulary Test Practice N...,Response,1,A1B82B19-F148-48A3-ADD7-42283A34CFE2,47D10263-76AD-4767-B86D-988852E44321,VOCAB_INSTR1,Assessment 1,PV_norm,D61BC463-0CC7-4678-B088-6AE10B747C41,2021-06-14,no,FALSE,None,186.02
3,SAT15011,SAT15011,F6E3CFC8-2735-477D-A35D-E59BF6E29C7E,NIH Toolbox Picture Vocabulary Test Practice N...,DateCreated,2021-06-14 12:36:03,A1B82B19-F148-48A3-ADD7-42283A34CFE2,47D10263-76AD-4767-B86D-988852E44321,VOCAB_INSTR1,Assessment 1,PV_norm,D61BC463-0CC7-4678-B088-6AE10B747C41,2021-06-14,no,FALSE,None,186.02
4,SAT15011,SAT15011,F6E3CFC8-2735-477D-A35D-E59BF6E29C7E,NIH Toolbox Picture Vocabulary Test Practice N...,Response,1,A1B82B19-F148-48A3-ADD7-42283A34CFE2,86DAEFB4-C52B-44F6-8A63-7ECB4FD0BDA3,VOCAB_PRACT1,Assessment 1,PV_norm,D61BC463-0CC7-4678-B088-6AE10B747C41,2021-06-14,no,FALSE,None,186.02

In [5]:
df.TestName.unique()

array(['PV_norm', 'Flank_norm', 'LSWM_norm', 'DCCS_norm', 'PC_norm',
       'PSM_norm', 'OR_norm', 'AudLrn_norm', 'VR_norm', 'OSD_norm',
       'StandBal_norm', 'FNAME_norm', 'SpdMtch_norm', 'DCCS_SAdmin',
       'PicSeq_SAdmin'], dtype=object)

In [6]:
vr = df[df.TestName =='VR_norm']
vr.shape

(424185, 17)

In [7]:
#Get the demographic data
kids = pd.read_csv('C:/Users/tsb7592/Downloads/kids_April.csv')
adults = pd.read_csv('C:/Users/tsb7592/Downloads/adults_April.csv')

In [19]:
kids['age'] =kids['FinalPIN'].str.slice(3, 5)
adults['age'] =adults['FinalPIN'].str.slice(3, 5)

In [27]:
kids['sex'] =kids['sex'].astype(str)
adults['sex'] =adults['sex'].astype(str)

In [9]:
#keep the list of FinalPIN who took VR
vr_pin =list(vr.FinalPIN.unique())

In [29]:
adults.head()

,FinalPIN,region,age,sex,highestEd,Race.ethnicity,region.race.c,weights.7a,weights.7b
0,MAP18001,2,18,1.0,high school graduate,Non-Hispanic White,2.0-Non-Hispanic White,0.67,0.95
1,MAP18002,2,18,2.0,high school graduate,Non-Hispanic White,2.0-Non-Hispanic White,0.60,0.95
2,MAP18003,2,18,1.0,high school graduate,Non-Hispanic White,2.0-Non-Hispanic White,0.67,0.95
3,MAP18004,2,18,1.0,high school graduate,Non-Hispanic White,2.0-Non-Hispanic White,0.67,0.95
4,MAP18005,2,18,2.0,high school graduate,Non-Hispanic White,2.0-Non-Hispanic White,0.60,0.95

In [21]:
def summary(data):
    df =data.loc[data['FinalPIN'].isin(vr_pin)]
    print(data.shape, df.shape)
    a =df.groupby('age')['sex'].value_counts()
    b =df.groupby('age')['highestEd'].value_counts()
    c =df.groupby('age')['Race.ethnicity'].value_counts()
    
    return a, b, c

# Task 1
Descriptive information regarding sample demographics (broken down by the age groups targeted, education or parent education if non-adult, sex, race/ethnicity)

# Task 3
Number of items administered to participants in each age group (mean, SD, range)

In [11]:
drop=['VRTitle', 'VR_Intro', 'VR_Practice1_Trial1',
       'VR_Practice2_Trial1', 'VR_Practice2_Trial2',
       'VR_Practice3_Trial1', 'VR_Transition']

In [12]:
vr =vr.loc[~vr['ItemID'].isin(drop)]
vr.shape

(345473, 17)

In [13]:
vrk = pd.merge(kids, vr, on='FinalPIN', how ='inner')
vra = pd.merge(adults, vr, on='FinalPIN', how ='inner')

In [14]:
vra['age'] =vra['FinalPIN'].str.slice(3, 5)

In [15]:
vrk['age'] =vrk['FinalPIN'].str.slice(3, 5)

In [16]:
vrk.tail()

,FinalPIN,region,age,sex,highestEd,Race.ethnicity,region.race.c,weights,PIN,RegistrationID,...,ResponseID,ItemID,AssessmentName,TestName,InstrumentID,TestDate,Retest,Retest_order,retest,age_months_at_test
210030,MSL09013,2,09,1.00,less than high school graduate,Non-Hispanic White,2.0-Non-Hispanic White,4.00,MSL09013,3AD10A70-5C6B-45C5-987D-67160CD9BA63,...,BB86A519-2FCC-4509-A8AA-24EFA0882A53,VR_SS2011,Assessment 1,VR_norm,D34ADC9D-6B53-4F60-85ED-05846DC3B38F,2021-07-10,no,FALSE,None,108.00
210031,MSL09013,2,09,1.00,less than high school graduate,Non-Hispanic White,2.0-Non-Hispanic White,4.00,MSL09013,3AD10A70-5C6B-45C5-987D-67160CD9BA63,...,B276F727-7030-47CB-96BB-4C324440708A,VR_RA013,Assessment 1,VR_norm,D34ADC9D-6B53-4F60-85ED-05846DC3B38F,2021-07-10,no,FALSE,None,108.00
210032,MSL09013,2,09,1.00,less than high school graduate,Non-Hispanic White,2.0-Non-Hispanic White,4.00,MSL09013,3AD10A70-5C6B-45C5-987D-67160CD9BA63,...,B276F727-7030-47CB-96BB-4C324440708A,VR_RA013,Assessment 1,VR_norm,D34ADC9D-6B53-4F60-85ED-05846DC3B38F,2021-07-10,no,FALSE,None,108.00
210033,MSL09013,2,09,1.00,less than high school graduate,Non-Hispanic White,2.0-Non-Hispanic White,4.00,MSL09013,3AD10A70-5C6B-45C5-987D-67160CD9BA63,...,B276F727-7030-47CB-96BB-4C324440708A,VR_RA013,Assessment 1,VR_norm,D34ADC9D-6B53-4F60-85ED-05846DC3B38F,2021-07-10,no,FALSE,None,108.00
210034,MSL09013,2,09,1.00,less than high school graduate,Non-Hispanic White,2.0-Non-Hispanic White,4.00,MSL09013,3AD10A70-5C6B-45C5-987D-67160CD9BA63,...,B276F727-7030-47CB-96BB-4C324440708A,VR_RA013,Assessment 1,VR_norm,D34ADC9D-6B53-4F60-85ED-05846DC3B38F,2021-07-10,no,FALSE,None,108.00

In [22]:
#Kids TOTAL Number of ItemID for each person
total_num_kids = vrk.groupby(['FinalPIN'])['ItemID'].count().reset_index()
kd = total_num_kids.describe()

In [23]:
#adults TOTAL Number of ItemID for each person
total_num_ad = vra.groupby(['FinalPIN'])['ItemID'].count().reset_index()
ad = total_num_ad.describe()

In [24]:
rv =pd.concat([kd, ad],axis=1)
rv.columns =['Kids','Adults']
rv

         Kids  Adults
count 2175.00 1594.00
mean    96.57   84.44
std     23.95   19.21
min      3.00   44.00
25%     80.00   80.00
50%    100.00   80.00
75%    100.00   80.00
max    244.00  164.00

In [30]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('C:/Users/tsb7592/Downloads/Visual_Reasoning_task.xlsx', engine='xlsxwriter')

aa, ab, ac = summary(adults)
ka, kb, kc = summary(kids)
# Write each dataframe to a different worksheet.
aa.to_excel(writer, sheet_name='adults_sex')
ab.to_excel(writer, sheet_name='adults_highestEd')
ac.to_excel(writer, sheet_name='adults_race_ethnicity')

ka.to_excel(writer, sheet_name='kids_sex')
kb.to_excel(writer, sheet_name='kids_parents_highestEd')
kc.to_excel(writer, sheet_name='kids_race_ethnicity')

rv.to_excel(writer, sheet_name='Num_of_items_administered')

# Close the Pandas Excel writer and output the Excel file.
writer.save()

(1656, 9) (1595, 9)
(2244, 8) (2188, 8)

#  Timing of Two NIHTB Tests

In [43]:
df.Retest_order.value_counts()

FALSE     7358930
second     413856
first      400665
Name: Retest_order, dtype: int64

In [44]:
#Filter Retest_order == FALSE or first; there should be NO duplicates. 
df1 = df[df.Retest_order != 'second']
df1.shape

(7759595, 17)

In [46]:
df1.TestName.unique()

array(['PV_norm', 'Flank_norm', 'LSWM_norm', 'DCCS_norm', 'PC_norm',
       'PSM_norm', 'OR_norm', 'AudLrn_norm', 'VR_norm', 'OSD_norm',
       'StandBal_norm', 'FNAME_norm', 'SpdMtch_norm', 'DCCS_SAdmin',
       'PicSeq_SAdmin'], dtype=object)

In [56]:
ldf = df1[df1.TestName=='LSWM_norm']

In [48]:
ldf.shape

(284576, 17)

In [57]:
ldf.head()

,FinalPIN,PIN,RegistrationID,InstrumentTitle,Key,Value,DeviceID,ResponseID,ItemID,AssessmentName,TestName,InstrumentID,TestDate,Retest,Retest_order,retest,age_months_at_test
276,SAT15011,SAT15011,F6E3CFC8-2735-477D-A35D-E59BF6E29C7E,NIH Toolbox LSWM Norming Version Form A,Response,1,A1B82B19-F148-48A3-ADD7-42283A34CFE2,FB29AE79-9FDF-406A-BA28-7BE945CC2EDB,LSWM_Test_Name,Assessment 1,LSWM_norm,5A91888E-7855-47AC-962D-E79B49E6D6D8,2021-06-14,no,FALSE,None,186.02
277,SAT15011,SAT15011,F6E3CFC8-2735-477D-A35D-E59BF6E29C7E,NIH Toolbox LSWM Norming Version Form A,DateCreated,2021-06-14 12:41:26,A1B82B19-F148-48A3-ADD7-42283A34CFE2,FB29AE79-9FDF-406A-BA28-7BE945CC2EDB,LSWM_Test_Name,Assessment 1,LSWM_norm,5A91888E-7855-47AC-962D-E79B49E6D6D8,2021-06-14,no,FALSE,None,186.02
278,SAT15011,SAT15011,F6E3CFC8-2735-477D-A35D-E59BF6E29C7E,NIH Toolbox LSWM Norming Version Form A,Response,1,A1B82B19-F148-48A3-ADD7-42283A34CFE2,5CC8E25D-B066-45F1-A794-58FF3DD841BF,LSWM_Intro_1,Assessment 1,LSWM_norm,5A91888E-7855-47AC-962D-E79B49E6D6D8,2021-06-14,no,FALSE,None,186.02
279,SAT15011,SAT15011,F6E3CFC8-2735-477D-A35D-E59BF6E29C7E,NIH Toolbox LSWM Norming Version Form A,DateCreated,2021-06-14 12:41:51,A1B82B19-F148-48A3-ADD7-42283A34CFE2,5CC8E25D-B066-45F1-A794-58FF3DD841BF,LSWM_Intro_1,Assessment 1,LSWM_norm,5A91888E-7855-47AC-962D-E79B49E6D6D8,2021-06-14,no,FALSE,None,186.02
280,SAT15011,SAT15011,F6E3CFC8-2735-477D-A35D-E59BF6E29C7E,NIH Toolbox LSWM Norming Version Form A,Response,1,A1B82B19-F148-48A3-ADD7-42283A34CFE2,ADE92E25-1BEF-4A27-9C71-2DDDA7B68819,LSWM_1List_Pract1_Trial1,Assessment 1,LSWM_norm,5A91888E-7855-47AC-962D-E79B49E6D6D8,2021-06-14,no,FALSE,None,186.02

In [58]:
ldf.Key.unique()

array(['Response', 'DateCreated', 'Score'], dtype=object)

Data are in long-format (one row per key-value pair, but 4 key-value pairs per item [response, response time, score, and date created] – it may be necessary to pivot them into a wide format to make it more conducive to analysis.

In [59]:
#Reshape the data from long to wide
ldf_wide=ldf.pivot_table(index=['FinalPIN', 'DeviceID', 'AssessmentName', 'ResponseID', 'ItemID',
       'InstrumentTitle', 'TestName', 'InstrumentID'], columns='Key', values='Value', aggfunc='first').reset_index()

In [60]:
ldf_wide.head()

Key,FinalPIN,DeviceID,AssessmentName,ResponseID,ItemID,InstrumentTitle,TestName,InstrumentID,DateCreated,Response,Score
0,MAP05001,570A856B-E5EC-4DBD-B4EE-B10C51BC919A,Assessment 1,156D3ECD-9693-40AD-9F98-AC71399AC857,LSWM_Intro_2,NIH Toolbox LSWM Norming Version Form A,LSWM_norm,D4DB3B66-7ADA-4F4F-91E2-1F264AA1C509,2021-06-13 12:01:59,1,NaN
1,MAP05001,570A856B-E5EC-4DBD-B4EE-B10C51BC919A,Assessment 1,1F19B76A-03E5-4392-8C95-85CA8A0F51CE,LSWM_Test_Name,NIH Toolbox LSWM Norming Version Form A,LSWM_norm,D4DB3B66-7ADA-4F4F-91E2-1F264AA1C509,2021-06-13 11:56:31,1,NaN
2,MAP05001,570A856B-E5EC-4DBD-B4EE-B10C51BC919A,Assessment 1,39CF681E-BD69-44C2-9461-D2BC082A74B2,LSWM_ReadyIntro2,NIH Toolbox LSWM Norming Version Form A,LSWM_norm,D4DB3B66-7ADA-4F4F-91E2-1F264AA1C509,2021-06-13 12:02:31,1,NaN
3,MAP05001,570A856B-E5EC-4DBD-B4EE-B10C51BC919A,Assessment 1,5A877518-447F-48E0-ABDF-B77A9274863C,LSWM_1List_Live_Item_A,NIH Toolbox LSWM Norming Version Form A,LSWM_norm,D4DB3B66-7ADA-4F4F-91E2-1F264AA1C509,2021-06-13 11:59:21,1,1
4,MAP05001,570A856B-E5EC-4DBD-B4EE-B10C51BC919A,Assessment 1,6A23E22B-E966-41E1-908D-3AC0F26D6737,LSWM_1List_Live_Item_Trans,NIH Toolbox LSWM Norming Version Form A,LSWM_norm,D4DB3B66-7ADA-4F4F-91E2-1F264AA1C509,2021-06-13 11:59:10,1,NaN

In [61]:
#Sanity check
#NOTE: There should be 3537 unique records for LSWM 

ldf_wide.FinalPIN.nunique()

3537