In [1]:
#Data saved in csv/excel
import glob, os
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
#Set two decimal points for display
pd.options.display.float_format = "{:.2f}".format

# Get the NIHTB Mater data

In [3]:
import pyarrow.parquet as pq

df = pq.read_table(source='R:/MSS/Research/NIHTB v3.0 Norming/SG Data/Cleaned_Data/2022_04_08/2022-04-08_B_NIHTB_Master.parquet.gzip').to_pandas()
df.shape

(8173451, 17)

In [4]:
df.head()

,FinalPIN,PIN,RegistrationID,InstrumentTitle,Key,Value,DeviceID,ResponseID,ItemID,AssessmentName,TestName,InstrumentID,TestDate,Retest,Retest_order,retest,age_months_at_test
0,SAT15011,SAT15011,F6E3CFC8-2735-477D-A35D-E59BF6E29C7E,NIH Toolbox Picture Vocabulary Test Practice N...,Response,1,A1B82B19-F148-48A3-ADD7-42283A34CFE2,F32807EA-E6F9-43F1-8677-BE3830A6822D,VOCAB_INTRO,Assessment 1,PV_norm,D61BC463-0CC7-4678-B088-6AE10B747C41,2021-06-14,no,FALSE,None,186.02
1,SAT15011,SAT15011,F6E3CFC8-2735-477D-A35D-E59BF6E29C7E,NIH Toolbox Picture Vocabulary Test Practice N...,DateCreated,2021-06-14 12:35:25,A1B82B19-F148-48A3-ADD7-42283A34CFE2,F32807EA-E6F9-43F1-8677-BE3830A6822D,VOCAB_INTRO,Assessment 1,PV_norm,D61BC463-0CC7-4678-B088-6AE10B747C41,2021-06-14,no,FALSE,None,186.02
2,SAT15011,SAT15011,F6E3CFC8-2735-477D-A35D-E59BF6E29C7E,NIH Toolbox Picture Vocabulary Test Practice N...,Response,1,A1B82B19-F148-48A3-ADD7-42283A34CFE2,47D10263-76AD-4767-B86D-988852E44321,VOCAB_INSTR1,Assessment 1,PV_norm,D61BC463-0CC7-4678-B088-6AE10B747C41,2021-06-14,no,FALSE,None,186.02
3,SAT15011,SAT15011,F6E3CFC8-2735-477D-A35D-E59BF6E29C7E,NIH Toolbox Picture Vocabulary Test Practice N...,DateCreated,2021-06-14 12:36:03,A1B82B19-F148-48A3-ADD7-42283A34CFE2,47D10263-76AD-4767-B86D-988852E44321,VOCAB_INSTR1,Assessment 1,PV_norm,D61BC463-0CC7-4678-B088-6AE10B747C41,2021-06-14,no,FALSE,None,186.02
4,SAT15011,SAT15011,F6E3CFC8-2735-477D-A35D-E59BF6E29C7E,NIH Toolbox Picture Vocabulary Test Practice N...,Response,1,A1B82B19-F148-48A3-ADD7-42283A34CFE2,86DAEFB4-C52B-44F6-8A63-7ECB4FD0BDA3,VOCAB_PRACT1,Assessment 1,PV_norm,D61BC463-0CC7-4678-B088-6AE10B747C41,2021-06-14,no,FALSE,None,186.02

In [5]:
df.TestName.unique()

array(['PV_norm', 'Flank_norm', 'LSWM_norm', 'DCCS_norm', 'PC_norm',
       'PSM_norm', 'OR_norm', 'AudLrn_norm', 'VR_norm', 'OSD_norm',
       'StandBal_norm', 'FNAME_norm', 'SpdMtch_norm', 'DCCS_SAdmin',
       'PicSeq_SAdmin'], dtype=object)

In [6]:
vr = df[df.TestName =='VR_norm']
vr.shape

(424185, 17)

In [7]:
#Get the demographic data
kids = pd.read_csv('C:/Users/tsb7592/Downloads/kids_April.csv')
adults = pd.read_csv('C:/Users/tsb7592/Downloads/adults_April.csv')

In [19]:
kids['age'] =kids['FinalPIN'].str.slice(3, 5)
adults['age'] =adults['FinalPIN'].str.slice(3, 5)

In [27]:
kids['sex'] =kids['sex'].astype(str)
adults['sex'] =adults['sex'].astype(str)

In [9]:
#keep the list of FinalPIN who took VR
vr_pin =list(vr.FinalPIN.unique())

In [29]:
adults.head()

,FinalPIN,region,age,sex,highestEd,Race.ethnicity,region.race.c,weights.7a,weights.7b
0,MAP18001,2,18,1.0,high school graduate,Non-Hispanic White,2.0-Non-Hispanic White,0.67,0.95
1,MAP18002,2,18,2.0,high school graduate,Non-Hispanic White,2.0-Non-Hispanic White,0.60,0.95
2,MAP18003,2,18,1.0,high school graduate,Non-Hispanic White,2.0-Non-Hispanic White,0.67,0.95
3,MAP18004,2,18,1.0,high school graduate,Non-Hispanic White,2.0-Non-Hispanic White,0.67,0.95
4,MAP18005,2,18,2.0,high school graduate,Non-Hispanic White,2.0-Non-Hispanic White,0.60,0.95

In [21]:
def summary(data):
    df =data.loc[data['FinalPIN'].isin(vr_pin)]
    print(data.shape, df.shape)
    a =df.groupby('age')['sex'].value_counts()
    b =df.groupby('age')['highestEd'].value_counts()
    c =df.groupby('age')['Race.ethnicity'].value_counts()
    
    return a, b, c

# Task 1
Descriptive information regarding sample demographics (broken down by the age groups targeted, education or parent education if non-adult, sex, race/ethnicity)

# Task 3
Number of items administered to participants in each age group (mean, SD, range)

In [11]:
drop=['VRTitle', 'VR_Intro', 'VR_Practice1_Trial1',
       'VR_Practice2_Trial1', 'VR_Practice2_Trial2',
       'VR_Practice3_Trial1', 'VR_Transition']

In [12]:
vr =vr.loc[~vr['ItemID'].isin(drop)]
vr.shape

(345473, 17)

In [13]:
vrk = pd.merge(kids, vr, on='FinalPIN', how ='inner')
vra = pd.merge(adults, vr, on='FinalPIN', how ='inner')

In [14]:
vra['age'] =vra['FinalPIN'].str.slice(3, 5)

In [15]:
vrk['age'] =vrk['FinalPIN'].str.slice(3, 5)

In [16]:
vrk.tail()

,FinalPIN,region,age,sex,highestEd,Race.ethnicity,region.race.c,weights,PIN,RegistrationID,...,ResponseID,ItemID,AssessmentName,TestName,InstrumentID,TestDate,Retest,Retest_order,retest,age_months_at_test
210030,MSL09013,2,09,1.00,less than high school graduate,Non-Hispanic White,2.0-Non-Hispanic White,4.00,MSL09013,3AD10A70-5C6B-45C5-987D-67160CD9BA63,...,BB86A519-2FCC-4509-A8AA-24EFA0882A53,VR_SS2011,Assessment 1,VR_norm,D34ADC9D-6B53-4F60-85ED-05846DC3B38F,2021-07-10,no,FALSE,None,108.00
210031,MSL09013,2,09,1.00,less than high school graduate,Non-Hispanic White,2.0-Non-Hispanic White,4.00,MSL09013,3AD10A70-5C6B-45C5-987D-67160CD9BA63,...,B276F727-7030-47CB-96BB-4C324440708A,VR_RA013,Assessment 1,VR_norm,D34ADC9D-6B53-4F60-85ED-05846DC3B38F,2021-07-10,no,FALSE,None,108.00
210032,MSL09013,2,09,1.00,less than high school graduate,Non-Hispanic White,2.0-Non-Hispanic White,4.00,MSL09013,3AD10A70-5C6B-45C5-987D-67160CD9BA63,...,B276F727-7030-47CB-96BB-4C324440708A,VR_RA013,Assessment 1,VR_norm,D34ADC9D-6B53-4F60-85ED-05846DC3B38F,2021-07-10,no,FALSE,None,108.00
210033,MSL09013,2,09,1.00,less than high school graduate,Non-Hispanic White,2.0-Non-Hispanic White,4.00,MSL09013,3AD10A70-5C6B-45C5-987D-67160CD9BA63,...,B276F727-7030-47CB-96BB-4C324440708A,VR_RA013,Assessment 1,VR_norm,D34ADC9D-6B53-4F60-85ED-05846DC3B38F,2021-07-10,no,FALSE,None,108.00
210034,MSL09013,2,09,1.00,less than high school graduate,Non-Hispanic White,2.0-Non-Hispanic White,4.00,MSL09013,3AD10A70-5C6B-45C5-987D-67160CD9BA63,...,B276F727-7030-47CB-96BB-4C324440708A,VR_RA013,Assessment 1,VR_norm,D34ADC9D-6B53-4F60-85ED-05846DC3B38F,2021-07-10,no,FALSE,None,108.00

In [38]:
#Kids TOTAL Number of ItemID for each person
total_num_kids = vrk.groupby(['FinalPIN','age'])['ItemID'].count().reset_index()
kd =total_num_kids.groupby('age')['ItemID'].describe()
kd

     count   mean   std    min    25%    50%    75%    max
age
03  109.00 117.08 24.09   3.00 120.00 124.00 124.00 128.00
04  143.00 124.08 20.71  72.00 120.00 120.00 124.00 244.00
05  148.00 105.11 23.11   4.00 100.00 100.00 104.00 204.00
06  140.00 105.37 22.48  52.00 100.00 100.00 100.00 204.00
07  143.00 104.73 20.38  88.00 100.00 100.00 100.00 208.00
08  147.00 106.37 24.24 100.00 100.00 100.00 100.00 204.00
09  148.00 104.43 22.02  36.00 100.00 100.00 100.00 200.00
10  154.00 105.14 22.34  80.00 100.00 100.00 100.00 200.00
11  149.00  83.58 17.42  36.00  80.00  80.00  80.00 160.00
12  149.00  83.06 15.91  60.00  80.00  80.00  80.00 160.00
13  152.00  83.37 15.78  72.00  80.00  80.00  80.00 160.00
14  147.00  83.21 15.91  72.00  80.00  80.00  80.00 160.00
15  155.00  82.48 14.24  68.00  80.00  80.00  80.00 160.00
16  146.00  83.18 16.18  60.00  80.00  80.00  80.00 160.00
17  145.00  84.83 19.51  56.00  80.00  80.00  80.00 160.00

In [39]:
#adults TOTAL Number of ItemID for each person
total_num_ad = vra.groupby(['FinalPIN','age'])['ItemID'].count().reset_index()
ad =total_num_ad.groupby('age')['ItemID'].describe()

In [40]:
ad

     count  mean   std   min   25%   50%   75%    max
age
18   96.00 79.88  1.22 68.00 80.00 80.00 80.00  80.00
19  145.00 80.00  0.00 80.00 80.00 80.00 80.00  80.00
20  156.00 85.08 19.68 76.00 80.00 80.00 80.00 160.00
22  164.00 84.63 19.27 60.00 80.00 80.00 80.00 160.00
30  167.00 85.51 20.85 64.00 80.00 80.00 80.00 160.00
40  170.00 85.41 20.72 56.00 80.00 80.00 80.00 160.00
50  171.00 86.67 22.81 56.00 80.00 80.00 80.00 160.00
60  167.00 88.10 25.78 44.00 80.00 80.00 80.00 164.00
70  154.00 87.75 24.78 56.00 80.00 80.00 80.00 160.00
80  131.00 80.46 10.60 60.00 80.00 80.00 80.00 160.00
85   73.00 79.23  4.25 56.00 80.00 80.00 80.00  84.00

In [42]:
rv =pd.concat([kd, ad],axis=0)
rv

     count   mean   std    min    25%    50%    75%    max
age
03  109.00 117.08 24.09   3.00 120.00 124.00 124.00 128.00
04  143.00 124.08 20.71  72.00 120.00 120.00 124.00 244.00
05  148.00 105.11 23.11   4.00 100.00 100.00 104.00 204.00
06  140.00 105.37 22.48  52.00 100.00 100.00 100.00 204.00
07  143.00 104.73 20.38  88.00 100.00 100.00 100.00 208.00
08  147.00 106.37 24.24 100.00 100.00 100.00 100.00 204.00
09  148.00 104.43 22.02  36.00 100.00 100.00 100.00 200.00
10  154.00 105.14 22.34  80.00 100.00 100.00 100.00 200.00
11  149.00  83.58 17.42  36.00  80.00  80.00  80.00 160.00
12  149.00  83.06 15.91  60.00  80.00  80.00  80.00 160.00
13  152.00  83.37 15.78  72.00  80.00  80.00  80.00 160.00
14  147.00  83.21 15.91  72.00  80.00  80.00  80.00 160.00
15  155.00  82.48 14.24  68.00  80.00  80.00  80.00 160.00
16  146.00  83.18 16.18  60.00  80.00  80.00  80.00 160.00
17  145.00  84.83 19.51  56.00  80.00  80.00  80.00 160.00
18   96.00  79.88  1.22  68.00  80.00  80.00  80.00  80.00
19  145.00  80.00  0.00  80.00  80.00  80.00  80.00  80.00
20  156.00  85.08 19.68  76.00  80.00  80.00  80.00 160.00
22  164.00  84.63 19.27  60.00  80.00  80.00  80.00 160.00
30  167.00  85.51 20.85  64.00  80.00  80.00  80.00 160.00
40  170.00  85.41 20.72  56.00  80.00  80.00  80.00 160.00
50  171.00  86.67 22.81  56.00  80.00  80.00  80.00 160.00
60  167.00  88.10 25.78  44.00  80.00  80.00  80.00 164.00
70  154.00  87.75 24.78  56.00  80.00  80.00  80.00 160.00
80  131.00  80.46 10.60  60.00  80.00  80.00  80.00 160.00
85   73.00  79.23  4.25  56.00  80.00  80.00  80.00  84.00

In [43]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('C:/Users/tsb7592/Downloads/Visual_Reasoning_task.xlsx', engine='xlsxwriter')

aa, ab, ac = summary(adults)
ka, kb, kc = summary(kids)
# Write each dataframe to a different worksheet.
aa.to_excel(writer, sheet_name='adults_sex')
ab.to_excel(writer, sheet_name='adults_highestEd')
ac.to_excel(writer, sheet_name='adults_race_ethnicity')

ka.to_excel(writer, sheet_name='kids_sex')
kb.to_excel(writer, sheet_name='kids_parents_highestEd')
kc.to_excel(writer, sheet_name='kids_race_ethnicity')

rv.to_excel(writer, sheet_name='Num_of_items_administered')

# Close the Pandas Excel writer and output the Excel file.
writer.save()

(1656, 9) (1595, 9)
(2244, 8) (2188, 8)