In [1]:
#Data saved in csv/excel
import glob, os
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
#Set two decimal points for display
pd.options.display.float_format = "{:.4f}".format

In [145]:
pe = pd.read_excel('C:/Users/tsb7592/Downloads/census_percentage_Collapsed.xlsx', sheet_name='self_edu')

In [146]:
pe =pe.round(3)
pe.values.tolist()

[[0.115, 0.276, 0.303, 0.306]]

In [103]:
adc = pd.read_excel('C:/Users/tsb7592/Downloads/census_percentage_Collapsed.xlsx', sheet_name='adults')

In [104]:
adc=adc.round(3)

In [109]:
adc

,REGION,Hispanic,White,Black,Asian,OtherSingleRace,White/Black,White/Asian,Other,sum
0,Northeast,0.0240,0.1110,0.0180,0.0120,0.0070,0.0000,0.0000,0.0050,0.1770
1,Midwest,0.0150,0.1510,0.0200,0.0070,0.0080,0.0010,0.0000,0.0050,0.2070
2,South,0.0620,0.2100,0.0650,0.0140,0.0150,0.0020,0.0010,0.0080,0.3780
3,West,0.0620,0.1160,0.0100,0.0260,0.0150,0.0000,0.0020,0.0070,0.2380

In [110]:
adc.iloc[:,:-1].values.tolist()

[['Northeast', 0.024, 0.111, 0.018, 0.012, 0.007, 0.0, 0.0, 0.005],
 ['Midwest', 0.015, 0.151, 0.02, 0.007, 0.008, 0.001, 0.0, 0.005],
 ['South', 0.062, 0.21, 0.065, 0.014, 0.015, 0.002, 0.001, 0.008],
 ['West', 0.062, 0.116, 0.01, 0.026, 0.015, 0.0, 0.002, 0.007]]

In [111]:
kt = pd.read_excel('C:/Users/tsb7592/Downloads/census_percentage_Collapsed.xlsx', sheet_name='kids')

In [112]:
kt=kt.round(3)

In [113]:
kt

,REGION,Hispanic_kids,White_kids,Black_kids,Asian_kids,OtherSingleRace_kids,White/Black_kids,White/Asian_kids,Black/Asian_kids,Multi_kids,other,sum
0,Northeast,0.0320,0.0780,0.0180,0.0110,0.0120,0.0030,0.0020,0.0000,0.0000,0.0040,0.1600
1,Midwest,0.0260,0.1250,0.0240,0.0070,0.0000,0.0050,0.0030,0.0000,0.0000,0.0230,0.2120
2,South,0.0920,0.1580,0.0730,0.0130,0.0280,0.0080,0.0040,0.0000,0.0100,0.0000,0.3860
3,West,0.0910,0.0820,0.0100,0.0190,0.0000,0.0030,0.0060,0.0000,0.0000,0.0310,0.2420
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0000

In [115]:
kt.iloc[:4,:-1].values.tolist()

[['Northeast',
  0.032,
  0.078,
  0.018,
  0.011,
  0.012,
  0.003,
  0.002,
  0.0,
  0.0,
  0.004],
 ['Midwest', 0.026, 0.125, 0.024, 0.007, 0.0, 0.005, 0.003, 0.0, 0.0, 0.023],
 ['South', 0.092, 0.158, 0.073, 0.013, 0.028, 0.008, 0.004, 0.0, 0.01, 0.0],
 ['West', 0.091, 0.082, 0.01, 0.019, 0.0, 0.003, 0.006, 0.0, 0.0, 0.031]]

In [ ]:
# Get the files from each city
files = glob.glob('R:\\MSS\\Research\\MTB\\Reports\\NIHTB_demographics')

doc =[]
for file in rfiles:
    if 'Narrow Structure' in file:
        pass
    else:
        data = pd.read_csv(file)
        print(file)
        doc.append(data)

rdf = pd.concat(doc)

In [3]:
df = pd.read_csv('C:/Users/tsb7592/Downloads/2022-02-16_NIHTB_demoFinalRaw5.csv')

In [4]:
edu_recode={1:"less than high school graduate", 2:"high school graduate", 3:"some college",
4:"four year or higher degree", 5:'four year or higher degree',
0:"missing", 16:"missing"}

In [5]:
df.highestEd.value_counts()

3.0000     1295
2.0000     1151
4.0000      878
5.0000      523
1.0000       63
0.0000        1
16.0000       1
Name: highestEd, dtype: int64

In [6]:
#Recode Edu to norming value
df['highestEd'] = df['highestEd'].map(edu_recode)

# STEP 1

In [7]:
df.head()

,FinalPIN,inPersonWillingLoc,region,18yrsPlus,sex,dob,age,highestEd,hispanic,race_AmericanIndian,...,highestEdu,race_sg,race_sg_l,asian_type_sg,asian_type_sg_l,race,race_l,gender_l,ethnicity_l,highestEdu_l
0,MAP03001,4.0000,2.0000,2.0000,2.0000,11/6/2017,3.0000,high school graduate,1.0000,0.0000,...,2.0000,7.0000,White or Caucasian,NaN,NaN,1.0000,White,Female,Not Hispanic,High school
1,MAP03002,4.0000,2.0000,2.0000,1.0000,12/13/2017,3.0000,some college,1.0000,0.0000,...,3.0000,7.0000,White or Caucasian,NaN,NaN,1.0000,White,Male,Not Hispanic,Some college
2,MAP03003,4.0000,2.0000,2.0000,2.0000,10/19/2017,3.0000,some college,1.0000,0.0000,...,3.0000,7.0000,White or Caucasian,2.0000,Indian,1.0000,White,Female,Not Hispanic,Some college
3,MAP03004,4.0000,2.0000,2.0000,2.0000,5/6/2018,3.0000,some college,1.0000,0.0000,...,3.0000,7.0000,White or Caucasian,NaN,NaN,1.0000,White,Female,Not Hispanic,Some college
4,MAP03005,4.0000,2.0000,2.0000,2.0000,2/14/2018,3.0000,high school graduate,1.0000,0.0000,...,2.0000,7.0000,White or Caucasian,NaN,NaN,1.0000,White,Female,Not Hispanic,High school

In [8]:
df["sex"].replace({1:1, 2:2, 69:'Missing'}, inplace=True)

In [9]:
keep =['FinalPIN','region', 'age','sex', 'highestEd', 'hispanic', 'race_AmericanIndian', 'race_Asian',
       'race_Black', 'race_MiddleEast', 'race_Hawaiian',
       'race_OtherPacificIsl', 'race_White', 'race_unknwnNoAns']

In [10]:
df=df[keep].dropna()

# STEP 2 recode race/ethnicity

In [11]:
df.head()

,FinalPIN,region,age,sex,highestEd,hispanic,race_AmericanIndian,race_Asian,race_Black,race_MiddleEast,race_Hawaiian,race_OtherPacificIsl,race_White,race_unknwnNoAns
0,MAP03001,2.0000,3.0000,2.0000,high school graduate,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000
1,MAP03002,2.0000,3.0000,1.0000,some college,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000
2,MAP03003,2.0000,3.0000,2.0000,some college,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000
3,MAP03004,2.0000,3.0000,2.0000,some college,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000
4,MAP03005,2.0000,3.0000,2.0000,high school graduate,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000

In [12]:
def label_race (row):
    if row['hispanic'] > 1 :
        return 'Any Hispanic'
    elif row['race_White'] + row['race_MiddleEast'] >= 1 and row['race_AmericanIndian'] + row['race_Asian'] +row['race_Black'] + row['race_Hawaiian']+ row['race_OtherPacificIsl'] +row['race_unknwnNoAns']==0:
        return 'Non-Hispanic White'
    elif row['race_Black'] ==1  and row['race_White'] + row['race_MiddleEast'] + row['race_AmericanIndian'] + row['race_Asian'] + row['race_Hawaiian']+ row['race_OtherPacificIsl'] +row['race_unknwnNoAns']==0:
        return 'Non-Hispanic Black'
    elif  row['race_Asian'] ==1  and row['race_White'] + row['race_MiddleEast'] + row['race_AmericanIndian'] + row['race_Black'] + row['race_Hawaiian']+ row['race_OtherPacificIsl'] +row['race_unknwnNoAns']==0:
        return 'Non-Hispanic Asian'
    elif  row['race_Asian'] + row['race_White'] + row['race_MiddleEast'] + row['race_AmericanIndian'] + row['race_Black'] + row['race_Hawaiian']+ row['race_OtherPacificIsl'] +row['race_unknwnNoAns']==1:
        return 'Non-Hispanic Other Single Race'
    elif row['race_White'] + row['race_MiddleEast'] + row['race_Black'] >= 2 and row['race_AmericanIndian'] + row['race_Asian']  + row['race_Hawaiian']+ row['race_OtherPacificIsl'] +row['race_unknwnNoAns']==0:
        return 'Non-Hispanic Biracial White/Black'
    elif  row['race_White'] + row['race_MiddleEast'] + row['race_Asian'] >= 2 and row['race_AmericanIndian'] +row['race_Black'] + row['race_Hawaiian']+ row['race_OtherPacificIsl'] +row['race_unknwnNoAns']==0:
        return 'Non-Hispanic Biracial White/Asian'
    elif  row['race_Asian'] + row['race_Black'] == 2 and row['race_White'] + row['race_MiddleEast'] + row['race_AmericanIndian'] + row['race_Hawaiian']+ row['race_OtherPacificIsl'] +row['race_unknwnNoAns']==0:
        return 'Non-Hispanic Biracial Black/Asian'
    return 'Non-Hispanic Other Multiracial'

In [13]:
df['Race/ethnicity'] =df.apply (lambda row: label_race(row), axis=1)

In [14]:
df['Race/ethnicity'].value_counts()

Non-Hispanic White                   2188
Any Hispanic                          792
Non-Hispanic Black                    572
Non-Hispanic Asian                    193
Non-Hispanic Biracial White/Black      70
Non-Hispanic Other Multiracial         39
Non-Hispanic Biracial White/Asian      38
Non-Hispanic Other Single Race         14
Non-Hispanic Biracial Black/Asian       6
Name: Race/ethnicity, dtype: int64

# STEP 3 Separate kids and adults

In [15]:
df['region-race'] = df.region.map(str) + "-" + df['Race/ethnicity']

In [16]:
df['region-race'].unique()

array(['2.0-Non-Hispanic White', '2.0-Non-Hispanic Biracial White/Black',
       '2.0-Non-Hispanic Black', '2.0-Any Hispanic',
       '1.0-Non-Hispanic White', '2.0-Non-Hispanic Other Multiracial',
       '2.0-Non-Hispanic Asian', '2.0-Non-Hispanic Biracial White/Asian',
       '2.0-Non-Hispanic Other Single Race',
       '2.0-Non-Hispanic Biracial Black/Asian', '1.0-Non-Hispanic Black',
       '1.0-Any Hispanic', '1.0-Non-Hispanic Biracial White/Black',
       '1.0-Non-Hispanic Other Multiracial',
       '1.0-Non-Hispanic Other Single Race', '1.0-Non-Hispanic Asian',
       '1.0-Non-Hispanic Biracial White/Asian',
       '1.0-Non-Hispanic Biracial Black/Asian', '3.0-Non-Hispanic White',
       '3.0-Any Hispanic', '3.0-Non-Hispanic Black',
       '3.0-Non-Hispanic Other Multiracial',
       '3.0-Non-Hispanic Biracial White/Black', '3.0-Non-Hispanic Asian',
       '3.0-Non-Hispanic Biracial White/Asian',
       '3.0-Non-Hispanic Other Single Race',
       '3.0-Non-Hispanic Biracial Black/Asian', '4.0-Any Hispanic',
       '4.0-Non-Hispanic Black', '4.0-Non-Hispanic Other Multiracial',
       '4.0-Non-Hispanic White', '4.0-Non-Hispanic Biracial White/Asian',
       '4.0-Non-Hispanic Asian', '4.0-Non-Hispanic Biracial White/Black',
       '4.0-Non-Hispanic Other Single Race'], dtype=object)

In [17]:
df.head()

,FinalPIN,region,age,sex,highestEd,hispanic,race_AmericanIndian,race_Asian,race_Black,race_MiddleEast,race_Hawaiian,race_OtherPacificIsl,race_White,race_unknwnNoAns,Race/ethnicity,region-race
0,MAP03001,2.0000,3.0000,2.0000,high school graduate,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,Non-Hispanic White,2.0-Non-Hispanic White
1,MAP03002,2.0000,3.0000,1.0000,some college,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,Non-Hispanic White,2.0-Non-Hispanic White
2,MAP03003,2.0000,3.0000,2.0000,some college,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,Non-Hispanic White,2.0-Non-Hispanic White
3,MAP03004,2.0000,3.0000,2.0000,some college,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,Non-Hispanic White,2.0-Non-Hispanic White
4,MAP03005,2.0000,3.0000,2.0000,high school graduate,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,Non-Hispanic White,2.0-Non-Hispanic White

In [18]:
ad = df[df.age>=18]
kd = df[df.age<18]

In [19]:
def crosstab(df):
    a =df.groupby(['region','Race/ethnicity'])['age'].count().reset_index()
    a.columns=['region','Race/ethnicity','count']
    aa =a.pivot_table(values=['count'], index=['region'], columns=['Race/ethnicity'])
    aa=aa.fillna(0)
    aa.loc['Total',:]= aa.sum(axis=0)
    aa["sum"] = aa.sum(axis=1)
    
    return aa

In [21]:
aa =crosstab(ad)
aa

                      count                     \
Race/ethnicity Any Hispanic Non-Hispanic Asian
region
1.0                 33.0000            18.0000
2.0                 23.0000             7.0000
3.0                 78.0000            25.0000
4.0                 99.0000            41.0000
Total              233.0000            91.0000

                                                  \
Race/ethnicity Non-Hispanic Biracial Black/Asian
region
1.0                                       0.0000
2.0                                       0.0000
3.0                                       1.0000
4.0                                       0.0000
Total                                     1.0000

                                                  \
Race/ethnicity Non-Hispanic Biracial White/Asian
region
1.0                                       0.0000
2.0                                       1.0000
3.0                                       2.0000
4.0                                       4.0000
Total                                     7.0000

                                                                     \
Race/ethnicity Non-Hispanic Biracial White/Black Non-Hispanic Black
region
1.0                                       0.0000            35.0000
2.0                                       2.0000            45.0000
3.0                                       6.0000           121.0000
4.0                                       0.0000            24.0000
Total                                     8.0000           225.0000

                                                                              \
Race/ethnicity Non-Hispanic Other Multiracial Non-Hispanic Other Single Race
region
1.0                                    0.0000                         1.0000
2.0                                    1.0000                         1.0000
3.0                                    4.0000                         1.0000
4.0                                    2.0000                         6.0000
Total                                  7.0000                         9.0000

                                        sum
Race/ethnicity Non-Hispanic White
region
1.0                      222.0000  309.0000
2.0                      326.0000  406.0000
3.0                      347.0000  585.0000
4.0                      212.0000  388.0000
Total                   1107.0000 1688.0000

In [22]:
kk =crosstab(kd)
kk

                      count                     \
Race/ethnicity Any Hispanic Non-Hispanic Asian
region
1.0                 67.0000            19.0000
2.0                 51.0000            14.0000
3.0                193.0000            33.0000
4.0                248.0000            36.0000
Total              559.0000           102.0000

                                                  \
Race/ethnicity Non-Hispanic Biracial Black/Asian
region
1.0                                       1.0000
2.0                                       2.0000
3.0                                       2.0000
4.0                                       0.0000
Total                                     5.0000

                                                  \
Race/ethnicity Non-Hispanic Biracial White/Asian
region
1.0                                       6.0000
2.0                                       2.0000
3.0                                       9.0000
4.0                                      14.0000
Total                                    31.0000

                                                                     \
Race/ethnicity Non-Hispanic Biracial White/Black Non-Hispanic Black
region
1.0                                       6.0000            52.0000
2.0                                      20.0000            63.0000
3.0                                      31.0000           205.0000
4.0                                       5.0000            27.0000
Total                                    62.0000           347.0000

                                                                              \
Race/ethnicity Non-Hispanic Other Multiracial Non-Hispanic Other Single Race
region
1.0                                    5.0000                         1.0000
2.0                                    1.0000                         0.0000
3.0                                    7.0000                         4.0000
4.0                                   19.0000                         0.0000
Total                                 32.0000                         5.0000

                                        sum
Race/ethnicity Non-Hispanic White
region
1.0                      187.0000  344.0000
2.0                      343.0000  496.0000
3.0                      356.0000  840.0000
4.0                      195.0000  544.0000
Total                   1081.0000 2224.0000

# STEP 4 adults

In [23]:
ad.groupby('region')['age'].count()

region
1.0000    309
2.0000    406
3.0000    585
4.0000    388
Name: age, dtype: int64

# STEP 5 sex tableau

In [24]:
ad.groupby('sex')['age'].count()

sex
1.0        750
2.0        937
Missing      1
Name: age, dtype: int64

In [25]:
kd.groupby('sex')['age'].count()

sex
1.0000    1110
2.0000    1114
Name: age, dtype: int64

# 6 Recode highest education and tabulate it separately for kids and adults: 

less than high school graduate is highestEd=1 
high school graduate is highestEd=2 
some college is highestEd=3 
four year or higher degree is highestEd=4 or 5 
all other education variables treat as missing

In [26]:
ad.groupby('highestEd')['age'].count().reset_index()

                        highestEd  age
0      four year or higher degree  494
1            high school graduate  591
2  less than high school graduate   29
3                    some college  574

In [27]:
kd['highestEd'].value_counts()

four year or higher degree        907
some college                      721
high school graduate              560
less than high school graduate     34
missing                             2
Name: highestEd, dtype: int64

In [28]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('C:/Users/tsb7592/Downloads/NIHTB_counts.xlsx', engine='xlsxwriter')

# Write each dataframe to a different worksheet.
aa.to_excel(writer, sheet_name='adults')
kk.to_excel(writer, sheet_name='kids')  
ad['highestEd'].value_counts().to_excel(writer, sheet_name='ad_edu') 
kd['highestEd'].value_counts().to_excel(writer, sheet_name='kids_edu') 
# Close the Pandas Excel writer and output the Excel file.
writer.save()

# Collapse

In [29]:
ad['region-race-c']=ad['region-race'].map({'2.0-Non-Hispanic Biracial White/Asian': '2.0-Non-Hispanic Other', '2.0-Non-Hispanic Other Multiracial': '2.0-Non-Hispanic Other','3.0-Non-Hispanic Biracial Black/Asian':'3.0-Non-Hispanic Other', '3.0-Non-Hispanic Other Multiracial':'3.0-Non-Hispanic Other'}).fillna(ad['region-race'])

In [30]:
ad['region-race-c'].value_counts()

3.0-Non-Hispanic White                   347
2.0-Non-Hispanic White                   326
1.0-Non-Hispanic White                   222
4.0-Non-Hispanic White                   212
3.0-Non-Hispanic Black                   121
4.0-Any Hispanic                          99
3.0-Any Hispanic                          78
2.0-Non-Hispanic Black                    45
4.0-Non-Hispanic Asian                    41
1.0-Non-Hispanic Black                    35
1.0-Any Hispanic                          33
3.0-Non-Hispanic Asian                    25
4.0-Non-Hispanic Black                    24
2.0-Any Hispanic                          23
1.0-Non-Hispanic Asian                    18
2.0-Non-Hispanic Asian                     7
3.0-Non-Hispanic Biracial White/Black      6
4.0-Non-Hispanic Other Single Race         6
3.0-Non-Hispanic Other                     5
4.0-Non-Hispanic Biracial White/Asian      4
4.0-Non-Hispanic Other Multiracial         2
2.0-Non-Hispanic Other                     2
3.0-Non-Hispanic Biracial White/Asian      2
2.0-Non-Hispanic Biracial White/Black      2
3.0-Non-Hispanic Other Single Race         1
2.0-Non-Hispanic Other Single Race         1
1.0-Non-Hispanic Other Single Race         1
Name: region-race-c, dtype: int64

In [31]:
ad['region-race'].value_counts()

3.0-Non-Hispanic White                   347
2.0-Non-Hispanic White                   326
1.0-Non-Hispanic White                   222
4.0-Non-Hispanic White                   212
3.0-Non-Hispanic Black                   121
4.0-Any Hispanic                          99
3.0-Any Hispanic                          78
2.0-Non-Hispanic Black                    45
4.0-Non-Hispanic Asian                    41
1.0-Non-Hispanic Black                    35
1.0-Any Hispanic                          33
3.0-Non-Hispanic Asian                    25
4.0-Non-Hispanic Black                    24
2.0-Any Hispanic                          23
1.0-Non-Hispanic Asian                    18
2.0-Non-Hispanic Asian                     7
4.0-Non-Hispanic Other Single Race         6
3.0-Non-Hispanic Biracial White/Black      6
4.0-Non-Hispanic Biracial White/Asian      4
3.0-Non-Hispanic Other Multiracial         4
4.0-Non-Hispanic Other Multiracial         2
3.0-Non-Hispanic Biracial White/Asian      2
2.0-Non-Hispanic Biracial White/Black      2
2.0-Non-Hispanic Other Single Race         1
2.0-Non-Hispanic Biracial White/Asian      1
1.0-Non-Hispanic Other Single Race         1
3.0-Non-Hispanic Biracial Black/Asian      1
2.0-Non-Hispanic Other Multiracial         1
3.0-Non-Hispanic Other Single Race         1
Name: region-race, dtype: int64

In [32]:
kd['region-race-c']=kd['region-race'].map({'1.0-Non-Hispanic Biracial Black/Asian': '1.0-Non-Hispanic Other', '1.0-Non-Hispanic Other Multiracial': '1.0-Non-Hispanic Other'}).fillna(kd['region-race'])

In [33]:
kd['region-race-c'].value_counts()

3.0-Non-Hispanic White                   356
2.0-Non-Hispanic White                   343
4.0-Any Hispanic                         248
3.0-Non-Hispanic Black                   205
4.0-Non-Hispanic White                   195
3.0-Any Hispanic                         193
1.0-Non-Hispanic White                   187
1.0-Any Hispanic                          67
2.0-Non-Hispanic Black                    63
1.0-Non-Hispanic Black                    52
2.0-Any Hispanic                          51
4.0-Non-Hispanic Asian                    36
3.0-Non-Hispanic Asian                    33
3.0-Non-Hispanic Biracial White/Black     31
4.0-Non-Hispanic Black                    27
2.0-Non-Hispanic Biracial White/Black     20
1.0-Non-Hispanic Asian                    19
4.0-Non-Hispanic Other Multiracial        19
4.0-Non-Hispanic Biracial White/Asian     14
2.0-Non-Hispanic Asian                    14
3.0-Non-Hispanic Biracial White/Asian      9
3.0-Non-Hispanic Other Multiracial         7
1.0-Non-Hispanic Biracial White/Asian      6
1.0-Non-Hispanic Other                     6
1.0-Non-Hispanic Biracial White/Black      6
4.0-Non-Hispanic Biracial White/Black      5
3.0-Non-Hispanic Other Single Race         4
2.0-Non-Hispanic Biracial Black/Asian      2
2.0-Non-Hispanic Biracial White/Asian      2
3.0-Non-Hispanic Biracial Black/Asian      2
1.0-Non-Hispanic Other Single Race         1
2.0-Non-Hispanic Other Multiracial         1
Name: region-race-c, dtype: int64

In [34]:
df =kd.append(ad)

In [131]:
#df =df[df.sex!='Missing']

In [35]:
final =['FinalPIN','region', 'age', 'sex', 'highestEd', 
       'Race/ethnicity', 'region-race-c']

In [36]:
df[final].to_csv('C:/Users/tsb7592/Downloads/NIHTB_demoFinal.csv', index=False)

# Validate

In [3]:
kids = pd.read_csv('C:/Users/tsb7592/Downloads/kids.csv')
adults = pd.read_csv('C:/Users/tsb7592/Downloads/adults.csv')

In [4]:
adults[['reg', 'race']] = adults['region.race.c'].str.split('-', 1, expand=True)

In [5]:
kids[['reg', 'race']] = kids['region.race.c'].str.split('-', 1, expand=True)

In [6]:
kids.head()

,FinalPIN,region,age,sex,highestEd,Race.ethnicity,region.race.c,weights,reg,race
0,MAP03001,2,3,2.0000,high school graduate,Non-Hispanic White,2.0-Non-Hispanic White,0.8856,2.0,Non-Hispanic White
1,MAP03002,2,3,1.0000,some college,Non-Hispanic White,2.0-Non-Hispanic White,0.9583,2.0,Non-Hispanic White
2,MAP03003,2,3,2.0000,some college,Non-Hispanic White,2.0-Non-Hispanic White,0.8727,2.0,Non-Hispanic White
3,MAP03004,2,3,2.0000,some college,Non-Hispanic White,2.0-Non-Hispanic White,0.8727,2.0,Non-Hispanic White
4,MAP03005,2,3,2.0000,high school graduate,Non-Hispanic White,2.0-Non-Hispanic White,0.8856,2.0,Non-Hispanic White

In [7]:
def crosstab(df, col='weights'):
    a =(df.groupby(['region','race'])[col].count()/df[col].count()).reset_index()
    a.columns=['region','race','Sum']
    aa =a.pivot_table(values=['Sum'], index=['region'], columns=['race'])
    return aa

In [8]:
kp = crosstab(kids)
kp

                Sum                                                       \
race   Any Hispanic Non-Hispanic Asian Non-Hispanic Biracial Black/Asian
region
1            0.0302             0.0086                               NaN
2            0.0230             0.0063                            0.0009
3            0.0869             0.0149                            0.0009
4            0.1116             0.0162                               NaN

                                                                            \
race   Non-Hispanic Biracial White/Asian Non-Hispanic Biracial White/Black
region
1                                 0.0027                            0.0027
2                                 0.0009                            0.0090
3                                 0.0041                            0.0140
4                                 0.0063                            0.0023

                                                                             \
race   Non-Hispanic Black Non-Hispanic Other Non-Hispanic Other Multiracial
region
1                  0.0230             0.0027                            NaN
2                  0.0284                NaN                         0.0005
3                  0.0923                NaN                         0.0032
4                  0.0122                NaN                         0.0086


race   Non-Hispanic Other Single Race Non-Hispanic White
region
1                              0.0005             0.0837
2                                 NaN             0.1544
3                              0.0018             0.1602
4                                 NaN             0.0878

In [9]:
ap = crosstab(adults,'weights.7a')
ap

                Sum                                                       \
race   Any Hispanic Non-Hispanic Asian Non-Hispanic Biracial White/Asian
region
1            0.0195             0.0107                               NaN
2            0.0136             0.0041                               NaN
3            0.0462             0.0148                            0.0012
4            0.0586             0.0243                            0.0024

                                                             \
race   Non-Hispanic Biracial White/Black Non-Hispanic Black
region
1                                    NaN             0.0207
2                                 0.0012             0.0267
3                                 0.0036             0.0717
4                                    NaN             0.0142

                                                          \
race   Non-Hispanic Other Non-Hispanic Other Multiracial
region
1                     NaN                            NaN
2                  0.0012                            NaN
3                  0.0030                            NaN
4                     NaN                         0.0012


race   Non-Hispanic Other Single Race Non-Hispanic White
region
1                              0.0006             0.1315
2                              0.0006             0.1931
3                              0.0006             0.2056
4                              0.0036             0.1256

In [10]:
def crosstab_w(df, col='weights'):
    a =(df.groupby(['region','race'])[col].sum()/df[col].sum()).reset_index()
    a.columns=['region','race','Sum']
    aa =a.pivot_table(values=['Sum'], index=['region'], columns=['race'])
    return aa

In [11]:
k7 = crosstab_w(kids)
k7

                Sum                                                       \
race   Any Hispanic Non-Hispanic Asian Non-Hispanic Biracial Black/Asian
region
1            0.0337             0.0116                               NaN
2            0.0274             0.0074                            0.0011
3            0.0969             0.0137                            0.0011
4            0.0958             0.0200                               NaN

                                                                            \
race   Non-Hispanic Biracial White/Asian Non-Hispanic Biracial White/Black
region
1                                 0.0021                            0.0032
2                                 0.0021                            0.0053
3                                 0.0042                            0.0084
4                                 0.0063                            0.0032

                                                                             \
race   Non-Hispanic Black Non-Hispanic Other Non-Hispanic Other Multiracial
region
1                  0.0190             0.0042                            NaN
2                  0.0253                NaN                         0.0023
3                  0.0769                NaN                         0.0105
4                  0.0095                NaN                         0.0316


race   Non-Hispanic Other Single Race Non-Hispanic White
region
1                              0.0023             0.0821
2                                 NaN             0.1316
3                              0.0090             0.1663
4                                 NaN             0.0863

In [12]:
a7=crosstab_w(adults, 'weights.7a')
a7

                Sum                                                       \
race   Any Hispanic Non-Hispanic Asian Non-Hispanic Biracial White/Asian
region
1            0.0247             0.0124                               NaN
2            0.0154             0.0072                               NaN
3            0.0638             0.0144                            0.0010
4            0.0638             0.0268                            0.0021

                                                             \
race   Non-Hispanic Biracial White/Black Non-Hispanic Black
region
1                                    NaN             0.0185
2                                 0.0010             0.0206
3                                 0.0021             0.0669
4                                    NaN             0.0103

                                                          \
race   Non-Hispanic Other Non-Hispanic Other Multiracial
region
1                     NaN                            NaN
2                  0.0051                            NaN
3                  0.0082                            NaN
4                     NaN                         0.0059


race   Non-Hispanic Other Single Race Non-Hispanic White
region
1                              0.0030             0.1143
2                              0.0030             0.1554
3                              0.0030             0.2162
4                              0.0154             0.1194

In [13]:
b7 =(adults.groupby(['region'])['weights.7b'].count()/adults['weights.7b'].sum()).reset_index()
b7.columns=['region','Sum']
b77 =b7.pivot_table(values=['Sum'], index=['region'])
b77

          Sum
region
1      0.1831
2      0.2405
3      0.3466
4      0.2299

In [14]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('C:/Users/tsb7592/Downloads/NIHTB_weights_output.xlsx', engine='xlsxwriter')

# Write each dataframe to a different worksheet.
kp.to_excel(writer, sheet_name='kids_unweighted')
ap.to_excel(writer, sheet_name='adults_unweighted')
k7.to_excel(writer, sheet_name='kids_obtained_weighted')
a7.to_excel(writer, sheet_name='adults_obtained_weighted_7a') 
b77.to_excel(writer, sheet_name='adults_obtained_weighted_7b') 

# Close the Pandas Excel writer and output the Excel file.
writer.save()