In [1]:
#Data saved in csv/excel
import glob, os
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
#Set two decimal points for display
pd.options.display.float_format = "{:.4f}".format

In [3]:
pe = pd.read_excel('C:/Users/tsb7592/Downloads/census_percentage_Collapsed.xlsx', sheet_name='self_edu')

In [4]:
pe =pe.round(3)
pe.values.tolist()

[[0.115, 0.276, 0.303, 0.306]]

In [53]:
adc = pd.read_excel('C:/Users/tsb7592/Downloads/census_percentage_Collapsed.xlsx', sheet_name='adults')

In [109]:
adc

,REGION,Hispanic,White,Black,Asian,OtherSingleRace,White/Black,White/Asian,Other,sum
0,Northeast,0.0240,0.1110,0.0180,0.0120,0.0070,0.0000,0.0000,0.0050,0.1770
1,Midwest,0.0150,0.1510,0.0200,0.0070,0.0080,0.0010,0.0000,0.0050,0.2070
2,South,0.0620,0.2100,0.0650,0.0140,0.0150,0.0020,0.0010,0.0080,0.3780
3,West,0.0620,0.1160,0.0100,0.0260,0.0150,0.0000,0.0020,0.0070,0.2380

In [110]:
adc.iloc[:,:-1].values.tolist()

[['Northeast', 0.024, 0.111, 0.018, 0.012, 0.007, 0.0, 0.0, 0.005],
 ['Midwest', 0.015, 0.151, 0.02, 0.007, 0.008, 0.001, 0.0, 0.005],
 ['South', 0.062, 0.21, 0.065, 0.014, 0.015, 0.002, 0.001, 0.008],
 ['West', 0.062, 0.116, 0.01, 0.026, 0.015, 0.0, 0.002, 0.007]]

In [43]:
kt = pd.read_excel('C:/Users/tsb7592/Downloads/census_percentage_Collapsed.xlsx', sheet_name='kids')

In [44]:
kt=kt.round(3)

In [45]:
kt

,REGION,Hispanic_kids,Asian_kids,White_kids,Black_kids,OtherSingleRace_kids,White/Black_kids,White/Asian_kids,Black/Asian_kids,Multi_kids,other,sum
0,Northeast,0.0320,0.0110,0.0780,0.0180,0.0120,0.0030,0.0020,0.0000,0.0000,0.0040,0.1600
1,Midwest,0.0260,0.0070,0.1250,0.0240,0.0000,0.0050,0.0030,0.0000,0.0000,0.0230,0.2120
2,South,0.0920,0.0130,0.1580,0.0730,0.0280,0.0080,0.0040,0.0000,0.0100,0.0000,0.3860
3,West,0.0910,0.0190,0.0820,0.0100,0.0000,0.0030,0.0060,0.0000,0.0000,0.0310,0.2420
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0000

In [115]:
kt.iloc[:4,:-1].values.tolist()

[['Northeast',
  0.032,
  0.078,
  0.018,
  0.011,
  0.012,
  0.003,
  0.002,
  0.0,
  0.0,
  0.004],
 ['Midwest', 0.026, 0.125, 0.024, 0.007, 0.0, 0.005, 0.003, 0.0, 0.0, 0.023],
 ['South', 0.092, 0.158, 0.073, 0.013, 0.028, 0.008, 0.004, 0.0, 0.01, 0.0],
 ['West', 0.091, 0.082, 0.01, 0.019, 0.0, 0.003, 0.006, 0.0, 0.0, 0.031]]

In [ ]:
# Get the files from each city
files = glob.glob('R:\\MSS\\Research\\MTB\\Reports\\NIHTB_demographics')

doc =[]
for file in rfiles:
    if 'Narrow Structure' in file:
        pass
    else:
        data = pd.read_csv(file)
        print(file)
        doc.append(data)

rdf = pd.concat(doc)

In [5]:
#New data from April
df = pd.read_csv('C:/Users/tsb7592/Downloads/2022-04-06_NIHTB_demoFinalRaw5.csv')
print(df.shape)

(3961, 80)

In [6]:
edu_recode={1:"less than high school graduate", 2:"high school graduate", 3:"some college",
4:"four year or higher degree", 5:'four year or higher degree',
0:"missing", 16:"missing"}

In [7]:
# exclude those with `Standalone MyCog` = yes
df['Standalone MyCog'].value_counts()

Yes    52
Name: Standalone MyCog, dtype: int64

In [8]:
df= df[df['Standalone MyCog']!='Yes']
df.shape

(3909, 80)

In [9]:
#Recode Edu to norming value
df['highestEd'] = df['highestEd'].map(edu_recode)

In [10]:
df.highestEd.value_counts()

four year or higher degree        1397
some college                      1283
high school graduate              1134
less than high school graduate      87
missing                              2
Name: highestEd, dtype: int64

# STEP 1

In [11]:
df.sex.value_counts()

2.0000     2034
1.0000     1869
69.0000       1
Name: sex, dtype: int64

In [12]:
df["sex"].replace({1:1, 2:2, 69:'Missing'}, inplace=True)

In [13]:
keep =['FinalPIN','region', 'age','sex', 'highestEd', 'hispanic', 'race_AmericanIndian', 'race_Asian',
       'race_Black', 'race_MiddleEast', 'race_Hawaiian',
       'race_OtherPacificIsl', 'race_White', 'race_unknwnNoAns']

In [14]:
df=df[keep].dropna()

# STEP 2 recode race/ethnicity

In [15]:
df.head()

,FinalPIN,region,age,sex,highestEd,hispanic,race_AmericanIndian,race_Asian,race_Black,race_MiddleEast,race_Hawaiian,race_OtherPacificIsl,race_White,race_unknwnNoAns
0,MAP03001,2.0000,3.0000,2.0000,high school graduate,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000
1,MAP03002,2.0000,3.0000,1.0000,some college,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000
2,MAP03003,2.0000,3.0000,2.0000,some college,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000
3,MAP03004,2.0000,3.0000,2.0000,some college,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000
4,MAP03005,2.0000,3.0000,2.0000,high school graduate,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000

In [16]:
def label_race (row):
    if row['hispanic'] > 1 :
        return 'Any Hispanic'
    elif row['race_White'] + row['race_MiddleEast'] >= 1 and row['race_AmericanIndian'] + row['race_Asian'] +row['race_Black'] + row['race_Hawaiian']+ row['race_OtherPacificIsl'] +row['race_unknwnNoAns']==0:
        return 'Non-Hispanic White'
    elif row['race_Black'] ==1  and row['race_White'] + row['race_MiddleEast'] + row['race_AmericanIndian'] + row['race_Asian'] + row['race_Hawaiian']+ row['race_OtherPacificIsl'] +row['race_unknwnNoAns']==0:
        return 'Non-Hispanic Black'
    elif  row['race_Asian'] ==1  and row['race_White'] + row['race_MiddleEast'] + row['race_AmericanIndian'] + row['race_Black'] + row['race_Hawaiian']+ row['race_OtherPacificIsl'] +row['race_unknwnNoAns']==0:
        return 'Non-Hispanic Asian'
    elif  row['race_Asian'] + row['race_White'] + row['race_MiddleEast'] + row['race_AmericanIndian'] + row['race_Black'] + row['race_Hawaiian']+ row['race_OtherPacificIsl'] +row['race_unknwnNoAns']==1:
        return 'Non-Hispanic Other Single Race'
    elif row['race_White'] + row['race_MiddleEast'] + row['race_Black'] >= 2 and row['race_AmericanIndian'] + row['race_Asian']  + row['race_Hawaiian']+ row['race_OtherPacificIsl'] +row['race_unknwnNoAns']==0:
        return 'Non-Hispanic Biracial White/Black'
    elif  row['race_White'] + row['race_MiddleEast'] + row['race_Asian'] >= 2 and row['race_AmericanIndian'] +row['race_Black'] + row['race_Hawaiian']+ row['race_OtherPacificIsl'] +row['race_unknwnNoAns']==0:
        return 'Non-Hispanic Biracial White/Asian'
    elif  row['race_Asian'] + row['race_Black'] == 2 and row['race_White'] + row['race_MiddleEast'] + row['race_AmericanIndian'] + row['race_Hawaiian']+ row['race_OtherPacificIsl'] +row['race_unknwnNoAns']==0:
        return 'Non-Hispanic Biracial Black/Asian'
    return 'Non-Hispanic Other Multiracial'

In [17]:
df['Race/ethnicity'] =df.apply (lambda row: label_race(row), axis=1)

In [18]:
df['Race/ethnicity'].value_counts()

Non-Hispanic White                   2162
Any Hispanic                          800
Non-Hispanic Black                    578
Non-Hispanic Asian                    193
Non-Hispanic Biracial White/Black      70
Non-Hispanic Other Multiracial         40
Non-Hispanic Biracial White/Asian      38
Non-Hispanic Other Single Race         15
Non-Hispanic Biracial Black/Asian       6
Name: Race/ethnicity, dtype: int64

# STEP 3 Separate kids and adults

In [19]:
df['region-race'] = df.region.map(str) + "-" + df['Race/ethnicity']

In [20]:
df['region-race'].unique()

array(['2.0-Non-Hispanic White', '2.0-Non-Hispanic Biracial White/Black',
       '2.0-Non-Hispanic Black', '2.0-Any Hispanic',
       '1.0-Non-Hispanic White', '2.0-Non-Hispanic Other Multiracial',
       '2.0-Non-Hispanic Asian', '2.0-Non-Hispanic Biracial White/Asian',
       '2.0-Non-Hispanic Other Single Race',
       '2.0-Non-Hispanic Biracial Black/Asian', '1.0-Non-Hispanic Black',
       '1.0-Any Hispanic', '1.0-Non-Hispanic Biracial White/Black',
       '1.0-Non-Hispanic Other Multiracial',
       '1.0-Non-Hispanic Other Single Race', '1.0-Non-Hispanic Asian',
       '1.0-Non-Hispanic Biracial White/Asian',
       '1.0-Non-Hispanic Biracial Black/Asian', '3.0-Non-Hispanic White',
       '3.0-Any Hispanic', '3.0-Non-Hispanic Black',
       '3.0-Non-Hispanic Other Multiracial',
       '3.0-Non-Hispanic Biracial White/Black', '3.0-Non-Hispanic Asian',
       '3.0-Non-Hispanic Biracial White/Asian',
       '3.0-Non-Hispanic Other Single Race',
       '3.0-Non-Hispanic Biracial Black/Asian', '4.0-Any Hispanic',
       '4.0-Non-Hispanic Black', '4.0-Non-Hispanic Other Multiracial',
       '4.0-Non-Hispanic White', '4.0-Non-Hispanic Biracial White/Asian',
       '4.0-Non-Hispanic Asian', '4.0-Non-Hispanic Biracial White/Black',
       '4.0-Non-Hispanic Other Single Race'], dtype=object)

In [21]:
df.head()

,FinalPIN,region,age,sex,highestEd,hispanic,race_AmericanIndian,race_Asian,race_Black,race_MiddleEast,race_Hawaiian,race_OtherPacificIsl,race_White,race_unknwnNoAns,Race/ethnicity,region-race
0,MAP03001,2.0000,3.0000,2.0000,high school graduate,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,Non-Hispanic White,2.0-Non-Hispanic White
1,MAP03002,2.0000,3.0000,1.0000,some college,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,Non-Hispanic White,2.0-Non-Hispanic White
2,MAP03003,2.0000,3.0000,2.0000,some college,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,Non-Hispanic White,2.0-Non-Hispanic White
3,MAP03004,2.0000,3.0000,2.0000,some college,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,Non-Hispanic White,2.0-Non-Hispanic White
4,MAP03005,2.0000,3.0000,2.0000,high school graduate,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,Non-Hispanic White,2.0-Non-Hispanic White

In [22]:
ad = df[df.age>=18]
kd = df[df.age<18]

In [23]:
def crosstab(df):
    a =df.groupby(['region','Race/ethnicity'])['age'].count().reset_index()
    a.columns=['region','Race/ethnicity','count']
    aa =a.pivot_table(values=['count'], index=['region'], columns=['Race/ethnicity'])
    aa=aa.fillna(0)
    aa.loc['Total',:]= aa.sum(axis=0)
    aa["sum"] = aa.sum(axis=1)
    
    return aa

In [24]:
aa =crosstab(ad)
aa

                      count                     \
Race/ethnicity Any Hispanic Non-Hispanic Asian
region
1.0                 34.0000            18.0000
2.0                 24.0000             7.0000
3.0                 78.0000            25.0000
4.0                100.0000            41.0000
Total              236.0000            91.0000

                                                  \
Race/ethnicity Non-Hispanic Biracial Black/Asian
region
1.0                                       0.0000
2.0                                       0.0000
3.0                                       1.0000
4.0                                       0.0000
Total                                     1.0000

                                                  \
Race/ethnicity Non-Hispanic Biracial White/Asian
region
1.0                                       0.0000
2.0                                       1.0000
3.0                                       2.0000
4.0                                       4.0000
Total                                     7.0000

                                                                     \
Race/ethnicity Non-Hispanic Biracial White/Black Non-Hispanic Black
region
1.0                                       0.0000            37.0000
2.0                                       2.0000            42.0000
3.0                                       6.0000           122.0000
4.0                                       0.0000            24.0000
Total                                     8.0000           225.0000

                                                                              \
Race/ethnicity Non-Hispanic Other Multiracial Non-Hispanic Other Single Race
region
1.0                                    0.0000                         1.0000
2.0                                    2.0000                         1.0000
3.0                                    4.0000                         1.0000
4.0                                    2.0000                         6.0000
Total                                  8.0000                         9.0000

                                        sum
Race/ethnicity Non-Hispanic White
region
1.0                      223.0000  313.0000
2.0                      280.0000  359.0000
3.0                      351.0000  590.0000
4.0                      217.0000  394.0000
Total                   1071.0000 1656.0000

In [25]:
kk =crosstab(kd)
kk

                      count                     \
Race/ethnicity Any Hispanic Non-Hispanic Asian
region
1.0                 69.0000            19.0000
2.0                 52.0000            14.0000
3.0                194.0000            33.0000
4.0                249.0000            36.0000
Total              564.0000           102.0000

                                                  \
Race/ethnicity Non-Hispanic Biracial Black/Asian
region
1.0                                       1.0000
2.0                                       2.0000
3.0                                       2.0000
4.0                                       0.0000
Total                                     5.0000

                                                  \
Race/ethnicity Non-Hispanic Biracial White/Asian
region
1.0                                       6.0000
2.0                                       2.0000
3.0                                       9.0000
4.0                                      14.0000
Total                                    31.0000

                                                                     \
Race/ethnicity Non-Hispanic Biracial White/Black Non-Hispanic Black
region
1.0                                       6.0000            52.0000
2.0                                      20.0000            67.0000
3.0                                      31.0000           207.0000
4.0                                       5.0000            27.0000
Total                                    62.0000           353.0000

                                                                              \
Race/ethnicity Non-Hispanic Other Multiracial Non-Hispanic Other Single Race
region
1.0                                    5.0000                         2.0000
2.0                                    1.0000                         0.0000
3.0                                    7.0000                         4.0000
4.0                                   19.0000                         0.0000
Total                                 32.0000                         6.0000

                                        sum
Race/ethnicity Non-Hispanic White
region
1.0                      188.0000  348.0000
2.0                      348.0000  506.0000
3.0                      359.0000  846.0000
4.0                      196.0000  546.0000
Total                   1091.0000 2246.0000

# STEP 4 adults

In [26]:
ad.groupby('region')['age'].count()

region
1.0000    313
2.0000    359
3.0000    590
4.0000    394
Name: age, dtype: int64

# STEP 5 sex tableau

In [27]:
ad.groupby('sex')['age'].count()

sex
1.0        747
2.0        908
Missing      1
Name: age, dtype: int64

In [28]:
kd.groupby('sex')['age'].count()

sex
1.0000    1120
2.0000    1126
Name: age, dtype: int64

# 6 Recode highest education and tabulate it separately for kids and adults: 

less than high school graduate is highestEd=1 
high school graduate is highestEd=2 
some college is highestEd=3 
four year or higher degree is highestEd=4 or 5 
all other education variables treat as missing

In [29]:
ad.groupby('highestEd')['age'].count().reset_index()

                        highestEd  age
0      four year or higher degree  490
1            high school graduate  573
2  less than high school graduate   31
3                    some college  562

In [30]:
kd['highestEd'].value_counts()

four year or higher degree        907
some college                      721
high school graduate              560
less than high school graduate     56
missing                             2
Name: highestEd, dtype: int64

In [31]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('C:/Users/tsb7592/Downloads/NIHTB_counts_April.xlsx', engine='xlsxwriter')

# Write each dataframe to a different worksheet.
aa.to_excel(writer, sheet_name='adults')
kk.to_excel(writer, sheet_name='kids')  
ad['highestEd'].value_counts().to_excel(writer, sheet_name='ad_edu') 
kd['highestEd'].value_counts().to_excel(writer, sheet_name='kids_edu') 
# Close the Pandas Excel writer and output the Excel file.
writer.save()

# Collapse

In [32]:
ad['region-race-c']=ad['region-race'].map({'2.0-Non-Hispanic Biracial White/Asian': '2.0-Non-Hispanic Other', '2.0-Non-Hispanic Other Multiracial': '2.0-Non-Hispanic Other','3.0-Non-Hispanic Biracial Black/Asian':'3.0-Non-Hispanic Other', '3.0-Non-Hispanic Other Multiracial':'3.0-Non-Hispanic Other'}).fillna(ad['region-race'])

In [33]:
ad['region-race-c'].value_counts()

3.0-Non-Hispanic White                   351
2.0-Non-Hispanic White                   280
1.0-Non-Hispanic White                   223
4.0-Non-Hispanic White                   217
3.0-Non-Hispanic Black                   122
4.0-Any Hispanic                         100
3.0-Any Hispanic                          78
2.0-Non-Hispanic Black                    42
4.0-Non-Hispanic Asian                    41
1.0-Non-Hispanic Black                    37
1.0-Any Hispanic                          34
3.0-Non-Hispanic Asian                    25
2.0-Any Hispanic                          24
4.0-Non-Hispanic Black                    24
1.0-Non-Hispanic Asian                    18
2.0-Non-Hispanic Asian                     7
4.0-Non-Hispanic Other Single Race         6
3.0-Non-Hispanic Biracial White/Black      6
3.0-Non-Hispanic Other                     5
4.0-Non-Hispanic Biracial White/Asian      4
2.0-Non-Hispanic Other                     3
2.0-Non-Hispanic Biracial White/Black      2
3.0-Non-Hispanic Biracial White/Asian      2
4.0-Non-Hispanic Other Multiracial         2
1.0-Non-Hispanic Other Single Race         1
3.0-Non-Hispanic Other Single Race         1
2.0-Non-Hispanic Other Single Race         1
Name: region-race-c, dtype: int64

In [34]:
ad['region-race'].value_counts()

3.0-Non-Hispanic White                   351
2.0-Non-Hispanic White                   280
1.0-Non-Hispanic White                   223
4.0-Non-Hispanic White                   217
3.0-Non-Hispanic Black                   122
4.0-Any Hispanic                         100
3.0-Any Hispanic                          78
2.0-Non-Hispanic Black                    42
4.0-Non-Hispanic Asian                    41
1.0-Non-Hispanic Black                    37
1.0-Any Hispanic                          34
3.0-Non-Hispanic Asian                    25
4.0-Non-Hispanic Black                    24
2.0-Any Hispanic                          24
1.0-Non-Hispanic Asian                    18
2.0-Non-Hispanic Asian                     7
4.0-Non-Hispanic Other Single Race         6
3.0-Non-Hispanic Biracial White/Black      6
4.0-Non-Hispanic Biracial White/Asian      4
3.0-Non-Hispanic Other Multiracial         4
2.0-Non-Hispanic Other Multiracial         2
3.0-Non-Hispanic Biracial White/Asian      2
4.0-Non-Hispanic Other Multiracial         2
2.0-Non-Hispanic Biracial White/Black      2
2.0-Non-Hispanic Biracial White/Asian      1
3.0-Non-Hispanic Biracial Black/Asian      1
1.0-Non-Hispanic Other Single Race         1
2.0-Non-Hispanic Other Single Race         1
3.0-Non-Hispanic Other Single Race         1
Name: region-race, dtype: int64

In [35]:
kd['region-race-c']=kd['region-race'].map({'1.0-Non-Hispanic Biracial Black/Asian': '1.0-Non-Hispanic Other', '1.0-Non-Hispanic Other Multiracial': '1.0-Non-Hispanic Other'}).fillna(kd['region-race'])

In [36]:
kd['region-race-c'].value_counts()

3.0-Non-Hispanic White                   359
2.0-Non-Hispanic White                   348
4.0-Any Hispanic                         249
3.0-Non-Hispanic Black                   207
4.0-Non-Hispanic White                   196
3.0-Any Hispanic                         194
1.0-Non-Hispanic White                   188
1.0-Any Hispanic                          69
2.0-Non-Hispanic Black                    67
1.0-Non-Hispanic Black                    52
2.0-Any Hispanic                          52
4.0-Non-Hispanic Asian                    36
3.0-Non-Hispanic Asian                    33
3.0-Non-Hispanic Biracial White/Black     31
4.0-Non-Hispanic Black                    27
2.0-Non-Hispanic Biracial White/Black     20
1.0-Non-Hispanic Asian                    19
4.0-Non-Hispanic Other Multiracial        19
4.0-Non-Hispanic Biracial White/Asian     14
2.0-Non-Hispanic Asian                    14
3.0-Non-Hispanic Biracial White/Asian      9
3.0-Non-Hispanic Other Multiracial         7
1.0-Non-Hispanic Biracial White/Asian      6
1.0-Non-Hispanic Biracial White/Black      6
1.0-Non-Hispanic Other                     6
4.0-Non-Hispanic Biracial White/Black      5
3.0-Non-Hispanic Other Single Race         4
2.0-Non-Hispanic Biracial White/Asian      2
1.0-Non-Hispanic Other Single Race         2
3.0-Non-Hispanic Biracial Black/Asian      2
2.0-Non-Hispanic Biracial Black/Asian      2
2.0-Non-Hispanic Other Multiracial         1
Name: region-race-c, dtype: int64

In [37]:
df =kd.append(ad)

In [36]:
#df =df[df.sex!='Missing']

In [38]:
final =['FinalPIN','region', 'age', 'sex', 'highestEd', 
       'Race/ethnicity', 'region-race-c']

In [39]:
df[final].to_csv('C:/Users/tsb7592/Downloads/NIHTB_demoFinal_April.csv', index=False)

# Validate

In [40]:
kids = pd.read_csv('C:/Users/tsb7592/Downloads/kids_April.csv')
adults = pd.read_csv('C:/Users/tsb7592/Downloads/adults_April.csv')

In [41]:
adults[['reg', 'race']] = adults['region.race.c'].str.split('-', 1, expand=True)

In [42]:
kids[['reg', 'race']] = kids['region.race.c'].str.split('-', 1, expand=True)

In [43]:
kids.head()

,FinalPIN,region,age,sex,highestEd,Race.ethnicity,region.race.c,weights,reg,race
0,MAP03001,2,3,2.0000,high school graduate,Non-Hispanic White,2.0-Non-Hispanic White,0.8529,2.0,Non-Hispanic White
1,MAP03002,2,3,1.0000,some college,Non-Hispanic White,2.0-Non-Hispanic White,0.9048,2.0,Non-Hispanic White
2,MAP03003,2,3,2.0000,some college,Non-Hispanic White,2.0-Non-Hispanic White,0.8265,2.0,Non-Hispanic White
3,MAP03004,2,3,2.0000,some college,Non-Hispanic White,2.0-Non-Hispanic White,0.8265,2.0,Non-Hispanic White
4,MAP03005,2,3,2.0000,high school graduate,Non-Hispanic White,2.0-Non-Hispanic White,0.8529,2.0,Non-Hispanic White

In [44]:
def crosstab(df, col='weights'):
    a =(df.groupby(['region','race'])[col].count()/df[col].count()).reset_index()
    a.columns=['region','race','Sum']
    aa =a.pivot_table(values=['Sum'], index=['region'], columns=['race'])
    return aa

In [45]:
kp = crosstab(kids)
kp

                Sum                                                       \
race   Any Hispanic Non-Hispanic Asian Non-Hispanic Biracial Black/Asian
region
1            0.0307             0.0085                               NaN
2            0.0232             0.0062                            0.0009
3            0.0865             0.0147                            0.0009
4            0.1110             0.0160                               NaN

                                                                            \
race   Non-Hispanic Biracial White/Asian Non-Hispanic Biracial White/Black
region
1                                 0.0027                            0.0027
2                                 0.0009                            0.0089
3                                 0.0040                            0.0138
4                                 0.0062                            0.0022

                                                                             \
race   Non-Hispanic Black Non-Hispanic Other Non-Hispanic Other Multiracial
region
1                  0.0227             0.0027                            NaN
2                  0.0299                NaN                         0.0004
3                  0.0922                NaN                         0.0031
4                  0.0120                NaN                         0.0085


race   Non-Hispanic Other Single Race Non-Hispanic White
region
1                              0.0009             0.0833
2                                 NaN             0.1551
3                              0.0018             0.1600
4                                 NaN             0.0873

In [46]:
ap = crosstab(adults,'weights.7a')
ap

                Sum                                                       \
race   Any Hispanic Non-Hispanic Asian Non-Hispanic Biracial White/Asian
region
1            0.0205             0.0109                               NaN
2            0.0145             0.0042                               NaN
3            0.0471             0.0151                            0.0012
4            0.0604             0.0248                            0.0024

                                                             \
race   Non-Hispanic Biracial White/Black Non-Hispanic Black
region
1                                    NaN             0.0223
2                                 0.0012             0.0254
3                                 0.0036             0.0737
4                                    NaN             0.0145

                                                          \
race   Non-Hispanic Other Non-Hispanic Other Multiracial
region
1                     NaN                            NaN
2                  0.0018                            NaN
3                  0.0030                            NaN
4                     NaN                         0.0012


race   Non-Hispanic Other Single Race Non-Hispanic White
region
1                              0.0006             0.1347
2                              0.0006             0.1691
3                              0.0006             0.2120
4                              0.0036             0.1310

In [47]:
def crosstab_w(df, col='weights'):
    a =(df.groupby(['region','race'])[col].sum()/df[col].sum()).reset_index()
    a.columns=['region','race','Sum']
    aa =a.pivot_table(values=['Sum'], index=['region'], columns=['race'])
    return aa

In [48]:
k7 = crosstab_w(kids)
k7

                Sum                                                       \
race   Any Hispanic Non-Hispanic Asian Non-Hispanic Biracial Black/Asian
region
1            0.0337             0.0116                               NaN
2            0.0274             0.0074                            0.0011
3            0.0970             0.0137                            0.0011
4            0.0959             0.0200                               NaN

                                                                            \
race   Non-Hispanic Biracial White/Asian Non-Hispanic Biracial White/Black
region
1                                 0.0021                            0.0032
2                                 0.0021                            0.0053
3                                 0.0042                            0.0084
4                                 0.0063                            0.0032

                                                                             \
race   Non-Hispanic Black Non-Hispanic Other Non-Hispanic Other Multiracial
region
1                  0.0190             0.0042                            NaN
2                  0.0253                NaN                         0.0018
3                  0.0769                NaN                         0.0105
4                  0.0095                NaN                         0.0316


race   Non-Hispanic Other Single Race Non-Hispanic White
region
1                              0.0036             0.0822
2                                 NaN             0.1317
3                              0.0071             0.1665
4                                 NaN             0.0864

In [49]:
a7=crosstab_w(adults, 'weights.7a')
a7

                Sum                                                       \
race   Any Hispanic Non-Hispanic Asian Non-Hispanic Biracial White/Asian
region
1            0.0248             0.0124                               NaN
2            0.0155             0.0072                               NaN
3            0.0641             0.0145                            0.0010
4            0.0641             0.0269                            0.0021

                                                             \
race   Non-Hispanic Biracial White/Black Non-Hispanic Black
region
1                                    NaN             0.0186
2                                 0.0010             0.0207
3                                 0.0021             0.0672
4                                    NaN             0.0103

                                                          \
race   Non-Hispanic Other Non-Hispanic Other Multiracial
region
1                     NaN                            NaN
2                  0.0052                            NaN
3                  0.0083                            NaN
4                     NaN                         0.0048


race   Non-Hispanic Other Single Race Non-Hispanic White
region
1                              0.0024             0.1147
2                              0.0024             0.1560
3                              0.0024             0.2170
4                              0.0145             0.1199

In [50]:
b7 =(adults.groupby(['region'])['weights.7b'].count()/adults['weights.7b'].sum()).reset_index()
b7.columns=['region','Sum']
b77 =b7.pivot_table(values=['Sum'], index=['region'])
b77

          Sum
region
1      0.1890
2      0.2168
3      0.3563
4      0.2379

In [52]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('C:/Users/tsb7592/Downloads/NIHTB_weights_output_April.xlsx', engine='xlsxwriter')

# Write each dataframe to a different worksheet.
kp.to_excel(writer, sheet_name='kids_unweighted')
ap.to_excel(writer, sheet_name='adults_unweighted')
k7.to_excel(writer, sheet_name='kids_obtained_weighted')
a7.to_excel(writer, sheet_name='adults_obtained_weighted_7a') 
b77.to_excel(writer, sheet_name='adults_obtained_weighted_7b') 

# Close the Pandas Excel writer and output the Excel file.
writer.save()