In [1]:
#Data saved in csv/excel
import glob, os
import pandas as pd
import json
import warnings
warnings.filterwarnings('ignore')

data_dir="C:/Users/tsb7592/OneDrive - Northwestern University/V3 Person Ability Estimates"
os.chdir(data_dir)

In [2]:
#Set two decimal points for display
pd.options.display.float_format = "{:.2f}".format

In [3]:
weights = pd.read_csv('C:/Users/tsb7592/Downloads/all_weights.csv')

In [6]:
weights.columns = weights.columns.str.upper()

In [18]:
weights.shape

(3902, 10)

In [8]:
s =weights.FINALPIN.value_counts()
s[s>1]

Series([], Name: FINALPIN, dtype: int64)

# DCCS

In [9]:
df = pd.read_csv(data_dir+'/DCCS/dccs_scored_final.csv')

In [10]:
keep =['FINALPIN', 'HAS_MIN_RESP_ALL', 'PROP_CORRECT2_ALL',
       'PROP_CORRECT2_REPEATED', 'PROP_CORRECT2_SWITCHED', 'MEDIAN_RT',
       'MEDIAN_RT2', 'MEDIAN_C_RT_ALL', 'MEDIAN_C_RT_REPEATED',
       'MEDIAN_C_RT_SWITCHED', 'MEDIAN_E_RT_ALL', 'MEDIAN_E_RT_SWITCHED',
       'MEDIAN_E_RT_REPEATED', 'RCS1_REPEATED', 'RCS1_SWITCHED',
       'RCS1_DIFF_SWITCHED', 'RCS1_RAITO_SWITCHED', 'RCS1_ALL',
       'RCS2_REPEATED', 'RCS2_SWITCHED', 'RCS2_DIFF_SWITCHED',
       'RCS2_RAITO_SWITCHED', 'RCS2_ALL', 'LISAS_ALL', 'LISAS_REPEATED',
       'LISAS_SWITCHED', 'LISAS_DIFF', 'LISAS_RATIO', 'DCCS_V2_NONDOM',
       'DCCS_V2_SWITCHED']

In [11]:
df.columns

Index(['FINALPIN', 'REGISTRATIONID', 'SEX', 'AGE', 'HIGHESTED', 'HIGHESTEDU_L',
       'HISPANIC', 'RACE', 'RACE_L', 'HAS_MIN_RESP_ALL', 'PROP_CORRECT2_ALL',
       'PROP_CORRECT2_REPEATED', 'PROP_CORRECT2_SWITCHED', 'MEDIAN_RT',
       'MEDIAN_RT2', 'MEDIAN_C_RT_ALL', 'MEDIAN_C_RT_REPEATED',
       'MEDIAN_C_RT_SWITCHED', 'MEDIAN_E_RT_ALL', 'MEDIAN_E_RT_SWITCHED',
       'MEDIAN_E_RT_REPEATED', 'RCS1_REPEATED', 'RCS1_SWITCHED',
       'RCS1_DIFF_SWITCHED', 'RCS1_RAITO_SWITCHED', 'RCS1_ALL',
       'RCS2_REPEATED', 'RCS2_SWITCHED', 'RCS2_DIFF_SWITCHED',
       'RCS2_RAITO_SWITCHED', 'RCS2_ALL', 'LISAS_ALL', 'LISAS_REPEATED',
       'LISAS_SWITCHED', 'LISAS_DIFF', 'LISAS_RATIO', 'DCCS_V2_NONDOM',
       'DCCS_V2_SWITCHED'],
      dtype='object')

In [12]:
df=df[keep]

In [13]:
df =df.rename({col:'dccs_'+ col for col in keep[1:-2]}, axis=1)

In [14]:
s =df.FINALPIN.value_counts()
s[s>1].index

Index([], dtype='object')

In [15]:
data =pd.merge(weights, df, how='left',on='FINALPIN')

In [16]:
data.shape

(3902, 39)

# Flanker

In [19]:
df = pd.read_csv(data_dir+'/Flanker/flanker_scored_final.csv')

In [20]:
df.columns

Index(['FINALPIN', 'REGISTRATIONID', 'SEX', 'AGE', 'HIGHESTED', 'HIGHESTEDU_L',
       'HISPANIC', 'RACE', 'RACE_L', 'HAS_MIN_RESP_ALL', 'PROP_CORRECT2_ALL',
       'PROP_CORRECT2_CONG', 'PROP_CORRECT2_INCONG', 'MEDIAN_C_RT_CONG',
       'MEDIAN_C_RT_INCONG', 'MEDIAN_C_RT_ALL', 'RCS1_CONG', 'RCS2_CONG',
       'RCS1_INCONG', 'RCS2_INCONG', 'RCS1_DIFF', 'RCS2_DIFF', 'RCS1_RATIO',
       'RCS2_RATIO', 'RCS1_ALL', 'RCS2_ALL', 'LISAS_CONG', 'LISAS_INCONG',
       'LISAS_DIFF', 'LISAS_RATIO', 'LISAS_ALL', 'FLANKER_V2_INCONG',
       'MEDIAN_RT', 'MEDIAN_RT2'],
      dtype='object')

In [21]:
keep =['FINALPIN',  'HAS_MIN_RESP_ALL', 'PROP_CORRECT2_ALL',
       'PROP_CORRECT2_CONG', 'PROP_CORRECT2_INCONG', 'MEDIAN_C_RT_CONG',
       'MEDIAN_C_RT_INCONG', 'MEDIAN_C_RT_ALL', 'RCS1_CONG', 'RCS2_CONG',
       'RCS1_INCONG', 'RCS2_INCONG', 'RCS1_DIFF', 'RCS2_DIFF', 'RCS1_RATIO',
       'RCS2_RATIO', 'RCS1_ALL', 'RCS2_ALL', 'LISAS_CONG', 'LISAS_INCONG',
       'LISAS_DIFF', 'LISAS_RATIO', 'LISAS_ALL', 'FLANKER_V2_INCONG',
       'MEDIAN_RT', 'MEDIAN_RT2']

In [22]:
df=df[keep]

In [23]:
df =df.rename({col:'flanker_'+ col for col in keep[1:-1]}, axis=1)

In [24]:
data =pd.merge(data, df, how='left',on='FINALPIN')

In [25]:
data.shape

(3902, 64)

# FNAME

In [26]:
df = pd.read_csv(data_dir+'/FNAME/fname_personability.csv')

In [27]:
df=df.rename(columns = {'FinalPIN':'FINALPIN'})

In [28]:
s =df.FINALPIN.value_counts()
s[s>1].index

Index([], dtype='object')

In [29]:
df =df.rename({col:'fname_'+ col for col in df.columns[1:]}, axis=1)

In [30]:
data =pd.merge(data, df, how='left',on='FINALPIN')

In [31]:
data.shape

(3902, 66)

# LSWM

In [32]:
df = pd.read_excel(data_dir+'/LSWM/PFILE_LSWM_Rescore 062122.xlsx', index_col=0)

In [33]:
df.head()

,MEASURE,STATUS,COUNT,SCORE,MODLSE,IN.MSQ,IN.ZEMP,OUT.MSQ,OUT.ZEMP,DISPLACE,...,WEIGHT,OBSMATCH,EXPMATCH,PTMA-E,RMSR,WMLE,INDF,OUTDF,Final PIN,Old PIN
ENTRY,,,,,,,,,,,,,,,,,,,,,
1,1.03,1,24,14,0.80,0.41,-1.38,0.13,-0.60,0.00,...,1,100.00,90.86,0.81,0.16,1.00,9.67,1.00,WPX40006,WPX40006
2,-2.00,1,24,9,0.80,0.75,-0.39,0.27,-0.30,0.00,...,1,95.83,90.86,0.77,0.22,-1.98,9.20,1.00,WPX17024,WPX17024
3,3.11,1,24,17,0.84,1.21,0.52,0.43,-0.08,0.00,...,1,87.50,91.87,0.76,0.27,3.11,9.14,1.04,WPX20126,WPX20126
4,0.40,1,24,13,0.78,0.40,-1.55,0.14,-0.59,0.00,...,1,100.00,90.44,0.81,0.16,0.38,11.08,1.00,WPX30014,WPX30014
5,-8.67,-1,24,0,1.54,1.00,0.00,1.00,0.00,0.00,...,1,100.00,100.00,0.00,0.00,-8.67,0.00,0.00,WPX06023,WPX06023

In [34]:
df=df.rename(columns = {'Final PIN':'FINALPIN'})

In [35]:
s =df.FINALPIN.value_counts()
s[s>1].index

Index([], dtype='object')

In [36]:
df =df.rename({col:'LSWM_'+ col for col in df.columns[:-2]}, axis=1)

In [37]:
data =pd.merge(data, df.iloc[:,:-1], how='left',on='FINALPIN')

In [38]:
data.shape

(3902, 85)

# Oral Reading

In [39]:
df = pd.read_excel(data_dir+'/Oral Reading/PFILE_OR_RESCORE_062122.xlsx', index_col=0)
df=df.rename(columns = {'Final PIN':'FINALPIN'})

In [40]:
df =df.iloc[:,:-3]

In [41]:
s =df.FINALPIN.value_counts()
s[s>1].index

Index([], dtype='object')

In [42]:
df =df.rename({col:'OR_'+ col for col in df.columns[:-1]}, axis=1)

In [43]:
data =pd.merge(data, df, how='left',on='FINALPIN')

In [44]:
data.shape

(3902, 104)

# OSD

In [45]:
df = pd.read_csv(data_dir+'/OSD/OSD_FinalEstimates.csv', index_col=0)
df=df.rename(columns = {'PIN':'FINALPIN'})

In [46]:
s =df.FINALPIN.value_counts()
s[s>1].index

Index([], dtype='object')

In [47]:
df =df.rename({col:'OSD_'+ col for col in df.columns[1:]}, axis=1)

In [48]:
data =pd.merge(data, df, how='left',on='FINALPIN')

In [49]:
data.shape

(3902, 106)

# Pattern Comparison

In [50]:
df = pd.read_csv(data_dir+'/Pattern Comparison/pc_ability_est_80.csv')
df=df.rename(columns = {'FinalPIN':'FINALPIN'})

In [51]:
df.head()

   FINALPIN  age  sum_score80  theta80  SE80   eap
0  MAP05001 5.00           45    -4.08  0.35 -4.02
1  MAP05003 5.00           19    -6.80  0.32 -6.73
2  MAP05004 5.00           50    -3.45  0.36 -3.40
3  MAP05005 5.00           32    -5.51  0.32 -5.44
4  MAP05006 5.00           15    -7.24  0.34 -7.16

In [52]:
s =df.FINALPIN.value_counts()
s[s>1]

Series([], Name: FINALPIN, dtype: int64)

In [53]:
del df['age']

In [54]:
df =df.rename({col:'pc_'+ col for col in df.columns[1:]}, axis=1)

In [55]:
data =pd.merge(data, df, how='left',on='FINALPIN')

data.head()

,FINALPIN,REGION,AGE,SEX,HIGHESTEDU,REGION.RACE,REGION.SEX,AGEGROUP,WEIGHTS4,WEIGHTS10,...,OR_RMSR,OR_WMLE,OR_INDF,OR_OUTDF,OSD_Theta,OSD_Theta SE,pc_sum_score80,pc_theta80,pc_SE80,pc_eap
0,MAP03001,2,3,Female,high school graduate,2-White,2-Female,Child,0.91,0.91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MAP03002,2,3,Male,some college,2-White,2-Male,Child,0.70,0.70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,MAP03003,2,3,Female,some college,2-White,2-Female,Child,0.74,0.74,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MAP03004,2,3,Female,some college,2-White,2-Female,Child,0.74,0.74,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MAP03005,2,3,Female,high school graduate,2-White,2-Female,Child,0.91,0.91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
data.shape

(3902, 110)

# Picture Sequence Memory

In [57]:
df = pd.read_excel(data_dir+'/Picture Sequence Memory/PFILE_Rescored 062522.xlsx', index_col=0)
df=df.rename(columns = {'New PIN':'FINALPIN'})

In [58]:
df.head()

,MEASURE,STATUS,COUNT,SCORE,MODLSE,IN.MSQ,IN.ZEMP,OUT.MSQ,OUT.ZEMP,DISPLACE,...,OBSMATCH,EXPMATCH,PTMA-E,RMSR,WMLE,INDF,OUTDF,Group,FINALPIN,Old PIN
ENTRY,,,,,,,,,,,,,,,,,,,,,
1,-6.80,1,2,2,0.85,0.81,-0.08,0.81,-0.02,0.00,...,0,23.86,0,0.75,-6.81,6.62,6.60,Group 1,WPX03003,WPX03003
2,-7.58,1,2,1,0.97,0.21,-0.42,0.23,-0.09,0.00,...,100,47.47,0,0.34,-7.24,2.56,1.86,Group 1,NBS05020,NBS05020
3,-6.80,1,2,2,0.85,0.81,-0.08,0.81,-0.02,0.00,...,0,23.86,0,0.75,-6.81,6.62,6.60,Group 1,MCH04009,MCH04009
4,-6.80,1,2,2,0.85,0.81,-0.08,0.81,-0.02,0.00,...,0,23.86,0,0.75,-6.81,6.62,6.60,Group 1,MAP03007,MAP03007
5,-6.80,1,2,2,0.85,0.81,-0.08,0.81,-0.02,0.00,...,0,23.86,0,0.75,-6.81,6.62,6.60,Group 1,SBM03009,SBM03009

In [59]:
s =df.FINALPIN.value_counts()
s[s>1].index

Index([], dtype='object')

In [60]:
df =df.rename({col:'psm_'+ col for col in df.columns[:-2]}, axis=1)

In [61]:
del df['Old PIN']

In [62]:
data =pd.merge(data, df, how='left',on='FINALPIN')

data.head()

,FINALPIN,REGION,AGE,SEX,HIGHESTEDU,REGION.RACE,REGION.SEX,AGEGROUP,WEIGHTS4,WEIGHTS10,...,psm_PTMA,psm_WEIGHT,psm_OBSMATCH,psm_EXPMATCH,psm_PTMA-E,psm_RMSR,psm_WMLE,psm_INDF,psm_OUTDF,psm_Group
0,MAP03001,2,3,Female,high school graduate,2-White,2-Female,Child,0.91,0.91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MAP03002,2,3,Male,some college,2-White,2-Male,Child,0.70,0.70,...,0.00,1.00,100.00,33.36,0.00,0.02,-4.22,7.99,7.95,Group 2
2,MAP03003,2,3,Female,some college,2-White,2-Female,Child,0.74,0.74,...,0.00,1.00,100.00,100.00,0.00,0.00,-6.20,0.00,0.00,Group 1
3,MAP03004,2,3,Female,some college,2-White,2-Female,Child,0.74,0.74,...,0.00,1.00,0.00,58.75,0.00,0.64,-2.79,1.60,1.53,Group 2
4,MAP03005,2,3,Female,high school graduate,2-White,2-Female,Child,0.91,0.91,...,0.00,1.00,0.00,47.44,0.00,0.55,-4.48,2.20,2.19,Group 1

In [63]:
data.shape

(3902, 130)

# Picture Vocabulary

In [76]:
df = pd.read_excel(data_dir+'/Picture Vocabulary/PFILE_PV_Fixed070722.xlsx', index_col=0)
df=df.rename(columns = {'New PIN':'FINALPIN'})

In [77]:
df['FINALPIN'] = df['FINALPIN'].str[:8]
df.head()

,MEASURE,STATUS,COUNT,SCORE,MODLSE,IN.MSQ,IN.ZEMP,OUT.MSQ,OUT.ZEMP,DISPLACE,...,OBSMATCH,EXPMATCH,PTMA-E,RMSR,WMLE,INDF,OUTDF,FINALPIN,Old PIN,Age in Months
ENTRY,,,,,,,,,,,,,,,,,,,,,
295,6.28,1,25,21,0.60,0.61,-1.21,0.32,-0.46,0.00,...,88.00,84.24,0.39,0.26,6.20,18.72,1.51,SNA70117,SNA70178,97.69
743,6.09,1,24,19,0.58,1.68,1.94,2.89,1.61,0.00,...,70.83,81.70,0.45,0.46,6.04,23.29,1.80,MSL85107,MSL85107,1041.27
1596,5.94,1,25,20,0.56,1.63,1.87,8.95,3.80,0.00,...,76.00,81.64,0.42,0.45,5.88,24.75,2.16,SAT85111,SAT85111,116.05
2484,5.77,1,24,18,0.55,0.65,-1.31,0.44,-0.53,0.00,...,91.67,79.98,0.48,0.30,5.74,27.40,2.51,NBS85108,NBS85108,1064.50
739,5.63,1,25,19,0.54,0.90,-0.31,0.73,-0.10,0.00,...,80.00,79.37,0.46,0.35,5.59,29.79,2.98,MSL85103,MSL85103,1065.62

In [78]:
df =df.rename({col:'pv_'+ col for col in df.columns[:-3]}, axis=1)

In [82]:
df.iloc[:,:-2]

,pv_MEASURE,pv_STATUS,pv_COUNT,pv_SCORE,pv_MODLSE,pv_IN.MSQ,pv_IN.ZEMP,pv_OUT.MSQ,pv_OUT.ZEMP,pv_DISPLACE,pv_PTMA,pv_WEIGHT,pv_OBSMATCH,pv_EXPMATCH,pv_PTMA-E,pv_RMSR,pv_WMLE,pv_INDF,pv_OUTDF,FINALPIN
ENTRY,,,,,,,,,,,,,,,,,,,,
295,6.28,1,25,21,0.60,0.61,-1.21,0.32,-0.46,0.00,0.59,1,88.00,84.24,0.39,0.26,6.20,18.72,1.51,SNA70117
743,6.09,1,24,19,0.58,1.68,1.94,2.89,1.61,0.00,0.02,1,70.83,81.70,0.45,0.46,6.04,23.29,1.80,MSL85107
1596,5.94,1,25,20,0.56,1.63,1.87,8.95,3.80,0.00,-0.15,1,76.00,81.64,0.42,0.45,5.88,24.75,2.16,SAT85111
2484,5.77,1,24,18,0.55,0.65,-1.31,0.44,-0.53,0.00,0.65,1,91.67,79.98,0.48,0.30,5.74,27.40,2.51,NBS85108
739,5.63,1,25,19,0.54,0.90,-0.31,0.73,-0.10,0.00,0.51,1,80.00,79.37,0.46,0.35,5.59,29.79,2.98,MSL85103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572,8.00,1,25,24,1.05,0.92,0.18,0.30,-0.24,0.00,0.28,1,96.00,96.01,0.20,0.18,7.54,2.66,1.00,WPX30108
576,8.00,1,25,24,1.05,1.02,0.30,0.47,0.00,0.00,0.22,1,96.00,96.01,0.20,0.19,7.54,2.66,1.00,WPX80106
2979,8.00,1,25,24,1.05,1.21,0.49,9.90,4.06,0.00,-0.27,1,96.00,96.01,0.20,0.21,7.54,2.66,1.00,MCB70112
1719,8.01,1,24,23,1.08,0.70,-0.13,0.14,-0.55,-0.01,0.29,1,95.83,95.87,0.21,0.16,7.57,2.94,1.00,SAT80106
454,8.74,0,25,25,1.45,1.00,0.00,1.00,0.00,0.00,0.00,1,100.00,100.00,0.00,0.00,8.74,0.00,0.00,NNJ40107

In [83]:
s =df.FINALPIN.value_counts()
s[s>1].index

Index([], dtype='object')

In [84]:
data =pd.merge(data, df.iloc[:,:-2], how='left',on='FINALPIN')
data.shape

(3902, 149)

# RAVLT

In [85]:
df = pd.read_csv(data_dir+'/RAVLT/Rey_Delay_FinalEstimates-ML.csv', index_col=0)
df=df.rename(columns = {'PIN':'FINALPIN'})

In [86]:
s =df.FINALPIN.value_counts()
s[s>1].index

Index([], dtype='object')

In [87]:
df =df.rename({col:'Rey_Delay_'+ col for col in df.columns[1:]}, axis=1)

data =pd.merge(data, df, how='left',on='FINALPIN')

In [88]:
data.head()

,FINALPIN,REGION,AGE,SEX,HIGHESTEDU,REGION.RACE,REGION.SEX,AGEGROUP,WEIGHTS4,WEIGHTS10,...,pv_WEIGHT,pv_OBSMATCH,pv_EXPMATCH,pv_PTMA-E,pv_RMSR,pv_WMLE,pv_INDF,pv_OUTDF,Rey_Delay_Theta,Rey_Delay_Theta SE
0,MAP03001,2,3,Female,high school graduate,2-White,2-Female,Child,0.91,0.91,...,1.00,88.00,73.60,0.51,0.37,-3.62,43.09,21.77,NaN,NaN
1,MAP03002,2,3,Male,some college,2-White,2-Male,Child,0.70,0.70,...,1.00,72.00,71.23,0.48,0.43,-3.75,54.08,28.58,NaN,NaN
2,MAP03003,2,3,Female,some college,2-White,2-Female,Child,0.74,0.74,...,1.00,84.00,72.00,0.44,0.40,-4.57,51.17,16.27,NaN,NaN
3,MAP03004,2,3,Female,some college,2-White,2-Female,Child,0.74,0.74,...,1.00,64.00,76.62,0.55,0.46,-3.60,33.35,14.80,NaN,NaN
4,MAP03005,2,3,Female,high school graduate,2-White,2-Female,Child,0.91,0.91,...,1.00,68.00,77.23,0.55,0.44,-3.36,31.28,12.53,NaN,NaN

In [89]:
df = pd.read_csv(data_dir+'/RAVLT/Rey_Immediate_FinalEstimates-ML.csv', index_col=0)
df=df.rename(columns = {'PIN':'FINALPIN'})

In [90]:
s =df.FINALPIN.value_counts()
s[s>1].index

Index([], dtype='object')

In [91]:
df =df.rename({col:'Rey_Immediate_'+ col for col in df.columns[1:]}, axis=1)

data =pd.merge(data, df, how='left',on='FINALPIN')
data.head()

,FINALPIN,REGION,AGE,SEX,HIGHESTEDU,REGION.RACE,REGION.SEX,AGEGROUP,WEIGHTS4,WEIGHTS10,...,pv_EXPMATCH,pv_PTMA-E,pv_RMSR,pv_WMLE,pv_INDF,pv_OUTDF,Rey_Delay_Theta,Rey_Delay_Theta SE,Rey_Immediate_Theta,Rey_Immediate_Theta SE
0,MAP03001,2,3,Female,high school graduate,2-White,2-Female,Child,0.91,0.91,...,73.60,0.51,0.37,-3.62,43.09,21.77,NaN,NaN,NaN,NaN
1,MAP03002,2,3,Male,some college,2-White,2-Male,Child,0.70,0.70,...,71.23,0.48,0.43,-3.75,54.08,28.58,NaN,NaN,NaN,NaN
2,MAP03003,2,3,Female,some college,2-White,2-Female,Child,0.74,0.74,...,72.00,0.44,0.40,-4.57,51.17,16.27,NaN,NaN,NaN,NaN
3,MAP03004,2,3,Female,some college,2-White,2-Female,Child,0.74,0.74,...,76.62,0.55,0.46,-3.60,33.35,14.80,NaN,NaN,NaN,NaN
4,MAP03005,2,3,Female,high school graduate,2-White,2-Female,Child,0.91,0.91,...,77.23,0.55,0.44,-3.36,31.28,12.53,NaN,NaN,NaN,NaN

In [92]:
data.shape

(3902, 153)

# Speed matching

In [93]:
df = pd.read_csv(data_dir+'/Speeded Matching/Estimates.csv', index_col=0)
df=df.rename(columns = {'sm_df_0_dmg.PIN':'FINALPIN'})

In [94]:
s =df.FINALPIN.value_counts()
s[s>1]

Series([], Name: FINALPIN, dtype: int64)

In [95]:
df =df.rename({col:'SM_'+ col for col in df.columns[1:]}, axis=1)

data =pd.merge(data, df, how='left',on='FINALPIN')
data.head()

,FINALPIN,REGION,AGE,SEX,HIGHESTEDU,REGION.RACE,REGION.SEX,AGEGROUP,WEIGHTS4,WEIGHTS10,...,pv_RMSR,pv_WMLE,pv_INDF,pv_OUTDF,Rey_Delay_Theta,Rey_Delay_Theta SE,Rey_Immediate_Theta,Rey_Immediate_Theta SE,SM_F1,SM_SE_F1
0,MAP03001,2,3,Female,high school graduate,2-White,2-Female,Child,0.91,0.91,...,0.37,-3.62,43.09,21.77,NaN,NaN,NaN,NaN,-5.81,0.43
1,MAP03002,2,3,Male,some college,2-White,2-Male,Child,0.70,0.70,...,0.43,-3.75,54.08,28.58,NaN,NaN,NaN,NaN,-3.90,0.40
2,MAP03003,2,3,Female,some college,2-White,2-Female,Child,0.74,0.74,...,0.40,-4.57,51.17,16.27,NaN,NaN,NaN,NaN,-3.57,0.41
3,MAP03004,2,3,Female,some college,2-White,2-Female,Child,0.74,0.74,...,0.46,-3.60,33.35,14.80,NaN,NaN,NaN,NaN,-4.52,0.39
4,MAP03005,2,3,Female,high school graduate,2-White,2-Female,Child,0.91,0.91,...,0.44,-3.36,31.28,12.53,NaN,NaN,NaN,NaN,-4.68,0.39

# Visual Reasoning

In [96]:
df = pd.read_csv(data_dir+'/Visual Reasoning/VR_ability.csv')
df=df.rename(columns = {'FinalPIN':'FINALPIN'})

In [97]:
s =df.FINALPIN.value_counts()
s[s>1]

Series([], Name: FINALPIN, dtype: int64)

In [98]:
df =df.rename({col:'VR_'+ col for col in df.columns[[0,2,3]]}, axis=1)

In [99]:
data =pd.merge(data, df, how='left',on='FINALPIN')
data.head()

,FINALPIN,REGION,AGE,SEX,HIGHESTEDU,REGION.RACE,REGION.SEX,AGEGROUP,WEIGHTS4,WEIGHTS10,...,pv_OUTDF,Rey_Delay_Theta,Rey_Delay_Theta SE,Rey_Immediate_Theta,Rey_Immediate_Theta SE,SM_F1,SM_SE_F1,VR_Form,VR_ML_mg,VR_ML_mgSE
0,MAP03001,2,3,Female,high school graduate,2-White,2-Female,Child,0.91,0.91,...,21.77,NaN,NaN,NaN,NaN,-5.81,0.43,1.00,-3.36,0.48
1,MAP03002,2,3,Male,some college,2-White,2-Male,Child,0.70,0.70,...,28.58,NaN,NaN,NaN,NaN,-3.90,0.40,1.00,-2.68,0.42
2,MAP03003,2,3,Female,some college,2-White,2-Female,Child,0.74,0.74,...,16.27,NaN,NaN,NaN,NaN,-3.57,0.41,1.00,-3.36,0.49
3,MAP03004,2,3,Female,some college,2-White,2-Female,Child,0.74,0.74,...,14.80,NaN,NaN,NaN,NaN,-4.52,0.39,NaN,NaN,NaN
4,MAP03005,2,3,Female,high school graduate,2-White,2-Female,Child,0.91,0.91,...,12.53,NaN,NaN,NaN,NaN,-4.68,0.39,1.00,-1.81,0.40

In [100]:
data.shape

(3902, 158)

In [101]:
s =data.FINALPIN.value_counts()
s[s>1]

Series([], Name: FINALPIN, dtype: int64)

In [102]:
data.to_csv('C:/Users/tsb7592/Downloads/merged_data_714.csv', index=False)