In [39]:
#Data saved in csv/excel
import glob, os
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

data_dir="R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc"
os.chdir(data_dir)

In [40]:
#Set two decimal points for display
pd.options.display.float_format = "{:.2f}".format

# Basic Descriptives 1

In [41]:
# the files should begin with 2021-11-1 or they should begin with 2021-12
afiles = glob.glob('R:\\MSS\\Research\\Projects\\Baby_Toolbox\\Validation_Data\\misc\\*Assessment Data.csv')

doc =[]
for file in afiles:
    if 'Narrow Structure' in file:
        pass
    elif '2021-11-1' in file or '2021-12' in file :
        data = pd.read_csv(file)
        print(file)
        doc.append(data)


# get all reg files 
rdoc =[]
rfiles = glob.glob('R:\\MSS\\Research\\Projects\\Baby_Toolbox\\Validation_Data\\misc\\*Registration Data.csv')
for file in rfiles:
    if 'Narrow Structure' in file:
        pass
    elif '2021-11-1' in file or '2021-12' in file :
        data = pd.read_csv(file)
        print(file)
        rdoc.append(data)
            
adf = pd.concat(doc)
rdf = pd.concat(rdoc)

R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 09.39.05 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-02 18.16.12 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 10.21.05 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-10 15.22.31 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-04 12.09.08 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 14.04.33 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 10.57.43 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-01 14.05.05 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 16.58.51 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 17.15.37 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 13.57.51 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 11.41.39 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 17.10.29 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-04 17.15.11 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 10.50.59 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-02 10.10.30 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 17.33.44 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 10.36.57 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 09.46.56 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 10.49.41 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 14.18.51 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-03 10.13.22 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 10.25.39 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 13.06.07 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 14.36.11 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-02 14.06.01 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 14.37.16 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 10.15.55 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 14.42.57 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 10.58.02 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-04 14.56.33 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 15.17.57 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 14.11.22 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-10 12.10.52 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 11.47.06 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 13.01.41 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 09.01.44 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-07 09.44.15 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 14.18.15 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-07 12.02.06 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-07 15.26.20 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-04 12.08.57 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 14.18.46 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 13.56.59 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 11.39.40 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-01 15.00.53 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-10 15.16.40 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 13.38.57 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 09.40.09 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-01 13.26.35 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 14.19.25 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 14.08.02 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 10.48.06 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 10.28.40 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 11.17.35 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 17.09.38 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-10 17.50.35 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-10 17.49.48 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 14.31.03 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 13.01.48 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 15.18.20 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-04 17.15.21 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 12.01.09 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 13.59.31 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 09.59.57 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 11.49.16 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-01 14.47.43 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 14.15.30 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-07 15.28.50 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 15.57.15 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 18.03.08 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 09.53.28 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 11.55.14 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 17.52.21 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 17.50.57 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 14.11.18 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 09.43.52 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 10.48.54 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 17.17.19 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 14.47.57 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 16.57.53 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 14.35.41 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 11.18.03 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-01 14.06.30 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 12.00.51 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 18.14.30 Assessment Data.csv

R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-02 18.16.33 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 14.06.18 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 10.13.29 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-03 17.19.43 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-04 15.14.03 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 11.38.05 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 12.22.59 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 10.15.34 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-10 14.53.04 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 09.59.46 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-04 10.17.46 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-04 10.36.34 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 14.46.00 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 14.17.36 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 12.17.54 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 08.29.07 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 17.45.29 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 11.39.24 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 10.47.31 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-03 10.15.10 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-04 11.22.28 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 12.29.49 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 17.40.42 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-02 14.06.32 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 17.17.28 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 10.06.19 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 11.44.51 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 17.02.31 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-19 11.33.13 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 14.20.17 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 13.37.23 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 11.52.37 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 15.45.39 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-10 09.45.45 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-03 17.19.17 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 14.35.51 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 14.07.38 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-19 11.03.56 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 13.59.49 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-10 14.52.12 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 09.51.48 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-01 14.56.57 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 12.13.03 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-10 09.35.56 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 15.14.12 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 13.38.05 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 09.53.57 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-02 18.19.38 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 17.33.03 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-04 11.26.09 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 11.55.21 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 10.20.43 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 16.17.00 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-14 11.32.05 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 10.51.15 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 09.22.24 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 13.02.38 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-07 13.39.16 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 11.02.16 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-19 18.04.29 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 14.46.02 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 16.48.12 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 17.05.13 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 17.01.38 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 14.15.58 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-04 11.29.38 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 11.41.44 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-14 11.20.27 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 13.43.30 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 13.39.56 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-03 10.13.48 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 10.28.15 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-01 14.47.50 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 10.58.09 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 17.40.02 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 10.52.41 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 14.18.32 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 14.26.33 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 11.08.40 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 12.28.25 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-19 18.04.02 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 14.08.42 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 10.00.06 Assessment Data.csv

R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 11.52.45 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-01 13.27.29 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 14.08.22 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-03 10.40.02 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 14.42.13 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 12.15.15 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-10 11.38.21 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 10.15.31 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 14.18.10 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 16.34.00 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-02 10.23.33 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-01 09.05.23 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 11.31.01 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 11.55.37 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 15.34.07 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 10.16.56 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 18.26.01 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 16.47.42 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 13.37.39 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 10.19.45 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 17.41.42 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 10.01.47 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-07 09.24.52 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 16.38.09 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 14.18.30 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 15.13.36 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-02 13.33.48 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 10.47.07 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-02 17.37.01 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 15.45.23 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 15.16.18 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-19 11.04.23 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 17.16.45 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-02 13.34.02 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-07 13.42.26 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 13.38.34 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 17.44.24 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 11.46.57 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 14.15.51 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 14.11.22 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-10 10.47.00 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-10 12.10.39 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 16.58.33 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 14.10.53 Assessment Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 10.58.02 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 14.18.32 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-19 11.33.13 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 10.28.40 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 14.47.57 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-04 17.15.21 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 16.47.42 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 17.40.02 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-04 12.08.57 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-10 14.52.12 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-02 13.33.48 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 14.42.13 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 11.18.03 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 10.47.31 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 14.20.17 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-04 10.36.34 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-14 11.20.27 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 14.17.36 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 17.17.28 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 15.57.15 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 10.50.59 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 14.08.02 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 14.18.10 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-19 18.04.29 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 08.29.07 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 11.39.40 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-10 09.35.56 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 14.15.51 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-10 11.38.21 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-10 17.50.35 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 13.37.23 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 17.40.42 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 17.16.45 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 11.17.35 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-02 13.34.02 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-02 10.10.30 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-07 13.39.16 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 17.50.57 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 09.01.44 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 10.51.15 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-02 14.06.01 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-03 17.19.43 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 10.25.39 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-10 10.47.00 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-07 15.28.50 Registration Data.csv

R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 17.15.37 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 14.19.25 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 14.35.41 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-07 15.26.20 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-02 14.06.32 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 14.11.22 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-10 17.49.48 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 13.01.41 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 12.01.09 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 11.41.44 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-10 14.53.04 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 10.48.54 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-07 12.02.06 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 13.59.49 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-01 15.00.53 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 10.28.15 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 09.59.46 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 14.18.15 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 15.45.23 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-07 09.44.15 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-04 12.09.08 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 11.49.16 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 09.40.09 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 17.10.29 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 15.17.57 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-19 11.03.56 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 09.22.24 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 17.52.21 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 18.26.01 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 13.06.07 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 14.15.58 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 14.08.42 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 15.18.20 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 17.02.31 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-04 10.17.46 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 12.17.54 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 17.09.38 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-01 14.56.57 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 11.55.14 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-01 13.26.35 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 16.34.00 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-03 10.13.22 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 09.46.56 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 09.53.28 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 11.52.45 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 12.29.49 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 14.42.57 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-04 17.15.11 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 12.00.51 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-14 11.32.05 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 14.10.53 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 10.47.07 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-02 18.16.12 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 17.45.29 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 15.45.39 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 10.13.29 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 13.38.57 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 10.57.43 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 10.15.34 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 14.46.02 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 14.15.30 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-03 10.13.48 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 13.43.30 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-04 14.56.33 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 11.39.24 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 16.48.12 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-10 15.16.40 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-04 11.26.09 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 14.18.51 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 11.52.37 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-10 12.10.52 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-10 09.45.45 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 14.31.03 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 17.05.13 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 17.17.19 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 09.53.57 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 11.44.51 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 10.20.43 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 15.16.18 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 18.03.08 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 10.58.09 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-01 14.06.30 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 15.34.07 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 10.49.41 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-02 18.16.33 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-03 10.40.02 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-07 13.42.26 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 10.15.55 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 13.59.31 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-02 18.19.38 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 10.00.06 Registration Data.csv

R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 13.38.34 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 14.07.38 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 16.57.53 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-01 14.47.50 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-04 11.29.38 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 17.01.38 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-10 15.22.31 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-04 11.22.28 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-01 13.27.29 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 14.08.22 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 14.37.16 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 10.19.45 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 13.39.56 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 15.13.36 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 11.31.01 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 10.15.31 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 10.01.47 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 10.48.06 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 12.13.03 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 11.08.40 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 14.11.18 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 10.16.56 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 11.38.05 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 11.41.39 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 17.33.44 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-02 17.37.01 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 14.06.18 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 13.01.48 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 14.11.22 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 15.14.12 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 13.37.39 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 11.02.16 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 14.18.30 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-07 09.24.52 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 17.44.24 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 16.17.00 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-19 11.04.23 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 11.55.37 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 17.33.03 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 14.35.51 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 12.15.15 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 10.52.41 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 16.38.09 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 18.14.30 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-10 12.10.39 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 14.26.33 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-01 14.05.05 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 10.06.19 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 09.51.48 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 17.41.42 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-03 17.19.17 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-15 13.38.05 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-01 14.47.43 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-01 09.05.23 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 16.58.33 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 11.55.21 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 14.04.33 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-12 14.18.46 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 11.46.57 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-02 10.23.33 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-14 10.36.57 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 13.56.59 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-09 10.21.05 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-03 10.15.10 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 13.57.51 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-13 14.36.11 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-19 18.04.02 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 09.43.52 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-18 16.58.51 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-11 12.28.25 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-04 15.14.03 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-16 14.46.00 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-06 09.59.57 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-11-17 11.47.06 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 13.02.38 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-08 12.22.59 Registration Data.csv
R:\MSS\Research\Projects\Baby_Toolbox\Validation_Data\misc\2021-12-05 09.39.05 Registration Data.csv

In [42]:
dyads = pd.read_excel('C:\\Users\\tsb7592\\OneDrive - Northwestern University\\Analysis Progress\\NBT_dyads.xlsx')

In [43]:
dyads.columns=['DYAD', 'PIN', 'Note','Name','Assessment Name_']

In [44]:
dyads['PIN']=dyads['PIN'].str.upper()

In [45]:
spe = dyads[~dyads['Note'].isnull()]
spe

,DYAD,PIN,Note,Name,Assessment Name_
19,8,WI008P,"Name=""Greyson"" or AssessmentName=""Assessment 2""",Greyson,Assessment 2
22,9,WI008P,"Name=""Liam"" or AssessmentName=""Assessment 1""",Liam,Assessment 1
147,68,TX011C,"Name=""Semilore Atanda""",Semilore Atanda,NaN
151,69,TX011C,"Name=""Olivia""",Olivia,NaN

In [46]:
dyads =dyads.drop(columns=['Name'])

# Basic Descriptives 2

In [47]:
## Task 2 Filter out any ID that contains prac or qa or media
rdf =rdf[~rdf['PIN'].str.contains("Practice|Media|QA")]

In [48]:
rdf['PIN']=rdf['PIN'].str.upper()

In [49]:
rdf.shape

(246, 14)

In [50]:
r1= pd.merge(rdf,spe, on =['PIN','Name'])
r1

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name,DYAD,Note,Assessment Name_
0,WI008P,10B77F95-1027-483B-9126-666988F60440,Liam,23:8,NaN,25.00,NaN,NaN,NaN,2.00,1.00,1,1.00,Assessment 1,9,"Name=""Liam"" or AssessmentName=""Assessment 1""",Assessment 1
1,WI008P,10B77F95-1027-483B-9126-666988F60440,Liam,23:8,NaN,25.00,NaN,NaN,NaN,2.00,1.00,1,1.00,Assessment 1,9,"Name=""Liam"" or AssessmentName=""Assessment 1""",Assessment 1
2,WI008P,059282F7-D6F7-4A39-8DF8-429BD89241D1,Greyson,2:3,1.00,21.00,NaN,NaN,NaN,1.00,1.00,1,1.00,Assessment 2,8,"Name=""Greyson"" or AssessmentName=""Assessment 2""",Assessment 2
3,TX011C,F6DB0E9E-9CDF-4144-917F-A34E300BDDF9,Olivia,1:8,1.00,21.00,NaN,NaN,NaN,2.00,1.00,1,1.00,Assessment 1,69,"Name=""Olivia""",NaN
4,TX011C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Semilore Atanda,NaN,NaN,22.00,NaN,NaN,NaN,1.00,NaN,2,NaN,Assessment 1,68,"Name=""Semilore Atanda""",NaN
5,TX011C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Semilore Atanda,3:4,NaN,22.00,NaN,NaN,NaN,1.00,NaN,2,NaN,Assessment 2,68,"Name=""Semilore Atanda""",NaN

In [51]:
r2= pd.merge(rdf,dyads[dyads['Note'].isnull()], on ='PIN')
r2

,PIN,DeviceID,Name,Age,Education,MothersEducation,FathersEducation,GuardiansEducation,StartingLevelOverride,Gender,Handedness,Race,Ethnicity,Assessment Name,DYAD,Note,Assessment Name_
0,MO011P,53A3EB94-4ACF-41E6-A744-01E877B21025,Mo011c,33:1,21.00,20.00,NaN,NaN,NaN,1.00,1.00,1,1.00,Assessment 1,95,NaN,NaN
1,WI021P,059282F7-D6F7-4A39-8DF8-429BD89241D1,Abram,0:10,1.00,16.00,NaN,NaN,NaN,1.00,1.00,1,1.00,Assessment 1,21,NaN,NaN
2,MO017P,70508CF6-2178-46E9-9F9A-2A7E7FB8A07F,Mo017c,38:5,NaN,NaN,NaN,NaN,NaN,2.00,NaN,1,1.00,Assessment 1,101,NaN,NaN
3,TX024P,10B77F95-1027-483B-9126-666988F60440,Nevaeh,22:9,NaN,16.00,NaN,NaN,NaN,2.00,NaN,2,NaN,Assessment 1,81,NaN,NaN
4,MO010P,70508CF6-2178-46E9-9F9A-2A7E7FB8A07F,Mo010c,41:1,NaN,NaN,NaN,NaN,NaN,2.00,NaN,1,1.00,Assessment 1,94,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232,MO009P,53A3EB94-4ACF-41E6-A744-01E877B21025,Mo009c,29:9,22.00,22.00,NaN,NaN,NaN,2.00,1.00,1,1.00,Assessment 2,93,NaN,NaN
233,TX013P,059282F7-D6F7-4A39-8DF8-429BD89241D1,Carlos,2:0,1.00,13.00,NaN,NaN,NaN,1.00,1.00,32,2.00,Assessment 1,70,NaN,NaN
234,TX021P,059282F7-D6F7-4A39-8DF8-429BD89241D1,Niara,1:1,1.00,28.00,NaN,NaN,NaN,2.00,1.00,2,1.00,Assessment 1,78,NaN,NaN
235,TX009C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Emilia,NaN,NaN,16.00,NaN,NaN,NaN,2.00,NaN,64,2.00,Assessment 1,66,NaN,NaN
236,TX009C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Emilia,1:6,NaN,16.00,NaN,NaN,NaN,2.00,NaN,64,2.00,Assessment 2,66,NaN,NaN

In [52]:
rdf = r1.append(r2)

In [53]:
rdf.shape

(243, 17)

# Basic Descriptives 3

In [54]:
rdf['Age'] = rdf['Age'].fillna(rdf.groupby('PIN')['Age'].transform('first'))

In [55]:
rdf[['Year','Month']] = rdf.Age.str.split(":",expand=True)

In [56]:
rdf['Month'] =pd.to_numeric(rdf['Month'])
rdf['Year'] =pd.to_numeric(rdf['Year'])

In [57]:
#recode the age into months format
rdf['Age_month'] = rdf['Year']*12 + rdf['Month']

In [58]:
rdf= rdf.drop_duplicates()

In [229]:
kids=rdf[rdf['Age_month']<=42]

In [230]:
kids=kids[['PIN','Assessment Name','Gender','Race','Ethnicity']].drop_duplicates()

In [231]:
kids.describe()

       Gender   Race  Ethnicity
count  146.00 147.00     118.00
mean     1.46   3.83       1.13
std      0.50   9.88       0.33
min      1.00   0.00       1.00
25%      1.00   1.00       1.00
50%      1.00   1.00       1.00
75%      2.00   2.00       1.00
max      2.00  64.00       2.00

In [232]:
kids['Ethnicity'].value_counts()

1.00    103
2.00     15
Name: Ethnicity, dtype: int64

In [233]:
kids['Ethnicity']=kids['Ethnicity'].fillna(-1)

In [234]:
et ={1: "NonHispanic", 2:"Hispanic",-1: "Unknown"}
kids['Ethnicity']=kids['Ethnicity'].map(et)

In [235]:
ke= pd.get_dummies(kids['Ethnicity'])
ke

     Hispanic  NonHispanic  Unknown
2           0            1        0
3           0            1        0
4           0            0        1
5           0            0        1
1           0            1        0
..        ...          ...      ...
231         0            1        0
233         1            0        0
234         0            1        0
235         1            0        0
236         1            0        0

[147 rows x 3 columns]

In [236]:
race ={1: "White", 2:"BlackAfricanAmerican",4: "Asian",8: "AmericanIndian",16: "NativeHawaiian",0:"Missing", 64: "Missing", 38:'MoreThanOneRace',5:'MoreThanOneRace', 32:'MoreThanOneRace',3:'MoreThanOneRace',11:'MoreThanOneRace'}

In [237]:
#Rename the value under column race
kids['Race'] = kids['Race'].map(race)

In [238]:
kids['Gender']=kids['Gender'].fillna(3)

In [239]:
sex={1: "Male", 2:"Female", 3:'NotReported'}
kids['Gender'] = kids['Gender'].map(sex)

In [258]:
ks= pd.get_dummies(kids['Gender'])
ks

     Female  Male  NotReported
2         0     1            0
3         1     0            0
4         0     1            0
5         0     1            0
1         0     1            0
..      ...   ...          ...
231       0     1            0
233       0     1            0
234       1     0            0
235       1     0            0
236       1     0            0

[147 rows x 3 columns]

In [259]:
ks=pd.concat([kids[['PIN','Assessment Name']], ks], axis=1)

In [260]:
kids['Race']

2                     White
3                     White
4      BlackAfricanAmerican
5      BlackAfricanAmerican
1                     White
               ...
231    BlackAfricanAmerican
233         MoreThanOneRace
234    BlackAfricanAmerican
235                 Missing
236                 Missing
Name: Race, Length: 147, dtype: object

In [261]:
kd = pd.concat([ke,ks], axis=1)

In [262]:
results_list = []

for col in ke.columns:
    for new in ks.columns:
        kd[col+new] = ke[col]*ks[new]

In [263]:
keep =[ 'PIN','Assessment Name','HispanicFemale', 'HispanicMale', 'HispanicNotReported',
       'NonHispanicFemale', 'NonHispanicMale', 'NonHispanicNotReported',
       'UnknownFemale', 'UnknownMale', 'UnknownNotReported']

In [264]:
kd=kd[keep]

In [265]:
kd

,PIN,Assessment Name,HispanicFemale,HispanicMale,HispanicNotReported,NonHispanicFemale,NonHispanicMale,NonHispanicNotReported,UnknownFemale,UnknownMale,UnknownNotReported
2,WI008P,Assessment 2,0,0,0,0,1,0,0,0,0
3,TX011C,Assessment 1,0,0,0,1,0,0,0,0,0
4,TX011C,Assessment 1,0,0,0,0,0,0,0,1,0
5,TX011C,Assessment 2,0,0,0,0,0,0,0,1,0
1,WI021P,Assessment 1,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
231,TX018P,Assessment 1,0,0,0,0,1,0,0,0,0
233,TX013P,Assessment 1,0,1,0,0,0,0,0,0,0
234,TX021P,Assessment 1,0,0,0,1,0,0,0,0,0
235,TX009C,Assessment 1,1,0,0,0,0,0,0,0,0
236,TX009C,Assessment 2,1,0,0,0,0,0,0,0,0

In [266]:
md = pd.melt(kd,id_vars=['PIN','Assessment Name'],var_name='class', value_name='Val')
md = md[md.Val!=0]

In [267]:
mv =md.drop(columns=['Val'])

In [268]:
mv

         PIN Assessment Name           class
25    TX003P    Assessment 1  HispanicFemale
45    MN022C    Assessment 1  HispanicFemale
145   TX009C    Assessment 1  HispanicFemale
146   TX009C    Assessment 2  HispanicFemale
163   TX022C    Assessment 1    HispanicMale
...      ...             ...             ...
1108  MO009C    Assessment 1     UnknownMale
1109  MO011C    Assessment 1     UnknownMale
1136   WI24C    Assessment 1     UnknownMale
1143  MNO15C    Assessment 1     UnknownMale
1162  MO006C    Assessment 1     UnknownMale

[147 rows x 3 columns]

In [269]:
kr = kids[['Race','PIN','Assessment Name']]

In [270]:
kr

                     Race     PIN Assessment Name
2                   White  WI008P    Assessment 2
3                   White  TX011C    Assessment 1
4    BlackAfricanAmerican  TX011C    Assessment 1
5    BlackAfricanAmerican  TX011C    Assessment 2
1                   White  WI021P    Assessment 1
..                    ...     ...             ...
231  BlackAfricanAmerican  TX018P    Assessment 1
233       MoreThanOneRace  TX013P    Assessment 1
234  BlackAfricanAmerican  TX021P    Assessment 1
235               Missing  TX009C    Assessment 1
236               Missing  TX009C    Assessment 2

[147 rows x 3 columns]

In [274]:
tt= pd.merge(mv, kr, on=['PIN','Assessment Name'],how='left')

In [275]:
tt.drop_duplicates()

        PIN Assessment Name           class             Race
0    TX003P    Assessment 1  HispanicFemale  MoreThanOneRace
1    MN022C    Assessment 1  HispanicFemale            White
2    TX009C    Assessment 1  HispanicFemale          Missing
3    TX009C    Assessment 2  HispanicFemale          Missing
4    TX022C    Assessment 1    HispanicMale            White
..      ...             ...             ...              ...
146  MO009C    Assessment 1     UnknownMale            White
147  MO011C    Assessment 1     UnknownMale          Missing
148   WI24C    Assessment 1     UnknownMale          Missing
149  MNO15C    Assessment 1     UnknownMale          Missing
150  MO006C    Assessment 1     UnknownMale              NaN

[151 rows x 4 columns]

In [278]:
pd.crosstab( tt['Race'],tt['class']).to_csv('C:\\Users\\tsb7592\\Downloads\\demographics.csv')

# cleaning

# Basic Descriptives 4

In [21]:
## Task 2 Filter out any ID that contains prac or qa or media
adf =adf[~adf['PIN'].str.contains("Practice|Media|QA")]

In [22]:
adf['PIN']=adf['PIN'].str.upper()

In [23]:
adf= adf.drop_duplicates()

In [24]:
adf.shape

(43387, 23)

In [25]:
#Recode age group
rdf['Age_group'] = pd.cut(rdf['Age_month'] , [0,1,2,3,4,5,6,8,10,12,15,18,21,24,27,30,35,43, 215,1000])

In [26]:
rdf[rdf['Age_group'].isnull()]

Empty DataFrame
Columns: [PIN, DeviceID, Name, Age, Education, MothersEducation, FathersEducation, GuardiansEducation, StartingLevelOverride, Gender, Handedness, Race, Ethnicity, Assessment Name, DYAD, Note, Year, Month, Age_month, Age_group]
Index: []

In [27]:
rdf.columns

Index(['PIN', 'DeviceID', 'Name', 'Age', 'Education', 'MothersEducation',
       'FathersEducation', 'GuardiansEducation', 'StartingLevelOverride',
       'Gender', 'Handedness', 'Race', 'Ethnicity', 'Assessment Name', 'DYAD',
       'Note', 'Year', 'Month', 'Age_month', 'Age_group'],
      dtype='object')

In [28]:
adf.columns

Index(['PIN', 'DeviceID', 'Assessment Name', 'InstOrdr', 'InstSctn', 'ItmOrdr',
       'Inst', 'Locale', 'ItemID', 'Response', 'Score', 'Theta', 'TScore',
       'SE', 'DataType', 'Position', 'ResponseTime', 'DateCreated',
       'InstStarted', 'InstEnded', 'App Version', 'iPad Version',
       'Firmware Version'],
      dtype='object')

# Basic Descriptives 5,6

In [29]:
adf.shape

(43387, 23)

In [30]:
a1= pd.merge(adf,r1[['PIN','DYAD','DeviceID']], on =['PIN','DeviceID'])
a1

,PIN,DeviceID,Assessment Name,InstOrdr,InstSctn,ItmOrdr,Inst,Locale,ItemID,Response,...,DataType,Position,ResponseTime,DateCreated,InstStarted,InstEnded,App Version,iPad Version,Firmware Version,DYAD
0,TX011C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,1,1,1,Mullen Receptive,en-US,Mullen_Rec_Title,1,...,informational,1,NaN,2021-12-05 12:10:00,2021-12-05 12:09:44,2021-12-05 12:11:22,1.25.5218,"/ iPad13,4",14.8.1,68
1,TX011C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,1,1,1,Mullen Receptive,en-US,Mullen_Rec_Title,1,...,informational,1,NaN,2021-12-05 12:10:00,2021-12-05 12:09:44,2021-12-05 12:11:22,1.25.5218,"/ iPad13,4",14.8.1,68
2,TX011C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,1,1,2,Mullen Receptive,en-US,Mullen_Rec_Instructions,1,...,informational,2,NaN,2021-12-05 12:10:00,2021-12-05 12:09:44,2021-12-05 12:11:22,1.25.5218,"/ iPad13,4",14.8.1,68
3,TX011C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,1,1,2,Mullen Receptive,en-US,Mullen_Rec_Instructions,1,...,informational,2,NaN,2021-12-05 12:10:00,2021-12-05 12:09:44,2021-12-05 12:11:22,1.25.5218,"/ iPad13,4",14.8.1,68
4,TX011C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,1,1,15,Mullen Receptive,en-US,RL22,2,...,integer,3,NaN,2021-12-05 12:11:22,2021-12-05 12:09:44,2021-12-05 12:11:22,1.25.5218,"/ iPad13,4",14.8.1,68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1589,TX011C,F6DB0E9E-9CDF-4144-917F-A34E300BDDF9,Assessment 1,16,3,11,Mullen Expressive Observational,en-US,EL19,0,...,integer,13,NaN,2021-12-05 16:57:59,2021-12-05 16:57:20,2021-12-05 17:00:22,1.25.5218,"/ iPad13,4",14.8.1,69
1590,TX011C,F6DB0E9E-9CDF-4144-917F-A34E300BDDF9,Assessment 1,16,3,12,Mullen Expressive Observational,en-US,EL22,0,...,integer,14,NaN,2021-12-05 16:57:59,2021-12-05 16:57:20,2021-12-05 17:00:22,1.25.5218,"/ iPad13,4",14.8.1,69
1591,TX011C,F6DB0E9E-9CDF-4144-917F-A34E300BDDF9,Assessment 1,17,1,1,Global Self-Regulation,en-US,SelfReg_Global_Title,1,...,informational,1,NaN,2021-12-05 17:00:24,2021-12-05 17:00:23,2021-12-05 17:00:27,1.25.5218,"/ iPad13,4",14.8.1,69
1592,TX011C,F6DB0E9E-9CDF-4144-917F-A34E300BDDF9,Assessment 1,17,1,2,Global Self-Regulation,en-US,SelfReg_Global_Instructions,1,...,informational,2,NaN,2021-12-05 17:00:25,2021-12-05 17:00:23,2021-12-05 17:00:27,1.25.5218,"/ iPad13,4",14.8.1,69
1593,TX011C,F6DB0E9E-9CDF-4144-917F-A34E300BDDF9,Assessment 1,17,1,3,Global Self-Regulation,en-US,SelfReg_Global_rating,2,...,integer,3,NaN,2021-12-05 17:00:27,2021-12-05 17:00:23,2021-12-05 17:00:27,1.25.5218,"/ iPad13,4",14.8.1,69

In [31]:
a2= pd.merge(adf, dyads[dyads['Note'].isnull()], on ='PIN')
a2

,PIN,DeviceID,Assessment Name,InstOrdr,InstSctn,ItmOrdr,Inst,Locale,ItemID,Response,...,Position,ResponseTime,DateCreated,InstStarted,InstEnded,App Version,iPad Version,Firmware Version,DYAD,Note
0,TX009C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,1,1,1,Mullen Receptive,en-US,Mullen_Rec_Title,1,...,1,NaN,2021-12-05 08:30:42,2021-12-05 08:30:41,2021-12-05 08:33:49,1.25.5218,"/ iPad13,4",14.8.1,66,NaN
1,TX009C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,1,1,2,Mullen Receptive,en-US,Mullen_Rec_Instructions,1,...,2,NaN,2021-12-05 08:30:43,2021-12-05 08:30:41,2021-12-05 08:33:49,1.25.5218,"/ iPad13,4",14.8.1,66,NaN
2,TX009C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,1,1,9,Mullen Receptive,en-US,RL13,2,...,3,NaN,2021-12-05 08:32:53,2021-12-05 08:30:41,2021-12-05 08:33:49,1.25.5218,"/ iPad13,4",14.8.1,66,NaN
3,TX009C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,1,1,8,Mullen Receptive,en-US,RL10,1,...,4,NaN,2021-12-05 08:32:59,2021-12-05 08:30:41,2021-12-05 08:33:49,1.25.5218,"/ iPad13,4",14.8.1,66,NaN
4,TX009C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,1,1,10,Mullen Receptive,en-US,RL15,2,...,5,NaN,2021-12-05 08:33:18,2021-12-05 08:30:41,2021-12-05 08:33:49,1.25.5218,"/ iPad13,4",14.8.1,66,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41714,MO012C,70508CF6-2178-46E9-9F9A-2A7E7FB8A07F,Assessment 1,22,3,11,Mullen Expressive Observational,en-US,EL19,1,...,13,NaN,2021-12-05 13:47:07,2021-12-05 13:47:05,2021-12-05 13:47:11,1.25.5218,"/ iPad13,4",14.8.1,96,NaN
41715,MO012C,70508CF6-2178-46E9-9F9A-2A7E7FB8A07F,Assessment 1,22,3,12,Mullen Expressive Observational,en-US,EL22,1,...,14,NaN,2021-12-05 13:47:07,2021-12-05 13:47:05,2021-12-05 13:47:11,1.25.5218,"/ iPad13,4",14.8.1,96,NaN
41716,MO012C,70508CF6-2178-46E9-9F9A-2A7E7FB8A07F,Assessment 1,23,1,1,Global Self-Regulation,en-US,SelfReg_Global_Title,1,...,1,NaN,2021-12-05 13:47:13,2021-12-05 13:47:12,2021-12-05 13:47:15,1.25.5218,"/ iPad13,4",14.8.1,96,NaN
41717,MO012C,70508CF6-2178-46E9-9F9A-2A7E7FB8A07F,Assessment 1,23,1,2,Global Self-Regulation,en-US,SelfReg_Global_Instructions,1,...,2,NaN,2021-12-05 13:47:14,2021-12-05 13:47:12,2021-12-05 13:47:15,1.25.5218,"/ iPad13,4",14.8.1,96,NaN
41718,MO012C,70508CF6-2178-46E9-9F9A-2A7E7FB8A07F,Assessment 1,23,1,3,Global Self-Regulation,en-US,SelfReg_Global_rating,3,...,3,NaN,2021-12-05 13:47:15,2021-12-05 13:47:12,2021-12-05 13:47:15,1.25.5218,"/ iPad13,4",14.8.1,96,NaN

In [32]:
aa = a1.append(a2)

In [33]:
aa =aa.drop_duplicates()
aa.shape

(42722, 25)

In [34]:
# Concatenate registration and assessment data files in the /misc folder
df = pd.merge(aa, rdf[['PIN','DYAD','Age_month','Age_group']], on=['DYAD','PIN'])

In [35]:
keep =['DYAD','PIN', 'DeviceID','Assessment Name',
       'Inst', 'ItemID', 'Response', 'Score',  'Position', 'ResponseTime', 'DateCreated',
       'InstStarted', 'InstEnded', 'Age_month', 'Age_group']

In [36]:
df=df[keep].drop_duplicates()

In [37]:
df.shape

(45880, 15)

In [38]:
df.DYAD.nunique()

108

In [39]:
df.head()

,DYAD,PIN,DeviceID,Assessment Name,Inst,ItemID,Response,Score,Position,ResponseTime,DateCreated,InstStarted,InstEnded,Age_month,Age_group
0,68,TX011C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,Mullen_Rec_Title,1,NaN,1,NaN,2021-12-05 12:10:00,2021-12-05 12:09:44,2021-12-05 12:11:22,20,"(18, 21]"
1,68,TX011C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,Mullen_Rec_Title,1,NaN,1,NaN,2021-12-05 12:10:00,2021-12-05 12:09:44,2021-12-05 12:11:22,40,"(35, 43]"
2,68,TX011C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,Mullen_Rec_Instructions,1,NaN,2,NaN,2021-12-05 12:10:00,2021-12-05 12:09:44,2021-12-05 12:11:22,20,"(18, 21]"
3,68,TX011C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,Mullen_Rec_Instructions,1,NaN,2,NaN,2021-12-05 12:10:00,2021-12-05 12:09:44,2021-12-05 12:11:22,40,"(35, 43]"
4,68,TX011C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,RL22,2,2.00,3,NaN,2021-12-05 12:11:22,2021-12-05 12:09:44,2021-12-05 12:11:22,20,"(18, 21]"

In [40]:
df.to_csv('C:\\Users\\tsb7592\\OneDrive - Northwestern University\\Analysis Progress\\Basic_Desc_output.csv', index=False)

In [ ]:
df.head()

# Basic Descriptives 7

In [125]:
t1=df.groupby(['DYAD','PIN']).agg({'Inst': "nunique"})
t1

                 Inst
DYAD PIN
1    APPLETONC1    23
     APPLETONQ      5
2    WI002C        13
     WI002P         4
3    WI003C        15
...               ...
106  MO022C        17
     MO022P         6
107  MO023C        15
108  MO024C        17
     MO024P         6

[206 rows x 1 columns]

In [126]:
# one column for each of the ~35 Inst [instrument names])
t2=df.groupby(['PIN','DYAD'])['Inst'].apply(list)
task4 = pd.merge(t1,t2, on=['PIN','DYAD'])

In [127]:
task4.columns=['unique_inst_count', 'Inst']
task4.head()

,,unique_inst_count,Inst
PIN,DYAD,,
APPLETONC1,1,23,"[Mullen Receptive, Mullen Receptive, Mullen Re..."
APPLETONQ,1,5,[Children's Behavior Questionnaire - Very Shor...
WI002C,2,13,"[Mullen Receptive, Mullen Receptive, Mullen Re..."
WI002P,2,4,[Infant Behavior Questionnaire - Revised - Ver...
WI003C,3,15,"[Mullen Receptive, Mullen Receptive, Mullen Re..."

In [128]:
import ast
def count_freq(row):
    dc ={}
    for i in row:
        if i not in dc:
            dc[i] = 0
        else:
            dc[i]+=1
   # convertedDict = ast.literal_eval(dc)

    return dc

In [129]:
task4['freq'] =task4['Inst'].apply(count_freq)

In [130]:
task4.tail()

,,unique_inst_count,Inst,freq
PIN,DYAD,,,
MO022C,106,17,"[Mullen Receptive, Mullen Receptive, Mullen Re...","{'Mullen Receptive': 8, 'Mullen Expressive Pro..."
MO022P,106,6,[Early Childhood Behavior Questionnaire - Very...,{'Early Childhood Behavior Questionnaire - Ver...
MO023C,107,15,"[Mullen Receptive, Mullen Receptive, Mullen Re...","{'Mullen Receptive': 4, 'Mullen Expressive Pro..."
MO024C,108,17,"[Mullen Receptive, Mullen Receptive, Mullen Re...","{'Mullen Receptive': 8, 'Mullen Expressive Pro..."
MO024P,108,6,[Early Childhood Behavior Questionnaire - Very...,{'Early Childhood Behavior Questionnaire - Ver...

In [131]:
for index, row in task4.iterrows():
    dictionary = row['freq']
    for key, v in dictionary.items():
        task4.loc[index,key] = v

In [132]:
task4.head()

,,unique_inst_count,Inst,freq,Mullen Receptive,Mullen Expressive Prompted,Verbal Counting,Object Counting,Give_N,Memory Task Learning,Visual Delayed Response,...,PROMIS EC Parent-Report SF v1.0 - Social Relationships - Peer Relationships 4a,CDI: Expressive,Executive Function,Numerical Change Detection,Spatial Change Detection,Infant Behavior Questionnaire - Revised - Very Short Form,CDI: Receptive,Looking While Listening,Shape Matching Manipulatives,Early Childhood Behavior Questionnaire - Very Short Form
PIN,DYAD,,,,,,,,,,,,,,,,,,,,,
APPLETONC1,1,23,"[Mullen Receptive, Mullen Receptive, Mullen Re...","{'Mullen Receptive': 2, 'Mullen Expressive Pro...",2.00,3.00,2.00,5.00,13.00,21.00,12.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
APPLETONQ,1,5,[Children's Behavior Questionnaire - Very Shor...,{'Children's Behavior Questionnaire - Very Sho...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.00,23.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WI002C,2,13,"[Mullen Receptive, Mullen Receptive, Mullen Re...","{'Mullen Receptive': 5, 'Mullen Expressive Pro...",5.00,5.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.00,2.00,2.00,NaN,NaN,NaN,NaN,NaN
WI002P,2,4,[Infant Behavior Questionnaire - Revised - Ver...,{'Infant Behavior Questionnaire - Revised - Ve...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,38.00,51.00,NaN,NaN,NaN
WI003C,3,15,"[Mullen Receptive, Mullen Receptive, Mullen Re...","{'Mullen Receptive': 7, 'Mullen Expressive Pro...",7.00,4.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.00,2.00,13.00,NaN,NaN,33.00,2.00,NaN

In [133]:
task4.drop(columns=['Inst','freq']).to_csv('C:\\Users\\tsb7592\\OneDrive - Northwestern University\\Analysis Progress\\Basic_Desc_task7.csv')

# Basic Descriptives 8

In [134]:
df =df[df['Score']!='SKIP']

In [135]:
df['Score'] =pd.to_numeric(df['Score'])

In [136]:
#Overall xocre by instrument by PIN
#5.Sum the scores by instrument by PIN, and summarize overall and by age group (for Inst that produce scores)
task5 =df.groupby(['PIN','DYAD','Inst'])['Score'].sum().unstack()

In [137]:
task5.shape

(206, 36)

In [138]:
tage = pd.merge(task5, df[['PIN','DYAD','Age_group']], on=['PIN','DYAD'], how='left')
tage = tage.drop_duplicates()

In [139]:
inst = tage.columns[2:38].to_list()

In [140]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('C:\\Users\\tsb7592\\OneDrive - Northwestern University\\Analysis Progress\\Basic_Desc_task8.xlsx', engine='xlsxwriter')

#b. Summarize (inc. medians) by measure, overall and by age group
task5.describe().to_excel(writer, sheet_name='Summarize_by_inst')

for mea in inst:
    sname =mea.replace(':', '')[:30]
    tage.groupby('Age_group')[mea].describe().to_excel(writer, sheet_name=sname)

# Close the Pandas Excel writer and output the Excel file.
writer.save()

In [141]:
#Table measure counts by PIN (one column for PIN, age group
df.groupby('Age_group').agg({"PIN": "nunique"})

             PIN
Age_group
(0, 1]         0
(1, 2]         0
(2, 3]         0
(3, 4]         5
(4, 5]        10
(5, 6]         5
(6, 8]        12
(8, 10]        8
(10, 12]       6
(12, 15]      10
(15, 18]       9
(18, 21]      13
(21, 24]      10
(24, 27]      13
(27, 30]       9
(30, 35]       8
(35, 43]      19
(43, 215]      0
(215, 1000]   75

# Basic Descriptives 9-11      Measure durations

In [142]:
#Convert to datetime
df['InstStarted']= pd.to_datetime(df['InstStarted'])
df['InstEnded']= pd.to_datetime(df['InstEnded'])
df['DateCreated']= pd.to_datetime(df['DateCreated'])

In [148]:
#groupby PIN, Inst to calculate the time spent in each inst by each participant
mni =df.groupby(['PIN','DYAD','Inst'])['InstStarted','InstEnded'].first().reset_index()

In [149]:
#a. Calculate end time minus start time by measure by PIN
mni['Time']=mni['InstEnded']-mni['InstStarted']

In [150]:
mni['Time'].dt.total_seconds()

0      871.00
1      172.00
2        6.00
3      548.00
4      177.00
        ...
2315   552.00
2316   856.00
2317   192.00
2318   232.00
2319    18.00
Name: Time, Length: 2320, dtype: float64

In [151]:
mni['Minute']=round(mni['Time'].dt.total_seconds()/60,2)

In [155]:
mni.head()

,PIN,DYAD,Inst,InstStarted,InstEnded,Time,Minute
0,APPLETONC1,1,Get Up and Go,2021-11-10 13:10:48,2021-11-10 13:25:19,0 days 00:14:31,14.52
1,APPLETONC1,1,Give_N,2021-11-10 12:24:24,2021-11-10 12:27:16,0 days 00:02:52,2.87
2,APPLETONC1,1,Global Self-Regulation,2021-11-10 14:08:41,2021-11-10 14:08:47,0 days 00:00:06,0.10
3,APPLETONC1,1,Make Yours Look Like Mine,2021-11-10 13:57:48,2021-11-10 14:06:56,0 days 00:09:08,9.13
4,APPLETONC1,1,Memory Task Learning,2021-11-10 12:27:17,2021-11-10 12:30:14,0 days 00:02:57,2.95

In [161]:
mni =pd.merge(mni, rdf, on =['PIN','DYAD'])

In [166]:
mni[mni.Age_group.notnull()].shape[0]/mni.shape[0]

1.0

In [167]:
mni.groupby(['Inst','Age_group'])['Minute'].describe()

                             count  mean  std  min  25%  50%  75%   max
Inst            Age_group
CDI: Expressive (8, 10]       3.00  1.10 0.14 0.93 1.05 1.18 1.18  1.18
                (12, 15]      4.00  1.63 0.74 1.13 1.22 1.32 1.73  2.73
                (15, 18]      1.00  1.77  NaN 1.77 1.77 1.77 1.77  1.77
                (18, 21]      6.00  2.03 1.10 0.97 1.21 2.05 2.18  3.97
                (21, 24]      4.00  2.38 2.38 0.55 1.13 1.56 2.82  5.87
...                            ...   ...  ...  ...  ...  ...  ...   ...
Who Has More    (24, 27]      9.00  4.15 1.14 2.15 3.65 4.05 4.58  6.30
                (27, 30]     11.00  4.23 3.07 2.33 2.48 3.17 4.35 12.92
                (30, 35]      8.00  3.43 1.69 1.43 2.54 2.94 4.08  6.92
                (35, 43]     15.00  3.99 0.59 3.47 3.65 3.75 4.12  5.70
                (215, 1000]   4.00  3.40 0.26 3.17 3.17 3.38 3.61  3.65

[338 rows x 8 columns]

In [168]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('C:\\Users\\tsb7592\\OneDrive - Northwestern University\\Analysis Progress\\Basic_Desc_task9-11.xlsx', engine='xlsxwriter')

#b. Summarize (inc. medians) by measure, overall and by age group
mni.groupby(['Inst','Age_group'])['Minute'].describe().to_excel(writer, sheet_name='Summarize_by_inst_age')

mni.groupby(['Inst'])['Minute'].describe().to_excel(writer, sheet_name='Overall_time_by_inst')

#c. Add up the durations within a PIN and summarize total time per PIN (even though they will have a different number of measures) – overall and by age group
mni.groupby(['Age_group','PIN'])['Minute'].sum().to_excel(writer, sheet_name='Overall_duration')

# Close the Pandas Excel writer and output the Excel file.
writer.save()

# Basic Descriptives 12

In [ ]:
df.shape