In [1]:
#Data saved in csv/excel
import glob, os
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
#Set two decimal points for display
pd.options.display.float_format = "{:.2f}".format

# 1. Load the data

In [3]:
data=pd.read_csv('C:/Users/tsb7592/Downloads/Basic_Desc_output.csv')

In [4]:
data['PIN']=data['PIN'].str.upper()

In [5]:
data.head()

,PIN,DeviceID,Assessment Name,Inst,ItemID,Response,Score,Position,ResponseTime,DateCreated,InstStarted,InstEnded,Age_month,Age_group
0,TX009C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,Mullen_Rec_Title,1,NaN,1,NaN,2021-12-05 08:30:42,2021-12-05 08:30:41,2021-12-05 08:33:49,18.00,"(15, 18]"
1,TX009C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,Mullen_Rec_Instructions,1,NaN,2,NaN,2021-12-05 08:30:43,2021-12-05 08:30:41,2021-12-05 08:33:49,18.00,"(15, 18]"
2,TX009C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,RL13,2,0.00,3,NaN,2021-12-05 08:32:53,2021-12-05 08:30:41,2021-12-05 08:33:49,18.00,"(15, 18]"
3,TX009C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,RL10,1,1.00,4,NaN,2021-12-05 08:32:59,2021-12-05 08:30:41,2021-12-05 08:33:49,18.00,"(15, 18]"
4,TX009C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,RL15,2,0.00,5,NaN,2021-12-05 08:33:18,2021-12-05 08:30:41,2021-12-05 08:33:49,18.00,"(15, 18]"

In [6]:
data.Inst.unique()

array(['Mullen Receptive', 'Mullen Expressive Prompted',
       'Executive Function', 'Verbal Counting', 'Toy Out of Reach',
       'Social Observation', 'Playing with Bubbles',
       'Looking While Listening', 'Get Up and Go', 'Sit and Stand',
       'Numerical Change Detection', 'Shape Matching Manipulatives',
       'Reach To Eat', 'Spatial Change Detection',
       'Make Yours Look Like Mine', 'Mullen Expressive Observational',
       'Global Self-Regulation', 'Object Counting', 'Give_N',
       'Memory Task Learning', 'Visual Delayed Response',
       'Memory Task Test',
       'NIH Baby Toolbox Picture Vocabulary Test Practice',
       'NIH Baby Toolbox Picture Vocabulary Test', 'Who Has More',
       'Shape Matching', 'Number Recognition + Subitizing',
       'Early Childhood Behavior Questionnaire - Very Short Form',
       'Caregiver Checklist',
       'PROMIS EC Parent-Report SF v1.0 - Social Relationships - Child-Caregiver Interactions 5a',
       'PROMIS EC Parent-Report SF v1.0 - Social Relationships - Peer Relationships 4a',
       'CDI: Expressive', 'REMA Arithmetic', 'CDI: Receptive',
       "Children's Behavior Questionnaire - Very Short Form",
       'Infant Behavior Questionnaire - Revised - Very Short Form'],
      dtype=object)

# 2. Filter the inst to be ECBQ

In [7]:
df= data[data.Inst=='Early Childhood Behavior Questionnaire - Very Short Form']

In [8]:
df.PIN=df.PIN.str[:5]

In [9]:
df.Response =pd.to_numeric(df.Response)
df.Score =pd.to_numeric(df.Score)

In [10]:
df.describe()

       Response   Score  Position  ResponseTime  Age_month
count   2052.00 1885.00   2052.00       1944.00    1444.00
mean       4.41    4.45     19.50         16.48     386.50
std        2.01    1.83     10.97         87.82     116.65
min        1.00    1.00      1.00          0.62      13.00
25%        3.00    3.00     10.00          5.21     368.00
50%        5.00    5.00     19.50          7.28     409.00
75%        6.00    6.00     29.00         11.59     440.00
max        8.00    7.00     38.00       2963.74     536.00

# 3. Rescore all items to ensure appropriate response coding

In [11]:
df.ItemID.unique()

array(['RothECBQ_Title', 'SelfReg_Intro_ECBQ ', 'SelfReg_ECBQ1',
       'SelfReg_ECBQ2', 'SelfReg_ECBQ3', 'SelfReg_ECBQ4', 'SelfReg_ECBQ5',
       'SelfReg_ECBQ6', 'SelfReg_ECBQ7', 'SelfReg_ECBQ8', 'SelfReg_ECBQ9',
       'SelfReg_ECBQ10', 'SelfReg_ECBQ11', 'SelfReg_ECBQ12',
       'SelfReg_ECBQ13', 'SelfReg_ECBQ14', 'SelfReg_ECBQ15',
       'SelfReg_ECBQ16', 'SelfReg_ECBQ17', 'SelfReg_ECBQ18',
       'SelfReg_ECBQ19', 'SelfReg_ECBQ20', 'SelfReg_ECBQ21',
       'SelfReg_ECBQ22', 'SelfReg_ECBQ23', 'SelfReg_ECBQ24',
       'SelfReg_ECBQ25', 'SelfReg_ECBQ26', 'SelfReg_ECBQ27',
       'SelfReg_ECBQ28', 'SelfReg_ECBQ29', 'SelfReg_ECBQ30',
       'SelfReg_ECBQ31', 'SelfReg_ECBQ32', 'SelfReg_ECBQ33',
       'SelfReg_ECBQ34', 'SelfReg_ECBQ35', 'SelfReg_ECBQ36'], dtype=object)

In [12]:
reverse =['SelfReg_ECBQ12','SelfReg_ECBQ14','SelfReg_ECBQ34']

In [13]:
import numpy as np
#The score should equal the response for all items EXCEPT SelfReg_ibqrvsh11, for which the score should be 8-response 
df['Score'] = np.where(df['ItemID'].isin(reverse),8-df.Response, df.Response)

# 4. Calculate the three composite scores

In [14]:
a= ['SelfReg_ECBQ3', 'SelfReg_ECBQ4', 'SelfReg_ECBQ6',
    'SelfReg_ECBQ9', 'SelfReg_ECBQ11', 'SelfReg_ECBQ13',
     'SelfReg_ECBQ18','SelfReg_ECBQ20',  'SelfReg_ECBQ24',
       'SelfReg_ECBQ25', 'SelfReg_ECBQ30','SelfReg_ECBQ36']

b= ['SelfReg_ECBQ1','SelfReg_ECBQ2','SelfReg_ECBQ10', 
    'SelfReg_ECBQ16', 'SelfReg_ECBQ17', 'SelfReg_ECBQ19',
    'SelfReg_ECBQ22', 'SelfReg_ECBQ23', 'SelfReg_ECBQ26',  
    'SelfReg_ECBQ32', 'SelfReg_ECBQ33', 'SelfReg_ECBQ34']

c= ['SelfReg_ECBQ5','SelfReg_ECBQ7', 'SelfReg_ECBQ8', 
    'SelfReg_ECBQ12', 'SelfReg_ECBQ14', 'SelfReg_ECBQ15',
      'SelfReg_ECBQ21','SelfReg_ECBQ27', 'SelfReg_ECBQ28', 
    'SelfReg_ECBQ29',  'SelfReg_ECBQ31', 'SelfReg_ECBQ35']

In [15]:
aa= df[df.ItemID.isin(a)].groupby('PIN')['Score'].mean()
bb= df[df.ItemID.isin(b)].groupby('PIN')['Score'].mean()
cc= df[df.ItemID.isin(c)].groupby('PIN')['Score'].mean()

In [16]:
comp =[aa,bb,cc]

In [17]:
cdf = pd.concat(comp,axis=1)
cdf.columns = ['SelfReg_SurgECBQ','SelfReg_NegAffECBQ','SelfReg_EffContECBQ']

In [18]:
cdf.corr()

                     SelfReg_SurgECBQ  SelfReg_NegAffECBQ  SelfReg_EffContECBQ
SelfReg_SurgECBQ                 1.00                0.02                 0.34
SelfReg_NegAffECBQ               0.02                1.00                -0.31
SelfReg_EffContECBQ              0.34               -0.31                 1.00

In [19]:
cdf.corr().to_csv('C:/Users/tsb7592/Downloads/ECBQ_corr.csv')

# 5. Calculate item-rest correlations for every item â€“ e.g., what is the Pearson correlation for SelfReg_ibqrvsh1 with the average score for the 12 other items on SelfReg_SurgIQBR. There should be 37 item-rest correlations.

In [20]:
items=['SelfReg_ECBQ1',
       'SelfReg_ECBQ2', 'SelfReg_ECBQ3', 'SelfReg_ECBQ4', 'SelfReg_ECBQ5',
       'SelfReg_ECBQ6', 'SelfReg_ECBQ7', 'SelfReg_ECBQ8', 'SelfReg_ECBQ9',
       'SelfReg_ECBQ10', 'SelfReg_ECBQ11', 'SelfReg_ECBQ12',
       'SelfReg_ECBQ13', 'SelfReg_ECBQ14', 'SelfReg_ECBQ15',
       'SelfReg_ECBQ16', 'SelfReg_ECBQ17', 'SelfReg_ECBQ18',
       'SelfReg_ECBQ19', 'SelfReg_ECBQ20', 'SelfReg_ECBQ21',
       'SelfReg_ECBQ22', 'SelfReg_ECBQ23', 'SelfReg_ECBQ24',
       'SelfReg_ECBQ25', 'SelfReg_ECBQ26', 'SelfReg_ECBQ27',
       'SelfReg_ECBQ28', 'SelfReg_ECBQ29', 'SelfReg_ECBQ30',
       'SelfReg_ECBQ31', 'SelfReg_ECBQ32', 'SelfReg_ECBQ33',
       'SelfReg_ECBQ34', 'SelfReg_ECBQ35', 'SelfReg_ECBQ36']

In [24]:
from scipy.stats import pearsonr

def item_rest(itemlist, li=None):
    if not li:
        li ={}
        
    for i in range(len(itemlist)):
        rest = itemlist.copy()
        rest.pop(i)
        list1 = df[df.ItemID==itemlist[i]].groupby('PIN')['Score'].mean()
        list2  = df[df.ItemID.isin(rest)].groupby('PIN')['Score'].mean()
    
    # Apply the pearsonr()
        corr, _ = pearsonr(list1, list2)
        print(itemlist[i], ': Pearsons correlation is %.3f ' % corr)
        li[itemlist[i]] = corr
    return li

In [25]:
itemrest = item_rest(a)

SelfReg_ECBQ3 : Pearsons correlation is 0.189
SelfReg_ECBQ4 : Pearsons correlation is 0.242
SelfReg_ECBQ6 : Pearsons correlation is 0.144
SelfReg_ECBQ9 : Pearsons correlation is 0.206
SelfReg_ECBQ11 : Pearsons correlation is 0.390
SelfReg_ECBQ13 : Pearsons correlation is 0.288
SelfReg_ECBQ18 : Pearsons correlation is 0.224
SelfReg_ECBQ20 : Pearsons correlation is 0.223
SelfReg_ECBQ24 : Pearsons correlation is 0.306
SelfReg_ECBQ25 : Pearsons correlation is 0.233
SelfReg_ECBQ30 : Pearsons correlation is 0.066
SelfReg_ECBQ36 : Pearsons correlation is 0.292

In [26]:
itemrest =item_rest(b, itemrest)

SelfReg_ECBQ1 : Pearsons correlation is 0.397
SelfReg_ECBQ2 : Pearsons correlation is 0.529
SelfReg_ECBQ10 : Pearsons correlation is 0.111
SelfReg_ECBQ16 : Pearsons correlation is 0.229
SelfReg_ECBQ17 : Pearsons correlation is 0.483
SelfReg_ECBQ19 : Pearsons correlation is 0.461
SelfReg_ECBQ22 : Pearsons correlation is 0.503
SelfReg_ECBQ23 : Pearsons correlation is 0.386
SelfReg_ECBQ26 : Pearsons correlation is 0.259
SelfReg_ECBQ32 : Pearsons correlation is 0.361
SelfReg_ECBQ33 : Pearsons correlation is 0.520
SelfReg_ECBQ34 : Pearsons correlation is 0.354

In [27]:
itemrest = item_rest(c,itemrest)

SelfReg_ECBQ5 : Pearsons correlation is 0.375
SelfReg_ECBQ7 : Pearsons correlation is 0.399
SelfReg_ECBQ8 : Pearsons correlation is 0.357
SelfReg_ECBQ12 : Pearsons correlation is 0.456
SelfReg_ECBQ14 : Pearsons correlation is 0.232
SelfReg_ECBQ15 : Pearsons correlation is 0.298
SelfReg_ECBQ21 : Pearsons correlation is 0.369
SelfReg_ECBQ27 : Pearsons correlation is 0.378
SelfReg_ECBQ28 : Pearsons correlation is 0.126
SelfReg_ECBQ29 : Pearsons correlation is 0.116
SelfReg_ECBQ31 : Pearsons correlation is 0.223
SelfReg_ECBQ35 : Pearsons correlation is 0.367

In [28]:
irc = pd.DataFrame.from_dict(itemrest, orient='index', columns=['item-rest-correlation'])
irc.to_csv('C:/Users/tsb7592/Downloads/ECBQ_item_rest_correlation.csv')

# 6. Describe each of the 3 composite scores overall and by age group. NOTE: the Infant Behavior Questionnaire is not applicable to all age groups.

In [29]:
cdf=cdf.reset_index()

In [30]:
spin = cdf.PIN.to_list()
cpin = []
for pin in spin:
    pin+='C'
    cpin.append(pin)

In [31]:
len(spin)

54

In [32]:
child =data[data.PIN.isin(cpin)]

In [33]:
child.PIN=child.PIN.str[:5]

In [34]:
child[child.Age_group.notnull()]['PIN'].nunique()

49

In [35]:
de = pd.merge(cdf, child[['PIN','Age_month','Age_group']], on=['PIN'], how ='left')

In [36]:
de =de.drop_duplicates()

In [37]:
de.head()

,PIN,SelfReg_SurgECBQ,SelfReg_NegAffECBQ,SelfReg_EffContECBQ,Age_month,Age_group
0,MN002,6.08,4.83,4.00,28.00,"(27, 30]"
371,MN006,5.58,2.42,6.00,27.00,"(24, 27]"
743,MN007,6.00,2.92,5.33,34.00,"(30, 35]"
1139,MN009,5.17,2.83,4.83,19.00,"(18, 21]"
1378,MN011,6.00,2.83,5.83,33.00,"(30, 35]"

In [38]:
de.groupby(['Age_group'])['SelfReg_SurgECBQ'].describe()

           count  mean  std  min  25%  50%  75%  max
Age_group
(12, 15]    5.00  5.52 1.26 3.75 5.00 5.83 5.83 7.17
(15, 18]    8.00  5.78 0.47 5.17 5.54 5.58 6.17 6.58
(18, 21]    8.00  5.50 0.49 4.92 5.12 5.42 5.90 6.17
(21, 24]    6.00  5.92 0.46 5.25 5.67 5.92 6.29 6.42
(24, 27]    8.00  5.61 0.38 5.08 5.38 5.54 5.94 6.17
(27, 30]    8.00  5.64 0.55 4.75 5.40 5.83 6.08 6.08
(30, 35]    6.00  5.61 0.38 5.00 5.46 5.62 5.92 6.00
(35, 43]    1.00  6.17  NaN 6.17 6.17 6.17 6.17 6.17

In [39]:
de.groupby(['Age_group'])['SelfReg_NegAffECBQ'].describe()

           count  mean  std  min  25%  50%  75%  max
Age_group
(12, 15]    5.00  3.47 1.09 1.83 3.50 3.50 3.58 4.92
(15, 18]    8.00  3.11 0.65 2.25 2.58 3.21 3.58 3.92
(18, 21]    8.00  3.50 0.97 2.42 2.79 3.12 4.35 4.92
(21, 24]    6.00  3.26 0.96 2.17 2.75 3.04 3.58 4.92
(24, 27]    8.00  3.12 0.62 2.42 2.77 3.00 3.33 4.33
(27, 30]    8.00  3.56 0.66 2.92 3.06 3.42 3.79 4.83
(30, 35]    6.00  2.71 0.46 2.00 2.50 2.79 2.90 3.33
(35, 43]    1.00  4.25  NaN 4.25 4.25 4.25 4.25 4.25

In [40]:
de.groupby(['Age_group'])['SelfReg_EffContECBQ'].describe()

           count  mean  std  min  25%  50%  75%  max
Age_group
(12, 15]    5.00  5.03 1.28 3.50 4.00 5.42 5.58 6.67
(15, 18]    8.00  4.54 0.93 2.67 4.33 4.67 5.19 5.58
(18, 21]    8.00  4.58 0.65 3.25 4.31 4.79 4.90 5.33
(21, 24]    6.00  5.18 0.36 4.75 4.94 5.12 5.44 5.67
(24, 27]    8.00  4.81 0.65 3.92 4.52 4.83 5.08 6.00
(27, 30]    8.00  4.77 0.55 4.00 4.38 4.75 5.15 5.58
(30, 35]    6.00  4.97 0.58 4.25 4.56 4.96 5.29 5.83
(35, 43]    1.00  4.25  NaN 4.25 4.25 4.25 4.25 4.25

In [41]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('C:/Users/tsb7592/Downloads/ECBQ_composite_scores.xlsx', engine='xlsxwriter')

de.groupby(['Age_group'])['SelfReg_SurgECBQ'].describe().to_excel(writer, sheet_name='SurgECBQ')

de.groupby(['Age_group'])['SelfReg_NegAffECBQ'].describe().to_excel(writer, sheet_name='NegAffECBQ')

de.groupby(['Age_group'])['SelfReg_EffContECBQ'].describe().to_excel(writer, sheet_name='EffContECBQ')

# Close the Pandas Excel writer and output the Excel file.
writer.save()