In [1]:
#Data saved in csv/excel
import glob, os
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
#Set two decimal points for display
pd.options.display.float_format = "{:.2f}".format

# 1. Load the data

In [3]:
data=pd.read_csv('C:/Users/tsb7592/Downloads/Basic_Desc_output.csv')

In [4]:
data['PIN']=data['PIN'].str.upper()

In [5]:
data.head()

,PIN,DeviceID,Assessment Name,Inst,ItemID,Response,Score,Position,ResponseTime,DateCreated,InstStarted,InstEnded,Age_month,Age_group
0,TX009C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,Mullen_Rec_Title,1,NaN,1,NaN,2021-12-05 08:30:42,2021-12-05 08:30:41,2021-12-05 08:33:49,18.00,"(15, 18]"
1,TX009C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,Mullen_Rec_Instructions,1,NaN,2,NaN,2021-12-05 08:30:43,2021-12-05 08:30:41,2021-12-05 08:33:49,18.00,"(15, 18]"
2,TX009C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,RL13,2,0.00,3,NaN,2021-12-05 08:32:53,2021-12-05 08:30:41,2021-12-05 08:33:49,18.00,"(15, 18]"
3,TX009C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,RL10,1,1.00,4,NaN,2021-12-05 08:32:59,2021-12-05 08:30:41,2021-12-05 08:33:49,18.00,"(15, 18]"
4,TX009C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,RL15,2,0.00,5,NaN,2021-12-05 08:33:18,2021-12-05 08:30:41,2021-12-05 08:33:49,18.00,"(15, 18]"

In [6]:
data.Inst.unique()

array(['Mullen Receptive', 'Mullen Expressive Prompted',
       'Executive Function', 'Verbal Counting', 'Toy Out of Reach',
       'Social Observation', 'Playing with Bubbles',
       'Looking While Listening', 'Get Up and Go', 'Sit and Stand',
       'Numerical Change Detection', 'Shape Matching Manipulatives',
       'Reach To Eat', 'Spatial Change Detection',
       'Make Yours Look Like Mine', 'Mullen Expressive Observational',
       'Global Self-Regulation', 'Object Counting', 'Give_N',
       'Memory Task Learning', 'Visual Delayed Response',
       'Memory Task Test',
       'NIH Baby Toolbox Picture Vocabulary Test Practice',
       'NIH Baby Toolbox Picture Vocabulary Test', 'Who Has More',
       'Shape Matching', 'Number Recognition + Subitizing',
       'Early Childhood Behavior Questionnaire - Very Short Form',
       'Caregiver Checklist',
       'PROMIS EC Parent-Report SF v1.0 - Social Relationships - Child-Caregiver Interactions 5a',
       'PROMIS EC Parent-Report SF v1.0 - Social Relationships - Peer Relationships 4a',
       'CDI: Expressive', 'REMA Arithmetic', 'CDI: Receptive',
       "Children's Behavior Questionnaire - Very Short Form",
       'Infant Behavior Questionnaire - Revised - Very Short Form'],
      dtype=object)

# 2. Filter the inst to be CBQ

In [7]:
df= data[data.Inst=="Children's Behavior Questionnaire - Very Short Form"]

In [8]:
df.Response =pd.to_numeric(df.Response)
df.Score =pd.to_numeric(df.Score)

# 3. Rescore all items to ensure appropriate response coding.

In [9]:
df.ItemID.unique()

array(['RothCBQ_Title', 'SelfReg_Intro_CBQ ', 'SelfReg_CBQ1',
       'SelfReg_CBQ2', 'SelfReg_CBQ3', 'SelfReg_CBQ4', 'SelfReg_CBQ5',
       'SelfReg_CBQ6', 'SelfReg_CBQ7', 'SelfReg_CBQ8', 'SelfReg_CBQ9',
       'SelfReg_CBQ10', 'SelfReg_CBQ11', 'SelfReg_CBQ12', 'SelfReg_CBQ13',
       'SelfReg_CBQ14', 'SelfReg_CBQ15', 'SelfReg_CBQ16', 'SelfReg_CBQ17',
       'SelfReg_CBQ18', 'SelfReg_CBQ19', 'SelfReg_CBQ20', 'SelfReg_CBQ21',
       'SelfReg_CBQ22', 'SelfReg_CBQ23', 'SelfReg_CBQ24', 'SelfReg_CBQ25',
       'SelfReg_CBQ26', 'SelfReg_CBQ27', 'SelfReg_CBQ28', 'SelfReg_CBQ29',
       'SelfReg_CBQ30', 'SelfReg_CBQ31', 'SelfReg_CBQ32', 'SelfReg_CBQ33',
       'SelfReg_CBQ34', 'SelfReg_CBQ35', 'SelfReg_CBQ36'], dtype=object)

In [10]:
reverse =['SelfReg_CBQ13', 'SelfReg_CBQ19', 'SelfReg_CBQ20', 
       'SelfReg_CBQ22', 'SelfReg_CBQ26', 'SelfReg_CBQ29',
          'SelfReg_CBQ31', 'SelfReg_CBQ34']

In [11]:
import numpy as np
#The score should equal the response for all items EXCEPT SelfReg_CBQ 13, 19, 20, 22, 26, 29, 31, and 34, 
#for which the score should be 8-response 
df['Score'] = np.where(df['ItemID'].isin(reverse), 8-df.Response, df.Response)

In [12]:
df[df['ItemID'].isin(reverse)].tail()

,PIN,DeviceID,Assessment Name,Inst,ItemID,Response,Score,Position,ResponseTime,DateCreated,InstStarted,InstEnded,Age_month,Age_group
49972,TX004P,059282F7-D6F7-4A39-8DF8-429BD89241D1,Assessment 1,Children's Behavior Questionnaire - Very Short...,SelfReg_CBQ22,5,3,24,4.91,2021-12-02 12:30:57,2021-12-02 12:26:39,2021-12-02 12:32:04,NaN,NaN
49976,TX004P,059282F7-D6F7-4A39-8DF8-429BD89241D1,Assessment 1,Children's Behavior Questionnaire - Very Short...,SelfReg_CBQ26,5,3,28,5.63,2021-12-02 12:31:15,2021-12-02 12:26:39,2021-12-02 12:32:04,NaN,NaN
49979,TX004P,059282F7-D6F7-4A39-8DF8-429BD89241D1,Assessment 1,Children's Behavior Questionnaire - Very Short...,SelfReg_CBQ29,3,5,31,7.34,2021-12-02 12:31:30,2021-12-02 12:26:39,2021-12-02 12:32:04,NaN,NaN
49981,TX004P,059282F7-D6F7-4A39-8DF8-429BD89241D1,Assessment 1,Children's Behavior Questionnaire - Very Short...,SelfReg_CBQ31,5,3,33,6.77,2021-12-02 12:31:42,2021-12-02 12:26:39,2021-12-02 12:32:04,NaN,NaN
49984,TX004P,059282F7-D6F7-4A39-8DF8-429BD89241D1,Assessment 1,Children's Behavior Questionnaire - Very Short...,SelfReg_CBQ34,5,3,36,5.07,2021-12-02 12:31:54,2021-12-02 12:26:39,2021-12-02 12:32:04,NaN,NaN

# 4. Calculate the three composite scores

In [13]:
df['Assessment Name'].value_counts()

Assessment 1    456
Assessment 2    114
Name: Assessment Name, dtype: int64

In [14]:
a= ['SelfReg_CBQ1', 'SelfReg_CBQ4', 'SelfReg_CBQ7', 
    'SelfReg_CBQ10', 'SelfReg_CBQ13', 'SelfReg_CBQ16', 
    'SelfReg_CBQ19', 'SelfReg_CBQ22','SelfReg_CBQ25',
    'SelfReg_CBQ28', 'SelfReg_CBQ31', 'SelfReg_CBQ34',]

b= [ 'SelfReg_CBQ2', 'SelfReg_CBQ5','SelfReg_CBQ8', 'SelfReg_CBQ11', 
     'SelfReg_CBQ14', 'SelfReg_CBQ17', 'SelfReg_CBQ20','SelfReg_CBQ23', 
    'SelfReg_CBQ26','SelfReg_CBQ29','SelfReg_CBQ32',  'SelfReg_CBQ35']


c= ['SelfReg_CBQ3','SelfReg_CBQ6','SelfReg_CBQ9',
    'SelfReg_CBQ12',  'SelfReg_CBQ15', 'SelfReg_CBQ18', 
    'SelfReg_CBQ21', 'SelfReg_CBQ24', 'SelfReg_CBQ27',
     'SelfReg_CBQ30', 'SelfReg_CBQ33', 'SelfReg_CBQ36']

In [15]:
SelfReg_SurgCBQ=df[df.ItemID.isin(a)].groupby(['PIN','Assessment Name'])['Score'].mean()
SelfReg_NegAffCBQ= df[df.ItemID.isin(b)].groupby(['PIN','Assessment Name'])['Score'].mean()
SelfReg_EffContCBQ= df[df.ItemID.isin(c)].groupby(['PIN','Assessment Name'])['Score'].mean()

In [16]:
comp =[SelfReg_SurgCBQ,SelfReg_NegAffCBQ,SelfReg_EffContCBQ]

In [17]:
cdf = pd.concat(comp,axis=1)
cdf.columns = ['SelfReg_SurgCBQ','SelfReg_NegAffCBQ','SelfReg_EffContCBQ']

In [18]:
cdf

,,SelfReg_SurgCBQ,SelfReg_NegAffCBQ,SelfReg_EffContCBQ
PIN,Assessment Name,,,
APPLETONQ,Assessment 1,3.83,5.25,5.42
MN010P,Assessment 1,4.50,4.00,5.75
MN020P,Assessment 1,3.42,5.00,4.42
MN024P,Assessment 2,3.67,4.42,5.42
MO003P,Assessment 1,4.25,4.17,4.42
MO004P,Assessment 1,4.67,3.50,6.25
MO013P,Assessment 1,5.42,2.58,5.50
TX004P,Assessment 1,4.42,4.50,5.17
TX006P,Assessment 1,3.58,4.92,5.25
TX011P,Assessment 2,4.58,4.42,6.17
WI010P,Assessment 1,4.00,4.58,6.17
WI011P,Assessment 1,3.58,4.17,4.33
WI017P,Assessment 1,4.67,5.67,5.42
WI020C,Assessment 1,4.83,3.75,3.50
WI023P,Assessment 2,2.67,3.33,5.08

In [19]:
cdf.corr()

                    SelfReg_SurgCBQ  SelfReg_NegAffCBQ  SelfReg_EffContCBQ
SelfReg_SurgCBQ                1.00              -0.26                0.17
SelfReg_NegAffCBQ             -0.26               1.00                0.02
SelfReg_EffContCBQ             0.17               0.02                1.00

In [20]:
cdf.corr().round(2).to_csv('C:/Users/tsb7592/OneDrive - Northwestern University/Analysis Progress/CBQ_corr.csv')

# 5. Calculate item-rest correlations for every item â€“ e.g., what is the Pearson correlation for SelfReg_cbq8 with the average score for the 11 other items on SelfReg_NegAffCBQ. There should be 36 item-rest correlations.

In [21]:
items=[ 'SelfReg_CBQ1',
       'SelfReg_CBQ2', 'SelfReg_CBQ3', 'SelfReg_CBQ4', 'SelfReg_CBQ5',
       'SelfReg_CBQ6', 'SelfReg_CBQ7', 'SelfReg_CBQ8', 'SelfReg_CBQ9',
       'SelfReg_CBQ10', 'SelfReg_CBQ11', 'SelfReg_CBQ12', 'SelfReg_CBQ13',
       'SelfReg_CBQ14', 'SelfReg_CBQ15', 'SelfReg_CBQ16', 'SelfReg_CBQ17',
       'SelfReg_CBQ18', 'SelfReg_CBQ19', 'SelfReg_CBQ20', 'SelfReg_CBQ21',
       'SelfReg_CBQ22', 'SelfReg_CBQ23', 'SelfReg_CBQ24', 'SelfReg_CBQ25',
       'SelfReg_CBQ26', 'SelfReg_CBQ27', 'SelfReg_CBQ28', 'SelfReg_CBQ29',
       'SelfReg_CBQ30', 'SelfReg_CBQ31', 'SelfReg_CBQ32', 'SelfReg_CBQ33',
       'SelfReg_CBQ34', 'SelfReg_CBQ35', 'SelfReg_CBQ36']

In [22]:
from scipy.stats import pearsonr

def item_rest(itemlist, li=None):
    if not li:
        li ={}
        
    for i in range(len(itemlist)):
        rest = itemlist.copy()
        rest.pop(i)
        list1 = df[df.ItemID==itemlist[i]].groupby('PIN')['Score'].mean()
        list2  = df[df.ItemID.isin(rest)].groupby('PIN')['Score'].mean()
    
    # Apply the pearsonr()
        corr, _ = pearsonr(list1, list2)
        print(itemlist[i], ': Pearsons correlation is %.3f ' % corr)
        li[itemlist[i]] = corr
    return li

In [23]:
itemrest = item_rest(a)

SelfReg_CBQ1 : Pearsons correlation is -0.195
SelfReg_CBQ4 : Pearsons correlation is 0.610
SelfReg_CBQ7 : Pearsons correlation is 0.620
SelfReg_CBQ10 : Pearsons correlation is 0.722
SelfReg_CBQ13 : Pearsons correlation is 0.391
SelfReg_CBQ16 : Pearsons correlation is -0.176
SelfReg_CBQ19 : Pearsons correlation is 0.604
SelfReg_CBQ22 : Pearsons correlation is 0.365
SelfReg_CBQ25 : Pearsons correlation is 0.291
SelfReg_CBQ28 : Pearsons correlation is 0.213
SelfReg_CBQ31 : Pearsons correlation is -0.124
SelfReg_CBQ34 : Pearsons correlation is 0.681

In [24]:
itemrest =item_rest(b, itemrest)

SelfReg_CBQ2 : Pearsons correlation is 0.011
SelfReg_CBQ5 : Pearsons correlation is 0.774
SelfReg_CBQ8 : Pearsons correlation is -0.196
SelfReg_CBQ11 : Pearsons correlation is 0.176
SelfReg_CBQ14 : Pearsons correlation is 0.430
SelfReg_CBQ17 : Pearsons correlation is 0.232
SelfReg_CBQ20 : Pearsons correlation is 0.535
SelfReg_CBQ23 : Pearsons correlation is 0.407
SelfReg_CBQ26 : Pearsons correlation is -0.024
SelfReg_CBQ29 : Pearsons correlation is 0.535
SelfReg_CBQ32 : Pearsons correlation is 0.370
SelfReg_CBQ35 : Pearsons correlation is 0.193

In [25]:
itemrest = item_rest(c,itemrest)

SelfReg_CBQ3 : Pearsons correlation is 0.305
SelfReg_CBQ6 : Pearsons correlation is 0.410
SelfReg_CBQ9 : Pearsons correlation is 0.261
SelfReg_CBQ12 : Pearsons correlation is 0.650
SelfReg_CBQ15 : Pearsons correlation is 0.036
SelfReg_CBQ18 : Pearsons correlation is 0.534
SelfReg_CBQ21 : Pearsons correlation is 0.661
SelfReg_CBQ24 : Pearsons correlation is 0.712
SelfReg_CBQ27 : Pearsons correlation is 0.315
SelfReg_CBQ30 : Pearsons correlation is 0.570
SelfReg_CBQ33 : Pearsons correlation is 0.261
SelfReg_CBQ36 : Pearsons correlation is 0.467

In [26]:
irc = pd.DataFrame.from_dict(itemrest, orient='index', columns=['item-rest-correlation'])
irc.round(3).to_csv('C:/Users/tsb7592/OneDrive - Northwestern University/Analysis Progress/CBQ_item_rest_correlation.csv')

# 6. Describe each of the 3 composite scores [step #4] overall and by age group. NOTE: the Child Behavior Questionnaire is not applicable to all age groups

In [27]:
cdf=cdf.reset_index()

In [28]:
cdf.PIN=cdf.PIN.str[:5]

In [29]:
spin = cdf.PIN.to_list()
cpin = []
for pin in spin:
    pin+='C'
    cpin.append(pin)

In [30]:
len(spin)

15

In [31]:
cdf

,PIN,Assessment Name,SelfReg_SurgCBQ,SelfReg_NegAffCBQ,SelfReg_EffContCBQ
0,APPLE,Assessment 1,3.83,5.25,5.42
1,MN010,Assessment 1,4.50,4.00,5.75
2,MN020,Assessment 1,3.42,5.00,4.42
3,MN024,Assessment 2,3.67,4.42,5.42
4,MO003,Assessment 1,4.25,4.17,4.42
5,MO004,Assessment 1,4.67,3.50,6.25
6,MO013,Assessment 1,5.42,2.58,5.50
7,TX004,Assessment 1,4.42,4.50,5.17
8,TX006,Assessment 1,3.58,4.92,5.25
9,TX011,Assessment 2,4.58,4.42,6.17
10,WI010,Assessment 1,4.00,4.58,6.17
11,WI011,Assessment 1,3.58,4.17,4.33
12,WI017,Assessment 1,4.67,5.67,5.42
13,WI020,Assessment 1,4.83,3.75,3.50
14,WI023,Assessment 2,2.67,3.33,5.08

In [32]:
child =data[data.PIN.isin(cpin)]

In [33]:
child.PIN=child.PIN.str[:5]

In [34]:
child[child.Age_group.notnull()]['PIN'].nunique()

13

In [35]:
de = pd.merge(cdf, child[['PIN','Assessment Name','Age_month','Age_group']], on=['PIN','Assessment Name'], how ='left')

In [36]:
de =de.drop_duplicates()
de = de.reset_index(drop=True)
de

,PIN,Assessment Name,SelfReg_SurgCBQ,SelfReg_NegAffCBQ,SelfReg_EffContCBQ,Age_month,Age_group
0,APPLE,Assessment 1,3.83,5.25,5.42,NaN,NaN
1,MN010,Assessment 1,4.50,4.00,5.75,40.00,"(35, 43]"
2,MN020,Assessment 1,3.42,5.00,4.42,42.00,"(35, 43]"
3,MN024,Assessment 2,3.67,4.42,5.42,NaN,NaN
4,MO003,Assessment 1,4.25,4.17,4.42,38.00,"(35, 43]"
5,MO004,Assessment 1,4.67,3.50,6.25,40.00,"(35, 43]"
6,MO013,Assessment 1,5.42,2.58,5.50,40.00,"(35, 43]"
7,TX004,Assessment 1,4.42,4.50,5.17,41.00,"(35, 43]"
8,TX006,Assessment 1,3.58,4.92,5.25,40.00,"(35, 43]"
9,TX011,Assessment 2,4.58,4.42,6.17,40.00,"(35, 43]"
10,WI010,Assessment 1,4.00,4.58,6.17,38.00,"(35, 43]"
11,WI011,Assessment 1,3.58,4.17,4.33,40.00,"(35, 43]"
12,WI017,Assessment 1,4.67,5.67,5.42,40.00,"(35, 43]"
13,WI020,Assessment 1,4.83,3.75,3.50,41.00,"(35, 43]"
14,WI023,Assessment 2,2.67,3.33,5.08,NaN,NaN

In [37]:
de.groupby(['Age_group'])['SelfReg_SurgCBQ'].describe()

           count  mean  std  min  25%  50%  75%  max
Age_group
(35, 43]   12.00  4.33 0.59 3.42 3.90 4.46 4.67 5.42

In [38]:
de.groupby(['Age_group'])['SelfReg_NegAffCBQ'].describe()

           count  mean  std  min  25%  50%  75%  max
Age_group
(35, 43]   12.00  4.27 0.79 2.58 3.94 4.29 4.67 5.67

In [39]:
de.groupby(['Age_group'])['SelfReg_EffContCBQ'].describe()

           count  mean  std  min  25%  50%  75%  max
Age_group
(35, 43]   12.00  5.19 0.87 3.50 4.42 5.33 5.85 6.25

In [40]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('C:/Users/tsb7592/OneDrive - Northwestern University/Analysis Progress/CBQ_composite_scores.xlsx', engine='xlsxwriter')

de.groupby(['Age_group'])['SelfReg_SurgCBQ'].describe().round(2).to_excel(writer, sheet_name='SurgCBQ')

de.groupby(['Age_group'])['SelfReg_NegAffCBQ'].describe().round(2).to_excel(writer, sheet_name='NegAffCBQ')

de.groupby(['Age_group'])['SelfReg_EffContCBQ'].describe().round(2).to_excel(writer, sheet_name='EffContCBQ')

# Close the Pandas Excel writer and output the Excel file.
writer.save()

# 7. Add the other Self-Regulation instruments to the data file â€“ that is, go back to the item-level data and select the Inst = â€œPlaying with Bubblesâ€ and â€œToy Out of Reachâ€

In [41]:
df2= data[(data.Inst=='Playing with Bubbles')]
df3 = data[(data.Inst=='Toy Out of Reach')]
df3.shape

(1804, 14)

# 8. Correlate the 3 composites with PA_2 and PA_3 from â€œPlaying with Bubblesâ€

In [42]:
pa2 =df2[df2.ItemID=='PA_2'][['PIN','Score']]
pa3 =df2[df2.ItemID=='PA_3'][['PIN','Score']]

In [43]:
PA = pd.merge(pa2,pa3, on='PIN')
PA.columns =['PIN','PA_2','PA_3']

In [44]:
c2 =cdf.corr().append(cdf.corrwith(PA['PA_2']), ignore_index=True)

In [45]:
c23 =c2.append(cdf.corrwith(PA['PA_3']), ignore_index=True)

In [46]:
c23

   SelfReg_SurgCBQ  SelfReg_NegAffCBQ  SelfReg_EffContCBQ
0             1.00              -0.26                0.17
1            -0.26               1.00                0.02
2             0.17               0.02                1.00
3            -0.12              -0.14               -0.51
4            -0.17              -0.05               -0.54

# 9 Mean-level score

In [47]:
#9a
f1 = df3[df3['ItemID'].str.contains("frus_reg")].groupby('PIN')['Score'].mean().reset_index()

In [48]:
#9b
f2= df3[df3['ItemID'].str.contains("frus_escal")].groupby('PIN')['Score'].mean().reset_index()

In [49]:
#9c
f3=df3[df3['ItemID'].str.contains("frus_cope")].groupby('PIN')['Score'].mean().reset_index()
f3

           PIN  Score
0   APPLETONC1   3.00
1        M018C   1.00
2       MN002C   2.00
3       MN004C   0.67
4       MN006C   1.00
..         ...    ...
89      WI030C   3.00
90      WI031C   2.00
91      WI032C   1.00
92      WI033C   1.33
93       WI24C   3.00

[94 rows x 2 columns]

In [50]:
f12 =pd.merge(f1,f2, on='PIN')
frus =pd.merge(f12,f3, on='PIN')

In [51]:
frus.columns =['PIN', 'frus_reg', 'frus_escalation', 'frus_cope']

In [52]:
new =pd.merge(PA, frus,on='PIN', how='left')

In [53]:
cf =c23.append(cdf.corrwith(new['frus_reg']), ignore_index=True)
cf1 =cf.append(cdf.corrwith(new['frus_escalation']), ignore_index=True)
cf2 =cf1.append(cdf.corrwith(new['frus_cope']), ignore_index=True)
cf2

   SelfReg_SurgCBQ  SelfReg_NegAffCBQ  SelfReg_EffContCBQ
0             1.00              -0.26                0.17
1            -0.26               1.00                0.02
2             0.17               0.02                1.00
3            -0.12              -0.14               -0.51
4            -0.17              -0.05               -0.54
5            -0.19               0.51                0.02
6            -0.10               0.26               -0.13
7             0.05              -0.33               -0.19

In [54]:
cf2.index =['SelfReg_SurgCBQ', 'SelfReg_NegAffCBQ', 'SelfReg_EffContCBQ','PA_2','PA_3','frus_reg', 'frus_escalation', 'frus_cope']

In [55]:
cf2.round(2).to_csv('C:/Users/tsb7592/OneDrive - Northwestern University/Analysis Progress/CBQ_corr.csv')

In [56]:
de['ChildPIN']  = de['PIN'] +'C'
de['CaregiverPIN']  = de['PIN'] +'P'

In [57]:
de =de.drop(columns=['PIN'],axis =1)
de

,Assessment Name,SelfReg_SurgCBQ,SelfReg_NegAffCBQ,SelfReg_EffContCBQ,Age_month,Age_group,ChildPIN,CaregiverPIN
0,Assessment 1,3.83,5.25,5.42,NaN,NaN,APPLEC,APPLEP
1,Assessment 1,4.50,4.00,5.75,40.00,"(35, 43]",MN010C,MN010P
2,Assessment 1,3.42,5.00,4.42,42.00,"(35, 43]",MN020C,MN020P
3,Assessment 2,3.67,4.42,5.42,NaN,NaN,MN024C,MN024P
4,Assessment 1,4.25,4.17,4.42,38.00,"(35, 43]",MO003C,MO003P
5,Assessment 1,4.67,3.50,6.25,40.00,"(35, 43]",MO004C,MO004P
6,Assessment 1,5.42,2.58,5.50,40.00,"(35, 43]",MO013C,MO013P
7,Assessment 1,4.42,4.50,5.17,41.00,"(35, 43]",TX004C,TX004P
8,Assessment 1,3.58,4.92,5.25,40.00,"(35, 43]",TX006C,TX006P
9,Assessment 2,4.58,4.42,6.17,40.00,"(35, 43]",TX011C,TX011P
10,Assessment 1,4.00,4.58,6.17,38.00,"(35, 43]",WI010C,WI010P
11,Assessment 1,3.58,4.17,4.33,40.00,"(35, 43]",WI011C,WI011P
12,Assessment 1,4.67,5.67,5.42,40.00,"(35, 43]",WI017C,WI017P
13,Assessment 1,4.83,3.75,3.50,41.00,"(35, 43]",WI020C,WI020P
14,Assessment 2,2.67,3.33,5.08,NaN,NaN,WI023C,WI023P

In [75]:
sc =pd.read_excel('C:/Users/tsb7592/OneDrive - Northwestern University/Analysis Progress/ScoreRecords.xlsx')

In [76]:
keep =['ChildPIN', 'CaregiverPIN', 'Assessment Name', 'Age_month', 'Age_group',
       'SelfReg_SurgIBQR', 'SelfReg_NegAffIBQR', 'SelfReg_EffContIBQR',
       'SelfReg_SurgECBQ', 'SelfReg_NegAffECBQ', 'SelfReg_EffContECBQ',
       'SelfReg_SurgCBQ', 'SelfReg_NegAffCBQ', 'SelfReg_EffContCBQ', 'PA_2',
       'PA_3', 'frus_reg', 'frus_escalation', 'frus_cope', 'CDI_Exp_theta',
       'CDI_Rec_theta', 'Give_N', 'GlobalSR', 'MYLLM', 'MemTest', 'Mul_Exp',
       'Mul_Rec', 'PVT', 'NR_S', 'VerbCt', 'ObjCt', 'PROMIS_CC_Int',
       'PROMIS_PR', 'REMA', 'ShpM_Man', 'ShpM_I', 'VDR', 'WHM', 'Phys_DP4_SS',
       'AB_DP4_SS', 'SE_DP4_SS', 'Cog_DP4_SS', 'Comm_DP4_SS', 'GDS_DP4_SS',
       'Phys_DP4_AE', 'AB_DP4_AE', 'SE_DP4_AE', 'Cog_DP4_AE', 'Comm_DP4_AE',
       'GDS_DP4_AE', 'Phys_DP4_GSV', 'AB_DP4_GSV', 'SE_DP4_GSV', 'Cog_DP4_GSV',
       'Comm_DP4_GSV', 'GDS_DP4_GSV', 'GM_MSEL_Tscr', 'VR_MSEL_Tscr',
       'FM_MSEL_Tscr', 'RL_MSEL_Tscr', 'EL_MSEL_Tscr', 'ELC_MSEL_Tscr',
       'GM_MSEL_AE', 'VR_MSEL_AE', 'FM_MSEL_AE', 'RL_MSEL_AE', 'EL_MSEL_AE',
       'ELC_MSEL_AE']

In [77]:
sc =sc.combine_first(de)

In [78]:
sc

,AB_DP4_AE,AB_DP4_GSV,AB_DP4_SS,Age_group,Age_month,Assessment Name,CDI_Exp_theta,CDI_Rec_theta,CaregiverPIN,ChildPIN,...,ShpM_I,ShpM_Man,VDR,VR_MSEL_AE,VR_MSEL_Tscr,VerbCt,WHM,frus_cope,frus_escalation,frus_reg
0,NaN,NaN,NaN,NaN,NaN,Assessment 1,NaN,NaN,APPLEP,APPLEC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,"(35, 43]",40.00,Assessment 1,NaN,NaN,MN010P,MN010C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,"(35, 43]",42.00,Assessment 1,NaN,NaN,MN020P,MN020C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,Assessment 2,NaN,NaN,MN024P,MN024C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,"(35, 43]",38.00,Assessment 1,NaN,NaN,MO003P,MO003C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,"(35, 43]",40.00,Assessment 1,NaN,NaN,MO004P,MO004C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,"(35, 43]",40.00,Assessment 1,NaN,NaN,MO013P,MO013C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,"(35, 43]",41.00,Assessment 1,NaN,NaN,TX004P,TX004C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,"(35, 43]",40.00,Assessment 1,NaN,NaN,TX006P,TX006C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,"(35, 43]",40.00,Assessment 2,NaN,NaN,TX011P,TX011C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,"(35, 43]",38.00,Assessment 1,NaN,NaN,WI010P,WI010C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,"(35, 43]",40.00,Assessment 1,NaN,NaN,WI011P,WI011C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,"(35, 43]",40.00,Assessment 1,NaN,NaN,WI017P,WI017C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,"(35, 43]",41.00,Assessment 1,NaN,NaN,WI020P,WI020C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,Assessment 2,NaN,NaN,WI023P,WI023C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
sc[keep].to_csv('C:/Users/tsb7592/OneDrive - Northwestern University/Analysis Progress/ScoreRecords_test.csv', index=False)

In [80]:
sc.shape

(15, 68)