In [1]:
#Data saved in csv/excel
import glob, os
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
#Set two decimal points for display
pd.options.display.float_format = "{:.2f}".format

# 1. Load the data

In [3]:
data=pd.read_csv('C:/Users/tsb7592/Downloads/Basic_Desc_output.csv')

In [4]:
data['PIN']=data['PIN'].str.upper()

In [5]:
data.head()

,PIN,DeviceID,Assessment Name,Inst,ItemID,Response,Score,Position,ResponseTime,DateCreated,InstStarted,InstEnded,Age_month,Age_group
0,TX009C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,Mullen_Rec_Title,1,NaN,1,NaN,2021-12-05 08:30:42,2021-12-05 08:30:41,2021-12-05 08:33:49,18.00,"(15, 18]"
1,TX009C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,Mullen_Rec_Instructions,1,NaN,2,NaN,2021-12-05 08:30:43,2021-12-05 08:30:41,2021-12-05 08:33:49,18.00,"(15, 18]"
2,TX009C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,RL13,2,0.00,3,NaN,2021-12-05 08:32:53,2021-12-05 08:30:41,2021-12-05 08:33:49,18.00,"(15, 18]"
3,TX009C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,RL10,1,1.00,4,NaN,2021-12-05 08:32:59,2021-12-05 08:30:41,2021-12-05 08:33:49,18.00,"(15, 18]"
4,TX009C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,RL15,2,0.00,5,NaN,2021-12-05 08:33:18,2021-12-05 08:30:41,2021-12-05 08:33:49,18.00,"(15, 18]"

In [6]:
data.Inst.unique()

array(['Mullen Receptive', 'Mullen Expressive Prompted',
       'Executive Function', 'Verbal Counting', 'Toy Out of Reach',
       'Social Observation', 'Playing with Bubbles',
       'Looking While Listening', 'Get Up and Go', 'Sit and Stand',
       'Numerical Change Detection', 'Shape Matching Manipulatives',
       'Reach To Eat', 'Spatial Change Detection',
       'Make Yours Look Like Mine', 'Mullen Expressive Observational',
       'Global Self-Regulation', 'Object Counting', 'Give_N',
       'Memory Task Learning', 'Visual Delayed Response',
       'Memory Task Test',
       'NIH Baby Toolbox Picture Vocabulary Test Practice',
       'NIH Baby Toolbox Picture Vocabulary Test', 'Who Has More',
       'Shape Matching', 'Number Recognition + Subitizing',
       'Early Childhood Behavior Questionnaire - Very Short Form',
       'Caregiver Checklist',
       'PROMIS EC Parent-Report SF v1.0 - Social Relationships - Child-Caregiver Interactions 5a',
       'PROMIS EC Parent-Report SF v1.0 - Social Relationships - Peer Relationships 4a',
       'CDI: Expressive', 'REMA Arithmetic', 'CDI: Receptive',
       "Children's Behavior Questionnaire - Very Short Form",
       'Infant Behavior Questionnaire - Revised - Very Short Form'],
      dtype=object)

# 2. Filter the inst to be ECBQ

In [7]:
df= data[data.Inst=='Early Childhood Behavior Questionnaire - Very Short Form']

In [8]:
df.PIN=df.PIN.str[:5]

In [9]:
df.Response =pd.to_numeric(df.Response)
df.Score =pd.to_numeric(df.Score)

In [10]:
df.describe()

       Response   Score  Position  ResponseTime  Age_month
count   2052.00 1885.00   2052.00       1944.00    1444.00
mean       4.41    4.45     19.50         16.48     386.50
std        2.01    1.83     10.97         87.82     116.65
min        1.00    1.00      1.00          0.62      13.00
25%        3.00    3.00     10.00          5.21     368.00
50%        5.00    5.00     19.50          7.28     409.00
75%        6.00    6.00     29.00         11.59     440.00
max        8.00    7.00     38.00       2963.74     536.00

# 3. Rescore all items to ensure appropriate response coding

In [11]:
df.ItemID.unique()

array(['RothECBQ_Title', 'SelfReg_Intro_ECBQ ', 'SelfReg_ECBQ1',
       'SelfReg_ECBQ2', 'SelfReg_ECBQ3', 'SelfReg_ECBQ4', 'SelfReg_ECBQ5',
       'SelfReg_ECBQ6', 'SelfReg_ECBQ7', 'SelfReg_ECBQ8', 'SelfReg_ECBQ9',
       'SelfReg_ECBQ10', 'SelfReg_ECBQ11', 'SelfReg_ECBQ12',
       'SelfReg_ECBQ13', 'SelfReg_ECBQ14', 'SelfReg_ECBQ15',
       'SelfReg_ECBQ16', 'SelfReg_ECBQ17', 'SelfReg_ECBQ18',
       'SelfReg_ECBQ19', 'SelfReg_ECBQ20', 'SelfReg_ECBQ21',
       'SelfReg_ECBQ22', 'SelfReg_ECBQ23', 'SelfReg_ECBQ24',
       'SelfReg_ECBQ25', 'SelfReg_ECBQ26', 'SelfReg_ECBQ27',
       'SelfReg_ECBQ28', 'SelfReg_ECBQ29', 'SelfReg_ECBQ30',
       'SelfReg_ECBQ31', 'SelfReg_ECBQ32', 'SelfReg_ECBQ33',
       'SelfReg_ECBQ34', 'SelfReg_ECBQ35', 'SelfReg_ECBQ36'], dtype=object)

In [12]:
reverse =['SelfReg_ECBQ12','SelfReg_ECBQ14','SelfReg_ECBQ34']

In [13]:
import numpy as np
#The score should equal the response for all items EXCEPT SelfReg_ibqrvsh11, for which the score should be 8-response 
df['Score'] = np.where(df['ItemID'].isin(reverse),8-df.Response, df.Response)

# 4. Calculate the three composite scores

In [14]:
a= ['SelfReg_ECBQ3', 'SelfReg_ECBQ4', 'SelfReg_ECBQ6',
    'SelfReg_ECBQ9', 'SelfReg_ECBQ11', 'SelfReg_ECBQ13',
     'SelfReg_ECBQ18','SelfReg_ECBQ20',  'SelfReg_ECBQ24',
       'SelfReg_ECBQ25', 'SelfReg_ECBQ30','SelfReg_ECBQ36']

b= ['SelfReg_ECBQ1','SelfReg_ECBQ2','SelfReg_ECBQ10', 
    'SelfReg_ECBQ16', 'SelfReg_ECBQ17', 'SelfReg_ECBQ19',
    'SelfReg_ECBQ22', 'SelfReg_ECBQ23', 'SelfReg_ECBQ26',  
    'SelfReg_ECBQ32', 'SelfReg_ECBQ33', 'SelfReg_ECBQ34']

c= ['SelfReg_ECBQ5','SelfReg_ECBQ7', 'SelfReg_ECBQ8', 
    'SelfReg_ECBQ12', 'SelfReg_ECBQ14', 'SelfReg_ECBQ15',
      'SelfReg_ECBQ21','SelfReg_ECBQ27', 'SelfReg_ECBQ28', 
    'SelfReg_ECBQ29',  'SelfReg_ECBQ31', 'SelfReg_ECBQ35']

In [15]:
aa= df[df.ItemID.isin(a)].groupby(['PIN','Assessment Name'])['Score'].mean()
bb= df[df.ItemID.isin(b)].groupby(['PIN','Assessment Name'])['Score'].mean()
cc= df[df.ItemID.isin(c)].groupby(['PIN','Assessment Name'])['Score'].mean()

In [16]:
comp =[aa,bb,cc]

In [17]:
cdf = pd.concat(comp,axis=1)
cdf.columns = ['SelfReg_SurgECBQ','SelfReg_NegAffECBQ','SelfReg_EffContECBQ']

In [18]:
cdf.corr()

                     SelfReg_SurgECBQ  SelfReg_NegAffECBQ  SelfReg_EffContECBQ
SelfReg_SurgECBQ                 1.00                0.02                 0.34
SelfReg_NegAffECBQ               0.02                1.00                -0.31
SelfReg_EffContECBQ              0.34               -0.31                 1.00

In [19]:
cdf.corr().round(2).to_csv('C:/Users/tsb7592/OneDrive - Northwestern University/Analysis Progress/ECBQ_corr.csv')

# 5. Calculate item-rest correlations for every item â€“ e.g., what is the Pearson correlation for SelfReg_ibqrvsh1 with the average score for the 12 other items on SelfReg_SurgIQBR. There should be 37 item-rest correlations.

In [20]:
items=['SelfReg_ECBQ1',
       'SelfReg_ECBQ2', 'SelfReg_ECBQ3', 'SelfReg_ECBQ4', 'SelfReg_ECBQ5',
       'SelfReg_ECBQ6', 'SelfReg_ECBQ7', 'SelfReg_ECBQ8', 'SelfReg_ECBQ9',
       'SelfReg_ECBQ10', 'SelfReg_ECBQ11', 'SelfReg_ECBQ12',
       'SelfReg_ECBQ13', 'SelfReg_ECBQ14', 'SelfReg_ECBQ15',
       'SelfReg_ECBQ16', 'SelfReg_ECBQ17', 'SelfReg_ECBQ18',
       'SelfReg_ECBQ19', 'SelfReg_ECBQ20', 'SelfReg_ECBQ21',
       'SelfReg_ECBQ22', 'SelfReg_ECBQ23', 'SelfReg_ECBQ24',
       'SelfReg_ECBQ25', 'SelfReg_ECBQ26', 'SelfReg_ECBQ27',
       'SelfReg_ECBQ28', 'SelfReg_ECBQ29', 'SelfReg_ECBQ30',
       'SelfReg_ECBQ31', 'SelfReg_ECBQ32', 'SelfReg_ECBQ33',
       'SelfReg_ECBQ34', 'SelfReg_ECBQ35', 'SelfReg_ECBQ36']

In [21]:
from scipy.stats import pearsonr

def item_rest(itemlist, li=None):
    if not li:
        li ={}
        
    for i in range(len(itemlist)):
        rest = itemlist.copy()
        rest.pop(i)
        list1 = df[df.ItemID==itemlist[i]].groupby('PIN')['Score'].mean()
        list2  = df[df.ItemID.isin(rest)].groupby('PIN')['Score'].mean()
    
    # Apply the pearsonr()
        corr, _ = pearsonr(list1, list2)
        print(itemlist[i], ': Pearsons correlation is %.3f ' % corr)
        li[itemlist[i]] = corr
    return li

In [22]:
itemrest = item_rest(a)

SelfReg_ECBQ3 : Pearsons correlation is 0.189
SelfReg_ECBQ4 : Pearsons correlation is 0.242
SelfReg_ECBQ6 : Pearsons correlation is 0.144
SelfReg_ECBQ9 : Pearsons correlation is 0.206
SelfReg_ECBQ11 : Pearsons correlation is 0.390
SelfReg_ECBQ13 : Pearsons correlation is 0.288
SelfReg_ECBQ18 : Pearsons correlation is 0.224
SelfReg_ECBQ20 : Pearsons correlation is 0.223
SelfReg_ECBQ24 : Pearsons correlation is 0.306
SelfReg_ECBQ25 : Pearsons correlation is 0.233
SelfReg_ECBQ30 : Pearsons correlation is 0.066
SelfReg_ECBQ36 : Pearsons correlation is 0.292

In [23]:
itemrest =item_rest(b, itemrest)

SelfReg_ECBQ1 : Pearsons correlation is 0.397
SelfReg_ECBQ2 : Pearsons correlation is 0.529
SelfReg_ECBQ10 : Pearsons correlation is 0.111
SelfReg_ECBQ16 : Pearsons correlation is 0.229
SelfReg_ECBQ17 : Pearsons correlation is 0.483
SelfReg_ECBQ19 : Pearsons correlation is 0.461
SelfReg_ECBQ22 : Pearsons correlation is 0.503
SelfReg_ECBQ23 : Pearsons correlation is 0.386
SelfReg_ECBQ26 : Pearsons correlation is 0.259
SelfReg_ECBQ32 : Pearsons correlation is 0.361
SelfReg_ECBQ33 : Pearsons correlation is 0.520
SelfReg_ECBQ34 : Pearsons correlation is 0.354

In [24]:
itemrest = item_rest(c,itemrest)

SelfReg_ECBQ5 : Pearsons correlation is 0.375
SelfReg_ECBQ7 : Pearsons correlation is 0.399
SelfReg_ECBQ8 : Pearsons correlation is 0.357
SelfReg_ECBQ12 : Pearsons correlation is 0.456
SelfReg_ECBQ14 : Pearsons correlation is 0.232
SelfReg_ECBQ15 : Pearsons correlation is 0.298
SelfReg_ECBQ21 : Pearsons correlation is 0.369
SelfReg_ECBQ27 : Pearsons correlation is 0.378
SelfReg_ECBQ28 : Pearsons correlation is 0.126
SelfReg_ECBQ29 : Pearsons correlation is 0.116
SelfReg_ECBQ31 : Pearsons correlation is 0.223
SelfReg_ECBQ35 : Pearsons correlation is 0.367

In [25]:
irc = pd.DataFrame.from_dict(itemrest, orient='index', columns=['item-rest-correlation'])
irc.round(3).to_csv('C:/Users/tsb7592/OneDrive - Northwestern University/Analysis Progress/ECBQ_item_rest_correlation.csv')

# 6. Describe each of the 3 composite scores overall and by age group. NOTE: the Infant Behavior Questionnaire is not applicable to all age groups.

In [26]:
cdf=cdf.reset_index()

In [27]:
spin = cdf.PIN.to_list()
cpin = []
for pin in spin:
    pin+='C'
    cpin.append(pin)

In [28]:
len(spin)

54

In [29]:
child =data[data.PIN.isin(cpin)]

In [30]:
child.PIN=child.PIN.str[:5]

In [31]:
child[child.Age_group.notnull()]['PIN'].nunique()

49

In [32]:
de =  pd.merge(cdf, child[['PIN','Assessment Name','Age_month','Age_group']], on=['PIN','Assessment Name'], how ='left')

In [33]:
de =de.drop_duplicates()
de = de.reset_index(drop=True)

In [34]:
de

,PIN,Assessment Name,SelfReg_SurgECBQ,SelfReg_NegAffECBQ,SelfReg_EffContECBQ,Age_month,Age_group
0,MN002,Assessment 2,6.08,4.83,4.00,NaN,NaN
1,MN006,Assessment 2,5.58,2.42,6.00,NaN,NaN
2,MN007,Assessment 1,6.00,2.92,5.33,34.00,"(30, 35]"
3,MN009,Assessment 1,5.17,2.83,4.83,19.00,"(18, 21]"
4,MN011,Assessment 1,6.00,2.83,5.83,33.00,"(30, 35]"
5,MN012,Assessment 1,5.08,3.25,5.08,27.00,"(24, 27]"
6,MN013,Assessment 1,5.00,2.42,4.75,34.00,"(30, 35]"
7,MN015,Assessment 2,5.25,2.83,4.58,NaN,NaN
8,MN016,Assessment 1,6.17,2.33,4.50,18.00,"(15, 18]"
9,MN017,Assessment 1,4.83,3.33,4.42,NaN,NaN
10,MN019,Assessment 1,5.83,3.50,4.00,15.00,"(12, 15]"
11,MN022,Assessment 1,5.58,2.67,2.67,16.00,"(15, 18]"
12,MN023,Assessment 1,5.58,3.00,5.58,30.00,"(27, 30]"
13,MO001,Assessment 1,5.75,4.17,4.67,29.00,"(27, 30]"
14,MO005,Assessment 1,7.17,3.50,5.58,NaN,NaN
15,MO006,Assessment 1,5.42,3.00,4.58,16.00,"(15, 18]"
16,MO007,Assessment 1,5.42,2.83,4.67,27.00,"(24, 27]"
17,MO011,Assessment 1,5.92,3.17,4.75,27.00,"(24, 27]"
18,MO012,Assessment 1,6.17,2.83,5.08,26.00,"(24, 27]"
19,MO016,Assessment 1,5.58,3.92,3.83,16.00,"(15, 18]"
20,MO017,Assessment 1,5.67,3.08,5.00,22.00,"(21, 24]"
21,MO019,Assessment 1,5.50,4.33,3.92,26.00,"(24, 27]"
22,MO020,Assessment 1,5.67,2.75,5.17,35.00,"(30, 35]"
23,MO022,Assessment 1,5.58,2.92,5.33,20.00,"(18, 21]"
24,MO024,Assessment 3,6.33,3.00,5.67,NaN,NaN
25,TX001,Assessment 1,6.08,5.25,5.25,NaN,NaN
26,TX003,Assessment 1,5.67,3.75,5.50,24.00,"(21, 24]"
27,TX005,Assessment 1,4.75,3.08,4.83,NaN,NaN
28,TX007,Assessment 1,6.08,3.67,4.25,NaN,NaN
29,TX009,Assessment 1,5.17,2.25,4.75,NaN,NaN
30,TX011,Assessment 1,6.17,4.25,4.25,20.00,"(18, 21]"
31,TX013,Assessment 1,5.25,4.92,4.92,24.00,"(21, 24]"
32,TX014,Assessment 1,6.08,3.50,5.33,28.00,"(27, 30]"
33,TX015,Assessment 1,5.00,4.92,5.42,15.00,"(12, 15]"
34,TX019,Assessment 1,6.08,4.92,4.33,20.00,"(18, 21]"
35,TX025,Assessment 1,6.17,3.50,5.25,16.00,"(15, 18]"
36,TX026,Assessment 2,6.58,3.42,5.58,NaN,NaN
37,TX027,Assessment 1,6.17,2.67,4.75,22.00,"(21, 24]"
38,WI004,Assessment 1,5.58,1.83,6.08,NaN,NaN
39,WI005,Assessment 1,5.92,2.92,5.08,NaN,NaN
40,WI006,Assessment 1,5.58,3.33,4.50,31.00,"(30, 35]"
41,WI008,Assessment 2,6.00,2.58,4.92,NaN,NaN
42,WI013,Assessment 1,6.42,2.17,5.25,24.00,"(21, 24]"
43,WI014,Assessment 1,5.58,3.83,5.17,18.00,"(15, 18]"
44,WI018,Assessment 1,5.83,2.67,5.08,19.00,"(18, 21]"
45,WI022,Assessment 1,4.25,3.33,4.67,NaN,NaN
46,WI024,Assessment 1,4.92,2.17,4.75,NaN,NaN
47,WI025,Assessment 1,5.25,3.58,4.08,27.00,"(24, 27]"
48,WI026,Assessment 2,5.42,2.00,4.25,NaN,NaN
49,WI027,Assessment 1,5.83,1.83,6.67,13.00,"(12, 15]"
50,WI029,Assessment 1,5.25,3.33,4.75,20.00,"(18, 21]"
51,WI030,Assessment 1,4.92,2.42,4.83,21.00,"(18, 21]"
52,WI031,Assessment 2,3.75,3.58,3.50,13.00,"(12, 15]"
53,WI033,Assessment 1,5.00,4.67,3.25,19.00,"(18, 21]"

In [35]:
de.groupby(['Age_group'])['SelfReg_SurgECBQ'].describe()

           count  mean  std  min  25%  50%  75%  max
Age_group
(12, 15]    4.00  5.10 0.98 3.75 4.69 5.42 5.83 5.83
(15, 18]    6.00  5.75 0.33 5.42 5.58 5.58 6.02 6.17
(18, 21]    8.00  5.50 0.49 4.92 5.12 5.42 5.90 6.17
(21, 24]    5.00  5.83 0.46 5.25 5.67 5.67 6.17 6.42
(24, 27]    6.00  5.56 0.41 5.08 5.29 5.46 5.81 6.17
(27, 30]    3.00  5.81 0.25 5.58 5.67 5.75 5.92 6.08
(30, 35]    5.00  5.65 0.41 5.00 5.58 5.67 6.00 6.00

In [36]:
de.groupby(['Age_group'])['SelfReg_NegAffECBQ'].describe()

           count  mean  std  min  25%  50%  75%  max
Age_group
(12, 15]    4.00  3.46 1.26 1.83 3.08 3.54 3.92 4.92
(15, 18]    6.00  3.21 0.64 2.33 2.75 3.25 3.75 3.92
(18, 21]    8.00  3.50 0.97 2.42 2.79 3.12 4.35 4.92
(21, 24]    5.00  3.32 1.07 2.17 2.67 3.08 3.75 4.92
(24, 27]    6.00  3.33 0.57 2.83 2.92 3.21 3.50 4.33
(27, 30]    3.00  3.56 0.59 3.00 3.25 3.50 3.83 4.17
(30, 35]    5.00  2.85 0.33 2.42 2.75 2.83 2.92 3.33

In [37]:
de.groupby(['Age_group'])['SelfReg_EffContECBQ'].describe()

           count  mean  std  min  25%  50%  75%  max
Age_group
(12, 15]    4.00  4.90 1.43 3.50 3.88 4.71 5.73 6.67
(15, 18]    6.00  4.33 0.96 2.67 4.00 4.54 5.02 5.25
(18, 21]    8.00  4.58 0.65 3.25 4.31 4.79 4.90 5.33
(21, 24]    5.00  5.08 0.29 4.75 4.92 5.00 5.25 5.50
(24, 27]    6.00  4.60 0.50 3.92 4.23 4.71 5.00 5.08
(27, 30]    3.00  5.19 0.47 4.67 5.00 5.33 5.46 5.58
(30, 35]    5.00  5.12 0.52 4.50 4.75 5.17 5.33 5.83

In [38]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('C:/Users/tsb7592/OneDrive - Northwestern University/Analysis Progress/ECBQ_composite_scores.xlsx', engine='xlsxwriter')

de.groupby(['Age_group'])['SelfReg_SurgECBQ'].describe().round(2).to_excel(writer, sheet_name='SurgECBQ')

de.groupby(['Age_group'])['SelfReg_NegAffECBQ'].describe().round(2).to_excel(writer, sheet_name='NegAffECBQ')

de.groupby(['Age_group'])['SelfReg_EffContECBQ'].describe().round(2).to_excel(writer, sheet_name='EffContECBQ')

# Close the Pandas Excel writer and output the Excel file.
writer.save()

# 7. Add the other Self-Regulation instruments to the data file â€“ that is, go back to the item-level data and select the Inst = â€œPlaying with Bubblesâ€ and â€œToy Out of Reachâ€

In [39]:
df2= data[(data.Inst=='Playing with Bubbles')]
df3 = data[(data.Inst=='Toy Out of Reach')]
df3.shape

(1804, 14)

# 8. Correlate the 3 composites with PA_2 and PA_3 from â€œPlaying with Bubblesâ€

In [40]:
pa2 =df2[df2.ItemID=='PA_2'][['PIN','Assessment Name','Score']]
pa3 =df2[df2.ItemID=='PA_3'][['PIN','Assessment Name','Score']]

PA = pd.merge(pa2,pa3, on=['PIN','Assessment Name'])
PA.columns =['PIN','Assessment Name','PA_2','PA_3']

In [41]:
PA

            PIN Assessment Name  PA_2  PA_3
0        TX009C    Assessment 2  0.00  1.00
1        TX005C    Assessment 2  2.00  2.00
2    APPLETONC1    Assessment 1  3.00  3.00
3        MO008C    Assessment 1  1.00  1.00
4        MN011C    Assessment 1  3.00  3.00
..          ...             ...   ...   ...
174      TX027C    Assessment 1  3.00  3.00
175      TX027C    Assessment 1  3.00  3.00
176      TX027C    Assessment 1  3.00  3.00
177      TX027C    Assessment 1  3.00  3.00
178      MO012C    Assessment 1  2.00  2.00

[179 rows x 4 columns]

In [42]:
c2 =cdf.corr().append(cdf.corrwith(PA['PA_2']), ignore_index=True)

c23 =c2.append(cdf.corrwith(PA['PA_3']), ignore_index=True)
c23

   SelfReg_SurgECBQ  SelfReg_NegAffECBQ  SelfReg_EffContECBQ
0              1.00                0.02                 0.34
1              0.02                1.00                -0.31
2              0.34               -0.31                 1.00
3              0.17                0.01                 0.25
4              0.19                0.05                 0.24

# 9. Mean-level score

In [43]:
#9a
f1 = df3[df3['ItemID'].str.contains("frus_reg")].groupby(['PIN','Assessment Name'])['Score'].mean().reset_index()

#9b
f2= df3[df3['ItemID'].str.contains("frus_escal")].groupby(['PIN','Assessment Name'])['Score'].mean().reset_index()

#9c
f3=df3[df3['ItemID'].str.contains("frus_cope")].groupby(['PIN','Assessment Name'])['Score'].mean().reset_index()
f3

           PIN Assessment Name  Score
0   APPLETONC1    Assessment 1   3.00
1        M018C    Assessment 3   1.00
2       MN002C    Assessment 1   2.00
3       MN004C    Assessment 1   0.67
4       MN006C    Assessment 1   1.00
..         ...             ...    ...
90      WI030C    Assessment 1   3.00
91      WI031C    Assessment 2   2.00
92      WI032C    Assessment 1   1.00
93      WI033C    Assessment 2   1.33
94       WI24C    Assessment 1   3.00

[95 rows x 3 columns]

In [44]:
f12 =pd.merge(f1,f2, on=['PIN','Assessment Name'])
frus =pd.merge(f12,f3, on=['PIN','Assessment Name'])

frus.columns =['PIN', 'Assessment Name','frus_reg', 'frus_escalation', 'frus_cope']

In [45]:
new =pd.merge(PA, frus,on=['PIN','Assessment Name'], how='left')
new= new.drop_duplicates()

cf =c23.append(cdf.corrwith(new['frus_reg']), ignore_index=True)
cf1 =cf.append(cdf.corrwith(new['frus_escalation']), ignore_index=True)
cf2 =cf1.append(cdf.corrwith(new['frus_cope']), ignore_index=True)
cf2

   SelfReg_SurgECBQ  SelfReg_NegAffECBQ  SelfReg_EffContECBQ
0              1.00                0.02                 0.34
1              0.02                1.00                -0.31
2              0.34               -0.31                 1.00
3              0.17                0.01                 0.25
4              0.19                0.05                 0.24
5              0.09                0.07                 0.10
6             -0.25               -0.30                -0.37
7              0.15                0.10                 0.40

In [46]:
cf2.index =['SelfReg_SurgECBQ', 'SelfReg_NegAffECBQ', 'SelfReg_EffContECBQ','PA_2','PA_3','frus_reg', 'frus_escalation', 'frus_cope']

cf2.round(2).to_csv('C:/Users/tsb7592/OneDrive - Northwestern University/Analysis Progress/ECBQ_corr.csv')

In [48]:
de['ChildPIN']  = de['PIN'] +'C'
de['CaregiverPIN']  = de['PIN'] +'P'

In [49]:
de =de.drop(columns=['PIN'],axis =1)
de.ChildPIN.value_counts()

MO020C    1
MN012C    1
TX003C    1
MN006C    1
MN007C    1
TX015C    1
TX027C    1
TX001C    1
WI029C    1
TX014C    1
MO017C    1
WI022C    1
MO006C    1
WI033C    1
MN016C    1
MN009C    1
MN011C    1
MO001C    1
MO022C    1
MN019C    1
WI005C    1
WI013C    1
MN013C    1
MN015C    1
TX011C    1
MO019C    1
MN022C    1
MN023C    1
WI006C    1
WI014C    1
MO005C    1
WI024C    1
TX025C    1
TX013C    1
MN002C    1
MO011C    1
MN017C    1
WI026C    1
WI030C    1
MO016C    1
TX005C    1
WI031C    1
WI008C    1
WI027C    1
WI025C    1
MO012C    1
MO007C    1
TX019C    1
WI004C    1
WI018C    1
MO024C    1
TX007C    1
TX026C    1
TX009C    1
Name: ChildPIN, dtype: int64

In [50]:
sc =pd.read_csv('C:/Users/tsb7592/OneDrive - Northwestern University/Analysis Progress/ScoreRecords_test.csv')

In [51]:
sc1 =sc.combine_first(de)

In [70]:
sc1.loc[sc1['ChildPIN'] == 'APPLEC', 'ChildPIN'] = 'APPLETONC1'

In [71]:
sc1[keep].groupby(['ChildPIN','Assessment Name']).count()

                            CaregiverPIN  Age_month  Age_group  \
ChildPIN   Assessment Name
APPLETONC1 Assessment 1                1          0          0
MN010C     Assessment 1                1          1          1
MN020C     Assessment 1                1          1          1
MN024C     Assessment 2                1          1          1
MO003C     Assessment 1                1          1          1
MO004C     Assessment 1                1          1          1
MO006C     Assessment 1                1          1          1
MO007C     Assessment 1                1          1          1
MO011C     Assessment 1                1          1          1
MO012C     Assessment 1                1          1          1
MO013C     Assessment 1                1          1          1
MO016C     Assessment 1                1          1          1
MO017C     Assessment 1                1          1          1
MO019C     Assessment 1                1          1          1
MO020C     Assessment 1                1          1          1
MO022C     Assessment 1                1          1          1
MO024C     Assessment 3                1          0          0
TX001C     Assessment 1                1          0          0
TX003C     Assessment 1                1          1          1
TX004C     Assessment 1                1          1          1
TX005C     Assessment 1                1          0          0
TX006C     Assessment 1                1          1          1
TX007C     Assessment 1                1          0          0
TX009C     Assessment 1                1          0          0
TX011C     Assessment 1                1          1          1
           Assessment 2                1          1          1
TX013C     Assessment 1                1          1          1
TX014C     Assessment 1                1          1          1
TX015C     Assessment 1                1          1          1
TX019C     Assessment 1                1          1          1
TX025C     Assessment 1                1          1          1
TX026C     Assessment 2                1          0          0
TX027C     Assessment 1                1          1          1
WI004C     Assessment 1                1          0          0
WI005C     Assessment 1                1          0          0
WI006C     Assessment 1                1          1          1
WI008C     Assessment 2                1          0          0
WI010C     Assessment 1                1          1          1
WI011C     Assessment 1                1          1          1
WI013C     Assessment 1                1          1          1
WI014C     Assessment 1                1          1          1
WI017C     Assessment 1                1          1          1
WI018C     Assessment 1                1          1          1
WI020C     Assessment 1                1          1          1
WI022C     Assessment 1                1          0          0
WI023C     Assessment 2                1          0          0
WI024C     Assessment 1                1          0          0
WI025C     Assessment 1                1          1          1
WI026C     Assessment 2                1          0          0
WI027C     Assessment 1                1          1          1
WI029C     Assessment 1                1          1          1
WI030C     Assessment 1                1          1          1
WI031C     Assessment 2                1          1          1
WI033C     Assessment 1                1          1          1

                            SelfReg_SurgIBQR  SelfReg_NegAffIBQR  \
ChildPIN   Assessment Name
APPLETONC1 Assessment 1                    0                   0
MN010C     Assessment 1                    0                   0
MN020C     Assessment 1                    0                   0
MN024C     Assessment 2                    0                   0
MO003C     Assessment 1                    0                   0
MO004C     Assessment 1                    0                   0
MO006C     Assessment 1                    0                   0
MO007C     Assessment 1                    0                   0
MO011C     Assessment 1                    0                   0
MO012C     Assessment 1                    0                   0
MO013C     Assessment 1                    0                   0
MO016C     Assessment 1                    0                   0
MO017C     Assessment 1                    0                   0
MO019C     Assessment 1                    0                   0
MO020C     Assessment 1                    0                   0
MO022C     Assessment 1                    0                   0
MO024C     Assessment 3                    0                   0
TX001C     Assessment 1                    0                   0
TX003C     Assessment 1                    0                   0
TX004C     Assessment 1                    0                   0
TX005C     Assessment 1                    0                   0
TX006C     Assessment 1                    0                   0
TX007C     Assessment 1                    0                   0
TX009C     Assessment 1                    0                   0
TX011C     Assessment 1                    0                   0
           Assessment 2                    0                   0
TX013C     Assessment 1                    0                   0
TX014C     Assessment 1                    0                   0
TX015C     Assessment 1                    0                   0
TX019C     Assessment 1                    0                   0
TX025C     Assessment 1                    0                   0
TX026C     Assessment 2                    0                   0
TX027C     Assessment 1                    0                   0
WI004C     Assessment 1                    0                   0
WI005C     Assessment 1                    0                   0
WI006C     Assessment 1                    0                   0
WI008C     Assessment 2                    0                   0
WI010C     Assessment 1                    0                   0
WI011C     Assessment 1                    0                   0
WI013C     Assessment 1                    0                   0
WI014C     Assessment 1                    0                   0
WI017C     Assessment 1                    0                   0
WI018C     Assessment 1                    0                   0
WI020C     Assessment 1                    0                   0
WI022C     Assessment 1                    0                   0
WI023C     Assessment 2                    0                   0
WI024C     Assessment 1                    0                   0
WI025C     Assessment 1                    0                   0
WI026C     Assessment 2                    0                   0
WI027C     Assessment 1                    0                   0
WI029C     Assessment 1                    0                   0
WI030C     Assessment 1                    0                   0
WI031C     Assessment 2                    0                   0
WI033C     Assessment 1                    0                   0

                            SelfReg_EffContIBQR  SelfReg_SurgECBQ  \
ChildPIN   Assessment Name
APPLETONC1 Assessment 1                       0                 1
MN010C     Assessment 1                       0                 1
MN020C     Assessment 1                       0                 1
MN024C     Assessment 2                       0                 1
MO003C     Assessment 1                       0                 1
MO004C     Assessment 1                       0                 1
MO006C     Assessment 1                       0                 1
MO007C     Assessment 1                       0                 1
MO011C     Assessment 1                       0                 1
MO012C     Assessment 1                       0                 1
MO013C     Assessment 1                       0                 1
MO016C     Assessment 1                       0                 1
MO017C     Assessment 1                       0                 1
MO019C     Assessment 1                       0                 1
MO020C     Assessment 1                       0                 1
MO022C     Assessment 1                       0                 1
MO024C     Assessment 3                       0                 1
TX001C     Assessment 1                       0                 1
TX003C     Assessment 1                       0                 1
TX004C     Assessment 1                       0                 1
TX005C     Assessment 1                       0                 1
TX006C     Assessment 1                       0                 1
TX007C     Assessment 1                       0                 1
TX009C     Assessment 1                       0                 1
TX011C     Assessment 1                       0                 1
           Assessment 2                       0                 1
TX013C     Assessment 1                       0                 1
TX014C     Assessment 1                       0                 1
TX015C     Assessment 1                       0                 1
TX019C     Assessment 1                       0                 1
TX025C     Assessment 1                       0                 1
TX026C     Assessment 2                       0                 1
TX027C     Assessment 1                       0                 1
WI004C     Assessment 1                       0                 1
WI005C     Assessment 1                       0                 1
WI006C     Assessment 1                       0                 1
WI008C     Assessment 2                       0                 1
WI010C     Assessment 1                       0                 1
WI011C     Assessment 1                       0                 1
WI013C     Assessment 1                       0                 1
WI014C     Assessment 1                       0                 1
WI017C     Assessment 1                       0                 1
WI018C     Assessment 1                       0                 1
WI020C     Assessment 1                       0                 1
WI022C     Assessment 1                       0                 1
WI023C     Assessment 2                       0                 1
WI024C     Assessment 1                       0                 1
WI025C     Assessment 1                       0                 1
WI026C     Assessment 2                       0                 1
WI027C     Assessment 1                       0                 1
WI029C     Assessment 1                       0                 1
WI030C     Assessment 1                       0                 1
WI031C     Assessment 2                       0                 1
WI033C     Assessment 1                       0                 1

                            SelfReg_NegAffECBQ  SelfReg_EffContECBQ  \
ChildPIN   Assessment Name
APPLETONC1 Assessment 1                      1                    1
MN010C     Assessment 1                      1                    1
MN020C     Assessment 1                      1                    1
MN024C     Assessment 2                      1                    1
MO003C     Assessment 1                      1                    1
MO004C     Assessment 1                      1                    1
MO006C     Assessment 1                      1                    1
MO007C     Assessment 1                      1                    1
MO011C     Assessment 1                      1                    1
MO012C     Assessment 1                      1                    1
MO013C     Assessment 1                      1                    1
MO016C     Assessment 1                      1                    1
MO017C     Assessment 1                      1                    1
MO019C     Assessment 1                      1                    1
MO020C     Assessment 1                      1                    1
MO022C     Assessment 1                      1                    1
MO024C     Assessment 3                      1                    1
TX001C     Assessment 1                      1                    1
TX003C     Assessment 1                      1                    1
TX004C     Assessment 1                      1                    1
TX005C     Assessment 1                      1                    1
TX006C     Assessment 1                      1                    1
TX007C     Assessment 1                      1                    1
TX009C     Assessment 1                      1                    1
TX011C     Assessment 1                      1                    1
           Assessment 2                      1                    1
TX013C     Assessment 1                      1                    1
TX014C     Assessment 1                      1                    1
TX015C     Assessment 1                      1                    1
TX019C     Assessment 1                      1                    1
TX025C     Assessment 1                      1                    1
TX026C     Assessment 2                      1                    1
TX027C     Assessment 1                      1                    1
WI004C     Assessment 1                      1                    1
WI005C     Assessment 1                      1                    1
WI006C     Assessment 1                      1                    1
WI008C     Assessment 2                      1                    1
WI010C     Assessment 1                      1                    1
WI011C     Assessment 1                      1                    1
WI013C     Assessment 1                      1                    1
WI014C     Assessment 1                      1                    1
WI017C     Assessment 1                      1                    1
WI018C     Assessment 1                      1                    1
WI020C     Assessment 1                      1                    1
WI022C     Assessment 1                      1                    1
WI023C     Assessment 2                      1                    1
WI024C     Assessment 1                      1                    1
WI025C     Assessment 1                      1                    1
WI026C     Assessment 2                      1                    1
WI027C     Assessment 1                      1                    1
WI029C     Assessment 1                      1                    1
WI030C     Assessment 1                      1                    1
WI031C     Assessment 2                      1                    1
WI033C     Assessment 1                      1                    1

                            SelfReg_SurgCBQ  ...  FM_MSEL_Tscr  RL_MSEL_Tscr  \
ChildPIN   Assessment Name                   ...
APPLETONC1 Assessment 1                   1  ...             0             0
MN010C     Assessment 1                   1  ...             0             0
MN020C     Assessment 1                   1  ...             0             0
MN024C     Assessment 2                   1  ...             0             0
MO003C     Assessment 1                   1  ...             0             0
MO004C     Assessment 1                   1  ...             0             0
MO006C     Assessment 1                   0  ...             0             0
MO007C     Assessment 1                   0  ...             0             0
MO011C     Assessment 1                   0  ...             0             0
MO012C     Assessment 1                   0  ...             0             0
MO013C     Assessment 1                   1  ...             0             0
MO016C     Assessment 1                   0  ...             0             0
MO017C     Assessment 1                   0  ...             0             0
MO019C     Assessment 1                   0  ...             0             0
MO020C     Assessment 1                   0  ...             0             0
MO022C     Assessment 1                   0  ...             0             0
MO024C     Assessment 3                   0  ...             0             0
TX001C     Assessment 1                   0  ...             0             0
TX003C     Assessment 1                   0  ...             0             0
TX004C     Assessment 1                   1  ...             0             0
TX005C     Assessment 1                   0  ...             0             0
TX006C     Assessment 1                   1  ...             0             0
TX007C     Assessment 1                   0  ...             0             0
TX009C     Assessment 1                   0  ...             0             0
TX011C     Assessment 1                   0  ...             0             0
           Assessment 2                   1  ...             0             0
TX013C     Assessment 1                   0  ...             0             0
TX014C     Assessment 1                   0  ...             0             0
TX015C     Assessment 1                   0  ...             0             0
TX019C     Assessment 1                   0  ...             0             0
TX025C     Assessment 1                   0  ...             0             0
TX026C     Assessment 2                   0  ...             0             0
TX027C     Assessment 1                   0  ...             0             0
WI004C     Assessment 1                   0  ...             0             0
WI005C     Assessment 1                   0  ...             0             0
WI006C     Assessment 1                   0  ...             0             0
WI008C     Assessment 2                   0  ...             0             0
WI010C     Assessment 1                   1  ...             0             0
WI011C     Assessment 1                   1  ...             0             0
WI013C     Assessment 1                   0  ...             0             0
WI014C     Assessment 1                   0  ...             0             0
WI017C     Assessment 1                   1  ...             0             0
WI018C     Assessment 1                   0  ...             0             0
WI020C     Assessment 1                   1  ...             0             0
WI022C     Assessment 1                   0  ...             0             0
WI023C     Assessment 2                   1  ...             0             0
WI024C     Assessment 1                   0  ...             0             0
WI025C     Assessment 1                   0  ...             0             0
WI026C     Assessment 2                   0  ...             0             0
WI027C     Assessment 1                   0  ...             0             0
WI029C     Assessment 1                   0  ...             0             0
WI030C     Assessment 1                   0  ...             0             0
WI031C     Assessment 2                   0  ...             0             0
WI033C     Assessment 1                   0  ...             0             0

                            EL_MSEL_Tscr  ELC_MSEL_Tscr  GM_MSEL_AE  \
ChildPIN   Assessment Name
APPLETONC1 Assessment 1                0              0           0
MN010C     Assessment 1                0              0           0
MN020C     Assessment 1                0              0           0
MN024C     Assessment 2                0              0           0
MO003C     Assessment 1                0              0           0
MO004C     Assessment 1                0              0           0
MO006C     Assessment 1                0              0           0
MO007C     Assessment 1                0              0           0
MO011C     Assessment 1                0              0           0
MO012C     Assessment 1                0              0           0
MO013C     Assessment 1                0              0           0
MO016C     Assessment 1                0              0           0
MO017C     Assessment 1                0              0           0
MO019C     Assessment 1                0              0           0
MO020C     Assessment 1                0              0           0

In [52]:
keep =['ChildPIN', 'CaregiverPIN', 'Assessment Name', 'Age_month', 'Age_group',
       'SelfReg_SurgIBQR', 'SelfReg_NegAffIBQR', 'SelfReg_EffContIBQR',
       'SelfReg_SurgECBQ', 'SelfReg_NegAffECBQ', 'SelfReg_EffContECBQ',
       'SelfReg_SurgCBQ', 'SelfReg_NegAffCBQ', 'SelfReg_EffContCBQ', 'PA_2',
       'PA_3', 'frus_reg', 'frus_escalation', 'frus_cope', 'CDI_Exp_theta',
       'CDI_Rec_theta', 'Give_N', 'GlobalSR', 'MYLLM', 'MemTest', 'Mul_Exp',
       'Mul_Rec', 'PVT', 'NR_S', 'VerbCt', 'ObjCt', 'PROMIS_CC_Int',
       'PROMIS_PR', 'REMA', 'ShpM_Man', 'ShpM_I', 'VDR', 'WHM', 'Phys_DP4_SS',
       'AB_DP4_SS', 'SE_DP4_SS', 'Cog_DP4_SS', 'Comm_DP4_SS', 'GDS_DP4_SS',
       'Phys_DP4_AE', 'AB_DP4_AE', 'SE_DP4_AE', 'Cog_DP4_AE', 'Comm_DP4_AE',
       'GDS_DP4_AE', 'Phys_DP4_GSV', 'AB_DP4_GSV', 'SE_DP4_GSV', 'Cog_DP4_GSV',
       'Comm_DP4_GSV', 'GDS_DP4_GSV', 'GM_MSEL_Tscr', 'VR_MSEL_Tscr',
       'FM_MSEL_Tscr', 'RL_MSEL_Tscr', 'EL_MSEL_Tscr', 'ELC_MSEL_Tscr',
       'GM_MSEL_AE', 'VR_MSEL_AE', 'FM_MSEL_AE', 'RL_MSEL_AE', 'EL_MSEL_AE',
       'ELC_MSEL_AE']

In [72]:
new.columns=['ChildPIN', 'Assessment Name', 'PA_2', 'PA_3', 'frus_reg', 'frus_escalation', 'frus_cope']

In [73]:
new

,ChildPIN,Assessment Name,PA_2,PA_3,frus_reg,frus_escalation,frus_cope
0,TX009C,Assessment 2,0.00,1.00,3.00,0.00,3.00
1,TX005C,Assessment 2,2.00,2.00,3.00,0.00,3.00
2,APPLETONC1,Assessment 1,3.00,3.00,3.00,0.00,3.00
3,MO008C,Assessment 1,1.00,1.00,2.00,1.33,0.67
4,MN011C,Assessment 1,3.00,3.00,2.00,1.00,2.00
...,...,...,...,...,...,...,...
165,WI025C,Assessment 1,3.00,3.00,0.67,0.00,3.00
169,WI017C,Assessment 1,2.00,2.00,0.00,0.00,3.00
173,MO022C,Assessment 1,1.00,1.00,1.33,1.33,0.67
174,TX027C,Assessment 1,3.00,3.00,0.67,0.00,3.00
178,MO012C,Assessment 1,2.00,2.00,1.00,0.67,1.33

In [74]:
sc2 =sc1.combine_first(new)

In [66]:
sc1[keep].to_csv('C:/Users/tsb7592/OneDrive - Northwestern University/Analysis Progress/ScoreRecords_test.csv', index=False)

In [76]:
sc2[keep]

,ChildPIN,CaregiverPIN,Assessment Name,Age_month,Age_group,SelfReg_SurgIBQR,SelfReg_NegAffIBQR,SelfReg_EffContIBQR,SelfReg_SurgECBQ,SelfReg_NegAffECBQ,...,FM_MSEL_Tscr,RL_MSEL_Tscr,EL_MSEL_Tscr,ELC_MSEL_Tscr,GM_MSEL_AE,VR_MSEL_AE,FM_MSEL_AE,RL_MSEL_AE,EL_MSEL_AE,ELC_MSEL_AE
0,APPLETONC1,APPLEP,Assessment 1,NaN,NaN,NaN,NaN,NaN,6.08,4.83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MN010C,MN010P,Assessment 1,40.00,"(35, 43]",NaN,NaN,NaN,5.58,2.42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,MN020C,MN020P,Assessment 1,42.00,"(35, 43]",NaN,NaN,NaN,6.00,2.92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MN024C,MN024P,Assessment 2,19.00,"(18, 21]",NaN,NaN,NaN,5.17,2.83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MO003C,MO003P,Assessment 1,38.00,"(35, 43]",NaN,NaN,NaN,6.00,2.83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,WI025C,NaN,Assessment 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,WI017C,NaN,Assessment 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173,MO022C,NaN,Assessment 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174,TX027C,NaN,Assessment 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,MO012C,NaN,Assessment 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
sc2[keep].groupby(['ChildPIN','Assessment Name']).count()

                            CaregiverPIN  Age_month  Age_group  \
ChildPIN   Assessment Name
APPLETONC1 Assessment 1                1          0          0
M018C      Assessment 3                0          0          0
MN004C     Assessment 1                0          0          0
MN006C     Assessment 1                0          0          0
MN007C     Assessment 1                0          0          0
...                                  ...        ...        ...
WI030C     Assessment 1                1          1          1
WI031C     Assessment 2                1          1          1
WI033C     Assessment 1                1          1          1
           Assessment 2                0          0          0
WI24C      Assessment 1                0          0          0

                            SelfReg_SurgIBQR  SelfReg_NegAffIBQR  \
ChildPIN   Assessment Name
APPLETONC1 Assessment 1                    0                   0
M018C      Assessment 3                    0                   0
MN004C     Assessment 1                    0                   0
MN006C     Assessment 1                    0                   0
MN007C     Assessment 1                    0                   0
...                                      ...                 ...
WI030C     Assessment 1                    0                   0
WI031C     Assessment 2                    0                   0
WI033C     Assessment 1                    0                   0
           Assessment 2                    0                   0
WI24C      Assessment 1                    0                   0

                            SelfReg_EffContIBQR  SelfReg_SurgECBQ  \
ChildPIN   Assessment Name
APPLETONC1 Assessment 1                       0                 1
M018C      Assessment 3                       0                 0
MN004C     Assessment 1                       0                 0
MN006C     Assessment 1                       0                 0
MN007C     Assessment 1                       0                 0
...                                         ...               ...
WI030C     Assessment 1                       0                 1
WI031C     Assessment 2                       0                 1
WI033C     Assessment 1                       0                 1
           Assessment 2                       0                 0
WI24C      Assessment 1                       0                 0

                            SelfReg_NegAffECBQ  SelfReg_EffContECBQ  \
ChildPIN   Assessment Name
APPLETONC1 Assessment 1                      1                    1
M018C      Assessment 3                      0                    0
MN004C     Assessment 1                      0                    0
MN006C     Assessment 1                      0                    0
MN007C     Assessment 1                      0                    0
...                                        ...                  ...
WI030C     Assessment 1                      1                    1
WI031C     Assessment 2                      1                    1
WI033C     Assessment 1                      1                    1
           Assessment 2                      0                    0
WI24C      Assessment 1                      0                    0

                            SelfReg_SurgCBQ  ...  FM_MSEL_Tscr  RL_MSEL_Tscr  \
ChildPIN   Assessment Name                   ...
APPLETONC1 Assessment 1                   1  ...             0             0
M018C      Assessment 3                   0  ...             0             0
MN004C     Assessment 1                   0  ...             0             0
MN006C     Assessment 1                   0  ...             0             0
MN007C     Assessment 1                   0  ...             0             0
...                                     ...  ...           ...           ...
WI030C     Assessment 1                   0  ...             0             0
WI031C     Assessment 2                   0  ...             0             0
WI033C     Assessment 1                   0  ...             0             0
           Assessment 2                   0  ...             0             0
WI24C      Assessment 1                   0  ...             0             0

                            EL_MSEL_Tscr  ELC_MSEL_Tscr  GM_MSEL_AE  \
ChildPIN   Assessment Name
APPLETONC1 Assessment 1                0              0           0
M018C      Assessment 3                0              0           0
MN004C     Assessment 1                0              0           0
MN006C     Assessment 1                0              0           0
MN007C     Assessment 1                0              0           0
...                                  ...            ...         ...
WI030C     Assessment 1                0              0           0
WI031C     Assessment 2                0              0           0
WI033C     Assessment 1                0              0           0
           Assessment 2                0              0           0
WI24C      Assessment 1                0              0           0

                            VR_MSEL_AE  FM_MSEL_AE  RL_MSEL_AE  EL_MSEL_AE  \
ChildPIN   Assessment Name
APPLETONC1 Assessment 1              0           0           0           0
M018C      Assessment 3              0           0           0           0
MN004C     Assessment 1              0           0           0           0
MN006C     Assessment 1              0           0           0           0
MN007C     Assessment 1              0           0           0           0
...                                ...         ...         ...         ...
WI030C     Assessment 1              0           0           0           0
WI031C     Assessment 2              0           0           0           0
WI033C     Assessment 1              0           0           0           0
           Assessment 2              0           0           0           0
WI24C      Assessment 1              0           0           0           0

                            ELC_MSEL_AE
ChildPIN   Assessment Name
APPLETONC1 Assessment 1               0
M018C      Assessment 3               0
MN004C     Assessment 1               0
MN006C     Assessment 1               0
MN007C     Assessment 1               0
...                                 ...
WI030C     Assessment 1               0
WI031C     Assessment 2               0
WI033C     Assessment 1               0
           Assessment 2               0
WI24C      Assessment 1               0

[93 rows x 66 columns]

In [77]:
sc2[keep].to_csv('C:/Users/tsb7592/OneDrive - Northwestern University/Analysis Progress/ScoreRecords_test2.csv', index=False)