In [2]:
#Data saved in csv/excel
import glob, os
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [3]:
#Set two decimal points for display
pd.options.display.float_format = "{:.2f}".format

# 1. Load the data

In [4]:
data=pd.read_csv('C:/Users/tsb7592/Downloads/Basic_Desc_output.csv')

In [5]:
data['PIN']=data['PIN'].str.upper()

In [6]:
data.head()

,PIN,DeviceID,Assessment Name,Inst,ItemID,Response,Score,Position,ResponseTime,DateCreated,InstStarted,InstEnded,Age_month,Age_group
0,TX009C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,Mullen_Rec_Title,1,NaN,1,NaN,2021-12-05 08:30:42,2021-12-05 08:30:41,2021-12-05 08:33:49,18.00,"(15, 18]"
1,TX009C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,Mullen_Rec_Instructions,1,NaN,2,NaN,2021-12-05 08:30:43,2021-12-05 08:30:41,2021-12-05 08:33:49,18.00,"(15, 18]"
2,TX009C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,RL13,2,0.00,3,NaN,2021-12-05 08:32:53,2021-12-05 08:30:41,2021-12-05 08:33:49,18.00,"(15, 18]"
3,TX009C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,RL10,1,1.00,4,NaN,2021-12-05 08:32:59,2021-12-05 08:30:41,2021-12-05 08:33:49,18.00,"(15, 18]"
4,TX009C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,RL15,2,0.00,5,NaN,2021-12-05 08:33:18,2021-12-05 08:30:41,2021-12-05 08:33:49,18.00,"(15, 18]"

In [7]:
data.Inst.unique()

array(['Mullen Receptive', 'Mullen Expressive Prompted',
       'Executive Function', 'Verbal Counting', 'Toy Out of Reach',
       'Social Observation', 'Playing with Bubbles',
       'Looking While Listening', 'Get Up and Go', 'Sit and Stand',
       'Numerical Change Detection', 'Shape Matching Manipulatives',
       'Reach To Eat', 'Spatial Change Detection',
       'Make Yours Look Like Mine', 'Mullen Expressive Observational',
       'Global Self-Regulation', 'Object Counting', 'Give_N',
       'Memory Task Learning', 'Visual Delayed Response',
       'Memory Task Test',
       'NIH Baby Toolbox Picture Vocabulary Test Practice',
       'NIH Baby Toolbox Picture Vocabulary Test', 'Who Has More',
       'Shape Matching', 'Number Recognition + Subitizing',
       'Early Childhood Behavior Questionnaire - Very Short Form',
       'Caregiver Checklist',
       'PROMIS EC Parent-Report SF v1.0 - Social Relationships - Child-Caregiver Interactions 5a',
       'PROMIS EC Parent-Report SF v1.0 - Social Relationships - Peer Relationships 4a',
       'CDI: Expressive', 'REMA Arithmetic', 'CDI: Receptive',
       "Children's Behavior Questionnaire - Very Short Form",
       'Infant Behavior Questionnaire - Revised - Very Short Form'],
      dtype=object)

In [8]:
df= data[data.Inst== 'Sit and Stand']

In [9]:
df.shape

(3743, 14)

In [10]:
df.PIN=df.PIN.str[:5]

# 2. Create a 2-dimensional array—first dimension is the age-groups, second dimension is every single ItemID. Values within the array are counts for number of subjects that took that item. Use the `Response` field to determine if it was administered or not; if any response is recorded, add that participant to the relevant cell. A person cannot be counted more than once.

In [11]:
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [12]:
df =df[df.Response.notnull()]

In [13]:
df.groupby('ItemID')['Age_group'].count()

ItemID
Bsit-Back       88
Bsit-End        86
Bsit-Inst       97
Bsit-OtCm       86
Bsit-ReBack      4
Bsit-ReDo        4
Bsit-ReEnd       4
Bsit-ReInst      4
Bsit-ReOC        4
Bsit-ReSeg       4
Bsit-ReStrt      4
Bsit-ReVid       4
Bsit-Seg        86
Bsit-Start      86
Bsit-VidT       97
Bsit-Video      93
PtS-Back        36
PtS-Head        36
PtS-Inst        38
PtS-Start       36
PtS-Video       36
Pts-VidT        38
SaS-I          127
SaS-Title      127
Sit-preQ       126
SoL-Back        33
SoL-End         28
SoL-Inst        35
SoL-LSeg        27
SoL-RSeg        27
SoL-Start       29
SoL-VidT        35
SoL-Video       35
SpS-Back        43
SpS-End         43
SpS-Inst        44
SpS-ReBack       3
SpS-ReEnd        3
SpS-ReInst       3
SpS-ReStrt       3
SpS-ReSucs       3
SpS-ReVid        3
SpS-ReWt         3
SpS-Redo         5
SpS-Start       43
SpS-Suces       43
SpS-VidT        44
SpS-Video       44
Sps-WtBg        43
SsA-Back        35
SsA-End         35
SsA-Inst        36
SsA-ReBack       4
SsA-ReDo         5
SsA-ReEnd        4
SsA-ReInst       5
SsA-ReStrt       4
SsA-ReSucs       4
SsA-ReVid        4
SsA-Start       35
SsA-Suces       35
SsA-VidT        35
SsA-Video       35
SsH-Back        25
SsH-End         25
SsH-Inst        25
SsH-ReBack       2
SsH-ReDo         2
SsH-ReEnd        2
SsH-ReInst       2
SsH-ReStrt       2
SsH-ReSucs       2
SsH-ReVid        2
SsH-Start       25
SsH-Suces       25
SsH-VidT        25
SsH-Video       25
StD-Back        58
StD-End         58
StD-Inst        67
StD-OtCm        57
StD-ReBack       2
StD-ReDo         2
StD-ReEnd        1
StD-ReInst       2
StD-ReOC         1
StD-ReSeg        1
StD-ReStrt       1
StD-ReVid        2
StD-Seg         57
StD-Start       58
StD-VidT        67
StD-Video       67
StF-Back        48
StF-End         48
StF-Inst        52
StF-OtCm        48
StF-ReBack       1
StF-ReDo         1
StF-ReEnd        1
StF-ReInst       1
StF-ReOC         1
StF-ReSeg        1
StF-ReStrt       1
StF-ReVid        1
StF-Seg         48
StF-Start       48
StF-VidT        50
StF-Video       48
Stnd-PreQ      101
Name: Age_group, dtype: int64

# 3. Overall only (not by age group), if the `Response` field is an INTEGER, tabulate the values within an ItemID across all individuals. Note that some `Response` fields are strings or floats, in which case that ItemID does not require a table.

In [14]:
intrp = df[df['Response'].str.isnumeric()]

In [15]:
intrp.groupby(['ItemID'])['Response'].apply(set)

ItemID
Bsit-Back            {2}
Bsit-Inst            {1}
Bsit-OtCm      {2, 3, 1}
Bsit-ReBack          {2}
Bsit-ReDo            {1}
Bsit-ReInst          {1}
Bsit-ReOC         {2, 3}
Bsit-VidT            {1}
PtS-Back             {2}
PtS-Head          {2, 1}
PtS-Inst             {1}
Pts-VidT             {1}
SaS-I                {1}
SaS-Title            {1}
Sit-preQ          {1, 2}
SoL-Back             {2}
SoL-Inst             {1}
SoL-VidT             {1}
SpS-Back             {2}
SpS-Inst             {1}
SpS-ReBack           {2}
SpS-ReInst           {1}
SpS-ReSucs        {2, 3}
SpS-ReWt       {2, 3, 1}
SpS-Redo             {1}
SpS-Suces      {2, 3, 1}
SpS-VidT             {1}
Sps-WtBg       {2, 3, 1}
SsA-Back             {2}
SsA-Inst             {1}
SsA-ReBack           {2}
SsA-ReDo             {1}
SsA-ReInst           {1}
SsA-ReSucs           {3}
SsA-Suces      {2, 3, 1}
SsA-VidT             {1}
SsH-Back             {2}
SsH-Inst             {1}
SsH-ReBack           {2}
SsH-ReDo             {1}
SsH-ReInst           {1}
SsH-ReSucs           {3}
SsH-Suces         {2, 3}
SsH-VidT             {1}
StD-Back             {2}
StD-Inst             {1}
StD-OtCm       {1, 2, 3}
StD-ReBack           {2}
StD-ReDo             {1}
StD-ReInst           {1}
StD-ReOC          {2, 3}
StD-VidT             {1}
StF-Back             {2}
StF-Inst             {1}
StF-OtCm       {1, 2, 3}
StF-ReBack           {2}
StF-ReDo             {1}
StF-ReInst           {1}
StF-ReOC             {3}
StF-VidT             {1}
Stnd-PreQ         {2, 1}
Name: Response, dtype: object

# 4a. Sitting duration: extract the longest duration from ItemID BsitSeg and from Bsit-ReSeg (if administered)

In [133]:
def get_max_duration(df,cola, colb=None):
    if colb:
        seg = df[(df['ItemID'] ==cola)|(df['ItemID'] == colb)].Response.str.split("|",expand=True)
    else:
        seg = df[(df['ItemID'] ==cola)].Response.str.split("|",expand=True)
    slist = []
    for i in range(len(seg.columns)):
        slist.append(seg[i])
        
    seg = pd.concat(slist)
    seg= seg[seg.notnull()].str.split("%",expand=True)
    if colb:
        pref, _ = cola.split('-')
    else:
        _, pref = cola.split('-')
    seg.columns=['_', 'duration']
    seg['duration'] = pd.to_numeric(seg['duration'])

    print(seg['duration'].max())
    seg.columns=['_', pref+'-duration']
    seg.drop('_', axis=1, inplace=True)
    return  seg

In [134]:
a =get_max_duration(df, 'Bsit-Reg', 'Bsit-ReSeg')
a

54.60633

       Bsit-duration
14117          27.05
14118          27.05
23482          46.43
30027          54.61
30027          11.65

# 4b. Standing duration: extract the longest duration from ItemID StDSeg and from StD-ReSeg (if administered)

In [135]:
b=get_max_duration(df, 'StD-Seg', 'StD-ReSeg')

52.889748

# 4c. Foam duration: extract the longest duration from ItemID StFSeg and from StF-ReSeg (if administered)

In [136]:
c=get_max_duration(df,'StF-Seg', 'StF-ReSeg')

52.850937

# 4d. OneRight duration: extract the longest duration from ItemID SoLRSeg

In [139]:
d=get_max_duration(df,'SoL-RSeg')
d

62.603825

       RSeg-duration
516            51.01
1085            3.91
1709            0.30
5395            9.52
5396            9.52
6664           24.56
9988           62.60
12826           2.64
18477          29.18
22232           2.37
23507          25.05
23994           5.63
25231           1.15
28293           6.20
29182          15.20
30052           5.68
32125          18.22
33083          27.04
35414          37.35
40729          25.98
42487           3.74
42488           3.74
44493          20.04
46949           3.07
46950           3.07
47678          18.87
49272          23.03
49273          23.03
51332          18.27
1085            5.38
22232           3.63
29182           4.52
30052           8.37
1085           11.86
22232           6.82
29182           7.75
30052          12.93
1085           15.81
29182          16.72

# 4e. OneLeft duration: extract the longest duration from ItemID SoLLSeg

In [140]:
e =get_max_duration(df,'SoL-LSeg')
e

62.603825

       LSeg-duration
517            51.01
1086           13.75
1710            0.85
5397            9.52
5398            9.52
6665            8.88
9989           62.60
12827           4.49
18478          29.18
22233          28.96
23508          25.05
23995          12.07
25232           1.15
28294          22.95
29183           7.78
30053          11.17
32126           8.38
33084          11.34
35415          37.35
40730           9.89
42489           3.74
42490           3.74
44494          20.04
46951           3.07
46952           3.07
47679           9.95
49274          23.03
49275          23.03
51333           1.88
1086           11.99
29183           2.69
30053           3.77
47679           2.40
29183          16.17
30053          15.06
47679          17.84

# 5. Summarize the five durations (Sitting, Standoverall and by group (number of individuals taking the test, mean duration, sd of durations, minimum, 25th percentile, median, 75th percentile, and maximum durations)

In [143]:
duration =pd.concat([a,b,c,d,e], axis=0)
duration.describe()

       Bsit-duration  StD-duration  StF-duration  RSeg-duration  LSeg-duration
count           5.00         67.00         55.00          39.00          36.00
mean           33.36         29.54         30.46          14.71          14.65
std            17.13         10.76          9.89          13.68          13.86
min            11.65          0.93          1.49           0.30           0.85
25%            27.05         25.91         24.99           4.21           3.76
50%            27.05         30.93         31.85           9.52          10.56
75%            46.43         35.50         36.36          21.53          20.76
max            54.61         52.89         52.85          62.60          62.60