In [1]:
#Data saved in csv/excel
import glob, os
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
#Set two decimal points for display
pd.options.display.float_format = "{:.2f}".format

# 1. Load the data

In [3]:
data=pd.read_csv('C:/Users/tsb7592/Downloads/Basic_Desc_output.csv')

In [4]:
data['PIN']=data['PIN'].str.upper()

In [5]:
data.head()

,PIN,DeviceID,Assessment Name,Inst,ItemID,Response,Score,Position,ResponseTime,DateCreated,InstStarted,InstEnded,Age_month,Age_group
0,TX009C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,Mullen_Rec_Title,1,NaN,1,NaN,2021-12-05 08:30:42,2021-12-05 08:30:41,2021-12-05 08:33:49,18.00,"(15, 18]"
1,TX009C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,Mullen_Rec_Instructions,1,NaN,2,NaN,2021-12-05 08:30:43,2021-12-05 08:30:41,2021-12-05 08:33:49,18.00,"(15, 18]"
2,TX009C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,RL13,2,0.00,3,NaN,2021-12-05 08:32:53,2021-12-05 08:30:41,2021-12-05 08:33:49,18.00,"(15, 18]"
3,TX009C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,RL10,1,1.00,4,NaN,2021-12-05 08:32:59,2021-12-05 08:30:41,2021-12-05 08:33:49,18.00,"(15, 18]"
4,TX009C,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Mullen Receptive,RL15,2,0.00,5,NaN,2021-12-05 08:33:18,2021-12-05 08:30:41,2021-12-05 08:33:49,18.00,"(15, 18]"

In [6]:
data.Inst.unique()

array(['Mullen Receptive', 'Mullen Expressive Prompted',
       'Executive Function', 'Verbal Counting', 'Toy Out of Reach',
       'Social Observation', 'Playing with Bubbles',
       'Looking While Listening', 'Get Up and Go', 'Sit and Stand',
       'Numerical Change Detection', 'Shape Matching Manipulatives',
       'Reach To Eat', 'Spatial Change Detection',
       'Make Yours Look Like Mine', 'Mullen Expressive Observational',
       'Global Self-Regulation', 'Object Counting', 'Give_N',
       'Memory Task Learning', 'Visual Delayed Response',
       'Memory Task Test',
       'NIH Baby Toolbox Picture Vocabulary Test Practice',
       'NIH Baby Toolbox Picture Vocabulary Test', 'Who Has More',
       'Shape Matching', 'Number Recognition + Subitizing',
       'Early Childhood Behavior Questionnaire - Very Short Form',
       'Caregiver Checklist',
       'PROMIS EC Parent-Report SF v1.0 - Social Relationships - Child-Caregiver Interactions 5a',
       'PROMIS EC Parent-Report SF v1.0 - Social Relationships - Peer Relationships 4a',
       'CDI: Expressive', 'REMA Arithmetic', 'CDI: Receptive',
       "Children's Behavior Questionnaire - Very Short Form",
       'Infant Behavior Questionnaire - Revised - Very Short Form'],
      dtype=object)

In [7]:
df= data[data.Inst=='Get Up and Go']

In [8]:
df.shape

(3717, 14)

In [9]:
df.PIN=df.PIN.str[:5]

# 2. Create a 2-dimensional array—first dimension is the age-groups, second dimension is every single ItemID. Values within the array are counts for number of subjects that took that item. Use the `Response` field to determine if it was administered or not; if any response is recorded, add that participant to the relevant cell. A person cannot be counted more than once.

In [10]:
df =df[df.Response.notnull()]

In [11]:
df.groupby('ItemID')['Age_group'].count()

ItemID
GuD-Instct    41
GuD-PBack     41
GuD-Start     41
GuD-Step      41
GuD-VdInst    41
              ..
GuS-Toe       67
GuS-Turn       3
GuS-Up        77
GuS-VidT      82
GuS-Video     82
Name: Age_group, Length: 68, dtype: int64

In [12]:
df.head()

,PIN,DeviceID,Assessment Name,Inst,ItemID,Response,Score,Position,ResponseTime,DateCreated,InstStarted,InstEnded,Age_month,Age_group
110,TX009,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Get Up and Go,GuG-Title,1,NaN,1,NaN,2021-12-05 09:07:18,2021-12-05 09:06:52,2021-12-05 09:16:27,18.00,"(15, 18]"
111,TX009,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Get Up and Go,GuG-I,1,NaN,2,NaN,2021-12-05 09:08:05,2021-12-05 09:06:52,2021-12-05 09:16:27,18.00,"(15, 18]"
112,TX009,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Get Up and Go,GuF-PreQ,2,1.00,3,NaN,2021-12-05 09:08:07,2021-12-05 09:06:52,2021-12-05 09:16:27,18.00,"(15, 18]"
113,TX009,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Get Up and Go,GuF-LInstR,1,NaN,4,NaN,2021-12-05 09:08:08,2021-12-05 09:06:52,2021-12-05 09:16:27,18.00,"(15, 18]"
114,TX009,E2909A06-4CF6-4F3A-A839-A30AE05F2B5B,Assessment 2,Get Up and Go,GuF-VidTR,1,NaN,5,NaN,2021-12-05 09:08:09,2021-12-05 09:06:52,2021-12-05 09:16:27,18.00,"(15, 18]"

# 3. Overall only (not by age group), if the `Response` field is an INTEGER, tabulate the values within an ItemID across all individuals. Note that some `Response` fields are strings or floats, in which case that ItemID does not require a table.

In [13]:
intrp = df[df['Response'].str.isnumeric()]

In [14]:
intrp.groupby(['ItemID'])['Response'].value_counts().unstack()

Response          1      2    3     4     5     6     7     8    9
ItemID
GuD-Instct    45.00    NaN  NaN   NaN   NaN   NaN   NaN   NaN  NaN
GuD-PBack       NaN  45.00  NaN   NaN   NaN   NaN   NaN   NaN  NaN
GuD-Step        NaN   1.00  NaN  1.00 25.00  1.00 17.00   NaN  NaN
GuD-VdInst    45.00    NaN  NaN   NaN   NaN   NaN   NaN   NaN  NaN
GuF-BackL     24.00   9.00  NaN   NaN   NaN   NaN   NaN   NaN  NaN
GuF-BackR     26.00  10.00  NaN   NaN   NaN   NaN   NaN   NaN  NaN
GuF-FallL       NaN   7.00  NaN   NaN   NaN   NaN   NaN   NaN  NaN
GuF-FallR      1.00   7.00  NaN   NaN   NaN   NaN   NaN   NaN  NaN
GuF-FiveL     33.00   7.00  NaN   NaN   NaN   NaN   NaN   NaN  NaN
GuF-FiveR     36.00   8.00  NaN   NaN   NaN   NaN   NaN   NaN  NaN
GuF-FootR       NaN    NaN 3.00   NaN   NaN   NaN   NaN   NaN  NaN
GuF-LInstL    11.00    NaN  NaN   NaN   NaN   NaN   NaN   NaN  NaN
GuF-LInstR   108.00    NaN  NaN   NaN   NaN   NaN   NaN   NaN  NaN
GuF-LMethL     2.00    NaN  NaN   NaN  4.00  4.00   NaN   NaN  NaN
GuF-LMethR      NaN    NaN 2.00   NaN 17.00 75.00   NaN   NaN  NaN
GuF-PBackL      NaN  11.00  NaN   NaN   NaN   NaN   NaN   NaN  NaN
GuF-PBackR      NaN 104.00  NaN   NaN   NaN   NaN   NaN   NaN  NaN
GuF-PinstL    33.00    NaN  NaN   NaN   NaN   NaN   NaN   NaN  NaN
GuF-PinstR    29.00    NaN  NaN   NaN   NaN   NaN   NaN   NaN  NaN
GuF-PreBkL      NaN  33.00  NaN   NaN   NaN   NaN   NaN   NaN  NaN
GuF-PreBkR      NaN  29.00  NaN   NaN   NaN   NaN   NaN   NaN  NaN
GuF-PreQ      29.00 108.00  NaN   NaN   NaN   NaN   NaN   NaN  NaN
GuF-PrevidTL  33.00    NaN  NaN   NaN   NaN   NaN   NaN   NaN  NaN
GuF-PvidTR    29.00    NaN  NaN   NaN   NaN   NaN   NaN   NaN  NaN
GuF-RollL      3.00  17.00  NaN   NaN   NaN   NaN   NaN   NaN  NaN
GuF-RollR      7.00  89.00  NaN   NaN   NaN   NaN   NaN   NaN  NaN
GuF-SucesL    40.00   4.00  NaN   NaN   NaN   NaN   NaN   NaN  NaN
GuF-SucesR    44.00  88.00  NaN   NaN   NaN   NaN   NaN   NaN  NaN
GuF-ToeL       5.00    NaN  NaN   NaN   NaN   NaN   NaN   NaN  NaN
GuF-ToeR      73.00   3.00  NaN   NaN   NaN   NaN   NaN   NaN  NaN
GuF-TurnL      4.00  20.00  NaN   NaN   NaN   NaN   NaN   NaN  NaN
GuF-TurnR       NaN  26.00  NaN   NaN   NaN   NaN   NaN   NaN  NaN
GuF-UpL        8.00   4.00 2.00  1.00  4.00  1.00   NaN   NaN  NaN
GuF-UpR       14.00   6.00 4.00  4.00 39.00 29.00  4.00  4.00 2.00
GuF-VidTL     11.00    NaN  NaN   NaN   NaN   NaN   NaN   NaN  NaN
GuF-VidTR    108.00    NaN  NaN   NaN   NaN   NaN   NaN   NaN  NaN
GuG-I        137.00    NaN  NaN   NaN   NaN   NaN   NaN   NaN  NaN
GuG-Title    137.00    NaN  NaN   NaN   NaN   NaN   NaN   NaN  NaN
GuS-Back       3.00    NaN  NaN   NaN   NaN   NaN   NaN   NaN  NaN
GuS-Fall        NaN   4.00  NaN   NaN   NaN   NaN   NaN   NaN  NaN
GuS-Five       3.00   4.00  NaN   NaN   NaN   NaN   NaN   NaN  NaN
GuS-Foot       1.00    NaN 3.00   NaN   NaN   NaN   NaN   NaN  NaN
GuS-Inst      91.00    NaN  NaN   NaN   NaN   NaN   NaN   NaN  NaN
GuS-LocMth     1.00    NaN 2.00   NaN  7.00 73.00   NaN   NaN  NaN
GuS-Pback       NaN  88.00  NaN   NaN   NaN   NaN   NaN   NaN  NaN
GuS-Roll      40.00  27.00  NaN   NaN   NaN   NaN   NaN   NaN  NaN
GuS-Step       1.00   1.00  NaN 19.00 10.00  5.00  8.00 37.00  NaN
GuS-Suces      7.00  81.00  NaN   NaN   NaN   NaN   NaN   NaN  NaN
GuS-Toe       70.00   4.00  NaN   NaN   NaN   NaN   NaN   NaN  NaN
GuS-Turn       3.00    NaN  NaN   NaN   NaN   NaN   NaN   NaN  NaN
GuS-Up         3.00   2.00 5.00  1.00 32.00 24.00  7.00  6.00 5.00
GuS-VidT      91.00    NaN  NaN   NaN   NaN   NaN   NaN   NaN  NaN

In [15]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('C:/Users/tsb7592/Downloads/GuG_Response.xlsx', engine='xlsxwriter')

intrp.groupby(['ItemID'])['Response'].value_counts().unstack().to_excel(writer, sheet_name='freq')

# one column for each of the ~35 Inst [instrument names]
intrp.groupby(['ItemID'])['Response'].apply(set).to_excel(writer, sheet_name='integer')

# Close the Pandas Excel writer and output the Excel file.
writer.save()

# 4. Calculate the locomotion durations for three prompts using the difference between `Response` value

In [44]:
#Off-Floor-Right duration: Take the `Response` field from ItemID GuF-EndR and subtract the `Response` field from ItemID GuF-StartR 

def duration(df, col1, col2, new):
    End = df[df.ItemID==col1][['PIN','Assessment Name','Response']].drop_duplicates()
    Start =df[df.ItemID==col2][['PIN','Assessment Name','Response']].drop_duplicates()
    a = pd.merge(End, Start, on=['PIN','Assessment Name'], how='left')
    
    a['Response_x'] =pd.to_numeric(a['Response_x'])
    a['Response_y'] =pd.to_numeric(a['Response_y'])
    a[new] = a['Response_x']- a['Response_y']
    
    return a[['PIN','Assessment Name',new]]

In [45]:
a= duration(df, 'GuF-EndR','GuF-StartR', 'Off-Floor-Right')
a

      PIN Assessment Name  Off-Floor-Right
0   TX009    Assessment 2            64.55
1   TX005    Assessment 2           104.11
2   APPLE    Assessment 1             3.84
3   MO008    Assessment 1            18.41
4   MN011    Assessment 1             7.76
..    ...             ...              ...
66  WI025    Assessment 1             6.54
67  WI017    Assessment 1             4.12
68  MO022    Assessment 1             9.35
69  TX027    Assessment 1            11.30
70  MO012    Assessment 1             9.15

[71 rows x 3 columns]

In [46]:
b= duration(df, 'GuF-EndL','GuF-StartL', 'Off-Floor-Left')
b

     PIN Assessment Name  Off-Floor-Left
0  MO009    Assessment 1            8.28
1  WI003    Assessment 2           17.18
2  MO001    Assessment 1            5.13
3  MO016    Assessment 1           13.63

In [47]:
c= duration(df, 'GuS-End','GuS-Start', 'Up-Step')
c

      PIN Assessment Name  Up-Step
0   TX009    Assessment 2    61.57
1   TX005    Assessment 2    52.23
2   APPLE    Assessment 1     4.90
3   MN011    Assessment 1     6.64
4   TX015    Assessment 1    26.17
..    ...             ...      ...
61  MO004    Assessment 1     5.26
62  WI025    Assessment 1     7.03
63  WI017    Assessment 1     4.21
64  TX027    Assessment 1     9.45
65  MO012    Assessment 1     6.09

[66 rows x 3 columns]

# 5. Summarize the durations overall and by group (number of individuals taking the test, mean duration, sd of durations, minimum, 25th percentile, median, 75th percentile, and maximum durations)

In [48]:
ab= pd.merge(a,b,on=['PIN','Assessment Name'], how='outer')
duration =pd.merge(ab,c ,on=['PIN','Assessment Name'], how='outer')
duration= duration.drop_duplicates()

In [53]:
duration[duration.PIN=='TX011']

      PIN Assessment Name  Off-Floor-Right  Off-Floor-Left  Up-Step
12  TX011    Assessment 2            10.48             NaN    19.12
48  TX011    Assessment 1             9.00             NaN    12.09

In [51]:
duration.PIN.value_counts()

TX011    2
PARTI    2
MN016    1
MO023    1
MO014    1
        ..
WI24C    1
MO012    1
TX001    1
MO009    1
MO019    1
Name: PIN, Length: 73, dtype: int64

In [54]:
du = pd.merge(duration, df[['PIN','Age_group']], on= 'PIN', how='left')
du=du.drop_duplicates()

In [55]:
duration.describe()

       Off-Floor-Right  Off-Floor-Left  Up-Step
count            71.00            4.00    67.00
mean             18.46           11.06    15.07
std              26.88            5.38    15.12
min               0.20            5.13     2.88
25%               5.37            7.50     5.90
50%               9.10           10.96     9.45
75%              18.46           14.52    18.26
max             156.71           17.18    89.79

In [56]:
du.groupby('Age_group')['Off-Floor-Right'].describe()

           count  mean   std   min   25%   50%   75%    max
Age_group
(10, 12]    2.00 37.07 26.40 18.41 27.74 37.07 46.41  55.74
(12, 15]    4.00 24.25  9.80 16.79 18.90 20.80 26.14  38.60
(15, 18]    6.00 18.67 22.53  6.95  9.28  9.67 11.42  64.55
(18, 21]    9.00 16.55 13.38  7.84  9.00 10.48 12.21  40.44
(21, 24]    4.00 10.78  4.67  5.70  8.38 10.28 12.69  16.87
(24, 27]    9.00  8.44  4.78  4.43  5.99  7.59  9.10  20.40
(27, 30]    7.00 28.89 37.39  2.51  4.94  8.30 38.72 104.11
(30, 35]    5.00  7.13  4.79  3.42  4.16  5.15  7.76  15.18
(35, 43]   14.00 13.96 29.67  3.51  3.77  4.20  8.20 116.02
(6, 8]      2.00 43.98 18.92 30.60 37.29 43.98 50.67  57.36
(8, 10]     2.00 20.61  2.90 18.56 19.58 20.61 21.63  22.66

In [57]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('C:/Users/tsb7592/Downloads/GuG_duration.xlsx', engine='xlsxwriter')

du.drop_duplicates().round(2).to_excel(writer, sheet_name='duration_with_age_group')

du.groupby('Age_group')['Off-Floor-Right'].describe().round(2).to_excel(writer, sheet_name='Off-floor-right')

du.groupby('Age_group')['Off-Floor-Left'].describe().round(2).to_excel(writer, sheet_name='Off-floor-left')

du.groupby('Age_group')['Up-Step'].describe().round(2).to_excel(writer, sheet_name='Up-step')

# Close the Pandas Excel writer and output the Excel file.
writer.save()