In [1]:
import json
import glob, os
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [2]:
data_dir="C:\\Users\\tsb7592\\Downloads\\Clean Excels"

In [3]:
os.chdir(data_dir)

In [3]:
all_files = glob.glob('C:\\Users\\tsb7592\\Downloads\\Clean Excels\\*')

In [128]:
data.iloc[:,3:5]

    timeZone         America/Phoenix
0     gender                    Male
1        age        2 Years 6 Months
2       race            Not Provided
3  ethnicity  Not Hispanic Or Latino

In [133]:
rows_to_keep = [5,6,7,8,9]
doc =[]
for i in range(len(all_files)):
    data = pd.read_excel(all_files[i], header=0, skiprows = lambda x: x not in rows_to_keep)
    data =data.iloc[:,3:5]
    data.columns =['dataKey','dataValue']
    names = all_files[i].split("\\")[-1]
    PIN = names.split("_")[0]+'_'+ names.split("_")[1]
    df2 = {'dataKey': 'PIN', 'dataValue': PIN}
    df1 = data.append(df2, ignore_index = True)
    df1=df1.transpose()
    df1.columns = df1.iloc[0]
    
    doc.append(df1.iloc[1: , :])
    print(i)
df = pd.concat(doc)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92

In [138]:
df.head()

dataKey,gender,age,race,ethnicity,PIN
dataValue,Male,2 Years 6 Months,Not Provided,Not Hispanic Or Latino,0568AE498717_2020-07-08 08.26.14
dataValue,Male,0 Years 5 Months,Not Provided,Not Hispanic Or Latino,0568AE498717_2020-07-08 10.37.10
dataValue,Female,1 Year 8 Months,Other,Hispanic Or Latino,0568AE498717_2020-07-08 11.48.00
dataValue,Female,0 Years 6 Months,Not Provided,Hispanic Or Latino,0568AE498717_2020-07-08 13.01.32
dataValue,Male,2 Years 5 Months,Not Provided,Not Hispanic Or Latino,0568AE498717_2020-07-09 10.36.38

In [140]:
df.to_csv('C:\\Users\\tsb7592\\Downloads\\Handcoded_demographics.csv', index=False)

In [137]:
df.ethnicity.value_counts()

Not Hispanic Or Latino    75
Hispanic Or Latino        18
Name: ethnicity, dtype: int64

In [136]:
df.race.value_counts()

Not Provided                         39
Black Or African American            26
Asian                                18
Other                                 9
American Indian Or Alaskan Native     1
Name: race, dtype: int64

In [135]:
df.age.value_counts()

0 Years 6 Months     9
1 Year 11 Months     8
1 Year 3 Months      7
0 Years 5 Months     7
0 Years 8 Months     5
2 Years 6 Months     4
1 Year 4 Months      4
1 Year 8 Months      4
2 Years 8 Months     3
1 Year 10 Months     3
2 Years 2 Months     3
2 Years 3 Months     3
1 Year 6 Months      3
1 Year 7 Months      3
0 Years 10 Months    3
1 Year 0 Months      3
3 Years 0 Months     2
2 Years 0 Months     2
0 Years 9 Months     2
0 Years 7 Months     2
1 Year 9 Months      2
2 Years 10 Months    2
1 Year 5 Months      2
2 Years 5 Months     2
1 Year 2 Months      1
2 Years 11 Months    1
2 Years 9 Months     1
2 Years 7 Months     1
2 Years 1 Month      1
Name: age, dtype: int64